<section id="feedback">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
          <div class="create-slider">
              <div class="create-slider-item">
                  <p class="create-status-txt small">Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và chuyển phát tận nơi.</p>
                  <div class="create-info">
                      <p class="create-info-img"><img src="./assets/site/images/create_slider_logo.png" style="max-width: 100%"></p>
                      <p class="create-info-name">ÔNG ROBERT VŨ<span>Giám đốc công ty VM Nutrition</span></p>
                  </div>
              </div>
              <div class="create-slider-item">
                  <p class="create-status-txt small">Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và chuyển phát tận nơi.</p>
                  <div class="create-info">
                      <p class="create-info-img"><img src="./assets/site/images/create_slider_logo.png" style="max-width: 100%"></p>
                      <p class="create-info-name">ÔNG ROBERT VŨ<span>Giám đốc công ty VM Nutrition</span></p>
                  </div>
              </div>
              <div class="create-slider-item">
                  <p class="create-status-txt small">Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và chuyển phát tận nơi.</p>
                  <div class="create-info">
                      <p class="create-info-img"><img src="./assets/site/images/create_slider_logo.png" style="max-width: 100%"></p>
                      <p class="create-info-name">ÔNG ROBERT VŨ<span>Giám đốc công ty VM Nutrition</span></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
