<section id='feedback' class="sub" style="">
  <div class="container center">
    <div class="feedback-slide-pltx" style="padding-top: 150px; padding-bottom: 50px;">
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/DND3N/1000-doanh-nghiep-tin-tuong/Asset 21.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text" style="margin-bottom: 44px;">Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra
            các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng,
            tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và

            chuyển phát tận nơi.</p>
          <hr style="    margin-top: 30px;border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="logo-customer">

                <img src="/assets/media/DND3N/1000-doanh-nghiep-tin-tuong/anh-kh.jpg">
              </div>
              <div style="text-align: left; height: fit-content; margin: auto; margin-left: 10px; margin-top: 10%;">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">ÔNG ROBERT VŨ</h4>
                <p style="color: #0f74a8;">Giám đốc công ty VM Nutrition</p>
              </div>

            </div>
          </div>
        </div>
      </div> <div class="feedback-item">
      <div class="background-icon-pltx">
        <img src="/assets/media/DND3N/1000-doanh-nghiep-tin-tuong/Asset 21.svg">
      </div>
      <div class="content-pltx">
        <p class="pltx-text" style="margin-bottom: 44px;">Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra
          các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng,
          tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và

          chuyển phát tận nơi.</p>
        <hr style="    margin-top: 30px;border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
        <div class="info-feedback">
          <div class="row">
            <div class="logo-customer">

              <img src="/assets/media/DND3N/1000-doanh-nghiep-tin-tuong/anh-kh.jpg">
            </div>
            <div style="text-align: left; height: fit-content; margin: auto; margin-left: 10px; margin-top: 10%;">
              <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">ÔNG ROBERT VŨ</h4>
              <p style="color: #0f74a8;">Giám đốc công ty VM Nutrition</p>
            </div>

          </div>
        </div>
      </div>
    </div> <div class="feedback-item">
      <div class="background-icon-pltx">
        <img src="/assets/media/DND3N/1000-doanh-nghiep-tin-tuong/Asset 21.svg">
      </div>
      <div class="content-pltx">
        <p class="pltx-text" style="margin-bottom: 44px;">Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra
          các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng,
          tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và

          chuyển phát tận nơi.</p>
        <hr style="    margin-top: 30px;border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
        <div class="info-feedback">
          <div class="row">
            <div class="logo-customer">

              <img src="/assets/media/DND3N/1000-doanh-nghiep-tin-tuong/anh-kh.jpg">
            </div>
            <div style="text-align: left; height: fit-content; margin: auto; margin-left: 10px; margin-top: 10%;">
              <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">ÔNG ROBERT VŨ</h4>
              <p style="color: #0f74a8;">Giám đốc công ty VM Nutrition</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
