<section class="sub bg-image center" style="margin-top: 50px;">
    <div class="container-fluid sub-fluid">
        <div class="row">
            <div class="col-md-8" style="text-align: left;">
                <b>Nhận ưu đãi 20%</b> - Gói Quản Trị Sự Kiện cho event<br>của công ty bạn tổ chức vào cuối năm nay!
            </div>
            <div class="col-md-4">
                <div style="width: fit-content; float:right ; ">
                    <button onclick="$('#plskform1').modal('show')" style="   padding: 8px 15px; font-size: 16px;border-radius: 30px" class="btn btn-warning sub-button shadow">Đăng kí ngay</button>
                </div>
            </div>
        </div>
    </div>
</section>
