<section id="study" class="study-slick">
  <div class="container sub" style="    min-height: 725px;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="study-title">{{global.locale=='vi'?'Nội dung huấn luyện':'Course Content'}}</h1>
      </div>
    </div>
    <div class="study-slider">
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 01.':'Session 1.'}}</p>
            <p><span>{{global.locale=='vi'?'Sự kiện nào cần xin giấy phép?':' Which events require licenses?'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Topic:'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Analysing common types of events in Vietnam'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Learning Outcome'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': Learners can distinguish whether an event requires licenses or not'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức: ':'Lesson with Lawyer: '}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn: ':'Discussion/ Consultation: '}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng ':'Total: '}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img05.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 02.':'Session 2.'}}</p>
            <p><span>{{global.locale=='vi'?'Sự kiện nào cần xin giấy phép?':'License application procedures'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Topic:'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Analysing common types of events in Vietnam'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Learning Outcome'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': Learners can distinguish whether an event requires licenses or not'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>: {{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img06.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 03.':'Session 3.'}}</p>
            <p><span>{{global.locale=='vi'?'Sự kiện nào cần xin giấy phép?':'License application procedures (continued)'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Topic:'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Analysing common types of events in Vietnam'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Learning Outcome'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': Learners can distinguish whether an event requires licenses or not'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?'120\'':'120\' minutes'}}</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img07.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 04.':'Session 4.'}}</p>
            <p><span>{{global.locale=='vi'?'Hợp đồng đối tác':'Partnership contracts'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Topic:'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Analysing common types of events in Vietnam'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Learning Outcome'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': Learners can distinguish whether an event requires licenses or not'}}</p>
            <!-- <Change> -->
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              </div>
              <!-- </Change> -->
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img08.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 05.':'Session 5.'}}</p>
            <p><span>{{global.locale=='vi'?'Xử lý khủng hoảng':'Crisis Management'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Topic:'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Analysing common types of events in Vietnam'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Learning Outcome'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': Learners can distinguish whether an event requires licenses or not'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img09.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 06.':'Session 6.'}}</p>
            <p><span>{{global.locale=='vi'?'Tương tác nhóm và trao chứng chỉ':'Group interaction and Certification'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Topic:'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Analysing common types of events in Vietnam'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Learning Outcome'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': Learners can distinguish whether an event requires licenses or not'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':' 90\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Lesson with Lawyer:'}}</span>{{global.locale=='vi'?' 90\'':'90\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Discussion/ Consultation:'}}</span>{{global.locale=='vi'?' 30\'':' 30\' minutes'}}</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Total:'}}</span>{{global.locale=='vi'?' 120\'':' 120\' minutes'}}</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img10.png">
        </div>

      </div>
    </div>
  </div>
</section>
