<section id="study" class="study-slick">
  <div class="container sub" style="    min-height: 725px;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="study-title">{{global.locale=='vi'?'Nội dung huấn luyện':'Nội dung huấn luyện aaa'}}</h1>
      </div>
    </div>
    <div class="study-slider">
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 01.':'BUỔI 01. aaa'}}</p>
            <p><span>{{global.locale=='vi'?'Sự kiện nào cần xin giấy phép?':'Sự kiện nào cần xin giấy phép? aaa'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Nội dung aaa'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Bóc tách các loại sự kiện phổ biến ở Việt Nam aaa'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Kết quả aaa'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép aaa'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img05.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 02.':'BUỔI 02. aaa'}}</p>
            <p><span>{{global.locale=='vi'?'Sự kiện nào cần xin giấy phép?':'Sự kiện nào cần xin giấy phép? aaa'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Nội dung aaa'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Bóc tách các loại sự kiện phổ biến ở Việt Nam aaa'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Kết quả aaa'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép aaa'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img06.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 03.':'BUỔI 03. aaa'}}</p>
            <p><span>{{global.locale=='vi'?'Sự kiện nào cần xin giấy phép?':'Sự kiện nào cần xin giấy phép? aaa'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Nội dung aaa'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Bóc tách các loại sự kiện phổ biến ở Việt Nam aaa'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Kết quả aaa'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép aaa'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img07.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 04.':'BUỔI 04. aaa'}}</p>
            <p><span>{{global.locale=='vi'?'Hợp đồng đối tác':'Hợp đồng đối tác aaa'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Nội dung aaa'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Bóc tách các loại sự kiện phổ biến ở Việt Nam aaa'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Kết quả aaa'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép aaa'}}</p>
            <!-- <Change> -->
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              </div>
              <!-- </Change> -->
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img08.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 05.':'BUỔI 05. aaa'}}</p>
            <p><span>{{global.locale=='vi'?'Xử lý khủng hoảng':'Xử lý khủng hoảng aaa'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Nội dung aaa'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Bóc tách các loại sự kiện phổ biến ở Việt Nam aaa'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Kết quả aaa'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép aaa'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img09.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">{{global.locale=='vi'?'BUỔI 06.':'BUỔI 06. aaa'}}</p>
            <p><span>{{global.locale=='vi'?'Tương tác nhóm và trao chứng chỉ':'Tương tác nhóm và trao chứng chỉ aaa'}}</span></p>
            <hr>
            <p><span>{{global.locale=='vi'?'Nội dung':'Nội dung aaa'}}</span>{{global.locale=='vi'?': Bóc tách các loại sự kiện phổ biến ở Việt Nam':': Bóc tách các loại sự kiện phổ biến ở Việt Nam aaa'}}</p>

            <p><span>{{global.locale=='vi'?'Kết quả':'Kết quả aaa'}}</span>{{global.locale=='vi'?': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép':': học viên phân biệt được loại sự kiện phải xin giấy phép và không phải xin giấy phép aaa'}}</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>{{global.locale=='vi'?'Kiến thức':'Kiến thức aaa'}}</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>{{global.locale=='vi'?'Thảo luận/tư vấn':'Thảo luận/tư vấn aaa'}}</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>{{global.locale=='vi'?'Tổng cộng':'Tổng cộng aaa'}}</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img10.png">
        </div>

      </div>
    </div>
  </div>
</section>
