<section id="study" class="study-slick">
  <div class="container sub" style="    min-height: 725px;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="study-title">Nội dung huấn luyện</h1>
      </div>
    </div>
    <div class="study-slider">
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">BUỔI 01.</p>
            <p><span>Sự kiện nào cần xin giấy phép?</span></p>
            <hr>
            <p><span>Nội dung</span>: Bóc tách các loại sự kiện phổ biến ở Việt Nam</p>

            <p><span>Kết quả</span>: học viên phân biệt được loại sự kiện phải xin giấy phép và
              không phải xin giấy phép</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến
                                thức</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo
                                luận/tư vấn</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng
                                cộng</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến thức</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo luận/tư vấn</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng cộng</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img05.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">BUỔI 02.</p>
            <p><span>Thủ tục xin giấy phép</span></p>
            <hr>
            <p><span>Nội dung</span>: Bóc tách các loại sự kiện phổ biến ở Việt Nam</p>

            <p><span>Kết quả</span>: học viên phân biệt được loại sự kiện phải xin giấy phép và
              không phải xin giấy phép</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến
                                thức</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo
                                luận/tư vấn</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng
                                cộng</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến thức</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo luận/tư vấn</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng cộng</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img06.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">BUỔI 03.</p>
            <p><span>Thủ tục xin giấy phép (tiếp)</span></p>
            <hr>
            <p><span>Nội dung</span>: Bóc tách các loại sự kiện phổ biến ở Việt Nam</p>

            <p><span>Kết quả</span>: học viên phân biệt được loại sự kiện phải xin giấy phép và
              không phải xin giấy phép</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến
                                thức</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo
                                luận/tư vấn</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng
                                cộng</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến thức</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo luận/tư vấn</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng cộng</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img07.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">BUỔI 04.</p>
            <p><span>Hợp đồng đối tác</span></p>
            <hr>
            <p><span>Nội dung</span>: Bóc tách các loại sự kiện phổ biến ở Việt Nam</p>

            <p><span>Kết quả</span>: học viên phân biệt được loại sự kiện phải xin giấy phép và
              không phải xin giấy phép</p>
            <!-- <Change> -->
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến
                                thức</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo
                                luận/tư vấn</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng
                                cộng</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến thức</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo luận/tư vấn</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng cộng</span>: 120’</p>
              </div>
              <!-- </Change> -->
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img08.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">BUỔI 05.</p>
            <p><span>Xử lý khủng hoảng</span></p>
            <hr>
            <p><span>Nội dung</span>: Bóc tách các loại sự kiện phổ biến ở Việt Nam</p>

            <p><span>Kết quả</span>: học viên phân biệt được loại sự kiện phải xin giấy phép và
              không phải xin giấy phép</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến
                                thức</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo
                                luận/tư vấn</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng
                                cộng</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến thức</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo luận/tư vấn</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng cộng</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img09.png">
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="study-content">
            <p class="title">BUỔI 06.</p>
            <p><span>Tương tác nhóm và trao chứng chỉ</span></p>
            <hr>
            <p><span>Nội dung</span>: Bóc tách các loại sự kiện phổ biến ở Việt Nam</p>

            <p><span>Kết quả</span>: học viên phân biệt được loại sự kiện phải xin giấy phép và
              không phải xin giấy phép</p>
            <p class="pc"><img class="icon-block"
                    src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến
                                thức</span>: 90’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo
                                luận/tư vấn</span>: 30’
              <img style="margin-left: 15px" class="icon-block"
                   src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng
                                cộng</span>: 120’</p>
              <div class="sp">
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 27.svg"><span>Kiến thức</span>: 90’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 29.svg"><span>Thảo luận/tư vấn</span>: 30’</p>
                <p><img class="icon-block" src="/assets/media/PLSK/noi_dung_khoa_hl/Asset 30.svg"><span>Tổng cộng</span>: 120’</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <img style="width: 100%" class="d-md-flex"
               src="/assets/media/update/plsk_img10.png">
        </div>

      </div>
    </div>
  </div>
</section>
