<section id="effective">
  <div class="container-fluid center background-effective">
    <div class="row title padding-record-title">
      <h1 lang-i18n key="home-hieu-qua-su-dung" default="Hiệu quả sử dụng dịch vụ pháp lý của Asoka Law"></h1>
    </div>
    <div class="effective-content">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-6" style="padding-right:25px">
              <div class="content-record">
                <div class="float-left title-record">
                  <img src="/assets/media/landingpage/effect/icon list_1.svg">
                  <h4 lang-i18n key="home-phaplytheonhucau" default="Pháp lý theo nhu cầu"></h4>
                </div>
                <div class="des-record float-right">
                  <p lang-i18n key="home-chungtoitinrang" default="Chúng tôi tin rằng dịch vụ tốt xuất phát từ sự thấu hiểu nhu cầu của khách
                    hàng. Do vậy, Asoka dành thời gian đóng gói kỹ dịch vụ phù hợp với độ tuổi,
                    ngành nghề kinh doanh của doanh nghiệp. Doanh nghiệp có thể dễ dàng lựa
                    chọn và sử dụng"></p>
                </div>
              </div>
              <div class="content-record">
                <div class="float-left title-record">
                  <img src="/assets/media/landingpage/effect/icon list_1.svg">
                  <h4  lang-i18n key="home-gia-phi-congkhai" default="Giá phí công khai & tiết kiệm"></h4>
                </div>
                <div class="des-record float-right">
                  <p  lang-i18n key="home-chiphilavandesong" default="Chi phí là vấn đề sống còn của doanh nghiệp. Sử dụng dịch vụ của Asoka giúp
                    doanh nghiệp tiết kiệm được tới 80% chi phí vận hành. Chúng tôi luôn niêm
                    yết công khai giá phí để khách hàng có thể ước tính ngân sách phù hợp."></p>
                </div>
              </div>
              <div class="content-record">
                <div class="float-left title-record">
                  <img src="/assets/media/landingpage/effect/icon list_1.svg">
                  <h4  lang-i18n key="home-mangluoiluatsu" default="Mạng lưới luật sư rộng khắp"></h4>
                </div>
                <div class="des-record float-right">
                  <p  lang-i18n key="home-chungtoi-luachonhoptac" default="Chúng tôi lựa chọn hợp tác với những luật sư và cố vấn tài năng từ các tập đoàn
                    danh tiếng. Kinh nghiệm chuyên sâu của họ ở nhiều lĩnh vực đặc thù là yếu tố
                    then chốt làm nên chiến thắng cho khách hàng ở nhiều vụ việc."></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img style="cursor: pointer" data-target="#bb42zrvKOWQ" data-toggle="modal" class="effective-img" src="/assets/media/effect.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-modal-video dataid="bb42zrvKOWQ"></app-modal-video>
