<header>
  <section [ngClass]="fixedTop">
    <div class="bg-blue">
      <div class="container">
        <div class="row" style="height: 55px;">
          <div class="col-md-6" style="margin: auto; display: grid;">
            <div *ngIf="!isMobileScreen" class="tel" style="font-weight: 300; color: #afaead;">
              <img style="height: 13px;  padding-right: 2px;" src="/assets/media/mail_icon.svg"/> consult@asokalaw.vn
            </div>
          </div>
          <div class="col-md-6" style="margin: auto; float:right;">
            <div style="margin-top: 2px;float:right; padding: 10px 5px;">
              <a style=" font-weight: bold;" href="setLang/vi?redirect_to=/">VN</a>
              <span style="    font-size: 15px; font-weight: 900; font-family: auto;color:#fff"> | </span>
              <a style=" font-weight: bold;" href="/setLang/en?redirect_to=/">EN</a></div>
            <div class="padding" style="float:{{isMobileScreen ? 'left' : 'right'}};">
              <button class="float-right btn btn-outline-warning padding" onclick="onClickHeaderBtn()" type="button">Nhận tư vấn miễn phí
              </button>
            </div>
            <div *ngIf="!isMobileScreen" class="h-phone padding">
              <img style="height: 20px" src="/assets/media/phone_icon.svg"/>
              <a style="font-size: 18px;font-weight: 400;font-family:'Montserrat',serif;" href="#">0336634028</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-headermainmenu></app-headermainmenu>
  </section>
  <app-headerbanner></app-headerbanner>
</header>
