<section class="footer bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-right: 50px">
                <app-footerinfo></app-footerinfo>
                <div class="space"></div>
                <h4 lang-i18n key="footer-ho-so-nang-luc" default="Hồ sơ năng lực Asoka Law"></h4>
                <a href="/" style="text-decoration: underline;color: #4e9cca;" lang-i18n key="footer-xemchitiet" default="(Xem chi tiết tại đây)"></a>
            </div>
            <div class="col-md-3">
                <div class="d-none d-md-block">
                    <h4 lang-i18n key="footer-phaplydoanhnghiep" default="Pháp lý doanh nghiệp"></h4>
                    <ul class="footer-ul">
                        <li><a routerLink="/khoi-tao-doanh-nghiep" lang-i18n key="footer-khoitaodoanhnghiep" default="Khởi tạo doanh nghiệp"></a></li>
                        <li><a routerLink="/doanh-nghiep-duoi-3-nam" lang-i18n key="footer-doanhnghiepduoi3nam" default="Doanh nghiệp dưới 3 năm"></a></li>
                        <li><a routerLink="/doanh-nghiep-tran-3-nam" lang-i18n key="footer-doanhnghieptren3nam" default="Doanh nghiệp trên 3 năm"></a></li>
                    </ul>
                    <h4 lang-i18n key="footer-khachhang" default="Khách hàng"></h4>
                    <ul class="footer-ul">
                        <li><a routerLink="/cau-hoi-thuong-gap" lang-i18n key="footer-chtg" default="Câu hỏi thường gặp"></a></li>
                        <li><a href="#" lang-i18n key="footer-cskh" default="Chính sách khách hàng"></a></li>
                        <li><a routerLink="/quy-trinh-lam-viec" lang-i18n key="footer-qtlv" default="Quy trình làm việc"></a></li>
                        <li><a href="#" lang-i18n key="footer-hdtt" default="Hướng dẫn thanh toán"></a></li>
                    </ul>
                </div>
                <div class="d-block d-md-none">
                    <h4 data-toggle="collapse" data-target="#collapsepldn" class="collapsed" aria-expanded="true" aria-controls="collapsefooter" lang-i18n key="footer-phaply" default="Pháp lý doanh nghiệp">
                        <i style="color: #fff; float:right;" class="fa fa-chevron-down"></i>
                    </h4>
                    <ul id="collapsepldn" class="footer-ul collapse">
                        <li><a routerLink="/khoi-tao-doanh-nghiep" lang-i18n key="footer-khoitaodoanhnghiep" default="Khởi tạo doanh nghiệp"></a></li>
                        <li><a routerLink="/doanh-nghiep-duoi-3-nam" lang-i18n key="footer-doanhnghiepduoi3nam" default="Doanh nghiệp dưới 3 năm"></a></li>
                        <li><a routerLink="/doanh-nghiep-tren-3-nam" lang-i18n key="footer-doanhnghieptren3nam" default="Doanh nghiệp trên 3 năm"></a></li>
                    </ul>
                    <h4 data-toggle="collapse" data-target="#collapsekh" class="collapsed" aria-expanded="true" aria-controls="collapsefooter" lang-i18n key="footer-khachhang" default="Khách hàng">

                        <i style="color: #fff; float:right;" class="fa fa-chevron-down"></i>
                    </h4>
                    <ul id="collapsekh" class="footer-ul collapse">
                        <li><a routerLink="/cauhoi-thuong-gap" lang-i18n key="footer-chtg" default="Câu hỏi thường gặp"></a></li>
                        <li><a routerLink="#" lang-i18n key="footer-cskh" default="Chính sách khách hàng"></a></li>
                        <li><a routerLink="/quy-trinh-lam-viec" lang-i18n key="footer-qtlv" default="Quy trình làm việc"></a></li>
                        <li><a href="#" lang-i18n key="footer-hdtt" default="Hướng dẫn thanh toán"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-none d-md-block">
                    <h4 lang-i18n key="footer-dichvuphaply" default="Dịch vụ pháp lý"></h4>
                    <ul class="footer-ul">
                        <li><a routerLink="/tu-van-luat-su" lang-i18n key="footer-tuvantructuyen" default="Tư vấn trực tuyến"></a></li>
                        <li><a routerLink="/dang-ky-kinh-doanh" lang-i18n key="footer-dangkikinhdoanh" default="Đăng ký kinh doanh"></a></li>
                        <li><a routerLink="/dang-ky-dau-tu" lang-i18n key="footer-dangkidautu" default="Đăng ký đầu tư"></a></li>
                        <li><a routerLink="/dang-ky-nhan-hieu" lang-i18n key="footer-dangkinhanhieu" default="Đăng ký nhãn hiệu"></a></li>
                        <li><a routerLink="/phap-ly-thuong-xuyen" lang-i18n key="footer-phaplythuongxuyen" default="Pháp lý thường xuyên"></a></li>
                        <li><a routerLink="/phap-ly-su-kien" lang-i18n key="footer-phaplysukien" default="Pháp lý sự kiện"></a></li>
                        <li><a routerLink="/giai-quyet-tranh-chap" lang-i18n key="footer-giaiquyettranhchap" default="Giải quyết tranh chấp"></a></li>
                    </ul>
                </div>
                <div class="d-block d-md-none">
                    <h4 data-toggle="collapse" data-target="#collapsedvpl" class="collapsed" aria-expanded="true" aria-controls="collapsefooter" lang-i18n key="footer-dichvuphaply" default="Dịch vụ pháp lý">
                        <i style="color: #fff; float:right;" class="fa fa-chevron-down"></i>
                    </h4>
                    <ul id="collapsedvpl" class="footer-ul collapse">
                        <li><a routerLink="/tu-van-luat-su" lang-i18n key="footer-tuvantructuyen" default="Tư vấn trực tuyến"></a></li>
                        <li><a routerLink="/dang-ky-kinh-doanh" lang-i18n key="footer-dangkikinhdoanh" default="Đăng ký kinh doanh"></a></li>
                        <li><a routerLink="/dang-ky-dau-tu" lang-i18n key="footer-dangkidautu" default="Đăng ký đầu tư"></a></li>
                        <li><a routerLink="/dang-ky-nhan-hieu" lang-i18n key="footer-dangkinhanhieu" default="Đăng ký nhãn hiệu"></a></li>
                        <li><a routerLink="/phap-ly-thuong-xuyen" lang-i18n key="footer-phaplythuongxuyen" default="Pháp lý thường xuyên"></a></li>
                        <li><a routerLink="/phap-ly-su-kien" lang-i18n key="footer-phaplysukien" default="Pháp lý sự kiện"></a></li>
                        <li><a routerLink="/giai-quyet-tranh-chap" lang-i18n key="footer-giaiquyettranhchap" default="Giải quyết tranh chấp"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h4 lang-i18n key="footer-dangkinhanuudai" default="Đăng ký nhận ưu đãi mới nhất"></h4>
                <app-footeremailsubcribe></app-footeremailsubcribe>
                <div class="social" style="margin-top: 25px;">
                    <p style="color: #afaead;" lang-i18n key="footer-ketnoivoichungtoi" default="Kết nối với chúng tôi"> <a href="{{global.settings.facebook}}" target="_blank" class="facebook">
                        <img style="width: 28px" src="/assets/media/fb icon.svg">
                    </a>
                        <a href="{{global.settings.linkin}}" target="_blank" class="linkedin">
                            <img style="width: 28px" src="/assets/media/linked in icon.svg">
                        </a>
                        <a href="{{global.settings.youtube}}" target="_blank" class="youtube">
                            <img style="width: 28px" src="/assets/media/youtube icon.svg">
                        </a>
                    </p>
                </div>
                <a href="http://online.gov.vn/Home/WebDetails/62754" target="_blank">
                    <img style="height: 90px;margin-top: 25px;" class="img-responsive" src="/assets/media/bct.png"/>
                </a>
                <div class="space"></div>
                <img class="payment-method" src="/assets/media/visa_1.svg"/>
                <img class="payment-method" src="/assets/media/mastercard_1.svg"/>
                <img class="payment-method" src="/assets/media/paypal.png"/>
                <img class="payment-method" src="/assets/media/cash_1.svg"/>
                <img class="payment-method" src="/assets/media/internet banking_1.svg"/>
            </div>
        </div>
    </div>
</section>
<section class="center">
    <div class="container" style="color: #8e8e8e;
    padding: 30px 0;
    text-align: center;
    font-size: 12px;">
        © 2019 asokalaw.vn<br/>
        {{global.settings.name}}<br/>
        <span lang-i18n key="footer-trusochinh" default="Trụ sở chính:"></span>{{global.settings.head_office}}<br/>
        <span lang-i18n key="footer-chinhanh" default="Chi nhánh:"></span> {{global.settings.branch_office}}<br/>
        <span lang-i18n key="footer-giaydkhd" default="Giấy ĐKHĐ số: 41.02.2946/TP/ĐKHĐ do Sở Tư pháp TP. Hồ Chí Minh cấp"></span>
    </div>
    <a href="tel:0961914328" class="ifeedback"><img src="/assets/media/icon_phone.png" style="width: 50px; height: 50px;"/></a>
</section>
