<section class="footer bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-right: 50px">
                <app-footerinfo></app-footerinfo>
                <div class="space"></div>
                <h4>{{global.locale=='vi'?'Hồ sơ năng lực Asoka Law':'Hồ sơ năng lực Asoka Law aaa'}}</h4>
                <a href="/" style="text-decoration: underline;color: #4e9cca;">{{global.locale=='vi'?'(Xem chi tiết tại đây)':'(Xem chi tiết tại đây) aaa'}}</a>
            </div>
            <div class="col-md-3">
                <div class="d-none d-md-block">
                    <h4>{{global.locale=='vi'?'Pháp lý doanh nghiệp':'Pháp lý doanh nghiệp aaa'}}</h4>
                    <ul class="footer-ul">
                        <li><a routerLink="/khoi-tao-doanh-nghiep">{{global.locale=='vi'?'Khởi tạo doanh nghiệp':'Khởi tạo doanh nghiệp aaa'}}</a></li>
                        <li><a routerLink="/doanh-nghiep-duoi-3-nam">{{global.locale=='vi'?'Doanh nghiệp dưới 3 năm':'Doanh nghiệp dưới 3 năm aaa'}}</a></li>
                        <li><a routerLink="/doanh-nghiep-tran-3-nam">{{global.locale=='vi'?'Doanh nghiệp trên 3 năm':'Doanh nghiệp trên 3 năm aaa'}}</a></li>
                    </ul>
                    <h4>{{global.locale=='vi'?'Khách hàng':'Khách hàng aaa'}}</h4>
                    <ul class="footer-ul">
                        <li><a routerLink="/cau-hoi-thuong-gap">{{global.locale=='vi'?'Câu hỏi thường gặp':'Câu hỏi thường gặp aaa'}}</a></li>
                        <li><a href="#">{{global.locale=='vi'?'Chính sách khách hàng':'Chính sách khách hàng aaa'}}</a></li>
                        <li><a routerLink="/quy-trinh-lam-viec">{{global.locale=='vi'?'Quy trình làm việc':'Quy trình làm việc aaa'}}</a></li>
                        <li><a href="#">{{global.locale=='vi'?'Hướng dẫn thanh toán':'Hướng dẫn thanh toán aaa'}}</a></li>
                    </ul>
                </div>
                <div class="d-block d-md-none">
                    <h4 data-toggle="collapse" data-target="#collapsepldn" class="collapsed" aria-expanded="true" aria-controls="collapsefooter">{{global.locale=='vi'?'Pháp lý doanh nghiệp':'Pháp lý doanh nghiệp aaa'}}

                        <i style="color: #fff; float:right;" class="fa fa-chevron-down"></i>
                    </h4>
                    <ul id="collapsepldn" class="footer-ul collapse">
                        <li><a routerLink="/khoi-tao-doanh-nghiep">{{global.locale=='vi'?'Khởi tạo doanh nghiệp':'Khởi tạo doanh nghiệp aaa'}}</a></li>
                        <li><a routerLink="/doanh-nghiep-duoi-3-nam">{{global.locale=='vi'?'Doanh nghiệp dưới 3 năm':'Doanh nghiệp dưới 3 năm aaa'}}</a></li>
                        <li><a routerLink="/doanh-nghiep-tren-3-nam">{{global.locale=='vi'?'Doanh nghiệp trên 3 năm':'Doanh nghiệp trên 3 năm aaa'}}</a></li>
                    </ul>
                    <h4 data-toggle="collapse" data-target="#collapsekh" class="collapsed" aria-expanded="true" aria-controls="collapsefooter">
                        {{global.locale=='vi'?'Khách hàng':'Khách hàng aaa'}}
                        <i style="color: #fff; float:right;" class="fa fa-chevron-down"></i>
                    </h4>
                    <ul id="collapsekh" class="footer-ul collapse">
                        <li><a routerLink="/cauhoi-thuong-gap">{{global.locale=='vi'?'Câu hỏi thường gặp':'Câu hỏi thường gặp aaa'}}</a></li>
                        <li><a routerLink="#">{{global.locale=='vi'?'Chính sách khách hàng':'Chính sách khách hàng aaa'}}</a></li>
                        <li><a routerLink="/quy-trinh-lam-viec">{{global.locale=='vi'?'Quy trình làm việc':'Quy trình làm việc aaa'}}</a></li>
                        <li><a href="#">{{global.locale=='vi'?'Hướng dẫn thanh toán':'Hướng dẫn thanh toán aaa'}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-none d-md-block">
                    <h4>{{global.locale=='vi'?'Dịch vụ pháp lý':'Dịch vụ pháp lý aaa'}}</h4>
                    <ul class="footer-ul">
                        <li><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Tư vấn trực tuyến':'Tư vấn trực tuyến aaa'}}</a></li>
                        <li><a routerLink="/dang-ky-kinh-doanh">{{global.locale=='vi'?'Đăng ký kinh doanh':'Đăng ký kinh doanh aaa'}}</a></li>
                        <li><a routerLink="/dang-ky-dau-tu">{{global.locale=='vi'?'Đăng ký đầu tư':'Đăng ký đầu tư aaa'}}</a></li>
                        <li><a routerLink="/dang-ky-nhan-hieu">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Đăng ký nhãn hiệu aaa'}}</a></li>
                        <li><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Pháp lý thường xuyên':'Pháp lý thường xuyên aaa'}}</a></li>
                        <li><a routerLink="/phap-ly-su-kien">{{global.locale=='vi'?'Pháp lý sự kiện':'Pháp lý sự kiện aaa'}}</a></li>
                        <li><a routerLink="/giai-quyet-tranh-chap">{{global.locale=='vi'?'Giải quyết tranh chấp':'Giải quyết tranh chấp aaa'}}</a></li>
                    </ul>
                </div>
                <div class="d-block d-md-none">
                    <h4 data-toggle="collapse" data-target="#collapsedvpl" class="collapsed" aria-expanded="true" aria-controls="collapsefooter">
                        {{global.locale=='vi'?'Dịch vụ pháp lý':'Dịch vụ pháp lý aaa'}}
                        <i style="color: #fff; float:right;" class="fa fa-chevron-down"></i>
                    </h4>
                    <ul id="collapsedvpl" class="footer-ul collapse">
                        <li><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Tư vấn trực tuyến':'Tư vấn trực tuyến aaa'}}</a></li>
                        <li><a routerLink="/dang-ky-kinh-doanh">{{global.locale=='vi'?'Đăng ký kinh doanh':'Đăng ký kinh doanh aaa'}}</a></li>
                        <li><a routerLink="/dang-ky-dau-tu">{{global.locale=='vi'?'Đăng ký đầu tư':'Đăng ký đầu tư aaa'}}</a></li>
                        <li><a routerLink="/dang-ky-nhan-hieu">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Đăng ký nhãn hiệu aaa'}}</a></li>
                        <li><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Pháp lý thường xuyên':'Pháp lý thường xuyên aaa'}}</a></li>
                        <li><a routerLink="/phap-ly-su-kien">{{global.locale=='vi'?'Pháp lý sự kiện':'Pháp lý sự kiện aaa'}}</a></li>
                        <li><a routerLink="/giai-quyet-tranh-chap">{{global.locale=='vi'?'Giải quyết tranh chấp':'Giải quyết tranh chấp aaa'}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h4>{{global.locale=='vi'?'Đăng ký nhận ưu đãi mới nhất':'Đăng ký nhận ưu đãi mới nhất aaa'}}</h4>
                <app-footeremailsubcribe></app-footeremailsubcribe>
                <div class="social" style="margin-top: 25px;">
                    <p style="color: #afaead;">{{global.locale=='vi'?'Kết nối với chúng tôi ':'Kết nối với chúng tôi  aaa'}}<a href="{{global.settings.facebook}}" target="_blank" class="facebook">
                        <img style="width: 28px" src="/assets/media/fb icon.svg">
                    </a>
                        <a href="{{global.settings.linkin}}" target="_blank" class="linkedin">
                            <img style="width: 28px" src="/assets/media/linked in icon.svg">
                        </a>
                        <a href="{{global.settings.youtube}}" target="_blank" class="youtube">
                            <img style="width: 28px" src="/assets/media/youtube icon.svg">
                        </a>
                    </p>
                </div>
                <a href="http://online.gov.vn/Home/WebDetails/62754" target="_blank">
                    <img style="height: 90px;margin-top: 25px;" class="img-responsive" src="/assets/media/bct.png"/>
                </a>
                <div class="space"></div>
                <img class="payment-method" src="/assets/media/visa_1.svg"/>
                <img class="payment-method" src="/assets/media/mastercard_1.svg"/>
                <img class="payment-method" src="/assets/media/paypal.png"/>
                <img class="payment-method" src="/assets/media/cash_1.svg"/>
                <img class="payment-method" src="/assets/media/internet banking_1.svg"/>
            </div>
        </div>
    </div>
</section>
<section class="center">
    <div class="container" style="color: #8e8e8e;
    padding: 30px 0;
    text-align: center;
    font-size: 12px;">
        {{global.locale=='vi'?'© 2019 asokalaw.vn':'© 2019 asokalaw.vn aaa'}}<br/>
        {{global.settings.name}}<br/>
        {{global.locale=='vi'?'Trụ sở chính: ':'Trụ sở chính:  aaa'}}{{global.settings.head_office}}<br/>
        {{global.locale=='vi'?'Chi nhánh: ':'Chi nhánh:  aaa'}}{{global.settings.branch_office}}<br/>
        {{global.locale=='vi'?'Giấy ĐKHĐ số: 41.02.2946/TP/ĐKHĐ do Sở Tư pháp TP. Hồ Chí Minh cấp':'Giấy ĐKHĐ số: 41.02.2946/TP/ĐKHĐ do Sở Tư pháp TP. Hồ Chí Minh cấp aaa'}}
    </div>
    <a href="tel:0961914328" class="ifeedback"><img src="/assets/media/icon_phone.png" style="width: 50px; height: 50px;"/></a>
</section>
