<section id="recognize" style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row" style="margin: 3rem 0 5rem;">
            <div class="col-md-12">
                <h1 class="center" style="margin-bottom: 2rem;">{{global.locale == 'vi' ? ' Nhận định đúng để thành công' : ' Making right decisions to succeed '}}</h1>
                <div class="mission-txt">
                    <p class="center">{{global.locale == 'vi' ? 'Doanh nghiệp hoạt động trên 03 năm cần ra những quyết định mạnh mẽ, dứt khoát. Đây là thời điểm "vàng" để củng cố lại hệ thống pháp lý nhằm bước lên giai đoạn phát triển mới. Hay thậm chí, nên dứt khoát đóng cửa để cắt lỗ và chuyển đổi mô hình kinh doanh. Với kinh nghiệm làm việc với 1000+ doanh nghiệp, Asoka Law cung cấp cho bạn các gói dịch vụ hữu ích để vững bước trên con đường kinh doanh.' : 'A business over 03 years shall make affirmative and decisive decisions. This is the golden moment to consolidate its system to step into a new stage of development. Or, the company should even "close the door" to cut loss and shift into a new model of business. '}}</p>
                </div>
                <hr class="center" style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 10px">
            </div>
        </div>
        <div class="row" style="margin-bottom: 3rem;">
            <div class="col-md-6">
                <img src="/assets/media/DNT3N/Nhan-dinh-dung/1-ra-soat-va-loi.png" style="max-width: 100%;">
            </div>
            <div class="col-md-6">
                <div class="recognize-block">
                    <img style="top: -30px; left: 85px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-xu-ly-va-loi.svg">
                    <p class="alt-title">{{global.locale == 'vi' ? 'Rà soát & vá lỗi' : 'Reviewing and fixing mistakes'}}</p>
                    <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 25px">
                    <div class="mission-txt">
                        <p>{{global.locale == 'vi' ? 'Là gói dịch vụ dành riêng cho doanh nghiệp đã hoạt động, muốn dành thời gian để rà soát lại hệ thống vận hành doanh nghiệp. Chúng tôi thực hiện rà soát và đưa ra Thư tư vấn cho doanh nghiệp tại 04 khía cạnh cốt lõi: pháp lý cho sản phẩm, dịch vụ - hệ thống hợp đồng - quản trị lao động và tuân thủ thuế. Kết quả là doanh nghiệp sẽ có nhận được phương án giải quyết, vá lỗi vận hành. Sức khỏe pháp lý được củng cố sẽ khiến doanh nghiệp phát triển vững mạnh.' : 'A service package customized for enterprises in operation hoping to review their operating systems. We shall check and provide Clients with a Consult Letter on 4 core aspects: legal administration for products/ services, contracting systems, labor administration, and tax compliance. As a result, their businesses will receive solutions to fix mistakes in operations. Strengthened legal health will make businesses thrive.'}}</p>
                    </div>
                    <button onclick="$('#dnt3nform-banggia-gqtc-rasoatloi').modal('show')" style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale == 'vi' ? 'Xem báo giá chi tiết' : 'See detail quotations'}}
                    </button>
                    <p><a routerLink="/phap-ly-thuong-xuyen">{{global.locale == 'vi' ? 'Giải pháp quản trị tinh gọn "4 trong 1" >>' : '"4 in 1" Effective Business Management >>'}}</a></p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 3rem;">
            <div class="col-md-6">
                <div class="recognize-block">
                    <img style="top: -20px; left: 170px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-dai-dien-xu-ly-tranh-chap.svg">
                    <p class="alt-title">{{global.locale == 'vi' ? 'Đại diện giải quyết tranh chấp' : 'Representing to settle disputes'}}</p>
                    <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 25px">
                    <div class="mission-txt">
                        <p>{{global.locale == 'vi' ? 'Là dịch vụ pháp lý áp dụng cho các doanh nghiệp đang phát sinh mâu thuẫn, cần luật sư tham gia nhằm giải quyết. Mâu thuẫn ở đây bao gồm các vấn đề nội bộ trong doanh nghiệp hoặc ngoài doanh nghiệp, như: hợp đồng, đòi nợ, bồi thường, sở hữu trí tuệ,...' : 'This service is used for Companies hoping the Lawyer to settlet the internal and/or external inconsitencies, including: Contracts, Debt recovery, Compensate, Intellectual Property issues.'}}</p>
                    </div>
                    <button onclick="$('#dnt3nform-banggia-gqtc').modal('show')" style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale == 'vi' ? 'Xem báo giá chi tiết' : 'See detail quotations'}}
                    </button>
                    <p><a routerLink="/tu-van-luat-su">{{global.locale == 'vi' ? 'Xem danh sách tất cả luật sư >>' : 'See lawyers list >> '}}</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/assets/media/DNT3N/Nhan-dinh-dung/2-dai-dien-xu-ly-tranh-chap.png" style="max-width: 100%;">
            </div>
        </div>
    </div>
    <div class="recognize-block-bg" style="margin-bottom: 3rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img style="max-width: 100%;" src="/assets/media/DNT3N/Nhan-dinh-dung/3-tam-ngung-giai-the.png">
                </div>
                <div class="col-md-6">
                    <div class="recognize-block">
                        <p class="pc m-0"><img style="top: -30px; left: 315px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-tam-ngung-giai-the.svg"></p>
                        <p class="sp m-0"><img style="top: -30px; right: 0;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-tam-ngung-giai-the.svg"></p>
                        <p class="alt-title">{{global.locale == 'vi' ? 'Tạm ngừng hoạt động & Giải thể doanh nghiệp' : 'Temporary Suspension/Dissolution of Enterprise'}}</p>
                        <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px; margin-bottom: 25px">
                        <div class="mission-txt">
                            <p>{{global.locale == 'vi' ? 'Sau 03 năm hoạt động nhưng kinh doanh vẫn không hiệu quả, doanh nghiệp cần thực hiện các hành động dứt khoát để chấm dứt thua lỗ. Tùy vào tình trạng có thể tái cấu trúc, tìm hướng phát triển mới hay không mà doanh nghiệp có thể chọn tạm ngừng (tối đa 02 năm liên tiếp) hoặc giải thể (chấm dứt hoạt động).' : 'If business activities remain ineffective after 03 years of operation, enterprises need to take decisive actions to stop losses. Depending on whether it is possible to restructure and/or find new development directions, enterprises can choose to suspend (maximum 02 consecutive years) or dissolve (terminate operations).'}}</p>
                        </div>
                        <button onclick="$('#dnt3nform-banggia-gqtc-tamngung-giaithe').modal('show')" style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale == 'vi' ? 'Xem báo giá chi tiết' : 'See detail quotations'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-dnt3n-form2></app-dnt3n-form2>
<!--Form giong ben GQTC-->
<div class="modal fade " id="daidiengqtcform1" role="dialog" aria-hidden="true">
    <div class="modal-dialog giongbenGQTC" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Full name *'}}">
                    <!--          <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name. '}}</small></i>-->
                </div>
                <div class="form-group">
                    <input class="form-control" name="phone" type="text" placeholder="{{global.locale=='vi'?'Telephone no *':'Số điện thoại *'}}"/>
                    <!--          <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number. '}}</small></i>-->
                </div>
                <div class="form-group">
                    <input class="form-control" name="email" type="text" placeholder="{{global.locale=='vi'?'Email *':'Email *'}}"/>
                    <!--          <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address. '}}</small></i>-->
                </div>
                <div class="form-group">
                    <label>{{global.locale == 'vi' ? 'Chọn gói dịch vụ phù hợp với nhu cầu của bạn' : 'Choose a package '}}</label>
                    <div class="container-fluid" >
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Gói thương lượng">
                                    <span class="form-check-label">{{global.locale == 'vi' ? 'Gói thương lượng' : 'Negotiation Package'}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Gói tranh tụng">
                                    <span class="form-check-label">{{global.locale == 'vi' ? 'Gói tranh tụng' : 'Litigation Package'}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="Gói toàn diện">
                                    <span class="form-check-label">{{global.locale == 'vi' ? 'Gói toàn diện' : 'Comprehensive Package'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">{{global.locale == 'vi' ? 'Diễn tả sơ bộ tình trạng tranh chấp của doanh nghiệp bạn' : 'Briefly describe the dispute situation of your business: '}}<sup>*</sup></label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    {{global.locale == 'vi' ? 'Tài liệu đính kèm (nếu có):' : 'Attached documents (if any): '}}
                    <button style="margin-bottom: 5px;color: #0f74a8;text-decoration: underline" class="btn" type="button" (click)="fileInput1.click()">
                        <span style="color: #0f74a8" class="far fa-paperclip"></span>{{global.locale == 'vi' ? ' Tải lên tại đây' : ' Upload here'}}
                        <input #fileInput1 type="file" style="display:none;"/>
                    </button>
                    <ng-container>
                        <span class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale == 'vi' ? 'Gửi yêu cầu' : 'Send request'}}</button>
            </div>
        </div>
    </div>
</div>

<!--POP UP TAM NGUNG GIAI THE-->
<app-dnt3n-form3></app-dnt3n-form3>


<div class="modal fade" id="dnt3nform-banggia-gqtc-rasoatloi">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="2banggiarasoatloi" style="position: relative;">
                    <img style="width: 14%;
    position: absolute;
    bottom: 0; left: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg2.svg">
                    <img style="width: 14%;
    position: absolute;
    top: 0; right: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg1.svg">
                    <div class="container-fluid sub-fluid fluid1" style="padding: 0 !important; width: 80%;">

                        <div class="row" style="padding-left: 5%;padding-right: 5%;">
                            <div class="col-md-6" style="text-align: center !important;" >
                                <div class="service-content  shadow-lg" style="margin-top: 50px; border-radius: 15px; padding: 40px 40px;background: #fff"><h3 style="font-weight: bold; color: #ffa812; font-size: 22px; font-family:'Montserrat';">{{global.locale == 'vi' ? 'GÓI CƠ BẢN' : 'BASIC PACKAGE'}}</h3><br>
                                    <div><p class="" style="font-size: 40px; padding-bottom: 20px"><span style="font-size: 12px;font-weight: 200;position: relative;top: -22px; padding-right: 5px">{{global.locale == 'vi' ? 'Từ' : 'From'}}</span>{{global.locale == 'vi' ? '5.900.000' : '5.900.000'}} <span class="sub-title">{{global.locale == 'vi' ? 'VNĐ' : 'VND'}}</span></p></div>
                                    <p>{{global.locale == 'vi' ? 'Dưới 05 lao động' : 'Under 5 employees'}}</p>
                                    <hr style="margin-bottom: 20px !important;margin: auto !important;width: 30%;border: 2px solid #fac115;background: #7ec8e9;margin-left: 0;">
                                    <p class="align-left" style="margin-top: 20px; margin-left: 20%;"><b>{{global.locale == 'vi' ? 'Rà soát pháp lý doanh nghiệp' : 'Corporate Legal Review'}}</b></p>
                                    <div class="price-ul" style="margin-left: 5%;">
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Kiểm tra ngành nghề kinh doanh' : 'Reviewing business lines'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Thủ tục cho sản phẩm lưu hành' : 'Procedures of Product Circulation'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Giấy phép hoạt động cần bổ sung' : 'Adding Operating Licenses (if any) '}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Tình trạng đăng ký sở hữu trí tuệ' : 'Intellectual Property Registration Status'}}</div>
                                        <p class="align-left"><b>{{global.locale == 'vi' ? 'Rà soát hợp đồng' : 'Contract Review'}}</b></p>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng cung cấp dịch vụ' : 'Service Providing Contracts'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng hợp tác kinh doanh' : 'Business Cooperation Contracts'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng với các đối tác' : 'Contracts with Partners'}}</div>
                                        <p class="align-left" style="color:#BCC7CF !important;"><b>{{global.locale == 'vi' ? 'Rà soát quản trị lao động' : 'Labour Management Review'}}</b></p>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Hệ thống văn bản thử việc' : 'Probationary document system'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng lao động chính thức' : 'Official Labour Contracts'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Kết thúc lao động - nghỉ việc' : 'Employment Termination - Resignation'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Quy định thang bảng lương' : 'Payroll scale regulations'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Nội quy - quy chế lao động' : 'Labour Rules & Regulations'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Khai trình lao động' : 'Labour Declaration'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Các khoản bảo hiểm, phí' : 'Insurrances and other fees'}}</div>
                                        <p class="align-left" style="color:#BCC7CF !important;"><b>{{global.locale == 'vi' ? 'Rà soát thuế' : 'Tax Review'}}</b></p>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Nội quy - quy chế lao động' : 'Labour Rules & Regulations'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Khai trình lao động' : 'Labour Declaration'}}</div>
                                        <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>{{global.locale == 'vi' ? 'Các khoản bảo hiểm, phí' : 'Insurrances and other fees'}}</div>
                                    </div>
                                    <div class="center button-type">
                                        <button (click)="service=s1;package=p1" onclick="$('#dnt3nform-formdangkychungcho1va3').modal('show')" class="btn btn-outline-warning">{{global.locale == 'vi' ? 'Đăng ký ngay' : 'Register now'}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <div class="service-content  shadow-lg" style="    margin-top: 50px; border-radius: 15px; padding: 40px 40px; background-color: #fff1ea;">
                                    <div style="top: 50px; right: 15px;" class="banner-small"><img src="/assets/media/PLTX/service/Asset4.svg"></div>
                                    <h3 style="font-weight: bold; color: #ffa812; font-size: 22px; font-family:'Montserrat';">{{global.locale == 'vi' ? 'GÓI TOÀN DIỆN' : 'COMPREHENSIVE PACKAGE'}}</h3><br>
                                    <div><p class="" style="font-size: 40px; padding-bottom: 20px"><span style="font-size: 12px;font-weight: 200;position: relative;top: -22px; padding-right: 5px">{{global.locale == 'vi' ? 'Từ' : 'From'}}</span>{{global.locale == 'vi' ? '8.900.000 ' : '8.900.00 '}}<span class="sub-title">{{global.locale == 'vi' ? 'VNĐ' : 'VND'}}</span></p></div>
                                    <p>{{global.locale == 'vi' ? 'Từ 06 - 10 lao động' : '06 -10 employees'}}</p>
                                    <hr style="margin-bottom: 20px !important;margin: auto !important;width: 30%;border: 2px solid #fac115;background: #7ec8e9;margin-left: 0;">
                                    <p class="align-left" style="margin-top: 20px; margin-left: 20%;"><b>{{global.locale == 'vi' ? 'Rà soát pháp lý doanh nghiệp' : 'Corporate Legal Review'}}</b></p>
                                    <div class="price-ul" style="margin-left: 5%;">

                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Kiểm tra ngành nghề kinh doanh' : 'Reviewing business lines'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Thủ tục cho sản phẩm lưu hành' : 'Procedures of Product Circulation'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Giấy phép hoạt động cần bổ sung' : 'Adding Operating Licenses (if any)'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Tình trạng đăng ký sở hữu trí tuệ' : 'Intellectual Property Registration Status'}}</div>
                                        <p class="align-left"><b>{{global.locale == 'vi' ? 'Rà soát hợp đồng' : 'Contract Review'}}</b></p>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng cung cấp dịch vụ' : 'Service Providing Contracts'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng hợp tác kinh doanh' : 'Business Cooperation Contracts'}}</div>
                                        <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng với các đối tác' : 'Contracts with Partners'}}</div>
                                        <p class="align-left" style="color:#BCC7CF !important;"><b>{{global.locale == 'vi' ? 'Rà soát quản trị lao động' : 'Labour Management Review'}}</b></p>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hệ thống văn bản thử việc' : 'Probationary document system'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Hợp đồng lao động chính thức' : 'Official Labour Contracts'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Kết thúc lao động - nghỉ việc' : 'Employment Termination - Resignation'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Quy định thang bảng lương' : 'Payroll scale regulations'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Nội quy - quy chế lao động' : 'Labour Rules & Regulations'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Khai trình lao động' : 'Labour Declaration'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Các khoản bảo hiểm, phí' : 'Insurrances and other fees'}}</div>
                                        <p class="align-left" style="color:#BCC7CF !important;"><b>{{global.locale == 'vi' ? 'Rà soát thuế' : 'Tax Review'}}</b></p>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Nội quy - quy chế lao động' : 'Labour Rules & Regulations'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Khai trình lao động' : 'Labour Declaration'}}</div>
                                        <div class="price-li "><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span>{{global.locale == 'vi' ? 'Các khoản bảo hiểm, phí' : 'Insurrances and other fees'}}</div>
                                    </div>

                                    <div class="center button-type">
                                        <button (click)="service=s2;package=p2" onclick="$('#dnt3nform-formdangkychungcho1va3').modal('show')" class="btn btn-warning " style="color: white">{{global.locale == 'vi' ? 'Đăng ký ngay' : 'Register now'}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade formchung1va3" id="dnt3nform-formdangkychungcho1va3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input autocomplete="off" (keyup)="n=true" [class.is-invalid]="!form.fieldValid(name)&&n" [class.is-valid]="form.fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale == 'vi' ? 'Họ tên *' : 'Full name *'}}">
                    <i *ngIf="!form.fieldValid(name) && n"><small class="text-danger">{{global.locale == 'vi' ? 'Bắt buộc nhập họ tên.' : 'Please enter your name. '}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="p=true" [class.is-invalid]="!form.fieldValid(phone,'phone')&&p" [class.is-valid]="form.fieldValid(phone,'phone')&&p" type="text" class="form-control" [(ngModel)]="phone" name="phone" placeholder="{{global.locale == 'vi' ? 'Số điện thoại *' : 'Telephone no.*'}}">
                    <i *ngIf="!form.fieldValid(name) && n"><small class="text-danger">{{global.locale == 'vi' ? 'Bắt buộc nhập họ tên.' : 'Please enter your name. '}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="e=true" [class.is-invalid]="!form.fieldValid(email,'email')&&(e||submitClick)" [class.is-valid]="form.fieldValid(email,'email')" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="{{global.locale == 'vi' ? 'Email *' : 'Email *'}}"/>
                    <i *ngIf="!form.fieldValid(email,'email')&&(e||submitClick)"><small class="text-danger">{{global.locale == 'vi' ? 'Bắt buộc nhập email hợp lệ.' : 'Invalid email address. '}}</small></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="{{global.locale == 'vi' ? 'Tên công ty' : 'Name of company'}}">
                </div>
                <div class="form-group">
                    <textarea class="form-control" [(ngModel)]="business" name="business" placeholder="{{global.locale == 'vi' ? 'Lĩnh vực kinh doanh' : 'Business line(s)'}}"></textarea>
                </div>

                <div class="form-group" style="margin-bottom: 1rem">
                    <label>{{global.locale == 'vi' ? 'Quy mô công ty' : 'Company size'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input [checked]="service==s1 || service==s1e" [(ngModel)]="service" name="service" class="form-check-input" type="radio" value="{{global.locale=='vi'?s1:s1e}}">
                                    <span class="form-check-label">{{global.locale == 'vi' ? s1 : s1e}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input [checked]="service==s2 || service==s2e" [(ngModel)]="service" name="service" class="form-check-input" type="radio" value="{{global.locale=='vi'?s2:s2e}}">
                                    <span class="form-check-label">{{global.locale == 'vi' ? s2 : s2e}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="description" class="form-control" name="description" placeholder="{{global.locale=='vi'?'Nhập câu hỏi hoặc mô tả tình trạng công ty bạn tại đây *':'Insert your question(s) or describe the company\'s status *'}}"></textarea>
                </div>
            </div>

            <div class="modal-footer" style="text-align: center;">
                <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale == 'vi' ? 'Gửi yêu cầu' : 'Send request'}}</button>
            </div>
        </div>
    </div>
</div>
