<section id="recognize" style="margin-bottom: 3rem;">
  <div class="container">
    <div class="row" style="margin: 3rem 0 5rem;">
      <div class="col-md-12">
        <h1 class="center" style="margin-bottom: 2rem;">{{global.locale=='vi'?' Nhận định đúng để thành công':' Nhận định đúng để thành công aaa'}}</h1>
        <div class="mission-txt">
          <p class="center">{{global.locale=='vi'?'Doanh nghiệp hoạt động trên 03 năm cần ra những quyết định mạnh mẽ, dứt khoát. Đây là thời điểm "vàng" để củng cố lại hệ thống pháp lý nhằm bước lên giai đoạn phát triển mới. Hay thậm chí, nên dứt khoát đóng cửa để cắt lỗ và chuyển đổi mô hình kinh doanh. Với kinh nghiệm làm việc với 1000+ doanh nghiệp, Asoka Law cung cấp cho bạn các gói dịch vụ hữu ích để vững bước trên con đường kinh doanh.':'Doanh nghiệp hoạt động trên 03 năm cần ra những quyết định mạnh mẽ, dứt khoát. Đây là thời điểm "vàng" để củng cố lại hệ thống pháp lý nhằm bước lên giai đoạn phát triển mới. Hay thậm chí, nên dứt khoát đóng cửa để cắt lỗ và chuyển đổi mô hình kinh doanh. Với kinh nghiệm làm việc với 1000+ doanh nghiệp, Asoka Law cung cấp cho bạn các gói dịch vụ hữu ích để vững bước trên con đường kinh doanh. aaa'}}</p>
        </div>
        <hr class="center" style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 10px">
      </div>
    </div>
    <div class="row" style="margin-bottom: 3rem;">
      <div class="col-md-6">
        <img src="/assets/media/DNT3N/Nhan-dinh-dung/1-ra-soat-va-loi.png" style="max-width: 100%;">
      </div>
      <div class="col-md-6">
        <div class="recognize-block">
          <img style="top: -30px; left: 85px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-xu-ly-va-loi.svg">
          <p class="alt-title">{{global.locale=='vi'?'Rà soát & vá lỗi':'Rà soát & vá lỗi aaa'}}</p>
          <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 25px">
          <div class="mission-txt">
            <p>{{global.locale=='vi'?'Là gói dịch vụ dành riêng cho doanh nghiệp đã hoạt động, muốn dành thời gian để rà soát lại hệ thống vận hành doanh nghiệp. Chúng tôi thực hiện rà soát và đưa ra Thư tư vấn cho doanh nghiệp tại 04 khía cạnh cốt lõi: pháp lý cho sản phẩm, dịch vụ - hệ thống hợp đồng - quản trị lao động và tuân thủ thuế. Kết quả là doanh nghiệp sẽ có nhận được phương án giải quyết, vá lỗi vận hành. Sức khỏe pháp lý được củng cố sẽ khiến doanh nghiệp phát triển vững mạnh.':'Là gói dịch vụ dành riêng cho doanh nghiệp đã hoạt động, muốn dành thời gian để rà soát lại hệ thống vận hành doanh nghiệp. Chúng tôi thực hiện rà soát và đưa ra Thư tư vấn cho doanh nghiệp tại 04 khía cạnh cốt lõi: pháp lý cho sản phẩm, dịch vụ - hệ thống hợp đồng - quản trị lao động và tuân thủ thuế. Kết quả là doanh nghiệp sẽ có nhận được phương án giải quyết, vá lỗi vận hành. Sức khỏe pháp lý được củng cố sẽ khiến doanh nghiệp phát triển vững mạnh. aaa'}}</p>
          </div>
          <button style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}
          </button>
          <p><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Giải pháp quản trị tinh gọn "4 trong 1" >>':'Giải pháp quản trị tinh gọn "4 trong 1" >> aaa'}}</a></p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 3rem;">
      <div class="col-md-6">
        <div class="recognize-block">
          <img style="top: -20px; left: 170px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-dai-dien-xu-ly-tranh-chap.svg">
          <p class="alt-title">{{global.locale=='vi'?'Đại diện giải quyết tranh chấp':'Đại diện giải quyết tranh chấp aaa'}}</p>
          <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 25px">
          <div class="mission-txt">
            <p>{{global.locale=='vi'?'Là dịch vụ pháp lý áp dụng cho các doanh nghiệp đang phát sinh mâu thuẫn, cần luật sư tham gia nhằm giải quyết. Mâu thuẫn ở đây bao gồm các vấn đề nội bộ trong doanh nghiệp hoặc ngoài doanh nghiệp, như: hợp đồng, đòi nợ, bồi thường, sở hữu trí tuệ,...':'Là dịch vụ pháp lý áp dụng cho các doanh nghiệp đang phát sinh mâu thuẫn, cần luật sư tham gia nhằm giải quyết. Mâu thuẫn ở đây bao gồm các vấn đề nội bộ trong doanh nghiệp hoặc ngoài doanh nghiệp, như: hợp đồng, đòi nợ, bồi thường, sở hữu trí tuệ,... aaa'}}</p>
          </div>
          <button onclick="$('#dnt3nform-banggia-gqtc').modal('show')" style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}
          </button>
          <p><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Xem danh sách tất cả luật sư >>':'Xem danh sách tất cả luật sư >> aaa'}}</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/assets/media/DNT3N/Nhan-dinh-dung/2-dai-dien-xu-ly-tranh-chap.png" style="max-width: 100%;">
      </div>
    </div>
  </div>
  <div class="recognize-block-bg" style="margin-bottom: 3rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img style="max-width: 100%;"src="/assets/media/DNT3N/Nhan-dinh-dung/3-tam-ngung-giai-the.png">
        </div>
        <div class="col-md-6">
          <div class="recognize-block">
            <p class="pc m-0"><img style="top: -30px; left: 315px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-tam-ngung-giai-the.svg"></p>
            <p class="sp m-0"><img style="top: -30px; right: 0;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-tam-ngung-giai-the.svg"></p>
            <p class="alt-title">{{global.locale=='vi'?'Tạm ngừng hoạt động & Giải thể doanh nghiệp':'Tạm ngừng hoạt động & Giải thể doanh nghiệp aaa'}}</p>
            <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px; margin-bottom: 25px">
            <div class="mission-txt">
              <p>{{global.locale=='vi'?'Sau 03 năm hoạt động nhưng kinh doanh vẫn không hiệu quả, doanh nghiệp cần thực hiện các hành động dứt khoát để chấm dứt thua lỗ. Tùy vào tình trạng có thể tái cấu trúc, tìm hướng phát triển mới hay không mà doanh nghiệp có thể chọn tạm ngừng (tối đa 02 năm liên tiếp) hoặc giải thể (chấm dứt hoạt động).':'Sau 03 năm hoạt động nhưng kinh doanh vẫn không hiệu quả, doanh nghiệp cần thực hiện các hành động dứt khoát để chấm dứt thua lỗ. Tùy vào tình trạng có thể tái cấu trúc, tìm hướng phát triển mới hay không mà doanh nghiệp có thể chọn tạm ngừng (tối đa 02 năm liên tiếp) hoặc giải thể (chấm dứt hoạt động). aaa'}}</p>
            </div>
            <button onclick = "$('#dnt3nform-banggia-gqtc-tamngung-giaithe').modal('show')" style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Popup-->
<div class="modal fade" id="dnt3nform-banggia-gqtc">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
        <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true" style="font-size: 26px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="suitable" style="position: relative;">
          <img style="width: 14%;
    position: absolute;
    bottom: 0; left: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg2.svg">
          <img style="width: 14%;
    position: absolute;
    top: 0; right: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg1.svg">
          <div class="container-fluid sub-fluid" style="padding: 0 !important;">

            <div class="row">
              <div class="col-md-12 center">
                <h1 class="" style="font-size: 25px;">
                  {{global.locale=='vi'?'Lựa chọn gói phí giải quyết tranh chấp phù hợp':'Lựa chọn gói phí giải quyết tranh chấp phù hợp aaa'}}
                </h1>
                <p class="sub-content center">
                  {{global.locale=='vi'?'Mỗi một tranh chấp sẽ có một tình trạng khác nhau. Dựa vào hồ sơ do khách hàng cung cấp và các tài\n' +
                        '                    liệu thu thập, chúng tôi sẽ đưa ra phương án xử lý thích hợp.\n' +
                        '\n' +
                        '                    Bạn cũng có thể tham khảo các mức phí niêm yết và hướng dẫn khuyên dùng từ Asoka Law để lựa chọn\n' +
                        '                    phương thức giải quyết phù hợp.':'Mỗi một tranh chấp sẽ có một tình trạng khác nhau. Dựa vào hồ sơ do khách hàng cung cấp và các tài\n' +
                        '                    liệu thu thập, chúng tôi sẽ đưa ra phương án xử lý thích hợp.\n' +
                        '\n' +
                        '                    Bạn cũng có thể tham khảo các mức phí niêm yết và hướng dẫn khuyên dùng từ Asoka Law để lựa chọn\n' +
                        '                    phương thức giải quyết phù hợp. aaa'}}
                </p>
              </div>

            </div>
            <div class="row sub">
              <div class="col-md-4">
                <div class="box">
                  <div class="block-one">
                    <div class="title-block center">
                      <h4>{{global.locale=='vi'?'Gói thương lượng':'Gói thương lượng aaa'}}</h4>
                      <hr>
                    </div>
                    <p><b>{{global.locale=='vi'?'Khuyên dùng với':'Khuyên dùng với aaa'}}</b></p>
                    <p style="font-weight: 400;min-height: 105px; text-align: justify">
                      {{global.locale=='vi'?'Mâu thuẫn ở mức độ nhẹ. Khách hàng\n' +
                            '                            nhận định các bên có thể ngồi lại đàm\n' +
                            '                            phán phương án giải quyết với nhau.':'Mâu thuẫn ở mức độ nhẹ. Khách hàng\n' +
                            '                            nhận định các bên có thể ngồi lại đàm\n' +
                            '                            phán phương án giải quyết với nhau. aaa'}}
                    </p>
                    <p style=" margin-bottom: 30px"><i style="font-weight: 100;">{{global.locale=='vi'?'*Giá phí từ':'*Giá phí từ aaa'}} <b>{{global.locale=='vi'?'15.000.000':'15.000.000 aaa'}}</b>
                      vnđ</i></p>
                    <div class="footer-block center">
                      <button onclick="$('#daidiengqtcform1').modal('show')" class="btn btn-outline-warning sub-button">{{global.locale=='vi'?'Yêu cầu tư vấn miễn phí':'Yêu cầu tư vấn miễn phí aaa'}}</button>
                      <br>
                      <i class="security">{{global.locale=='vi'?'*Cam kết bảo mật thông tin':'*Cam kết bảo mật thông tin aaa'}}</i>
                    </div>
                    <div class="d-block d-md-none" style="width: 100%; text-align: right;"><a class="more-suitable"
                                                                                              href="#partone"
                                                                                              data-toggle="collapse"
                                                                                              role="button"
                                                                                              aria-expanded="false">{{global.locale=='vi'?'Xem\n' +
                            '                            chi\n' +
                            '                            tiết':'Xem\n' +
                            '                            chi\n' +
                            '                            tiết aaa'}} <i class="fa fa-chevron-down"></i></a></div>
                  </div>
                  <div class="d-none d-md-block">
                    <hr>
                    <div class="block-two">
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Thu\n' +
                                '                                thập,\n' +
                                '                                phân tích chứng':'Thu\n' +
                                '                                thập,\n' +
                                '                                phân tích chứng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Đề\n' +
                                '                                xuất\n' +
                                '                                phương án xử lý ':'Đề\n' +
                                '                                xuất\n' +
                                '                                phương án xử lý aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Soạn\n' +
                                '                                thảo\n' +
                                '                                đơn thư yêu cầu':'Soạn\n' +
                                '                                thảo\n' +
                                '                                đơn thư yêu cầu aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Đại\n' +
                                '                                diện\n' +
                                '                                đàm phán các bên':'Đại\n' +
                                '                                diện\n' +
                                '                                đàm phán các bên aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Theo\n' +
                                '                                dõi\n' +
                                '                                tiến trình thực ':'Theo\n' +
                                '                                dõi\n' +
                                '                                tiến trình thực  aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Nhận,\n' +
                                '                                trả\n' +
                                '                                kết quả vụ việc':'Nhận,\n' +
                                '                                trả\n' +
                                '                                kết quả vụ việc aaa'}} </p>
                    </div>
                    <hr>
                    <div class="block-three" style="margin-top: 30px !important;padding: 10px !important;border-radius: 5px !important;border-style: dashed !important;border-color: rgba(145, 145, 145, 0.24) !important;min-height: 180px !important;margin-bottom: 30px !important;">
                      <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                      <p class="result-block">{{global.locale=='vi'?'Kết quả:':'Kết quả: aaa'}}</p>
                      <p><i>{{global.locale=='vi'?'Biên bản xác nhận các bên đạt\n' +
                              '                                được thỏa thuận, tranh chấp kết':'Biên bản xác nhận các bên đạt\n' +
                              '                                được thỏa thuận, tranh chấp kết aaa'}}
                        thúc.</i></p>
                    </div>
                  </div>
                  <div class="collapse collapsed" id="partone">
                    <hr>
                    <div class="block-two">
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Thu\n' +
                                '                                thập,\n' +
                                '                                phân tích chứng':'Thu\n' +
                                '                                thập,\n' +
                                '                                phân tích chứng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Đề\n' +
                                '                                xuất\n' +
                                '                                phương án xử lý':'Đề\n' +
                                '                                xuất\n' +
                                '                                phương án xử lý aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Soạn\n' +
                                '                                thảo\n' +
                                '                                đơn thư yêu cầu ':'Soạn\n' +
                                '                                thảo\n' +
                                '                                đơn thư yêu cầu  aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Đại\n' +
                                '                                diện\n' +
                                '                                đàm phán các bên':'Đại\n' +
                                '                                diện\n' +
                                '                                đàm phán các bên aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Theo\n' +
                                '                                dõi\n' +
                                '                                tiến trình thực':'Theo\n' +
                                '                                dõi\n' +
                                '                                tiến trình thực aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Nhận,\n' +
                                '                                trả\n' +
                                '                                kết quả vụ việc':'Nhận,\n' +
                                '                                trả\n' +
                                '                                kết quả vụ việc aaa'}} </p>
                    </div>
                    <hr>
                    <div class="block-three" style="margin-top: 30px !important;padding: 10px !important;border-radius: 5px !important;border-style: dashed !important;border-color: rgba(145, 145, 145, 0.24) !important;min-height: 180px !important;margin-bottom: 30px !important;">
                      <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                      <p class="result-block">{{global.locale=='vi'?'Kết quả:':'Kết quả: aaa'}}</p>
                      <p><i>{{global.locale=='vi'?'Biên bản xác nhận các bên đạt\n' +
                              '                                được thỏa thuận, tranh chấp kết\n' +
                              '                                thúc.':'Biên bản xác nhận các bên đạt\n' +
                              '                                được thỏa thuận, tranh chấp kết\n' +
                              '                                thúc. aaa'}}</i></p>
                    </div>
                  </div>

                </div>

              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="block-one">
                    <div class="title-block center">
                      <h4>{{global.locale=='vi'?'Gói tranh tụng':'Gói tranh tụng aaa'}}</h4>
                      <hr>
                    </div>
                    <p><b>{{global.locale=='vi'?'Khuyên dùng với':'Khuyên dùng với aaa'}}</b></p>
                    <p style="font-weight: 400;min-height: 105px; text-align: justify">
                      {{global.locale=='vi'?'Mâu thuẫn ở mức độ nghiêm trọng.\n' +
                            '                            Khách hàng nhận định các bên không thể\n' +
                            '                            tự đàm phán. Cần có Cơ quan Tòa án đưa\n' +
                            '                            ra phán quyết cuối cùng.':'Mâu thuẫn ở mức độ nghiêm trọng.\n' +
                            '                            Khách hàng nhận định các bên không thể\n' +
                            '                            tự đàm phán. Cần có Cơ quan Tòa án đưa\n' +
                            '                            ra phán quyết cuối cùng. aaa'}}
                    </p>
                    <p style=" margin-bottom: 30px"><i style="font-weight: 100;">{{global.locale=='vi'?'*Giá phí từ':'*Giá phí từ aaa'}} <b>{{global.locale=='vi'?'30.000.000':'30.000.000 aaa'}}</b>
                      vnđ</i></p>
                    <div class="footer-block center">
                      <button class="btn btn-outline-warning sub-button" onclick= "$('#daidiengqtcform1').modal('show')">{{global.locale=='vi'?'Yêu cầu tư vấn miễn phí':'Yêu cầu tư vấn miễn phí aaa'}}</button>
                      <br>
                      <i class="security">{{global.locale=='vi'?'*Cam kết bảo mật thông tin':'*Cam kết bảo mật thông tin aaa'}}</i>
                    </div>
                    <div class="d-block d-md-none" style="width: 100%; text-align: right;"><a class="more-suitable"
                                                                                              href="#parttwo"
                                                                                              data-toggle="collapse"
                                                                                              role="button"
                                                                                              aria-expanded="false">{{global.locale=='vi'?'Xem\n' +
                            '                            chi\n' +
                            '                            tiết':'Xem\n' +
                            '                            chi\n' +
                            '                            tiết aaa'}} <i class="fa fa-chevron-down"></i></a></div>
                  </div>
                  <div class="d-none d-md-block">
                    <hr>
                    <div class="block-two">
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Thu\n' +
                                '                                thập, phân tích chứng cứ':'Thu\n' +
                                '                                thập, phân tích chứng cứ aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Soạn\n' +
                                '                                thảo hồ sơ khởi kiện':'Soạn\n' +
                                '                                thảo hồ sơ khởi kiện aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Liên\n' +
                                '                                hệ đương sự liên quan':'Liên\n' +
                                '                                hệ đương sự liên quan aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Tham\n' +
                                '                                gia các phiên triệu tập':'Tham\n' +
                                '                                gia các phiên triệu tập aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Luật\n' +
                                '                                sư thực hiện tranh tụng':'Luật\n' +
                                '                                sư thực hiện tranh tụng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        Theo
                        {{global.locale=='vi'?'dõi tiến trình tố tụng ':'dõi tiến trình tố tụng  aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Nhận,\n' +
                                '                                trả kết quả bản án':'Nhận,\n' +
                                '                                trả kết quả bản án aaa'}} </p>

                    </div>
                    <hr>
                    <div class="block-three" style="margin-top: 30px !important;padding: 10px !important;border-radius: 5px !important;border-style: dashed !important;border-color: rgba(145, 145, 145, 0.24) !important;min-height: 180px !important;margin-bottom: 30px !important;">
                      <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                      <p class="result-block">{{global.locale=='vi'?'Kết quả:':'Kết quả: aaa'}}</p>
                      <p><i>{{global.locale=='vi'?'Quyết định/bản án có hiệu lực\n' +
                              '                                pháp luật về việc xét xử tranh chấp\n' +
                              '                                giữa các bên':'Quyết định/bản án có hiệu lực\n' +
                              '                                pháp luật về việc xét xử tranh chấp\n' +
                              '                                giữa các bên aaa'}}</i></p>
                    </div>
                  </div>
                  <div class="collapse collapsed" id="parttwo">
                    <hr>
                    <div class="block-two">
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Thu\n' +
                                '                                thập, phân tích chứng cứ':'Thu\n' +
                                '                                thập, phân tích chứng cứ aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Soạn\n' +
                                '                                thảo hồ sơ khởi kiện ':'Soạn\n' +
                                '                                thảo hồ sơ khởi kiện  aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Liên\n' +
                                '                                hệ đương sự liên quan ':'Liên\n' +
                                '                                hệ đương sự liên quan  aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Tham\n' +
                                '                                gia các phiên triệu tập':'Tham\n' +
                                '                                gia các phiên triệu tập aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Luật\n' +
                                '                                sư thực hiện tranh tụng':'Luật\n' +
                                '                                sư thực hiện tranh tụng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Theo\n' +
                                '                                dõi tiến trình tố tụng':'Theo\n' +
                                '                                dõi tiến trình tố tụng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                        {{global.locale=='vi'?'Nhận,\n' +
                                '                                trả kết quả bản án':'Nhận,\n' +
                                '                                trả kết quả bản án aaa'}} </p>

                    </div>
                    <hr>
                    <div class="block-three" style="margin-top: 30px !important;padding: 10px !important;border-radius: 5px !important;border-style: dashed !important;border-color: rgba(145, 145, 145, 0.24) !important;min-height: 180px !important;margin-bottom: 30px !important;">
                      <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                      <p class="result-block">{{global.locale=='vi'?'Kết quả:':'Kết quả: aaa'}}</p>
                      <p><i>{{global.locale=='vi'?'Quyết định/bản án có hiệu lực\n' +
                              '                                pháp luật về việc xét xử tranh chấp\n' +
                              '                                giữa các bên':'Quyết định/bản án có hiệu lực\n' +
                              '                                pháp luật về việc xét xử tranh chấp\n' +
                              '                                giữa các bên aaa'}}</i></p>
                    </div>
                  </div>

                </div>

              </div>
              <div class="col-md-4">
                <div class="box pro shadow-lg">
                  <img style="width: 26%;
    position: absolute;
    top: -2px;
    right: 0px;
}" src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 38.svg">
                  <div class="block-one">
                    <div class="title-block center">
                      <h4>{{global.locale=='vi'?'Gói toàn diện':'Gói toàn diện aaa'}}</h4>
                      <hr>
                    </div>
                    <p><b>{{global.locale=='vi'?'Khuyên dùng với':'Khuyên dùng với aaa'}}</b></p>
                    <p style="font-weight: 400;min-height: 105px; text-align: justify">
                      {{global.locale=='vi'?'Khách hàng muốn ủy thác toàn quyền\n' +
                            '                            cho Luật sư quyết định các phương án\n' +
                            '                            phù với thực trạng, diễn biến của bên\n' +
                            '                            tranh chấp.':'Khách hàng muốn ủy thác toàn quyền\n' +
                            '                            cho Luật sư quyết định các phương án\n' +
                            '                            phù với thực trạng, diễn biến của bên\n' +
                            '                            tranh chấp. aaa'}}
                    </p>
                    <p style=" margin-bottom: 30px"><i style="font-weight: 100;">{{global.locale=='vi'?'*Giá phí từ':'*Giá phí từ aaa'}} <b>{{global.locale=='vi'?'40.000.000':'40.000.000 aaa'}}</b>
                      vnđ</i></p>
                    <div class="footer-block center">
                      <button  class="btn btn-outline-warning sub-button" onclick= "$('#daidiengqtcform1').modal('show')">{{global.locale=='vi'?'Yêu cầu tư vấn miễn phí':'Yêu cầu tư vấn miễn phí aaa'}}</button>
                      <br>
                      <i class="security">{{global.locale=='vi'?'*Cam kết bảo mật thông tin':'*Cam kết bảo mật thông tin aaa'}}</i>
                    </div>
                    <div class="d-block d-md-none" style="width: 100%; text-align: right;"><a class="more-suitable"
                                                                                              href="#partthree"
                                                                                              data-toggle="collapse"
                                                                                              role="button"
                                                                                              aria-expanded="false">{{global.locale=='vi'?'Xem\n' +
                            '                            chi\n' +
                            '                            tiết ':'Xem\n' +
                            '                            chi\n' +
                            '                            tiết  aaa'}}<i class="fa fa-chevron-down"></i></a></div>
                  </div>
                  <div class="d-none d-md-block">
                    <hr>
                    <div class="block-two">
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Thu thập, phân tích chứng cứ ':'Từ aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Đề xuất phương án xử lý':'Đề xuất phương án xử lý aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Soạn thảo đơn thư yêu cầu':'Soạn thảo đơn thư yêu cầu aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Đại diện đàm phán các bên':'Đại diện đàm phán các bên aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Soạn thảo hồ sơ khởi kiện':'Soạn thảo hồ sơ khởi kiện aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Liên hệ đương sự liên quan':'Liên hệ đương sự liên quan aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Tham gia các phiên triệu tập':'Tham gia các phiên triệu tập aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Luật sư thực hiện tranh tụng':'Luật sư thực hiện tranh tụng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Theo dõi tiến trình tố tụng':'Theo dõi tiến trình tố tụng aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Nhận, trả kết quả bản án':'Nhận, trả kết quả bản án aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Theo dõi thủ tục thi hành án':'Theo dõi thủ tục thi hành án aaa'}} </p>

                    </div>
                    <hr>
                    <div class="block-three" style="margin-top: 30px !important;padding: 10px !important;border-radius: 5px !important;border-style: dashed !important;border-color: rgba(145, 145, 145, 0.24) !important;min-height: 180px !important;margin-bottom: 30px !important;">
                      <img style="position: absolute;
    width: 34%;
    bottom: 28px;
    right: -12px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq2.svg">
                      <p class="result-block">{{global.locale=='vi'?'Kết quả:':'Kết quả: aaa'}}</p>
                      <p><i>{{global.locale=='vi'?'Biên bản xác nhận các bên đạt được\n' +
                              '                                thỏa thuận, tranh chấp kết thúc hoặc\n' +
                              '                                quyết định/bản án có hiệu lực pháp\n' +
                              '                                luật về việc xét xử tranh chấp giữa\n' +
                              '                                các bên':'Biên bản xác nhận các bên đạt được\n' +
                              '                                thỏa thuận, tranh chấp kết thúc hoặc\n' +
                              '                                quyết định/bản án có hiệu lực pháp\n' +
                              '                                luật về việc xét xử tranh chấp giữa\n' +
                              '                                các bên aaa'}}</i></p>
                    </div>
                  </div>
                  <div class="collapse collapsed" id="partthree">
                    <hr>
                    <div class="block-two">
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Thu thập, phân tích chứng cứ':'Thu thập, phân tích chứng cứ aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Đề xuất phương án xử lý ':'Đề xuất phương án xử lý  aaa'}}</p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Soạn thảo đơn thư yêu cầu':'Soạn thảo đơn thư yêu cầu aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Đại diện đàm phán các bên':'Đại diện đàm phán các bên aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Soạn thảo hồ sơ khởi kiện':'Soạn thảo hồ sơ khởi kiện aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Liên hệ đương sự liên quan':'Liên hệ đương sự liên quan aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Tham gia các phiên triệu tập':'Tham gia các phiên triệu tập aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Luật sư thực hiện tranh tụng':'Luật sư thực hiện tranh tụng aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Theo dõi tiến trình tố tụng':'Theo dõi tiến trình tố tụng aaa'}}  </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?' Nhận, trả kết quả bản án':' Nhận, trả kết quả bản án aaa'}} </p>
                      <p><img class="icon-block"
                              src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                        {{global.locale=='vi'?'Theo dõi thủ tục thi hành án':'Theo dõi thủ tục thi hành án aaa'}}  </p>

                    </div>
                    <hr>
                    <div class="block-three" style="margin-top: 30px !important;padding: 10px !important;border-radius: 5px !important;border-style: dashed !important;border-color: rgba(145, 145, 145, 0.24) !important;min-height: 180px !important;margin-bottom: 30px !important;">
                      <img style="position: absolute;
    width: 34%;
    bottom: 28px;
    right: -12px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq2.svg">
                      <p class="result-block">{{global.locale=='vi'?'Kết quả:':'Kết quả: aaa'}} </p>
                      <p><i>{{global.locale=='vi'?'Biên bản xác nhận các bên đạt được\n' +
                              '                                thỏa thuận, tranh chấp kết thúc hoặc\n' +
                              '                                quyết định/bản án có hiệu lực pháp\n' +
                              '                                luật về việc xét xử tranh chấp giữa\n' +
                              '                                các bên':'Biên bản xác nhận các bên đạt được\n' +
                              '                                thỏa thuận, tranh chấp kết thúc hoặc\n' +
                              '                                quyết định/bản án có hiệu lực pháp\n' +
                              '                                luật về việc xét xử tranh chấp giữa\n' +
                              '                                các bên aaa'}} </i></p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!-- <Change> -->
            <div class="call row" style="margin-top: 3rem;">
              <div class="col-md-2 d-none d-md-block">
                <div class="step-hr">
                  <hr>
                </div>
              </div>
              <div class="col-md-8 col-sm-12 ">
                  <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                    <p><u style="color: #7CC6E8; margin-bottom: 2px;"><a href="/giai-quyet-tranh-chap">{{global.locale=='vi'?'Quy trình giải quyết tranh chấp >>':'Quy trình giải quyết tranh chấp >> aaa'}}</a> </u></p>
                  </div>
              </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <div class="step-hr">
                  <hr class="right">
                </div>
              </div>
            </div>
            <!-- </Change> -->

        </section>
      </div>
      <div class="modal-footer">
        <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Gửi yêu cầu aaa'}}</button>
      </div>
    </div>
  </div>
</div>
<!--Form giong ben GQTC-->
<div class="modal fade " id="daidiengqtcform1" role="dialog" aria-hidden="true">
  <div class="modal-dialog giongbenGQTC" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
        <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
          <span aria-hidden="true" style="font-size: 26px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input  type="text" class="form-control" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Họ tên * aaa'}}">
<!--          <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Bắt buộc nhập họ tên. aaa'}}</small></i>-->
        </div>
        <div class="form-group">
          <input class="form-control" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Số điện thoại * aaa'}}"/>
<!--          <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Bắt buộc nhập số điện thoại hợp lệ. aaa'}}</small></i>-->
        </div>
        <div class="form-group">
          <input class="form-control" name="email" type="text" placeholder="{{global.locale=='vi'?'Email *':'Email * aaa'}}"/>
<!--          <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Bắt buộc nhập email hợp lệ. aaa'}}</small></i>-->
        </div>
        <div class="form-group">
          <label>{{global.locale=='vi'?'Chọn gói dịch vụ phù hợp với nhu cầu của bạn':'Chọn gói dịch vụ phù hợp với nhu cầu của bạn aaa'}}</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input  class="form-check-input" type="radio" value="Gói thương lượng">
                  <span class="form-check-label">{{global.locale=='vi'?'Gói thương lượng':'Gói thương lượng aaa'}}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" value="Gói tranh tụng">
                  <span class="form-check-label">{{global.locale=='vi'?'Gói tranh tụng':'Gói tranh tụng aaa'}}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" value="Gói toàn diện">
                  <span class="form-check-label">{{global.locale=='vi'?'Gói toàn diện':'Gói toàn diện âa'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{global.locale=='vi'?'Diễn tả sơ bộ tình trạng tranh chấp của doanh nghiệp bạn':'Diễn tả sơ bộ tình trạng tranh chấp của doanh nghiệp bạn aaa'}}<sup>*</sup></label>
          <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
          {{global.locale=='vi'?'Tài liệu đính kèm (nếu có):':'Tài liệu đính kèm (nếu có): aaa'}}
          <button style="margin-bottom: 5px;color: #0f74a8;text-decoration: underline" class="btn" type="button" (click)="fileInput1.click()">
            <span style="color: #0f74a8" class="far fa-paperclip"></span>{{global.locale=='vi'?' Tải lên tại đây':' Tải lên tại đây aaa'}}
            <input #fileInput1 type="file" style="display:none;"/>
          </button>
          <ng-container >
            <span class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Gửi yêu cầu aaa'}}</button>
      </div>
    </div>
  </div>
</div>

<!--POP UP RA SOAT LOI-->

<div class="modal fade" id="dnt3nform-banggia-gqtc-tamngung-giaithe">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
        <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true" style="font-size: 26px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="2banggiarasoatloi" style="position: relative;">
          <img style="width: 14%;
    position: absolute;
    bottom: 0; left: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg2.svg">
          <img style="width: 14%;
    position: absolute;
    top: 0; right: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg1.svg">
          <div class="container-fluid sub-fluid" style="padding: 0 !important;">
            <div class="row  sub custom-tab profile-tab" id="tab-tldnm-V">

              <div class="col-md-6" style="margin-bottom: 30px; margin-top: 10px;">
                <div class="box shadow-lg">
                  <div class="block-one">
                    <div class="title-block center">
                      <h6>{{global.locale=='vi'?'GÓI TẠM NGƯNG':'GÓI TẠM NGƯNG aaa'}}</h6>
                    </div>

                    <div style="font-size: 10px; text-align: center">
                      <sup style="font-size: 12px; top: -9px">{{global.locale=='vi'?'Từ':'Từ aaa'}}</sup><b style="font-size: 26px">
                      2.500.000 </b>VND

                    </div>
                  </div>
                  <hr>
                  <div class="block-two center">
                    <p style="padding-top: 20px; min-height: 80px; font-size: 12px">
                      {{global.locale=='vi'?' Doanh nghiệp gặp khó khăn, tạm\n' +
                            'dừng hoạt động để tìm cách giải quyết.':' Doanh nghiệp gặp khó khăn, tạm\n' +
                            'dừng hoạt động để tìm cách giải quyết.'}}
                    </p>
                    <button class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">{{global.locale=='vi'?'Đăng ký tư vấn ngay':'Đăng ký tư vấn ngay aaa'}}
                    </button>

                  </div>


                </div>
              </div>
              <div class="col-md-6">
                <div class="box shadow-lg" style="border: 1px solid #9BD2ED; background-color: #F6FBFE">
                  <div class="block-one">
                    <img class="sticky" src="/assets/media/DKKD/cac-goi-phi/Asset 6.svg">
                    <div class="title-block center">
                      <h6>{{global.locale=='vi'?'GÓI GIẢI THỂ':'GÓI GIẢI THỂ aaa'}}</h6>
                    </div>

                    <div style="font-size: 10px; text-align: center">
                      <sup style="font-size: 12px; top: -9px">{{global.locale=='vi'?'Từ':'Từ aaa'}}</sup><b style="font-size: 26px">
                      9.900.000 </b>VND

                    </div>
                  </div>
                  <hr>
                  <div class="block-two center">
                    <p style="padding-top: 20px;
    min-height: 80px; font-size: 12px">
                      {{global.locale=='vi'?'Doanh nghiệp quyết định chấm dứt toàn bộ hoạt động kinh doanh.':'Doanh nghiệp quyết định chấm dứt toàn bộ hoạt động kinh doanh.'}}
                    </p>
                    <button class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">{{global.locale=='vi'?'Đăng ký tư vấn ngay':'Đăng ký tư vấn ngay aaa'}}
                    </button>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>