<section id="recognize" style="margin-bottom: 3rem;">
  <div class="container">
    <div class="row" style="margin: 3rem 0 5rem;">
      <div class="col-md-12">
        <h1 class="center" style="margin-bottom: 2rem;">{{global.locale=='vi'?' Nhận định đúng để thành công':' Nhận định đúng để thành công aaa'}}</h1>
        <div class="mission-txt">
          <p class="center">{{global.locale=='vi'?'Doanh nghiệp hoạt động trên 03 năm cần ra những quyết định mạnh mẽ, dứt khoát. Đây là thời điểm "vàng" để củng cố lại hệ thống pháp lý nhằm bước lên giai đoạn phát triển mới. Hay thậm chí, nên dứt khoát đóng cửa để cắt lỗ và chuyển đổi mô hình kinh doanh. Với kinh nghiệm làm việc với 1000+ doanh nghiệp, Asoka Law cung cấp cho bạn các gói dịch vụ hữu ích để vững bước trên con đường kinh doanh.':'Doanh nghiệp hoạt động trên 03 năm cần ra những quyết định mạnh mẽ, dứt khoát. Đây là thời điểm "vàng" để củng cố lại hệ thống pháp lý nhằm bước lên giai đoạn phát triển mới. Hay thậm chí, nên dứt khoát đóng cửa để cắt lỗ và chuyển đổi mô hình kinh doanh. Với kinh nghiệm làm việc với 1000+ doanh nghiệp, Asoka Law cung cấp cho bạn các gói dịch vụ hữu ích để vững bước trên con đường kinh doanh. aaa'}}</p>
        </div>
        <hr class="center" style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 10px">
      </div>
    </div>
    <div class="row" style="margin-bottom: 3rem;">
      <div class="col-md-6">
        <img src="/assets/media/DNT3N/Nhan-dinh-dung/1-ra-soat-va-loi.png" style="max-width: 100%;">
      </div>
      <div class="col-md-6">
        <div class="recognize-block">
          <img style="top: -30px; left: 85px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-xu-ly-va-loi.svg">
          <p class="alt-title">{{global.locale=='vi'?'Rà soát & vá lỗi':'Rà soát & vá lỗi aaa'}}</p>
          <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 25px">
          <div class="mission-txt">
            <p>{{global.locale=='vi'?'Là gói dịch vụ dành riêng cho doanh nghiệp đã hoạt động, muốn dành thời gian để rà soát lại hệ thống vận hành doanh nghiệp. Chúng tôi thực hiện rà soát và đưa ra Thư tư vấn cho doanh nghiệp tại 04 khía cạnh cốt lõi: pháp lý cho sản phẩm, dịch vụ - hệ thống hợp đồng - quản trị lao động và tuân thủ thuế. Kết quả là doanh nghiệp sẽ có nhận được phương án giải quyết, vá lỗi vận hành. Sức khỏe pháp lý được củng cố sẽ khiến doanh nghiệp phát triển vững mạnh.':'Là gói dịch vụ dành riêng cho doanh nghiệp đã hoạt động, muốn dành thời gian để rà soát lại hệ thống vận hành doanh nghiệp. Chúng tôi thực hiện rà soát và đưa ra Thư tư vấn cho doanh nghiệp tại 04 khía cạnh cốt lõi: pháp lý cho sản phẩm, dịch vụ - hệ thống hợp đồng - quản trị lao động và tuân thủ thuế. Kết quả là doanh nghiệp sẽ có nhận được phương án giải quyết, vá lỗi vận hành. Sức khỏe pháp lý được củng cố sẽ khiến doanh nghiệp phát triển vững mạnh. aaa'}}</p>
          </div>
          <button style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}
          </button>
          <p><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Giải pháp quản trị tinh gọn "4 trong 1" >>':'Giải pháp quản trị tinh gọn "4 trong 1" >> aaa'}}</a></p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 3rem;">
      <div class="col-md-6">
        <div class="recognize-block">
          <img style="top: -20px; left: 170px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-dai-dien-xu-ly-tranh-chap.svg">
          <p class="alt-title">{{global.locale=='vi'?'Đại diện giải quyết tranh chấp':'Đại diện giải quyết tranh chấp aaa'}}</p>
          <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px;margin-bottom: 25px">
          <div class="mission-txt">
            <p>{{global.locale=='vi'?'Là dịch vụ pháp lý áp dụng cho các doanh nghiệp đang phát sinh mâu thuẫn, cần luật sư tham gia nhằm giải quyết. Mâu thuẫn ở đây bao gồm các vấn đề nội bộ trong doanh nghiệp hoặc ngoài doanh nghiệp, như: hợp đồng, đòi nợ, bồi thường, sở hữu trí tuệ,...':'Là dịch vụ pháp lý áp dụng cho các doanh nghiệp đang phát sinh mâu thuẫn, cần luật sư tham gia nhằm giải quyết. Mâu thuẫn ở đây bao gồm các vấn đề nội bộ trong doanh nghiệp hoặc ngoài doanh nghiệp, như: hợp đồng, đòi nợ, bồi thường, sở hữu trí tuệ,... aaa'}}</p>
          </div>
          <button style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}
          </button>
          <p><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Xem danh sách tất cả luật sư >>':'Xem danh sách tất cả luật sư >> aaa'}}</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/assets/media/DNT3N/Nhan-dinh-dung/2-dai-dien-xu-ly-tranh-chap.png" style="max-width: 100%;">
      </div>
    </div>
  </div>
  <div class="recognize-block-bg" style="margin-bottom: 3rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img style="max-width: 100%;"src="/assets/media/DNT3N/Nhan-dinh-dung/3-tam-ngung-giai-the.png">
        </div>
        <div class="col-md-6">
          <div class="recognize-block">
            <p class="pc m-0"><img style="top: -30px; left: 315px;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-tam-ngung-giai-the.svg"></p>
            <p class="sp m-0"><img style="top: -30px; right: 0;" src="/assets/media/DNT3N/Nhan-dinh-dung/bg-tam-ngung-giai-the.svg"></p>
            <p class="alt-title">{{global.locale=='vi'?'Tạm ngừng hoạt động & Giải thể doanh nghiệp':'Tạm ngừng hoạt động & Giải thể doanh nghiệp aaa'}}</p>
            <hr style="width: 80px; border: 1.5px solid #7ec8e9; margin-top: 10px; margin-bottom: 25px">
            <div class="mission-txt">
              <p>{{global.locale=='vi'?'Sau 03 năm hoạt động nhưng kinh doanh vẫn không hiệu quả, doanh nghiệp cần thực hiện các hành động dứt khoát để chấm dứt thua lỗ. Tùy vào tình trạng có thể tái cấu trúc, tìm hướng phát triển mới hay không mà doanh nghiệp có thể chọn tạm ngừng (tối đa 02 năm liên tiếp) hoặc giải thể (chấm dứt hoạt động).':'Sau 03 năm hoạt động nhưng kinh doanh vẫn không hiệu quả, doanh nghiệp cần thực hiện các hành động dứt khoát để chấm dứt thua lỗ. Tùy vào tình trạng có thể tái cấu trúc, tìm hướng phát triển mới hay không mà doanh nghiệp có thể chọn tạm ngừng (tối đa 02 năm liên tiếp) hoặc giải thể (chấm dứt hoạt động). aaa'}}</p>
            </div>
            <button style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
