<section id="asoka-description" class="sub" style="background-image: url('/assets/media/landingpage/effect/background_2.png');background-repeat: no-repeat;">
    <div class="container center">
        <div class="row">
            <div class="background-icon">
                <img src="/assets/media/landingpage/feedback/quote.svg">
            </div>
            <div class="col-md-8 flex-center-vertically">
                <div class="slide-asoka-des">
                    <div *ngFor="let item of data" class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>{{global.locale == 'vi' ? item.description : item.en_description}}</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">{{item.name}}</p>
                                <p class="text-color">{{global.locale == 'vi' ? item.title : item.en_title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-user" style="background-color:#ffffff00; ">
                    <img src="/assets/media/TVLS/asoka-description/Vector Smart Object.png">
                </div>
            </div>
        </div>
    </div>
</section>
