<h4>Được xem nhiều nhất</h4>
<ul *ngIf="data" class="news-mostview">
    <li *ngFor="let item of data">
        <p class="news-mostview-img">
            <img src="{{item.image}}">
        </p>
        <div class="news-mostview-des">
            <p class="news-mostview-txt">
                <a routerLink="/tin-tuc/{{item.slug}}">
                    {{global.locale == 'vi' ? item.title : item.en_title}}
                </a>
            </p>
            <p style="cursor: pointer" class="news-mostview-label" routerLink="/news-category/{{item.category_slug}}">
                {{global.locale == 'vi' ? item.category_name : item.en_category_name}}
                <span>{{item.views}}</span>
            </p>
        </div>
    </li>
</ul>
