<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="margin-top: 70px; ">
        <h1 style="        line-height: 60px;
    font-weight: 500;
    font-family:'Montserrat';
    font-size: 45px;
    color: black;">Ngăn chặn kịp thời lỗ hổng
          kinh doanh</h1>
        <p style="margin-top: 40px;
    font-weight: 200;
    line-height: 30px;
   "><b>"Lỗ hổng nhỏ có thể làm đắm con thuyền lớn"</b>. Doanh nghiệp trên 03 năm thường
          xuất hiện các lỗ hổng pháp lý. Asoka Law giúp bạn:</p>
        <div>
          <div class="content-icon" style="margin-top: 20px">
            <img src="/assets/media/DNT3N/Banner/Asset 1.svg">
            <p>Kịp thời củng cố hệ thống vận hành</p>
          </div>
          <div class="content-icon">
            <img src="/assets/media/DNT3N/Banner/Asset 1.svg">
            <p>Cắt lỗ hoặc chuyển hướng kinh doanh nhanh chóng</p>
          </div>
          <button (click)="showForm()" style="padding: 10px 40px; margin-top: 60px;" class="btn btn-outline-warning ">Tư vấn cho tôi</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dnt3n-recognize></app-dnt3n-recognize>
<app-dnt3n-reason></app-dnt3n-reason>
<app-dnt3n-feedback></app-dnt3n-feedback>
<app-dnt3n-support></app-dnt3n-support>
<app-dnt3n-question></app-dnt3n-question>
<section class="sub bg-image center">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-8" style="text-align: left;">Chúng tôi tự hào là <b>cộng sự tận tâm cho 100+ nhà đầu
        tư</b><br>
        nước ngoài kinh doanh thành công tại Việt Nam.
      </div>
      <div class="col-md-4">
        <div style="width: fit-content; float:right ; ">
          <button (click)="showForm()" style="   padding: 8px 15px; font-size: 16px;" class="btn btn-warning sub-button shadow">Yêu cầu tư vấn</button>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="modal fade" id="dnt3nform1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Họ tên *">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">Bắt buộc nhập họ tên.</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="Số điện thoại *"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">Bắt buộc nhập số điện thoại hợp lệ.</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">Bắt buộc nhập email hợp lệ.</small></i>
                </div>
                <div class="form-group">
                    <label>Dịch vụ pháp lý yêu cầu tư vấn*</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s1)" [checked]="isSelectedService(s1)" class="form-check-input" name="service" type="checkbox" id="service1" [value]="s1">
                                    <label class="form-check-label font-weight-normal" for="service1">{{s1}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s2)" [checked]="isSelectedService(s2)" class="form-check-input" name="service" type="checkbox" id="service2" [value]="s3">
                                    <label class="form-check-label font-weight-normal" for="service2">{{s2}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s3)" [checked]="isSelectedService(s3)" class="form-check-input" name="service" type="checkbox" id="service3" [value]="s3">
                                    <label class="form-check-label font-weight-normal" for="service3">{{s3}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s4)" [checked]="isSelectedService(s4)" class="form-check-input" name="service" type="checkbox" id="service4" [value]="s4">
                                    <label class="form-check-label font-weight-normal" for="service4">{{s4}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="3" placeholder="Nhập câu hỏi mô tả tình trạng công ty bạn tại đây"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">Gửi yêu cầu</button>
            </div>
        </div>
    </div>
</div>
