<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="margin-top: 70px; ">
        <h1 style="        line-height: 60px;
    font-weight: 500;
    font-family:'Montserrat';
    font-size: 45px;
    color: black;">Ngăn chặn kịp thời lỗ hổng
          kinh doanh</h1>
        <p style="margin-top: 40px;
    font-weight: 200;
    line-height: 30px;
   "><b>"Lỗ hổng nhỏ có thể làm đắm con thuyền lớn"</b>. Doanh nghiệp trên 03 năm thường
          xuất hiện các lỗ hổng pháp lý. Asoka Law giúp bạn:</p>
        <div>
          <div class="content-icon" style="margin-top: 20px">
            <img src="/assets/media/DNT3N/Banner/Asset 1.svg">
            <p>Kịp thời củng cố hệ thống vận hành</p>
          </div>
          <div class="content-icon">
            <img src="/assets/media/DNT3N/Banner/Asset 1.svg">
            <p>Cắt lỗ hoặc chuyển hướng kinh doanh nhanh chóng</p>
          </div>
          <button style="padding: 10px 40px; margin-top: 60px;" class="btn btn-outline-warning ">Tư vấn cho tôi
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dnt3n-recognize></app-dnt3n-recognize>
<app-dnt3n-reason></app-dnt3n-reason>
<app-dnt3n-feedback></app-dnt3n-feedback>
<app-dnt3n-support></app-dnt3n-support>
<app-dnt3n-question></app-dnt3n-question>
<section class="sub bg-image center">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-8" style="text-align: left;">Chúng tôi tự hào là <b>cộng sự tận tâm cho 100+ nhà đầu
        tư</b><br>
        nước ngoài kinh doanh thành công tại Việt Nam.
      </div>
      <div class="col-md-4">
        <div style="width: fit-content; float:right ; ">
          <button style="   padding: 8px 15px;
    font-size: 16px;" class="btn btn-warning sub-button shadow">Yêu cầu tư vấn
          </button>


        </div>
      </div>

    </div>
  </div>
</section>
