<section id="price-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Asoka Law được tin dùng bởi +3500 doanh nghiệp</h1>
        <br/>
        <p class="p-price-sub-title">Từ công ty khởi nghiệp cho đến công ty hoạt động trên 03 năm đều dễ dàng
          tìm thấy các dịch vụ pháp lý thiết yếu tại Asoka Law. Đóng gói chặt chẽ theo độ tuổi doanh
          nghiệp/lĩnh vực kinh doanh, tư vấn nhiệt tình, thực hiện tận tâm. Asoka Law đã hỗ trợ khách hàng
          kinh doanh thành công từ 2015 cho đến nay.</p>
        <br/>
      </div>
    </div>
    <div class="row text-center d-none d-md-flex">
      <div class="col-md-4">
        <div class="price-list-item shadow-lg">
          <img src="/assets/media/landingpage/price/1.svg">
          <h2>Khởi tạo<br/>doanh nghiệp</h2>
          <div class="price-list-price">
            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
          </div>
          <p class="sub-title">Dịch vụ phổ biến</p>
          <div class="list-rule">
            <p><i class="fa fa-caret-right"></i> Tư vấn với Luật sư</p>
            <p><i class="fa fa-caret-right"></i> Đăng ký kinh doanh</p>
            <p><i class="fa fa-caret-right"></i> Đăng ký đầu tư</p>
          </div>
          <div class="center">
            <button class="btn btn-warning padding price-button" (click)="submit()" type="button">Đăng ký ngay</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-list-item shadow-lg">
          <img src="/assets/media/landingpage/price/3.svg">
          <h2>Doanh nghiệp<br/>01 đến 03 năm</h2>
          <div class="price-list-price">
            <p><sup>Từ</sup>1.990.000<sup>VNĐ</sup></p>
          </div>
          <p class="sub-title">Dịch vụ phổ biến</p>
          <div class="list-rule">
            <p><i class="fa fa-caret-right"></i> Quản trị 4 trong 1</p>
            <p><i class="fa fa-caret-right"></i> Ngành nghề điều kiện</p>
            <p><i class="fa fa-caret-right"></i> Đăng ký nhãn hiệu</p>

          </div>
          <div class="center">
            <button class="btn btn-warning padding price-button" (click)="submit()" type="button">Đăng ký ngay</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-list-item shadow-lg">
          <img src="/assets/media/landingpage/price/4.svg">
          <h2>Doanh nghiệp<br/>trên 03 năm</h2>
          <div class="price-list-price">
            <p><sup>Từ</sup>2.990.000<sup>VNĐ</sup></p>
          </div>
          <p class="sub-title">Dịch vụ phổ biến</p>
          <div class="list-rule">
            <p><i class="fa fa-caret-right"></i> Giải quyết tranh chấp</p>
            <p><i class="fa fa-caret-right"></i> Pháp lý tổ chức sự kiện</p>
            <p><i class="fa fa-caret-right"></i> Tạm ngưng - giải thể</p>
          </div>
          <div class="center">
            <button class="btn btn-warning padding price-button" (click)="submit()" type="button">Đăng ký ngay</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center d-block d-md-none">
      <div class="col-sm-12">
        <div class="price-list-item-mobile shadow-lg">
          <img src="/assets/media/landingpage/price/1.svg">
          <h2>Khởi tạo<br/>doanh nghiệp</h2>
          <div class="price-list-price">
            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
          </div>
          <p class="sub-title">Dịch vụ phổ biến</p>
          <div class="list-rule">
            <p><i class="fa fa-caret-right"></i> Tư vấn với Luật sư</p>
            <p><i class="fa fa-caret-right"></i> Đăng ký kinh doanh</p>
            <p><i class="fa fa-caret-right"></i> Đăng ký đầu tư</p>
          </div>
          <div class="center">
            <button class="btn btn-warning padding price-button" (click)="submit()" type="button">Đăng ký ngay</button>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="price-list-item-mobile shadow-lg">
          <img src="/assets/media/landingpage/price/3.svg">
          <h2>Doanh nghiệp<br/>01 đến 03 năm</h2>
          <div class="price-list-price">
            <p><sup>Từ</sup>1.990.000<sup>VNĐ</sup></p>
          </div>
          <p class="sub-title">Dịch vụ phổ biến</p>
          <div class="list-rule">
            <p><i class="fa fa-caret-right"></i> Quản trị 4 trong 1</p>
            <p><i class="fa fa-caret-right"></i> Ngành nghề điều kiện</p>
            <p><i class="fa fa-caret-right"></i> Đăng ký nhãn hiệu</p>

          </div>
          <div class="center">
            <button class="btn btn-warning padding price-button" (click)="submit()" type="button">Đăng ký ngay</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="price-list-item-mobile shadow-lg">
          <img src="/assets/media/landingpage/price/4.svg">
          <h2>Doanh nghiệp<br/>trên 03 năm</h2>
          <div class="price-list-price">
            <p><sup>Từ</sup>2.990.000<sup>VNĐ</sup></p>
          </div>
          <p class="sub-title">Dịch vụ phổ biến</p>
          <div class="list-rule">
            <p><i class="fa fa-caret-right"></i> Giải quyết tranh chấp</p>
            <p><i class="fa fa-caret-right"></i> Pháp lý tổ chức sự kiện</p>
            <p><i class="fa fa-caret-right"></i> Tạm ngưng - giải thể</p>
          </div>
          <div class="center">
            <button class="btn btn-warning padding price-button" (click)="submit()" type="button">Đăng ký ngay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
