<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="margin-top: 100px; ">
                <h1 style="line-height: 60px; font-weight: 500; font-family:'Montserrat'; font-size: 45px; color: black;">
                    Giải quyết tranh chấp hiệu quả trước khi bùng phát
                </h1>
                <p style="margin-top: 40px; font-size: 16px;
    font-weight: 200;
    line-height: 30px;
   ">12+ năm kinh nghiệm, 1000+ phiên giải quyết tranh chấp. Đội ngũ luật sư Asoka Law
                    đạt tỷ lệ kỳ vọng của khách hàng đến 80%, trong việc ngăn chặn mâu thuẫn bùng
                    phát và bảo vệ lợi ích hợp pháp của doanh nghiệp.</p>
                <div>
                    <a (click)="gotoTo('dnls12nkn')" style="padding: 10px 40px; margin-top: 60px;border-width: 2px;" class="btn btn-outline-warning">Xem danh
                        sách luật sư
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-gqtc-recognize></app-gqtc-recognize>
<app-gqtc-team></app-gqtc-team>
<app-gqtc-three-rule></app-gqtc-three-rule>
<app-gqtc-suitable (changepackage)="selectPackage($event)"></app-gqtc-suitable>
<app-gqtc-feedback></app-gqtc-feedback>
<app-gqtc-reason></app-gqtc-reason>
<app-gqtc-contact></app-gqtc-contact>
<div class="modal fade" id="gqtcform1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Họ tên *">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">Bắt buộc nhập họ tên.</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="Số điện thoại *"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">Bắt buộc nhập số điện thoại hợp lệ.</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">Bắt buộc nhập email hợp lệ.</small></i>
                </div>
                <div class="form-group">
                    <label>Chọn gói dịch vụ phù hợp với nhu cầu của bạn</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [checked]="package=='Gói thương lượng'" [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói thương lượng">
                                    <span class="form-check-label">Gói thương lượng</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [checked]="package=='Gói tranh tụng'" [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói tranh tụng">
                                    <span class="form-check-label">Gói tranh tụng</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [checked]="package=='Gói toàn diện'" [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói toàn diện">
                                    <span class="form-check-label">Gói toàn diện</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Diễn tả sơ bộ tình trạng tranh chấp của doanh nghiệp bạn<sup>*</sup></label>
                    <textarea class="form-control" name="description" [(ngModel)]="description"></textarea>
                </div>
                <div class="form-group">
                    Tài liệu đính kèm (nếu có):
                    <button *ngIf="!attachment" style="margin-bottom: 5px;color: #0f74a8;text-decoration: underline" class="btn" type="button" (click)="fileInput1.click()">
                        <span style="color: #0f74a8" class="far fa-paperclip"></span> Tải lên tại đây
                        <input #fileInput1 type="file" (change)="onSelectFile($event)" style="display:none;"/>
                    </button>
                    <ng-container *ngIf="attachment">
                        {{attachmentName}}
                        <span (click)="onRemoveSelectedFile()" class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">Gửi yêu cầu</button>
            </div>
        </div>
    </div>
</div>
