<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="margin-top: 100px; ">
                <h1 style="margin-top: -10% !important;line-height: 60px; font-weight: 500; font-family:'Montserrat'; font-size: 45px; color: black;">
                    {{global.locale=='vi'?'Giải quyết tranh chấp hiệu quả trước khi bùng phát':'Effectively handling disputes before arising'}}
                </h1>
                <p style="margin-top: 40px; font-size: 16px;
    font-weight: 200;
    line-height: 30px;
   ">{{global.locale=='vi'?'12+ năm kinh nghiệm, 1000+ phiên giải quyết tranh chấp. Đội ngũ luật sư Asoka Law đạt tỷ lệ kỳ vọng của khách hàng đến 80%, trong việc ngăn chặn mâu thuẫn bùng phát và bảo vệ lợi ích hợp pháp của doanh nghiệp.':'With over 12 year experience, 1000+ dispute resolution sessions, Asoka\'s lawyers has achieved approximately 80% of clients\' expectations in successfully preventing conflicts '}}</p>
                <div>
                    <a (click)="gotoTo('dsls')" style="color:#FFC107;padding: 0.75rem 3rem ; margin-top: 60px;border-width: 2px;" class="btn btn-outline-warning nut-xdsls-gqtc">{{global.locale=='vi'?'Xem danh sách luật sư':'Xem danh sách luật sư aaa'}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-gqtc-recognize></app-gqtc-recognize>
<app-global-lawyer (showregistrationform)="showForm()">
    <h1 class="sub-content-no-fluid" style="padding-top: 45px!important;" id="dsls">
        {{global.locale=='vi'?'Đội ngũ Luật sư 12+ năm kinh nghiệm':'Đội ngũ Luật sư 12+ năm kinh nghiệm aaa'}}
    </h1>
    <p class="center sub-content-no-fluid" style="padding-bottom: 45px!important;">
        {{global.locale=='vi'?'Các luật sư của Asoka Law đã tham gia +1000 phiên giải quyết tranh chấp cho doanh nghiệp. Từ các vụ việc phổ biến như: đòi nợ, yêu cầu bồi thường thiệt hại hợp đồng, cho đến các vụ việc mang tính đặc thù như: xử lý vi phạm về hàng hải, thế chấp, bất động sản, bảo hiểm... Mạng lưới luật sư đại diện giải quyết tranh chấp của chúng tôi hiện có ở: Tp. Hồ Chí Minh, Hà Nội, Đà Nẵng, Vũng Tàu, Nha Trang.':'Các luật sư của Asoka Law đã tham gia +1000 phiên giải quyết tranh chấp cho doanh nghiệp. Từ các vụ việc phổ biến như: đòi nợ, yêu cầu bồi thường thiệt hại hợp đồng, cho đến các vụ việc mang tính đặc thù như: xử lý vi phạm về hàng hải, thế chấp, bất động sản, bảo hiểm... Mạng lưới luật sư đại diện giải quyết tranh chấp của chúng tôi hiện có ở: Tp. Hồ Chí Minh, Hà Nội, Đà Nẵng, Vũng Tàu, Nha Trang. aaa'}}
    </p>
</app-global-lawyer>
<app-gqtc-three-rule></app-gqtc-three-rule>
<app-gqtc-suitable (changepackage)="selectPackage($event)"></app-gqtc-suitable>
<app-gqtc-feedback></app-gqtc-feedback>
<app-gqtc-reason></app-gqtc-reason>
<app-gqtc-contact></app-gqtc-contact>
<div class="modal fade" id="gqtcform1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Name *'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Bắt buộc nhập họ tên. aaa'}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Telephone Number *'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Bắt buộc nhập số điện thoại hợp lệ. aaa'}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="{{global.locale=='vi'?'Email *':'Email *'}}"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Bắt buộc nhập email hợp lệ. aaa'}}</small></i>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Chọn gói dịch vụ phù hợp với nhu cầu của bạn':'Chọn gói dịch vụ phù hợp với nhu cầu của bạn aaa'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [checked]="package=='Gói thương lượng'" [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói thương lượng">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói thương lượng':'Negotiation Package'}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [checked]="package=='Gói tranh tụng'" [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói tranh tụng">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói tranh tụng':'Litigation Package '}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [checked]="package=='Gói toàn diện'" [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói toàn diện">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói toàn diện':'Comprehensive Package'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">{{global.locale=='vi'?'Diễn tả sơ bộ tình trạng tranh chấp của doanh nghiệp bạn':'Diễn tả sơ bộ tình trạng tranh chấp của doanh nghiệp bạn aaa'}}<sup>*</sup></label>
                    <textarea class="form-control" name="description" [(ngModel)]="description"></textarea>
                </div>
                <div class="form-group">
                    {{global.locale=='vi'?'Tài liệu đính kèm (nếu có):':'Attached documents (if any):'}}
                    <button *ngIf="!attachment" style="margin-bottom: 5px;color: #0f74a8;text-decoration: underline" class="btn" type="button" (click)="fileInput1.click()">
                        <span style="color: #0f74a8" class="far fa-paperclip"></span>{{global.locale=='vi'?' Tải lên tại đây':' Upload here'}}
                        <input #fileInput1 type="file" (change)="onSelectFile($event)" style="display:none;"/>
                    </button>
                    <ng-container *ngIf="attachment">
                        {{attachmentName}}
                        <span (click)="onRemoveSelectedFile()" class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Send require'}}</button>
            </div>
        </div>
    </div>
</div>
