<section id="effective2" class="sub">
    <div class="effectiveImg">
        <img class="d-none d-md-block" src="/assets/media/DKNH/effective-content/Asset 25.svg" />
    </div>
    <div class="container-fluid center">
        <div class="row">
            <div class="col-12">
                <h1 class="center">{{global.locale=='vi'?'Tại sao nên ủy quyền đăng ký nhãn hiệu cho Asoka Law?':'Tại sao nên ủy quyền đăng ký nhãn hiệu cho Asoka Law? aaa'}}<br></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <img style="cursor: pointer" data-target="#bb42zrvKOWQ" data-toggle="modal" class="Sub" src="/assets/media/DKNH/effective-content/Asset 24.png">
            </div>
            <div style="padding-top: 1%;" class="col-md-5 flex-center-vertically SubTitle titlerecord">
                <div class="content-record float-right">
                    <div class="float-left ">
                        <img src="/assets/media/DKNH/effective-content/Asset 23.svg">
                    </div>
                    <p style="margin-left: 10% !important;">{{global.locale=='vi'?'Chúng tôi miễn phí kiểm tra nhãn hiệu của bạn đã bị trùng/gây nhầm lẫn với các bên khác hay chưa, độ chính xác lên đến 90%.':'Chúng tôi miễn phí kiểm tra nhãn hiệu của bạn đã bị trùng/gây nhầm lẫn với các bên khác hay chưa, độ chính xác lên đến 90%. aaa'}}</p>
                </div>
                <div class="content-record float-right">
                    <div class="float-left">
                        <img src="/assets/media/DKNH/effective-content/Asset 23.svg">
                    </div>
                    <p style="margin-left: 10% !important;">{{global.locale=='vi'?'Quy trình đặc biệt thần tốc:':'Quy trình đặc biệt thần tốc: aaa'}}<b>{{global.locale=='vi'?'"24 giờ & 3 ngày"':'"24 giờ & 3 ngày" aaa'}}</b>{{global.locale=='vi'?'chỉ có tại Asoka Law: xử lý và nộp đơn trong vòng 24 giờ; gửi trả hồ sơ trong vòng 03 ngày. ':'chỉ có tại Asoka Law: xử lý và nộp đơn trong vòng 24 giờ; gửi trả hồ sơ trong vòng 03 ngày.  aaa'}}</p>
                </div>

                <div class="content-record float-right">
                    <div class="float-left">
                        <img src="/assets/media/DKNH/effective-content/Asset 23.svg">
                    </div>
                    <p style="margin-left: 10% !important;">{{global.locale=='vi'?'Asoka Law là hãng Luật chính danh, luật sư 12 năm kinh nghiệm, hỗ trợ đại diện giải quyết tranh chấp, khiếu nại, khiếu kiện trong quá trình nộp đơn.':'Asoka Law là hãng Luật chính danh, luật sư 12 năm kinh nghiệm, hỗ trợ đại diện giải quyết tranh chấp, khiếu nại, khiếu kiện trong quá trình nộp đơn. aaa'}}</p>

                </div>
                <div class="content-record float-right">
                    <div class="float-left">
                        <img src="/assets/media/DKNH/effective-content/Asset 23.svg">
                    </div>
                    <p style="margin-left: 10% !important;">{{global.locale=='vi'?'Chúng tôi theo dõi sát sao và cập nhật kịp thời hồ sơ trong suốt 1 - 1,5 năm xét duyệt, bạn không cần nhớ các bước xử lý của Cục Sở Hữu Trí Tuệ.':'Chúng tôi theo dõi sát sao và cập nhật kịp thời hồ sơ trong suốt 1 - 1,5 năm xét duyệt, bạn không cần nhớ các bước xử lý của Cục Sở Hữu Trí Tuệ. aaa'}}</p>
                </div>

                <div class="content-record">
                    <div class="float-left">
                        <img src="/assets/media/DKNH/effective-content/Asset 23.svg">
                    </div>
                    <p style="margin-left: 10% !important;">{{global.locale=='vi'?'Chi phí ủy quyền cho Asoka Law tương đối thấp so với thị trường, chất lượng phục vụ được 98% khách hàng đã sử dụng dịch vụ đánh giá hài lòng.':'Chi phí ủy quyền cho Asoka Law tương đối thấp so với thị trường, chất lượng phục vụ được 98% khách hàng đã sử dụng dịch vụ đánh giá hài lòng. aaa'}}</p>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="sub">
            <button onclick="$('#dknhform1').modal('show')" class="btn btn-warning color-white" type="button">{{global.locale=='vi'?'TƯ VẤN BẢO HỘ NHÃN HIỆU':'TƯ VẤN BẢO HỘ NHÃN HIỆU aaa'}}</button>
        </div>
        <a href="tel:0961914328">
            <div class="call row">
                <p><img src="/assets/media/PLTX/effect/Asset%2010.svg">{{global.locale=='vi'?'Tư vấn miễn phí: 096 191 4328':'Tư vấn miễn phí: 096 191 4328 aaa'}}</p>
            </div>
        </a>
    </div>
</section>
<app-modal-video dataid="bb42zrvKOWQ"></app-modal-video>
