<section id="slide-partner" class="sub">
  <div class="container text-center">
    <div class="list-slide-partner">
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/1.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/2.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/3.jpg"></div>
<!--      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/4.jpg"></div>-->
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/5.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/6.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/7.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/8.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/9.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/10.jpg"></div>
      <div class="slide-item"><img class="img-partner" src="/assets/media/partner/12.jpg"></div>
    </div>
  </div>
</section>
