<section id="introduce" class="sub">
    <div class="effect-img">
    </div>
    <div class="container">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Đến 80% doanh nghiệp chưa bảo vệ nhãn hiệu ':'Up to 80% of businesses not protecting their trademarks '}}<br>{{global.locale=='vi'?'và có nguy cơ bị xâm phạm':'and at risk of infringement'}}<br></h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-record">
                        <div class="float-left titleRecord">
                            <img src="/assets/media/DKNH/Form/Asset 5.svg">
                        </div>
                        <p class="Record">{{global.locale=='vi'?'Nhãn hiệu là dấu hiệu dùng để phân biệt hàng hoá, dịch vụ của các tổ chức, cá nhân khác nhau, thể hiện dưới dạng chữ cái, từ ngữ, hình ảnh, hình vẽ hoặc sự kết hợp của các yếu tố đó được thể hiện bằng một hoặc nhiều màu sắc. ':'Trademarks are signs used to distinguish goods and services of different organizations and individuals. They can be words, images or words combined with images expressed in one or more colors. '}}</p>
                    </div>
                    <div class="content-record">
                        <div class="float-left titleRecord">
                            <img src="/assets/media/DKNH/Form/Asset 5.svg">
                        </div>
                        <p class="Record">{{global.locale=='vi'?'Đăng ký nhãn hiệu là thủ tục dành cho tổ chức, cá nhân tiến hành hoạt\n' +
                            '                            động thương mại\n' +
                            '                            hợp pháp xác lập\n' +
                            '                            quyền sở hữu đối với nhãn hiệu dùng cho hàng hoá do mình sản xuất hoặc dịch vụ do\n' +
                            '                            mình cung cấp.':'Trademark registration is a procedure for organizations and individuals conducting lawful commercial activities to establish ownership over trademarks used for goods they produce or services they provide. '}}</p>
                    </div>
                    <div class="content-record">
                        <div class="float-left titleRecord">
                            <img src="/assets/media/DKNH/Form/Asset 5.svg">
                        </div>
                        <p class="Record">{{global.locale=='vi'?'Đăng ký nhãn hiệu nhằm bảo vệ quyền và lợi ích hợp pháp cho các chủ sở\n' +
                            '                            hữu nhãn hiệu\n' +
                            '                            khi tiến hành\n' +
                            '                            kinh doanh, tránh tình trạng bị các đối thủ "ăn cắp", "làm nhái", "làm giả", cạnh\n' +
                            '                            tranh không lành mạnh. Đây là\n' +
                            '                            thủ tục quan trọng, không thể thiếu đối với các tổ chức, cá nhân khi tiến hành kinh\n' +
                            '                            doanh.':'Trademark registration aims to protect the legitimate rights and interests for trademark owners when conducting business, avoiding situations of "stealing", "copying", and "counterfeiting" by competitors, or unhealthy competitions. This is an important procedure, indispensable for individuals and organizations when doing business. '}}</p>
                    </div>
                    <p class="Record" style="color: grey;">{{global.locale=='vi'?' "Đăng ký nhãn hiệu" (*) còn được gọi là: "đăng ký thương hiệu", "bảo hộ nhãn hiệu",\n' +
                        '                        "đăng ký độc quyền nhãn\n' +
                        '                        hiệu", "đăng ký độc quyền thương hiệu", "độc quyền logo",...':'Trademark registration" (*) is also known as: "logo registration", "trademark protection", "exclusive logo registration", "exclusive trademark registration", "exclusive logo",... '}}

                    </p>
                    <div class="infoSeeAll" style="margin-bottom: 20px;">
                        <a style="text-decoration: underline">{{global.locale=='vi'?'Tìm hiểu thêm về đăng ký nhãn hiệu >> ':'Find out more about Trademark registration >> '}}</a>
                    </div>
                </div>
                <div class="col-md-6 introduceRight" id="fix-introduceRight-V" style="padding-left: 90px;">
                    <img id="img-background" src="/assets/media/DKNH/Form/Asset 3.svg" class="imgForm d-none d-md-block">
                    <form class="shadow backgrFormound" enctype="multipart/form-data" id="fix-form-V" style="height:{{formHeight}}px">
                        <h2 class="text-center" style="padding-top:0;padding-bottom: 1rem">{{global.locale=='vi'?'TRA CỨU LOGO CỦA BẠN':'LOOKUP YOUR LOGO'}}</h2>
                        <div class="form-group">
                            <input autocomplete="off" (keyup)="n=true" [class.is-invalid]="!form.fieldValid(name)&&n" [class.is-valid]="form.fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ và tên *':'Full name *'}}">
                            <i *ngIf="!form.fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name.'}}</small></i>
                        </div>
                        <div class="form-group">
                            <input autocomplete="off" (keyup)="p=true" [class.is-invalid]="!form.fieldValid(phone,'phone')&&p" [class.is-valid]="form.fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Phone number *'}}"/>
                            <i *ngIf="!form.fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number.'}}</small></i>
                        </div>
                        <div class="form-group">
                            <input autocomplete="off" (keyup)="e=true" [class.is-invalid]="!form.fieldValid(email,'email')&&e" [class.is-valid]="form.fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="{{global.locale=='vi'?'Email *':'Email *'}}"/>
                            <i *ngIf="!form.fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address.'}}</small></i>
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="description" name="description" class="form-control" rows="3"
                                      style="resize: none;"
                                      placeholder="{{global.locale=='vi'?'Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing':'Trademark name - business lines Ex: Flow Media - Marketing solutions '}}"></textarea>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <app-form-field-upload label="{{global.locale=='vi'?'Logo đính kèm 1':'Attached Logo 1'}} " type="image" (data)="this.logo1=$event;changeFormHeight()"></app-form-field-upload>
                            </div>
                            <div class="form-group col-4">
                                <app-form-field-upload label="{{global.locale=='vi'?'Logo đính kèm 2':'Attached Logo 2'}} " type="image" (data)="this.logo2=$event;changeFormHeight()"></app-form-field-upload>
                            </div>
                            <div class="form-group col-4">
                                <app-form-field-upload label="{{global.locale=='vi'?'Logo đính kèm 3':'Attached Logo 3'}} " type="image" (data)="this.logo3=$event;changeFormHeight()"></app-form-field-upload>
                            </div>
                        </div>
                        <div class="flex-center-hor">
                            <button (click)="submit()" type="button" class="btn btn-warning" style="margin-bottom: 20px !important; margin-top: 20px !important;">{{global.locale=='vi'?'YÊU CẦU TRA CỨU NHANH':'REQUEST A QUICK SEARCH'}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
