<section id="introduce" class="sub">
  <div class="effect-img">
  </div>
  <div class="container">
    <div class="row title padding-record-title">
      <h1>Đến 80% doanh nghiệp chưa bảo vệ nhãn hiệu <br>và có nguy cơ bị xâm phạm<br></h1>
    </div>
    <div class="effective-content">
      <div class="row">
        <div class="col-md-6">
          <div class="content-record">
            <div class="desRecord float-right">
              <div class="float-left titleRecord">
                <img src="/assets/media/DKNH/Form/Asset 5.svg">
              </div>
              <p class="Record">Nhãn hiệu là dấu hiệu dùng để phân biệt hàng hoá, dịch vụ của các tổ
                chức, cá nhân
                khác nhau, thể hiện
                dưới dạng chữ cái, từ ngữ, hình ảnh, hình vẽ hoặc sự kết hợp của các yếu tố đó được
                thể hiện bằng một hoặc
                nhiều màu sắc.</p>
            </div>
          </div>
          <div class="content-record">
            <div class="desRecord float-right">
              <div class="float-left titleRecord">
                <img src="/assets/media/DKNH/Form/Asset 5.svg">
              </div>
              <p class="Record">Đăng ký nhãn hiệu là thủ tục dành cho tổ chức, cá nhân tiến hành hoạt
                động thương mại
                hợp pháp xác lập
                quyền sở hữu đối với nhãn hiệu dùng cho hàng hoá do mình sản xuất hoặc dịch vụ do
                mình cung cấp.</p>
            </div>
          </div>
          <div class="content-record">
            <div class="desRecord float-right">
              <div class="float-left titleRecord">
                <img src="/assets/media/DKNH/Form/Asset 5.svg">
              </div>
              <p class="Record">Đăng ký nhãn hiệu nhằm bảo vệ quyền và lợi ích hợp pháp cho các chủ sở
                hữu nhãn hiệu
                khi tiến hành
                kinh doanh, tránh tình trạng bị các đối thủ "ăn cắp", "làm nhái", "làm giả", cạnh
                tranh không lành mạnh. Đây là
                thủ tục quan trọng, không thể thiếu đối với các tổ chức, cá nhân khi tiến hành kinh
                doanh.</p>
            </div>
          </div>
          <div class="desRecord float-right">
            <p class="Record" style="color: grey;">
              "Đăng ký nhãn hiệu" (*) còn được gọi là: "đăng ký thương hiệu", "bảo hộ nhãn hiệu",
              "đăng ký độc quyền nhãn
              hiệu", "đăng ký độc quyền thương hiệu", "độc quyền logo",...
            </p>
          </div>
          <div class="infoSeeAll text-center">
            <a>Tìm hiểu thêm về đăng ký nhãn hiệu >> </a>
            <hr>
          </div>
        </div>
        <div class="col-md-6 introduceRight" style="padding-left: 90px;">

          <div>
            <img src="/assets/media/DKNH/Form/Asset 3.svg"
                 class="imgForm d-none d-md-block">
            <form class="shadow backgrFormound" id="searchRight" enctype="multipart/form-data">
              <h2>TRA CỨU LOGO CỦA BẠN</h2>
              <div class="form-group">

                <input style="margin-bottom: 3%;" type="text" class="form-control"
                       id="name" name="name" placeholder="Họ và tên">

              </div>
              <div class="form-group">


                <input style="margin-bottom: 3%;" type="tel" class="form-control"
                       id="phone" name="phone" placeholder="Số điện thoại*">
              </div>
              <div class="form-group">


                <input style="margin-bottom: 3%;" type="email" class="form-control"
                       id="email" name="email" placeholder="Email*">
              </div>
              <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                          placeholder="Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing"></textarea>

              </div>
              <div class="row">
                <div class="form-group col-4">
                  <label for="attachment_1">Logo đính kèm 1</label>
                  <input type="file" name="attachment_1" class="form-control-file" id="attachment_1">
                </div>
                <div class="form-group col-4">
                  <label for="attachment_2">Logo đính kèm 2</label>
                  <input type="file" name="attachment_2" class="form-control-file" id="attachment_2">
                </div>
                <div class="form-group col-4">
                  <label for="attachment_3">Logo đính kèm 3</label>
                  <input type="file" name="attachment_3" class="form-control-file" id="attachment_3">
                </div>
              </div>
              <div class="flex-center-hor">
                <button type="button" onclick="submitHomeAdvice('#searchRight')"
                        class="btn btn-warning btn-custom">Đăng kí bảo hộ nhãn
                  quyền
                </button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
