<section id="introduce" class="sub">
    <div class="effect-img">
    </div>
    <div class="container">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Đến 80% doanh nghiệp chưa bảo vệ nhãn hiệu ':'Đến 80% doanh nghiệp chưa bảo vệ nhãn hiệu  aaa'}}<br>{{global.locale=='vi'?'và có nguy cơ bị xâm phạm':'và có nguy cơ bị xâm phạm aaa'}}<br></h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-record">
                        <div class="float-left titleRecord">
                            <img src="/assets/media/DKNH/Form/Asset 5.svg">
                        </div>
                        <p class="Record">{{global.locale=='vi'?'Nhãn hiệu là dấu hiệu dùng để phân biệt hàng hoá, dịch vụ của các tổ\n' +
                            '                            chức, cá nhân\n' +
                            '                            khác nhau, thể hiện\n' +
                            '                            dưới dạng chữ cái, từ ngữ, hình ảnh, hình vẽ hoặc sự kết hợp của các yếu tố đó được\n' +
                            '                            thể hiện bằng một hoặc\n' +
                            '                            nhiều màu sắc.':'Nhãn hiệu là dấu hiệu dùng để phân biệt hàng hoá, dịch vụ của các tổ\n' +
                            '                            chức, cá nhân\n' +
                            '                            khác nhau, thể hiện\n' +
                            '                            dưới dạng chữ cái, từ ngữ, hình ảnh, hình vẽ hoặc sự kết hợp của các yếu tố đó được\n' +
                            '                            thể hiện bằng một hoặc\n' +
                            '                            nhiều màu sắc. aaa'}}</p>
                    </div>
                    <div class="content-record">
                        <div class="float-left titleRecord">
                            <img src="/assets/media/DKNH/Form/Asset 5.svg">
                        </div>
                        <p class="Record">{{global.locale=='vi'?'Đăng ký nhãn hiệu là thủ tục dành cho tổ chức, cá nhân tiến hành hoạt\n' +
                            '                            động thương mại\n' +
                            '                            hợp pháp xác lập\n' +
                            '                            quyền sở hữu đối với nhãn hiệu dùng cho hàng hoá do mình sản xuất hoặc dịch vụ do\n' +
                            '                            mình cung cấp.':'Đăng ký nhãn hiệu là thủ tục dành cho tổ chức, cá nhân tiến hành hoạt\n' +
                            '                            động thương mại\n' +
                            '                            hợp pháp xác lập\n' +
                            '                            quyền sở hữu đối với nhãn hiệu dùng cho hàng hoá do mình sản xuất hoặc dịch vụ do\n' +
                            '                            mình cung cấp. aaa'}}</p>
                    </div>
                    <div class="content-record">
                        <div class="float-left titleRecord">
                            <img src="/assets/media/DKNH/Form/Asset 5.svg">
                        </div>
                        <p class="Record">{{global.locale=='vi'?'Đăng ký nhãn hiệu nhằm bảo vệ quyền và lợi ích hợp pháp cho các chủ sở\n' +
                            '                            hữu nhãn hiệu\n' +
                            '                            khi tiến hành\n' +
                            '                            kinh doanh, tránh tình trạng bị các đối thủ "ăn cắp", "làm nhái", "làm giả", cạnh\n' +
                            '                            tranh không lành mạnh. Đây là\n' +
                            '                            thủ tục quan trọng, không thể thiếu đối với các tổ chức, cá nhân khi tiến hành kinh\n' +
                            '                            doanh.':'Đăng ký nhãn hiệu nhằm bảo vệ quyền và lợi ích hợp pháp cho các chủ sở\n' +
                            '                            hữu nhãn hiệu\n' +
                            '                            khi tiến hành\n' +
                            '                            kinh doanh, tránh tình trạng bị các đối thủ "ăn cắp", "làm nhái", "làm giả", cạnh\n' +
                            '                            tranh không lành mạnh. Đây là\n' +
                            '                            thủ tục quan trọng, không thể thiếu đối với các tổ chức, cá nhân khi tiến hành kinh\n' +
                            '                            doanh. aaa'}}</p>
                    </div>
                    <p class="Record" style="color: grey;">{{global.locale=='vi'?' "Đăng ký nhãn hiệu" (*) còn được gọi là: "đăng ký thương hiệu", "bảo hộ nhãn hiệu",\n' +
                        '                        "đăng ký độc quyền nhãn\n' +
                        '                        hiệu", "đăng ký độc quyền thương hiệu", "độc quyền logo",...':' "Đăng ký nhãn hiệu" (*) còn được gọi là: "đăng ký thương hiệu", "bảo hộ nhãn hiệu",\n' +
                        '                        "đăng ký độc quyền nhãn\n' +
                        '                        hiệu", "đăng ký độc quyền thương hiệu", "độc quyền logo",... aaa'}}

                    </p>
                    <div class="infoSeeAll" style="margin-bottom: 20px;">
                        <a style="text-decoration: underline">{{global.locale=='vi'?'Tìm hiểu thêm về đăng ký nhãn hiệu >> ':'Tìm hiểu thêm về đăng ký nhãn hiệu >>  aaa'}}</a>
                    </div>
                </div>
                <div class="col-md-6 introduceRight" id="fix-introduceRight-V" style="padding-left: 90px;">
                    <img id="img-background" src="/assets/media/DKNH/Form/Asset 3.svg" class="imgForm d-none d-md-block">
                    <form class="shadow backgrFormound" enctype="multipart/form-data" id="fix-form-V" style="height:{{formHeight}}px">
                        <h2 class="text-center" style="padding-top:0;padding-bottom: 1rem">{{global.locale=='vi'?'TRA CỨU LOGO CỦA BẠN':'TRA CỨU LOGO CỦA BẠN aaa'}}</h2>
                        <div class="form-group">
                            <input (keyup)="n=true" [class.is-invalid]="!form.fieldValid(name)&&n" [class.is-valid]="form.fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Họ tên * aaa'}}">
                            <i *ngIf="!form.fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Bắt buộc nhập họ tên. aaa'}}</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="p=true" [class.is-invalid]="!form.fieldValid(phone,'phone')&&p" [class.is-valid]="form.fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Số điện thoại * aaa'}}"/>
                            <i *ngIf="!form.fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Bắt buộc nhập số điện thoại hợp lệ. aaa'}}</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="e=true" [class.is-invalid]="!form.fieldValid(email,'email')&&e" [class.is-valid]="form.fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="{{global.locale=='vi'?'Email *':'Email * aaa'}}"/>
                            <i *ngIf="!form.fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Bắt buộc nhập email hợp lệ. aaa'}}</small></i>
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="description" name="description" class="form-control" rows="3"
                                      style="resize: none;"
                                      placeholder="{{global.locale=='vi'?'Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing':'Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing aaa'}}"></textarea>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <app-form-field-upload label="Logo đính kèm 1" type="image" (data)="this.logo1=$event;changeFormHeight()"></app-form-field-upload>
                            </div>
                            <div class="form-group col-4">
                                <app-form-field-upload label="Logo đính kèm 2" type="image" (data)="this.logo2=$event;changeFormHeight()"></app-form-field-upload>
                            </div>
                            <div class="form-group col-4">
                                <app-form-field-upload label="Logo đính kèm 3" type="image" (data)="this.logo3=$event;changeFormHeight()"></app-form-field-upload>
                            </div>
                        </div>
                        <div class="flex-center-hor">
                            <button (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'YÊU CẦU TRA CỨU NHANH':'YÊU CẦU TRA CỨU NHANH aaa'}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
