<section id="effective" style="margin-bottom: 3rem;">

  <div class="container-fluid sub-fluid center">
    <div class="row title padding-record-title">
      <h1>Tại sao nên lựa chọn Asoka Law đại diện<br>

        xử lý tranh chấp?</h1>
    </div>
    <div class="effective-content">
      <div class="row">
        <div class="col-md-6 d-none d-md-block">

          <img style="    width: 35%;
    position: absolute;
    left:20px;
    bottom: -46px;" src="/assets/media/landingpage/effect/background 2.svg">
          <img style="position: relative; width: 85%" class="effective-img"
               src="/assets/media/landingpage/effect/anh-video.png">
        </div>
        <div class="col-md-6">
          <div class="content" style="padding: unset">
            <div class="pot">
              <img style="width: 30px"
                   src="/assets/media/landingpage/effect/icon list_1.svg">

            </div>
            <div class="content-body">
              <h4 style="text-align: left; margin-bottom: 15px;">Dày dặn kinh nghiệm</h4>
              <p>Các luật sư của Asoka Law được cử tham gia tranh tụng, đều ở độ tuổi "chín muồi" của nghề
                luật sư. Chúng tôi ưu tiên luật sư có thực tiễn vốn sống, trải nghiệm qua vụ việc và
                tính cách
                quyết liệt để tham gia phần việc tranh tụng nhằm đạt được chiến thắng cho khách
                hàng.</p>
            </div>
          </div>
          <div class="content" style="padding: unset">
            <div class="pot">
              <img style="width: 30px"
                   src="/assets/media/landingpage/effect/icon list_1.svg">

            </div>
            <div class="content-body">
              <h4 style="text-align: left; margin-bottom: 15px;">Lựa chọn giải pháp tốt nhất</h4>
              <p>Khi đã có tranh chấp, ai cũng muốn mình đạt được kết quả kỳ vọng. Tuy nhiên, chúng tôi
                luôn
                cân nhắc cho khách hàng một kết quả thực tế tốt nhất. Giải pháp đó phải vừa đạt được mục
                tiêu, nhưng cũng phải giữ gìn được uy tín, thương hiệu lâu dài cho doanh nghiệp.</p>
            </div>
          </div>
          <div class="content" style="padding: unset">
            <div class="pot">
              <img style="width: 30px"
                   src="/assets/media/landingpage/effect/icon list_1.svg">

            </div>
            <div class="content-body">
              <h4 style="text-align: left; margin-bottom: 15px;">Niêm yết giá phí rõ ràng</h4>
              <p>Chúng tôi công khai giá phí để khách hàng dự tính được ngân sách phù hợp. Các luật sư
                Asoka cũng luôn có ý thức tiết kiệm tối đa các khoản phí cho khách hàng ở các khâu như:
                phí
                công tác, phí di chuyển,... với các báo cáo rõ ràng, chi tiết sau mỗi vụ việc.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- <Change> -->
      <div class="call row" style="margin: 6rem 0 0;">
        <div class="col-md-2 d-none d-md-block">
          <div class="step-hr">
            <hr>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 call-mobile" >
          <a href="tel:0961914328">
            <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
              <img src="/assets/media/PLTX/effect/Asset%2010.svg">
              <p>Tư vấn giải quyết tranh chấp miễn phí: 096 191 4328</p></div>
          </a>
        </div>
        <div class="col-md-2 d-none d-md-block">
          <div class="step-hr">
            <hr class="right">
          </div>
        </div>
      </div>
      <!-- </Change> -->
  </div>
  <!-- <Change> -->
  <div id="question" style="background: transparent;">
    <div class="container">
      <h1  class="s1-title padding-header">
        Các câu hỏi thường gặp
      </h1>
      <div class="s6-content">
        <div class="row">
          <div class="col-md-6">
            <div class="s6-item">
              <h4>Đối tượng sử dụng</h4>
              <ul>
                <li>
                  <div class="s6head">Doanh nghiệp nào nên sử dụng Gói pháp lý thường xuyên?</div>
                  <div class="s6body" style="display: none;">
                    <p>
                      <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                      </style>
                      Không. Doanh nghiệp tư nhân không được quyền góp vốn thành lập hoặc mua cổ phần, phần vốn góp trong công ty hợp danh, công ty trách nhiệm hữu hạn hoặc công ty cổ phần.</p>
                  </div>
                </li>
                <li>
                  <div class="s6head">Công ty đã lâu năm có sử dụng Gói pháp lý thường xuyên được không?</div>
                  <div class="s6body" style="display: none;">
                    <p>
                      <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                      </style>
                      Được. Khi quyết định huy động vốn từ cá nhân khác, Công ty TNHH 1 TV phải làm thủ tục chuyển đổi loại hình doanh nghiệp sang Công ty TNHH 2 thành viên trở lên hoặc Công ty cổ phần.</p>
                  </div>
                </li>
                <li>
                  <div class="s6head">Cá nhân có nên sử dụng Gói pháp lý thường xuyên?</div>
                  <div class="s6body" style="display: none;">
                    <p>
                      <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                      </style>
                      Công ty TNHH 2 thành viên trở lên được phép có tối đa là 50 thành viên.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="s6-item">
              <h4>Đối tượng sử dụng</h4>
              <ul>
                <li>
                  <div class="s6head">Doanh nghiệp nào nên sử dụng Gói pháp lý thường xuyên?</div>
                  <div class="s6body" style="display: none;">
                    <p>
                      <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                      </style>
                      Đặt theo cấu trúc: "Loại hình công ty" + "tên riêng của công ty". Nên tra cứu trước tại hệ thống cổng thông tin doanh nghiệp để xem tên công ty mình dự định đặt đã bị trùng/ gây nhầm lẫn với các doanh nghiệp khác hay chưa để có phương án đặt tên đúng và không bị trùng.</p>
                  </div>
                </li>
                <li>
                  <div class="s6head">Công ty đã lâu năm có sử dụng Gói pháp lý thường xuyên được không?</div>
                  <div class="s6body" style="display: none;">
                    <p>
                      <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                      </style>
                      Nên đặt thêm các thành tố phụ mang yếu tố ngành nghề để không bị trùng hoặc gây nhầm lẫn. Ví dụ: nếu tên "Công ty TNHH Thắng Lợi" đã bị trùng, bạn có thể ghép thêm yếu tố ngành nghề, trở thành "Công ty TNHH Chuyên Phân Phối Hàng Mỹ Nhập Khẩu Thắng Lợi" để tránh gây trùng/ nhầm lẫn.</p>
                  </div>
                </li>
                <li>
                  <div class="s6head">Cá nhân có nên sử dụng Gói pháp lý thường xuyên?</div>
                  <div class="s6body">
                    <p>
                      <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                      </style>
                      Hiện có nhiều nguồn để bạn có thể tra cứu tên các công ty khác đã được đặt trước bạn, tuy nhiên, bạn có thể vào website Cổng Thông Tin Quốc Gia Về Đăng Ký Doanh Nghiệp để có thể tra cứu tin cậy: https://dangkykinhdoanh.gov.vn</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div><div class="row">					<div class="col-md-6">
        <div class="s6-item">
          <h4>Thời gian sử dụng</h4>
          <ul>
            <li>
              <div class="s6head">Thời gian sử dụng gói pháp lý thường xuyên như thế nào?</div>
              <div class="s6body">
                <p>
                  <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                  </style>
                  Khoản 1 Điều 6 Luật Nhà ở năm 2014 quy định “Sử dụng căn hộ chung cư vào mục đích không phải để ở” là hành vi bị nghiêm cấm, nên hiện doanh nghiệp không được kinh doanh và đặt địa chỉ trụ sở tại chung cư.</p>
              </div>
            </li>
            <li>
              <div class="s6head">Sử dụng dịch vụ pháp lý thường xuyên trong 1 tháng có được không?</div>
              <div class="s6body">
                <p>
                  <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                  </style>
                  Đối với việc thành lập doanh nghiệp Việt Nam, bạn không cần cung cấp hợp đồng thuê nhà khi thành lập công ty, tuy nhiên bạn phải cam kết trụ sở chính mà bạn đăng ký kinh doanh phải thuộc quyền sở hữu/quyền sử dụng hợp pháp của công ty và được sử dụng đúng mục đích theo quy định của pháp luật.</p>
              </div>
            </li>
            <li>
              <div class="s6head">Có được bảo lưu quyền sử dụng gói pháp lý thường xuyên?</div>
              <div class="s6body">
                <p>
                  <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                  </style>
                  Có một số ngành nghề nếu hoạt động tại trụ sở sẽ ảnh hưởng tới các địa bàn dân cư hay khu vực lân cận nên pháp luật quy định không được kinh doanh tại trụ sở, ví dụ: sản xuất phân bón, hoá chất, sơn, mỹ phẩm; in ấn; bán buôn nông lâm sản nguyên liệu;...</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
        <div class="col-md-6">
          <div class="s6-item">
            <h4>Thời gian sử dụng</h4>
            <ul>
              <li>
                <div class="s6head">Thời gian sử dụng gói pháp lý thường xuyên như thế nào?</div>
                <div class="s6body">
                  <p>
                    <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                    </style>
                    Điều 7 Luật Doanh Nghiệp 2014 quy định: doanh nghiệp được "tự do kinh doanh trong những ngành, nghề mà luật không cấm", tuy nhiên Luật Doanh Nghiệp cũng yêu cầu: doanh nghiệp phải thông báo với Cơ quan đăng ký kinh doanh khi thay đổi về ngành, nghề kinh doanh trong thời hạn 10 ngày. Vậy để đảm bảo về nghĩa vụ, công ty vẫn buộc phải đăng ký ngành nghề đầy đủ khi muốn kinh doanh.</p>
                </div>
              </li>
              <li>
                <div class="s6head">Sử dụng dịch vụ pháp lý thường xuyên trong 1 tháng có được không?</div>
                <div class="s6body">
                  <p>
                    <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                    </style>
                    Là những ngành nghề mà việc đăng ký kinh doanh hoạt động buộc phải đáp ứng một số tiêu chuẩn nhất định. Tùy thuộc vào đặc thù của từng lĩnh vực mà Cơ quan quản lý sẽ đặt ra các yêu cầu riêng để doanh nghiệp tuân theo.</p>
                </div>
              </li>
              <li>
                <div class="s6head">Có được bảo lưu quyền sử dụng gói pháp lý thường xuyên?</div>
                <div class="s6body">
                  <p>
                    <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                    </style>
                    Hệ thống mã ngành kinh tế Việt Nam hiện được quy định tại Quyết định số: 27/2018/QĐ-TTg. Nếu bạn muốn tiện dụng hơn, có thể truy cập vào Cổng thông tin đăng ký quốc gia (dangkykinhdoanh.gov.vn), mục tra cứu ngành nghề kinh doanh để tra cứu online.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><div class="row">					<div class="col-md-6">
        <div class="s6-item">
          <h4>Cách thức thanh toán</h4>
          <ul>
            <li>
              <div class="s6head">Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?</div>
              <div class="s6body" style="display: none;">
                <p>
                  <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                  </style>
                  Không. Có một số tổ chức, cá nhân không có quyền thành lập và quản lý doanh nghiệp (tức không được làm chủ sở hữu công ty) tại Việt Nam, được quy định tại Khoản 2 Điều 18 Luật Doanh Nghiệp 2014.</p>
              </div>
            </li>
            <li>
              <div class="s6head">Tôi muốn thanh toán tiền mặt có được không?</div>
              <div class="s6body" style="display: none;">
                <p>
                  <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                  </style>
                  Không. Tại Việt Nam, người thành niên là người đủ 18 tuổi trở lên. Luật Doanh Nghiệp 2014 quy định: người chưa thành niên không có quyền thành lập và quản lý doanh nghiệp, vậy nếu người chưa 18 tuổi, tức là chưa thành niên thì không được thành lập công ty.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
        <div class="col-md-6">
          <div class="s6-item">
            <h4>Cách thức thanh toán</h4>
            <ul>
              <li>
                <div class="s6head">Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?</div>
                <div class="s6body">
                  <p>
                    <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                    </style>
                    Được. Điều 35 Luật Doanh Nghiệp 2014 quy định: tài sản góp vốn có thể là Đồng Việt Nam, ngoại tệ tự do chuyển đổi, vàng, giá trị quyền sử dụng đất, giá trị quyền sở hữu trí tuệ, công nghệ, bí quyết kỹ thuật, các tài sản khác có thể định giá được bằng Đồng Việt Nam.</p>
                </div>
              </li>
              <li>
                <div class="s6head">Tôi muốn thanh toán tiền mặt có được không?</div>
                <div class="s6body">
                  <p>
                    <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                    </style>
                    Được, Điều 35 Luật Doanh Nghiệp 2014 cho phép các cá nhân/ tổ chức được góp vốn bằng công nghệ/ bí quyết kỹ thuật.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <div class="info-see-all center">
          <a href="#" data-toggle="modal" data-target="#modal-question" style="cursor: pointer;">Xem tất cả các câu hỏi &gt;&gt;</a>
  
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-question"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
          <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem; outline: none;" aria-label="Close">
            <span aria-hidden="true" style="font-size: 26px">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="textTitle" id="khainiem">Khái niệm</div>
            <div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingOne">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Nhãn hiệu là gì?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Là dấu hiệu (có thể là từ ngữ, hình ảnh hoặc từ ngữ kết hợp với hình ảnh được
                            thể hiện bằng một hoặc nhiều màu sắc) dùng để phân biệt hàng hoá, dịch vụ của
                            các tổ chức, cá nhân khác nhau.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingTwo">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Nhãn hiệu liên kết là gì?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Nhãn hiệu liên kết là các nhãn hiệu do cùng một chủ thể đăng ký, trùng hoặc
                            tương tự nhau dùng cho sản phẩm, dịch vụ cùng loại hoặc tương tự nhau hoặc có
                            liên quan với nhau.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingThree">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Nhãn hiệu tập thể là gì?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Nhãn hiệu tập thể là nhãn hiệu dùng để phân biệt hàng hoá, dịch vụ của các thành
                            viên của tổ chức là chủ sở hữu nhãn hiệu đó với hàng hoá, dịch vụ của tổ chức,
                            cá nhân không phải là thành viên của tổ chức đó.
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="textTitle" id="thoigian">
                Thời gian
            </div>
            <div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingFour">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Thời gian bảo hộ nhãn hiệu của tôi bao lâu?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Thời gian đăng ký thành công việc bảo hộ nhãn hiệu thông thường mất khoảng 1-1,5
                            năm, tùy thuộc vào số lượng hồ sơ nộp và tốc độ xử lý của nhân viên tại Cục SHTT
                            mà hồ sơ có thể ra văn bằng sớm hay trễ hơn thời gian trên.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingFive">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Hình như tôi thấy bên khác làm nhanh hơn</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Không thể có bên khác làm nhanh hơn, bởi tất cả các bên đại diện để đăng ký nhãn
                            hiệu đều chỉ có vai trò là người nộp đơn giùm anh/chị, còn cơ quan xử lý là Cục
                            Sở Hữu Trí Tuệ. Thời gian xử lý đơn phụ thuộc vào số lượng hồ sơ mà các nhân
                            viên cục phải xử lý nên có thể xê xích như trên.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingSix">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Văn bằng bảo hộ có thời hạn bao lâu?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Văn bằng bảo hộ được cấp có thời hạn 10 năm (kể từ thời điểm nhận đơn). Hết thời
                            hạn này, anh chị có thể gia hạn thêm.
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="textTitle" id="thutuc">
                Thủ tục đăng ký nhãn hiệu
            </div>
            <div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingSeven">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseOne">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Tài liệu sao y là gì?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Tài liệu sao y là việc đưa các giấy tờ (bản chính và bản photocopy) của bạn tới
                            cơ quan có chứng năng chứng thực/ công chứng (ví dụ: Ủy ban nhân dân xã/ phường;
                            Phòng công chứng...) để được các cơ quan đó xác nhận bản photocopy là đúng với
                            bản chính.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingEight">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Tài liệu để đăng ký sở hữu nhãn hiệu công ty</span></td>
                                    <td style="vertical-align: middle"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Nếu bên bạn muốn đăng ký nhãn hiệu dưới tư cách sở hữu doanh nghiệp/ hộ kinh
                            doanh, xin vui lòng cung cấp: (1) - bản sao y không quá 03 tháng Giấy đăng ký
                            kinh doanh; (2) chứng minh nhân dân sao y không quá 03 tháng của người đại diện
                            pháp luật doanh nghiệp; (3) - mẫu thiết kế nhãn hiệu chính xác và giải thích ý
                            nghĩa/ mô tả nhãn hiệu (nếu có).
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingNine">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Tài liệu để đăng ký sở hữu nhãn hiệu cá nhân?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Nếu bên bạn muốn đăng ký nhãn hiệu dưới tư cách sở hữu cá nhân, xin vui lòng
                            cung cấp: (1) - bản sao chứng minh nhân dân sao y không quá 03 tháng của chủ sở
                            hữu nhãn hiệu; (2) - mẫu thiết kế nhãn hiệu chính xác và giải thích ý nghĩa/ mô
                            tả nhãn hiệu (nếu có).
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="textTitle" id="tracuu">
                Tra cứu nhãn hiệu
            </div>
            <div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingEleven">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Tự kiểm tra nhãn hiệu ở đâu?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Bạn có thể tự kiểm tra nhãn hiệu của mình đã có ai đăng ký trước, hoặc gây
                            trùng/ gây nhầm lẫn với các bên khác hay chưa tại Thư Viện Số Về Sở Hữu Công
                            Nghiệp của Cục Sở hữu Trí Tuệ Việt Nam theo đường link như sau:
                            http://iplib.noip.gov.vn/WebUI/WLogin.php
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingTwelve">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Làm sao biết nhãn hiệu có đủ điều kiện đăng ký?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Để nhận biết nhãn hiệu của bạn có đủ điều kiện đăng ký độc quyền nhãn hiệu hay
                            không, bạn cần xác định:
  
                            1. Liệu nhãn hiệu của bạn đã là một nhãn hiệu đúng? (nhãn hiệu là dấu hiệu được
                            cấu thành bởi từ ngữ, hình ảnh hoặc từ ngữ kết hợp với hình ảnh, được thể hiện
                            bằng một hoặc nhiều màu sắc).
  
                            2. Liệu nhãn hiệu của bạn có khả năng để phân biệt hàng hóa, dịch vụ của mình
                            với hàng hóa, dịch vụ cùng loại của các doanh nghiệp khác?
  
                            Nếu đủ 02 yếu tố như trên, nhãn hiệu của bạn có thể tiến hành đăng ký độc quyền
                            nhãn hiệu.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingThirteen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Asoka Law có kiểm tra nhãn hiệu miễn phí?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Có! Asoka Law sẽ hỗ trợ khách hàng kiểm tra nhãn hiệu có đạt đủ điều kiện đăng
                            ký độc quyền hay không, đồng thời đưa ra các tư vấn sơ bộ miễn phí. (Thông
                            thường việc kiểm tra nhãn hiệu này trên thị trường sẽ có thu phí, dao động ở
                            nhiều mức giá khác nhau).
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="textTitle" id="quytrinh">
                Quy trình xử lý
            </div>
            <div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingFourteen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Việc xử lý hồ sơ tại Tp. Hồ Chí Minh như thế nào?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Sau đây là quy trình Asoka Law xử lý hồ sơ đối với khách hàng tại Tp. Hồ Chí
                            Minh:
                            Bước 1: Kiểm tra nhãn hiệu
                            Khách hàng gửi logo/ nhãn hiệu qua email consult@asokalaw.vn, Asoka kiểm tra
                            trong vòng 30 phút. Nếu nhãn hiệu đủ điều kiện đăng ký, chúng tôi sẽ thông báo
                            và gửi Hợp đồng tới Quý khách. Hai Bên ký hợp đồng/ chuyển phí/ các tài liệu cần
                            thiết.
  
                            Bước 2: Soạn thảo hồ sơ
                            Asoka Law soạn thảo hồ sơ và cử chuyên viên đến trụ sở/ địa chỉ khách hàng yêu
                            cầu nhằm ký và nhận hồ sơ. Hồ sơ được nộp tới Cục Sở Hữu Trí Tuệ trong vòng 24
                            giờ kể từ thời điểm khách hàng ký.
  
                            Bước 3: Bàn giao tài liệu
                            Asoka Law gửi hồ sơ đã được đăng ký về lại địa chỉ trụ sở Quý khách yêu cầu kèm
                            Biên bản bàn giao. Asoka Law có trách nhiệm theo dõi hồ sơ và xử lý các vấn đề
                            phát sinh cho đến khi khách hàng nhận được Giấy chứng nhận đăng ký nhãn hiệu.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingFitteen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFitteen" aria-expanded="false" aria-controls="collapseFitteen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Việc xử lý hồ sơ ngoài Tp. Hồ Chí Minh như thế nào?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseFitteen" class="collapse" aria-labelledby="headingFitteen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Sau đây là quy trình Asoka Law xử lý hồ sơ đối với khách hàng ngoài Tp. Hồ Chí
                            Minh:
  
                            Bước 1: Kiểm tra nhãn hiệu
  
                            Khách hàng gửi logo/ nhãn hiệu qua email consult@asokalaw.vn Asoka Law kiểm tra
                            trong vòng 30 phút. Nếu nhãn hiệu đủ điều kiện đăng ký, chúng tôi sẽ thông báo
                            và gửi Hợp đồng tới Quý khách. Hai Bên ký hợp đồng/ chuyển phí/ các tài liệu cần
                            thiết.
  
  
                            Bước 2: Soạn thảo hồ sơ
  
                            Asoka Law soạn thảo hồ sơ/ hướng dẫn khách hàng ký hồ sơ. Khách hàng in hồ sơ và
                            ký theo hướng dẫn, sau đó chuyển hồ sơ cùng hợp đồng về địa chỉ trụ sở của Asoka
                            Law. Chúng tôi sẽ nộp hồ sơ của Quý khách tới Cục Sở Hữu Trí Tuệ trong vòng
                            không quá 24 giờ, kể từ thời điểm nhận hồ sơ.
  
  
                            Bước 3: Bàn giao tài liệu
  
                            Asoka Law gửi hồ sơ đã được đăng ký về lại địa chỉ trụ sở Quý khách yêu cầu kèm
                            Biên bản bàn giao. Asoka Law có trách nhiệm theo dõi hồ sơ và xử lý các vấn đề
                            phát sinh cho đến khi khách hàng nhận được Giấy chứng nhận đăng ký nhãn hiệu.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingSixteen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Quy trình xử lý đơn tại Cục SHTT như thế nào?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Đơn đăng ký nhãn hiệu được xử lý tại Cục Sở Hữu Trí Tuệ theo trình tự như sau:
  
                            Bước 1: Nhận hồ sơ và thẩm định hình thức:
  
                            Là việc đánh giá tính hợp lệ của đơn theo các yêu cầu về hình thức,về đối tượng
                            loại trừ, về quyền nộp đơn… để từ đó đưa ra kết luận đơn hợp lệ hay không hợp
                            lệ. Thời gian thẩm định hình thức là 1 tháng kể từ ngày nộp đơn.
  
                            Bước 2: Đăng công báo:
                            Đơn đăng ký nhãn hiệu được chấp nhận là hợp lệ được công bố trên Công báo SHCN
                            trong thời hạn 2 tháng kể từ ngày được chấp nhận là đơn hợp lệ. Nội dung công bố
                            đơn đăng ký nhãn hiệu là các thông tin liên quan đến đơn hợp lệ ghi trong thông
                            báo chấp nhận đơn hợp lệ, mẫu nhãn hiệu và danh mục hàng hóa, dịch vụ kèm theo.
  
                            Bước 3: Thẩm định nội dung:
                            Đơn đăng ký nhãn hiệu đã được công nhận là hợp lệ được thẩm định nội dung để
                            đánh giá khả năng cấp Giấy chứng nhận đăng ký nhãn hiệu cho đối tượng nêu trong
                            đơn theo các điều kiện bảo hộ. Thời hạn thẩm định nội dung đơn nhãn hiệu là 9
                            tháng kể từ ngày công bố đơn.
  
                            Bước 4: Thu phí cấp Giấy chứng nhận đăng ký nhãn hiệu:
                            Sau khi thẩm định nội dung Cục Sở Hữu Trí Tuệ yêu cầu chủ sở hữu nhãn hiệu tiến
                            hành nộp phí cấp văn bằng. Chủ sở hữu nộp phí và chờ cấp Giấy chứng nhận đăng ký
                            nhãn hiệu.
  
                            Bước 5: Cấp Giấy chứng nhận đăng ký nhãn hiệu:
                            Sau 02 tháng kể từ ngày nộp phí cấp giấy chứng nhận đăng ký nhãn hiệu. Chủ sở
                            hữu nhãn hiệu nhận Giấy chứng nhận đăng ký nhãn hiệu sau 1 - 1,5 năm kể từ ngày
                            nộp đơn.
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="textTitle" id="cachthuc">
                Cách thức thanh toán
            </div>
            <div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingSeventeen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Tôi muốn thanh toán tiền mặt có được không?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Được. Asoka Law chấp nhận thanh toán bằng tiền mặt đối với khách hàng tại Tp. Hồ
                            Chí Minh.
  
                            Với Quý khách có nhu cầu chi trả dịch vụ bằng tiền mặt, xin vui lòng yêu cầu
                            nhân viên Asoka Law xuất trình Phiếu thanh toán có chữ ký của người đại diện
                            pháp luật và con dấu của Công ty Luật TNHH Asoka Law. Chúng tôi sẽ cử nhân viên
                            thu tiền tại địa điểm thuận tiện nhất cho Quý khách.
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-header cardHeader" id="headingEighteen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Tôi muốn thanh toán bằng chuyển khoản thì sao?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Asoka Law chấp thuận hình thức thanh toán chuyển khoản.
  
                            Với cá nhân yêu cầu xuất hóa đơn dịch vụ, Quý khách vui lòng chuyển khoản giá
                            trị Hợp đồng vào số tài khoản như sau:
  
                            · Số tài khoản: 210571109
  
                            · Tên chủ tài khoản: Dương Nữ Cẩm Tâm
  
  
                            · Ngân hàng Thương Mại Cổ Phần Á Châu (ACB Bank) – Chi nhánh Nguyễn Văn Trỗi
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header cardHeader" id="headingNineteen">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                            <table style="width: 100%">
                                <tr>
                                    <td><span class="btnLink Link">Hình thức thanh toán đối với doanh nghiệp?</span></td>
                                    <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                    <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen"
                    >
                        <div class="card-body" style="background-color: #f6f6f6;">
                            Nhãn hiệu tập thể là nhãn hiệu dùng để phân biệt hàng hoá, dịch vụ của các thành
                            viên của tổ chức là chủ sở hữu nhãn hiệu đó với hàng hoá, dịch vụ của tổ chức,
                            cá nhân không phải là thành viên của tổ chức đó.
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </Change> -->
  
</section>
