<section id="effective" style="margin-bottom: 3rem;">

    <div class="container-fluid sub-fluid center">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Tại sao nên lựa chọn Asoka Law đại diện':'Why choosing Asoka Law as your'}} <br/>{{global.locale=='vi'?' xử lý tranh chấp?':'representative to handle disputes?'}}</h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-6 d-none d-md-block">

                    <img style="width: 35%;
    position: absolute;
    left:20px;
    bottom: -46px; bottom: 35%;" src="/assets/media/landingpage/effect/background 2.svg">
                    <img style="position: relative; width: 85%" class="effective-img"
                         src="/assets/media/landingpage/effect/anh-video.png">
                </div>
                <div class="col-md-6">
                    <div class="content" style="padding: unset">
                        <div class="pot">
                            <img style="width: 30px"
                                 src="/assets/media/landingpage/effect/icon list_1.svg">

                        </div>
                        <div class="content-body">
                            <h4 style="text-align: left; margin-bottom: 15px;">{{global.locale=='vi'?'Dày dặn kinh nghiệm':'Experienced companions'}}</h4>
                            <p>{{global.locale=='vi'?'Các luật sư của Asoka Law được cử tham gia tranh tụng, đều ở độ tuổi "chín muồi" của nghề\n' +
                                '                luật sư. Chúng tôi ưu tiên luật sư có thực tiễn vốn sống, trải nghiệm qua vụ việc và\n' +
                                '                tính cách\n' +
                                '                quyết liệt để tham gia phần việc tranh tụng nhằm đạt được chiến thắng cho khách\n' +
                                '                hàng.':'Lawyers assigned by Asoka Law to participate in litigation are at the "mature" age of their professions. We prioritize lawyers with practical life experience, familiar with the cases, and drastic in character in order to achieve victory for clients.'}}</p>
                        </div>
                    </div>
                    <div class="content" style="padding: unset">
                        <div class="pot">
                            <img style="width: 30px"
                                 src="/assets/media/landingpage/effect/icon list_1.svg">

                        </div>
                        <div class="content-body">
                            <h4 style="text-align: left; margin-bottom: 15px;">{{global.locale=='vi'?'Lựa chọn giải pháp tốt nhất':'Best solutions for Clients'}}</h4>
                            <p>{{global.locale=='vi'?'Khi đã có tranh chấp, ai cũng muốn mình đạt được kết quả kỳ vọng. Tuy nhiên, chúng tôi\n' +
                                '                luôn\n' +
                                '                cân nhắc cho khách hàng một kết quả thực tế tốt nhất. Giải pháp đó phải vừa đạt được mục\n' +
                                '                tiêu, nhưng cũng phải giữ gìn được uy tín, thương hiệu lâu dài cho doanh nghiệp.':'When disputes happen, everyone wants to achieve their expected results. We, however, always consider giving our clients the most suitable and practical solutions for their situations. Such solutions have to not only achieve their goals but also preserve their prestige and reputation in business.'}}</p>
                        </div>
                    </div>
                    <div class="content" style="padding: unset">
                        <div class="pot">
                            <img style="width: 30px"
                                 src="/assets/media/landingpage/effect/icon list_1.svg">

                        </div>
                        <div class="content-body">
                            <h4 style="text-align: left; margin-bottom: 15px;">{{global.locale=='vi'?'Niêm yết giá phí rõ ràng':'Clearly listed prices and fees '}}</h4>
                            <p>{{global.locale=='vi'?'Chúng tôi công khai giá phí để khách hàng dự tính được ngân sách phù hợp. Các luật sư\n' +
                                '                Asoka cũng luôn có ý thức tiết kiệm tối đa các khoản phí cho khách hàng ở các khâu như:\n' +
                                '                phí\n' +
                                '                công tác, phí di chuyển,... với các báo cáo rõ ràng, chi tiết sau mỗi vụ việc.':'All prices and fees are clearly listed on our website so that clients can accordingly plan their budgets. Also, Asoka Law is lawyers are always aware of maximizing savings for our clients (for example, business fees and travel expenses), with clear and detailed reports after each case. '}}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- <Change> -->
        <div class="call row" style="margin: 6rem 0 0;">
            <div class="col-md-2 d-none d-md-block">
                <div class="step-hr">
                    <hr>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 call-mobile" >
                <a href="tel:0961914328">
                    <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                        <img src="/assets/media/PLTX/effect/Asset%2010.svg">
                        <p>{{global.locale=='vi'?' Tư vấn giải quyết tranh chấp miễn phí: 096 191 4328':' Dial for free advice on disputes: 096 191 4328'}}</p></div>
                </a>
            </div>
            <div class="col-md-2 d-none d-md-block">
                <div class="step-hr">
                    <hr class="right">
                </div>
            </div>
        </div>
        <!-- </Change> -->
    </div>
    <!-- <Change> -->
    <div id="question" style="background: transparent;">
        <div class="container">
            <h1  class="s1-title padding-header">
                {{global.locale=='vi'?'Các câu hỏi thường gặp':'Frequently asked Questions'}}
            </h1>
            <div class="s6-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="s6-item" >
                            <h4>{{global.locale=='vi'?'Về thời gian xử lý vụ việc':'Time for settling disputes'}}
                            </h4>
                            <ul>
                                <li>
                                    <div class="s6head" style="font-size: 13px;"> {{global.locale=='vi'?'Gói Thương Lượng thường kéo dài bao nhiêu lâu?':'How long does it usually take when using Asoka\'s Negotiation Package?'}}
                                    </div>
                                    <div class="s6body" style="display: none;">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Asoka Law quy định thời gian dự kiến trong hợp đồng của dịch vụ Thương Lượng là 03 - 06 tháng. Đây là thời gian thông thường của một vụ việc Thương Lượng mà Asoka Law đã áp dụng cho nhiều khách hàng.':'According to provisions in Asoka Law\'s service contracts, the estimated time of the Negotiation Package is 03 - 06 months. This is the standard that Asoka has set for Negotiation cases, applied for many clients.'}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Gói Tranh Tụng thường kéo dài bao nhiêu lâu?':'How long is Asoka Law\'s Litigation Package?'}}</div>
                                    <div class="s6body" style="display: none;">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Tại Gói Tranh Tụng, các bên sẽ phải lệ thuộc vào thời gian ấn định xét xử của Tòa Án thụ lý. Trên thực tế, một vụ việc tranh chấp không có quá nhiều tình tiết phức tạp sẽ có thể hoàn tất các bước xử lý trong vòng 01-02 năm. ':'Time for litigation is determined by the responsible Court for related parties to follow. Normally, a dispute which is not too complicated can be handled within 01-02 years.'}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Gói Toàn Diện thường kéo dài bao nhiêu lâu?':'How long is Asoka\'s Comprehensive Package?'}}</div>
                                    <div class="s6body" style="display: none;">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Đặc điểm của Gói Toàn Diện là: Khách hàng ủy thác toàn quyền cho Luật sư quyết định phương án phù hợp với thực trạng, diễn biến của bên tranh chấp. Nên thời gian của Gói Toàn Diện trong hợp đồng sẽ là 06 tháng hoặc/và căn cứ vào thời gian xét xử của Tòa Án.':'At Asoka is Comprehensive Package, the Client entrusts full authority our Lawyer to decide the plan suitable for the actual situation and case developments.Usually, our Comprehensive Package will last for 06 months or / and in compliance with the time frame set by the responsible Court.'}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="s6-item">
                            <h4>{{global.locale=='vi'?'Về lựa chọn dịch vụ':'Choosing packages'}}</h4>
                            <ul>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Dựa vào căn cứ nào để lựa chọn gói Thương Lượng, Tranh Tụng hay Toàn Diện?':'How can I choose the right package to use (Negotiation, Litigation, or Comprehensive), based on which criteria?'}}</div>
                                    <div class="s6body" style="display: none;">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Bạn có thể căn cứ vào mức độ nghiêm trọng của vấn đề mình gặp. Nếu xét thấy có khả năng thương lượng, đàm phán thì nên chọn gói Thương Lượng, nếu mâu thuẫn nghiêm trọng, nên chọn gói Tranh Tụng. Nếu bạn không chắc chắn về mức độ nghiêm trọng hoặc các tình tiết liên quan đến vụ việc thì nên chọn Gói Toàn Diện để ủy quyền toàn bộ cho luật sư Asoka Law giải quyết.':'Choosing can be based on the severity of your problem(s). If there are possibilities to negotiate, you should choose the Negotiation Package; if inconsistencies are serious, you should consider Litigation Package. And if you are not sure about case severity or related details, you should choose the Comprehensive Package to entrust full authority for Asoka Law\'s Lawyers.'}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Tôi có thể bỏ qua thương lượng, đi thẳng đến tranh tụng được không?':'Can I ignore negotiation and just proceed litigation?'}}</div>
                                    <div class="s6body" style="display: none;">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Được. Tuy nhiên trong quá trình xét xử, Tòa Án vẫn có nhiệm vụ  tiến hành hòa giải và tạo điều kiện thuận lợi để các bên thoả thuận với nhau về việc giải quyết vụ việc.':'Of course. However, during the trial process, the Court still has to mediate and facilitate all parties to come to an agreement for case resolution.'}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Nên sử dụng gói nào trong 03 gói: Thương Lượng, Tranh Tụng và Toàn Diện?':'Which one should I use: Negotiation Package, Litigation Package and Comprehensive Package?'}}</div>
                                    <div class="s6body">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Nên bắt đầu bằng gói Thương Lượng sẽ tiết kiệm chi phí nhiều hơn cho bạn. Nếu Luật sư đã tiến hành Thương Lượng nhưng vẫn không đạt được kết quả như mong muốn, bạn có thể tiếp tục sử dụng thêm gói Tranh Tụng.':'For cost saving, you can begin with the Negotiation Package. If the Lawyer has conduct negotiation but hasn\'t achieve desirable results, you might continue to use the Litigation Package.'}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="s6-item">
                            <h4>{{global.locale=='vi'?'Về lĩnh vực chuyên môn của Asoka Law<':'Asoka\'s areas of expertise'}}</h4>
                            <ul>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ việc tranh chấp về sở hữu trí tuệ?':'Does Asoka Law accept cases of disputes over intellectual property?'}}</div>
                                    <div class="s6body">
                                            <p>
                                                <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                                </style>{{global.locale=='vi'?'Có. Các luật sư của chúng tôi thuờng xuyên làm việc với các doanh nghiệp về việc bảo vệ quyền sở hữu trí tuệ, như: nhãn hiệu, bản quyền, kiểu dáng công nghiệp, phần mềm máy tính,... ':'Yes. Our Lawyers always work with businesses about intellectual property protection, regarding trademarks, copyrights, industrial designs, computer software, and so on.'}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ việc về đòi nợ hay yêu cầu thanh toán?':'Does Asoka Law accept cases of debt collection or payment request?'}}</div>
                                        <div class="s6body">
                                            <p>
                                                <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                                </style>{{global.locale=='vi'?'Có. Đó là một trong các lĩnh vực thế mạnh của Asoka Law. Các luật sư của chúng tôi đã giải quyết nhiều vụ việc về yêu cầu thanh toán thành công cho khách hàng.':'Yes. This is one of Asoka Law\'s fields of strength. Our lawyers succeed in a lot of cases on payment/ debt collection.'}}</p>
                                        </div>
                                    </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ việc tranh chấp về dân sự?':'Does Asoka Law accept cases of civil disputes?'}}</div>
                                    <div class="s6body">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Nhằm phục vụ chuyên sâu ở mảng khách hàng doanh nghiệp, Asoka Law xác định thế mạnh của mình và đi sâu đại diện giải quyết các tranh chấp giữa doanh nghiệp với nhau. Mặc dù vậy, chúng tôi cũng sẽ có ưu tiên phục vụ đại diện tranh chấp dân sự, trong trường hợp khách hàng là chủ doanh nghiệp đã từng sử dụng dịch vụ tại Asoka Law.':'In order to provide in-depth services for businesses, Asoka Law has determined its strengths and focused on solving disputes between businesses. However, in case clients have used services at Asoka Law as business owners, priority is given to cases of representing to handle civil disputes.'}}</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ ly hôn hay vụ việc thừa kế?':'Does Asoka Law accept cases related to divorce or inheritance?'}}</div>
                                    <div class="s6body">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>
                                            {{global.locale=='vi'?'Có. Trong trường hợp khách hàng có yêu cầu. Tuy nhiên, chúng tôi không tiếp nhận tất cả các hồ sơ. Tùy vào tính chất nghiêm trọng của vụ việc, chúng tôi sẽ nhận xử lý. Nếu chỉ đồng thuận ly hôn hay cách chia thừa kế thông thường, bạn chỉ cần sử dụng dịch vụ Luật Sư Tư Vấn để chúng tôi hướng dẫn bạn giải quyết là đủ.':'Yes, when our clients request. However, depending on case severity, not all of them are accepted. For example, if your case is normal divorce by mutual consent or inheritance division, you only need to request our Lawyer Consultation package.'}}</p>
                                    </div>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="s6-item">
                            <h4>{{global.locale=='vi'?'Về phương thức làm việc':'Asoka Law\'s working methods'}} </h4>
                            <ul>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Tôi có thể yêu cầu Asoka Law tư vấn bằng cách nào?':'How can I request direct consultation with Asoka\'s lawyers?'}}</div>
                                    <div class="s6body">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Asoka Law hiện có 2 phương thức tư vấn: tư vấn miễn phí (do bộ phận chăm sóc khách hàng phụ trách) và tư vấn có trả phí (do các luật sư phụ trách). Bạn có thể điền vào form yêu cầu để được tự động gửi tới email của bộ phận chăm sóc khách hàng, hoặc vào trang Luật Sư Tư Vấn để đăng ký tư vấn có trả phí.':'Currently, Asoka Law provides 2 consulting methods: free consultation (by our client care unit) and paid consultation (by our respective lawyers). You can fill out an inquiry form that will be automatically emailed to the client care unit, or go to our Lawyer Consultation page to request a paid consultation.'}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Tôi có thể liên hệ trực tuyến với Asoka Law qua các kênh nào?':'Through which channels can I contact Asoka Law online?'}}</div>
                                    <div class="s6body">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Bạn có thể chat trực tiếp với bộ phận chăm sóc khách hàng qua box chat hiển thị trên website. Hoặc: gọi - nhắn qua Hotline 096 191 4328 (zalo/ viber/ whatsapp). Ngoài ra, chúng tôi có facebook, youtube (tên: Asoka Law), gmail: consult@asokalaw,.vn. Bạn có thể lựa chọn kênh liên hệ phù hợp nhất với mình. Các chuyên viên của Asoka Law khi nhận được yêu cầu, sẽ phản hồi bạn trong vòng không quá 30 phút (trong giờ làm việc).':'You can chat directly with Asoka\'s client care unit via the chat box displayed on our website. Or: call - message via Hotline 096 191 4328 (zalo / viber / whatsapp). In addition, we also have accounts on facebook, youtube (name: Asoka Law), and email (consult@asokalaw.vn). You can choose the contact channel that best suits you. Upon receiving your requests, Asoka Law specialists will contact you back within 30 minutes (during working hours).'}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="s6head" style="font-size: 13px;">{{global.locale=='vi'?'Tôi có thể đến trụ sở Asoka Law để yêu cầu tư vấn trực tiếp không?':'Can I go to Asoka Law\'s headquarter to request a direct consultation?'}}</div>
                                    <div class="s6body">
                                        <p>
                                            <style type="text/css"><!--td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}-->
                                            </style>{{global.locale=='vi'?'Được. Với điều kiện: bạn phải đăng ký trước với bộ phận chăm sóc khách hàng hoặc qua trang Luật Sư Tư Vấn. Việc đăng ký trước nhằm thuận tiện cho chúng tôi sắp xếp Luật sư thực hiện phù hợp nhất với yêu cầu của bạn. Đồng thời, tư vấn trực tiếp với luật sư là một hình thức tư vấn có tính phí theo quy định của Asoka Law.':'Yes, you can. However, you must register in advance with our client care unit or through our Lawyer Consultation page. Pre-registration is for us to properly arrange a Lawyer that best suits your requests. Also, face-to-face lawyer consultation is a form of paid consultation under Asoka Law\'s provisions.'}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="info-see-all center">
                <a href="#" data-toggle="modal" data-target="#modal-question" style="cursor: pointer;">{{global.locale=='vi'?'Xem tất cả các câu hỏi >>':'See all questions >> '}}</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-question"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                    <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem; outline: none;" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 26px">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="textTitle" id="khainiem">{{global.locale=='vi'?'Về thời gian xử lý vụ việc':'Time for settling disputes'}}</div>
                    <div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingOne">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Gói Thương Lượng thường kéo dài bao nhiêu lâu?':'How long does it usually take when using Asoka\'s Negotiation Package?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Asoka Law quy định thời gian dự kiến trong hợp đồng của dịch vụ Thương Lượng là 03 - 06 tháng. Đây là thời gian thông thường của một vụ việc Thương Lượng mà Asoka Law đã áp dụng cho nhiều khách hàng.':'According to provisions in Asoka Law\'s service contracts, the estimated time of the Negotiation Package is 03 - 06 months. This is the standard that Asoka has set for Negotiation cases, applied for many clients.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingTwo">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Gói Tranh Tụng thường kéo dài bao nhiêu lâu?':'How long is Asoka Law\'s Litigation Package?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Tại Gói Tranh Tụng, các bên sẽ phải lệ thuộc vào thời gian ấn định xét xử của Tòa Án thụ lý. Trên thực tế, một vụ việc tranh chấp không có quá nhiều tình tiết phức tạp sẽ có thể hoàn tất các bước xử lý trong vòng 01-02 năm.':'Time for litigation is determined by the responsible Court for related parties to follow. Normally, a dispute which is not too complicated can be handled within 01-02 years.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingThree">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Gói Toàn Diện thường kéo dài bao nhiêu lâu?':'How long is Asoka\'s Comprehensive Package?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Đặc điểm của Gói Toàn Diện là: Khách hàng ủy thác toàn quyền cho Luật sư quyết định phương án phù hợp với thực trạng, diễn biến của bên tranh chấp. Nên thời gian của Gói Toàn Diện trong hợp đồng sẽ là 06 tháng hoặc/và căn cứ vào thời gian xét xử của Tòa Án.':'At Asoka is Comprehensive Package, the Client entrusts full authority our Lawyer to decide the plan suitable for the actual situation and case developments.Usually, our Comprehensive Package will last for 06 months or / and in compliance with the time frame set by the responsible Court'}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="textTitle" id="thoigian">{{global.locale=='vi'?'Về lựa chọn dịch vụ':'Choosing packages'}}</div>
                    <div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingFour">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Dựa vào căn cứ nào để lựa chọn gói Thương Lượng, Tranh Tụng hay Toàn Diện?':'How can I choose the right package to use (Negotiation, Litigation, or Comprehensive), based on which criteria?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Bạn có thể căn cứ vào mức độ nghiêm trọng của vấn đề mình gặp. Nếu xét thấy có khả năng thương lượng, đàm phán thì nên chọn gói Thương Lượng, nếu mâu thuẫn nghiêm trọng, nên chọn gói Tranh Tụng. Nếu bạn không chắc chắn về mức độ nghiêm trọng hoặc các tình tiết liên quan đến vụ việc thì nên chọn Gói Toàn Diện để ủy quyền toàn bộ cho luật sư Asoka Law giải quyết.':'Choosing can be based on the severity of your problem(s). If there are possibilities to negotiate, you should choose the Negotiation Package; if inconsistencies are serious, you should consider Litigation Package. And if you are not sure about case severity or related details, you should choose the Comprehensive Package to entrust full authority for Asoka Law\'s Lawyers.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingFive">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Tôi có thể bỏ qua thương lượng, đi thẳng đến tranh tụng được không?':'Can I ignore negotiation and just proceed litigation?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Được. Tuy nhiên trong quá trình xét xử, Tòa Án vẫn có nhiệm vụ tiến hành hòa giải và tạo điều kiện thuận lợi để các bên thoả thuận với nhau về việc giải quyết vụ việc.':'Of course. However, during the trial process, the Court still has to mediate and facilitate all parties to come to an agreement for case resolution.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingSix">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Nên sử dụng gói nào trong 03 gói: Thương Lượng, Tranh Tụng và Toàn Diện?':'Which one should I use: Negotiation Package, Litigation Package and Comprehensive Package?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Nên bắt đầu bằng gói Thương Lượng sẽ tiết kiệm chi phí nhiều hơn cho bạn. Nếu Luật sư đã tiến hành Thương Lượng nhưng vẫn không đạt được kết quả như mong muốn, bạn có thể tiếp tục sử dụng thêm gói Tranh Tụng.':'For cost saving, you can begin with the Negotiation Package. If the Lawyer has conduct negotiation but hasn\'t achieve desirable results, you might continue to use the Litigation Package.'}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="textTitle" id="thutuc">{{global.locale=='vi'?'Về lĩnh vực chuyên môn của Asoka Law':'Asoka\'s areas of expertise'}}
                    </div>
                    <div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingSeven">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseOne">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ việc tranh chấp về sở hữu trí tuệ?':'Does Asoka Law accept cases of disputes over intellectual property?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Có. Các luật sư của chúng tôi thuờng xuyên làm việc với các doanh nghiệp về việc bảo vệ quyền sở hữu trí tuệ, như: nhãn hiệu, bản quyền, kiểu dáng công nghiệp, phần mềm máy tính,...':'Yes. Our Lawyers always work with businesses about intellectual property protection, regarding trademarks, copyrights, industrial designs, computer software, and so on. '}}</div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingEight">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ việc về đòi nợ hay yêu cầu thanh toán?':'Does Asoka Law accept cases of debt collection or payment request?'}}</span></td>
                                            <td style="vertical-align: middle"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Có. Đó là một trong các lĩnh vực thế mạnh của Asoka Law. Các luật sư của chúng tôi đã giải quyết nhiều vụ việc về yêu cầu thanh toán thành công cho khách hàng.':'Yes. This is one of Asoka Law\'s fields of strength. Our lawyers succeed in a lot of cases on payment/ debt collection.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingNine">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ việc tranh chấp về dân sự?':'Does Asoka Law accept cases of civil disputes?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Nhằm phục vụ chuyên sâu ở mảng khách hàng doanh nghiệp, Asoka Law xác định thế mạnh của mình và đi sâu đại diện giải quyết các tranh chấp giữa doanh nghiệp với nhau. Mặc dù vậy, chúng tôi cũng sẽ có ưu tiên phục vụ đại diện tranh chấp dân sự, trong trường hợp khách hàng là chủ doanh nghiệp đã từng sử dụng dịch vụ tại Asoka Law.':'In order to provide in-depth services for businesses, Asoka Law has determined its strengths and focused on solving disputes between businesses. However, in case clients have used services at Asoka Law as business owners, priority is given to cases of representing to handle civil disputes.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingNine">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Asoka Law có nhận xử lý các vụ ly hôn hay vụ việc thừa kế?':'Does Asoka Law accept cases related to divorce or inheritance?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Có. Trong trường hợp khách hàng có yêu cầu. Tuy nhiên, chúng tôi không tiếp nhận tất cả các hồ sơ. Tùy vào tính chất nghiêm trọng của vụ việc, chúng tôi sẽ nhận xử lý. Nếu chỉ đồng thuận ly hôn hay cách chia thừa kế thông thường, bạn chỉ cần sử dụng dịch vụ Luật Sư Tư Vấn để chúng tôi hướng dẫn bạn giải quyết là đủ.':'Yes, when our clients request. However, depending on case severity, not all of them are accepted. For example, if your case is normal divorce by mutual consent or inheritance division, you only need to request our Lawyer Consultation package.'}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="textTitle" id="tracuu">{{global.locale=='vi'?'Về phương thức làm việc':'Asoka Law\'s working methods'}}
                    </div>
                    <div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingEleven">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Tôi có thể yêu cầu Asoka Law tư vấn bằng cách nào?':'How can I request direct consultation with Asoka\'s lawyers?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Asoka Law hiện có 2 phương thức tư vấn: tư vấn miễn phí (do bộ phận chăm sóc khách hàng phụ trách) và tư vấn có trả phí (do các luật sư phụ trách). Bạn có thể điền vào form yêu cầu để được tự động gửi tới email của bộ phận chăm sóc khách hàng, hoặc vào trang Luật Sư Tư Vấn để đăng ký tư vấn có trả phí.':'Currently, Asoka Law provides 2 consulting methods: free consultation (by our client care unit) and paid consultation (by our respective lawyers). You can fill out an inquiry form that will be automatically emailed to the client care unit, or go to our Lawyer Consultation page to request a paid consultation.'}}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingTwelve">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Tôi có thể liên hệ trực tuyến với Asoka Law qua các kênh nào?':'Through which channels can I contact Asoka Law online?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Bạn có thể chat trực tiếp với bộ phận chăm sóc khách hàng qua box chat hiển thị trên website. Hoặc: gọi - nhắn qua Hotline 096 191 4328 (zalo/ viber/ whatsapp). Ngoài ra, chúng tôi có facebook, youtube (tên: Asoka Law), gmail: consult@asokalaw,.vn. Bạn có thể lựa chọn kênh liên hệ phù hợp nhất với mình. Các chuyên viên của Asoka Law khi nhận được yêu cầu, sẽ phản hồi bạn trong vòng không quá 30 phút (trong giờ làm việc).':'You can chat directly with Asoka\'s client care unit via the chat box displayed on our website. Or: call - message via Hotline 096 191 4328 (zalo / viber / whatsapp). In addition, we also have accounts on facebook, youtube (name: Asoka Law), and email (consult@asokalaw.vn). You can choose the contact channel that best suits you. Upon receiving your requests, Asoka Law specialists will contact you back within 30 minutes (during working hours).'}}</div>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 5px;">
                            <div class="card-header cardHeader" id="headingThirteen">
                                <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                    <table style="width: 100%">
                                        <tr>
                                            <td><span class="btnLink Link">{{global.locale=='vi'?'Tôi có thể đến trụ sở Asoka Law để yêu cầu tư vấn trực tiếp không?':'Can I go to Asoka Law\'s headquarter to request a direct consultation?'}}</span></td>
                                            <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                                        </tr>
                                    </table>
                                </h5>
                            </div>
                            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                            >
                                <div class="card-body" style="background-color: #f6f6f6;">{{global.locale=='vi'?'Được. Với điều kiện: bạn phải đăng ký trước với bộ phận chăm sóc khách hàng hoặc qua trang Luật Sư Tư Vấn. Việc đăng ký trước nhằm thuận tiện cho chúng tôi sắp xếp Luật sư thực hiện phù hợp nhất với yêu cầu của bạn. Đồng thời, tư vấn trực tiếp với luật sư là một hình thức tư vấn có tính phí theo quy định của Asoka Law.':'Yes, you can. However, you must register in advance with our client care unit or through our Lawyer Consultation page. Pre-registration is for us to properly arrange a Lawyer that best suits your requests. Also, face-to-face lawyer consultation is a form of paid consultation under Asoka Law\'s provisions.'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </Change> -->

</section>
