<section id="effective" class="sub">

  <div class="container-fluid sub-fluid center">
    <div class="row title padding-record-title">
      <h1>Tại sao nên lựa chọn Asoka Law đại diện<br>

        xử lý tranh chấp?</h1>
    </div>
    <div class="effective-content">
      <div class="row">
        <div class="col-md-6 d-none d-md-block">

          <img style="    width: 35%;
    position: absolute;
    left:20px;
    bottom: -46px;" src="/assets/media/landingpage/effect/background 2.svg">
          <img style="position: relative; width: 85%" class="effective-img"
               src="/assets/media/landingpage/effect/anh-video.png">
        </div>
        <div class="col-md-6">
          <div class="content" style="padding: unset">
            <div class="pot">
              <img style="width: 30px"
                   src="/assets/media/landingpage/effect/icon list_1.svg">

            </div>
            <div class="content-body">
              <h4 style="text-align: left; margin-bottom: 15px;">Dày dặn kinh nghiệm</h4>
              <p>Các luật sư của Asoka Law được cử tham gia tranh tụng, đều ở độ tuổi "chín muồi" của nghề
                luật sư. Chúng tôi ưu tiên luật sư có thực tiễn vốn sống, trải nghiệm qua vụ việc và
                tính cách
                quyết liệt để tham gia phần việc tranh tụng nhằm đạt được chiến thắng cho khách
                hàng.</p>
            </div>
          </div>
          <div class="content" style="padding: unset">
            <div class="pot">
              <img style="width: 30px"
                   src="/assets/media/landingpage/effect/icon list_1.svg">

            </div>
            <div class="content-body">
              <h4 style="text-align: left; margin-bottom: 15px;">Lựa chọn giải pháp tốt nhất</h4>
              <p>Khi đã có tranh chấp, ai cũng muốn mình đạt được kết quả kỳ vọng. Tuy nhiên, chúng tôi
                luôn
                cân nhắc cho khách hàng một kết quả thực tế tốt nhất. Giải pháp đó phải vừa đạt được mục
                tiêu, nhưng cũng phải giữ gìn được uy tín, thương hiệu lâu dài cho doanh nghiệp.</p>
            </div>
          </div>
          <div class="content" style="padding: unset">
            <div class="pot">
              <img style="width: 30px"
                   src="/assets/media/landingpage/effect/icon list_1.svg">

            </div>
            <div class="content-body">
              <h4 style="text-align: left; margin-bottom: 15px;">Niêm yết giá phí rõ ràng</h4>
              <p>Chúng tôi công khai giá phí để khách hàng dự tính được ngân sách phù hợp. Các luật sư
                Asoka cũng luôn có ý thức tiết kiệm tối đa các khoản phí cho khách hàng ở các khâu như:
                phí
                công tác, phí di chuyển,... với các báo cáo rõ ràng, chi tiết sau mỗi vụ việc.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="call row sub" style="padding-bottom: 80px; margin-top: 60px">


      <p><img src="/assets/media/PLTX/effect/Asset%2010.svg">Tư vấn giải quyết
        tranh chấp miễn phí: 096 191 4328</p>

    </div>
  </div>
  <div class="container center">

    <h1>Các câu hỏi thường gặp</h1>

    <div class="row question-contetn sub">
      <div class="col-md-6">
        <div class="summary-item">
          <p class="summary-title">Đối tượng sử dụng</p>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Doanh nghiệp nào nên sử dụng Gói pháp lý thường xuyên?
          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Công ty đã lâu năm có sử dụng Gói pháp lý thường xuyên được không?

          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Cá nhân có nên sử dụng Gói pháp lý thường xuyên?
          </div>
        </div>
        <div class="summary-item">
          <p class="summary-title">Thời gian sử dụng</p>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Thời gian sử dụng gói pháp lý thường xuyên như thế nào?
          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Sử dụng dịch vụ pháp lý thường xuyên trong 1 tháng có được không?

          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Có được bảo lưu quyền sử dụng gói pháp lý thường xuyên?
          </div>
        </div>
        <div class="summary-item">
          <p class="summary-title">Cách thức thanh toán</p>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?
          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Tôi muốn thanh toán tiền mặt có được không?

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="summary-item">
          <p class="summary-title">Đối tượng sử dụng</p>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Doanh nghiệp nào nên sử dụng Gói pháp lý thường xuyên?
          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Công ty đã lâu năm có sử dụng Gói pháp lý thường xuyên được không?

          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Cá nhân có nên sử dụng Gói pháp lý thường xuyên?
          </div>
        </div>
        <div class="summary-item">
          <p class="summary-title">Thời gian sử dụng</p>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Thời gian sử dụng gói pháp lý thường xuyên như thế nào?
          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Sử dụng dịch vụ pháp lý thường xuyên trong 1 tháng có được không?

          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Có được bảo lưu quyền sử dụng gói pháp lý thường xuyên?
          </div>
        </div>
        <div class="summary-item">
          <p class="summary-title">Cách thức thanh toán</p>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Hợp đồng gói pháp lý thường xuyên thanh toán như thế nào?
          </div>
          <div class="record">
            <i class="fa fa-circle float-left"></i>
            Tôi muốn thanh toán tiền mặt có được không?

          </div>
        </div>
      </div>
      <div class="info-see-all center ">
        <a>Xem tất cả câu hỏi >></a>

      </div>
    </div>
  </div>
</section>
