<section id="excusion">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-5">
        <h1 style="padding-bottom: 3rem">Phát triển bền<br> vững
          suốt 03 năm đầu</h1>
        <p style="padding-bottom: 4rem">Trong "sơ đồ lộ trình doanh nghiệp", bạn đang ở giai đoạn vàng để
          phát triển kinh doanh. Chúng tôi hiểu điều đó và sẵn sàng trở thành
          một người cộng sự đắc lực của bạn để giải quyết các vấn đề về pháp
          lý - hợp đồng - lao động - thuế. Nếu biết sử dụng đúng giải pháp,
          công ty của bạn sẽ có bàn đạp để bước qua giai đoạn tăng trưởng
          của doanh nghiệp trên 03 năm.</p>
        <button class="btn btn-warning">Tư vấn cho tôi</button>
      </div>
      <div class="col-md-7">
        <div style="position: relative;padding-bottom: 100px;">
          <img style="    margin: auto;
    width: 50%;" class="img-responsive" src="/assets/media/DND3N/phat-trien-ben-vung/business process 2.png">
          <div style="color: #2D577D; position: absolute; top: 0;">
            <p style="color: #2D577D; line-height: unset;margin-bottom: 0.5rem" class="alt-title">DỊCH VỤ
              CẦN THIẾT</p>
            <ul style="list-style: disc; margin-left: 18px;">
              <li style="color: #2D577D;">Quản trị “4 trong 1”</li>
              <li style="color: #2D577D;">Ngành nghề có điều kiện</li>
              <li style="color: #2D577D;">Đăng ký nhãn hiệu</li>

            </ul>
          </div>
          <div style="color: #868686; position: absolute;left: 40%;
    bottom: 0; ">
            <p style="color: #868686; line-height: unset;margin-bottom: 0.5rem" class="alt-title">DỊCH VỤ
              CẦN THIẾT</p>
            <ul style="list-style: disc; margin-left: 18px;">
              <li style="color: #D6D6D6;">Tư vấn luật sư</li>
              <li style="color: #D6D6D6;">Đăng ký kinh doanh</li>
              <li style="color: #D6D6D6;">Đăng ký đầu tư</li>

            </ul>
          </div>
          <div style="color: #868686; position: absolute; top: 0;right: 0;">
            <p style="color: #868686; line-height: unset;margin-bottom: 0.5rem" class="alt-title">DỊCH VỤ
              CẦN THIẾT</p>
            <ul style="list-style: disc; margin-left: 18px;">
              <li style="color: #D6D6D6;">Giải quyết tranh chấp</li>
              <li style="color: #D6D6D6;">Pháp lý sự kiện</li>
              <li style="color: #D6D6D6;">Tạm ngưng - Giải thể</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
