<section id="excusion">
    <div class="container-fluid sub-fluid">
        <div class="row">
            <div class="col-md-5">
                <h1 style="padding-bottom: 3rem">Phát triển bền<br> vững
                    suốt 03 năm đầu</h1>
                <p style="padding-bottom: 4rem">Trong "sơ đồ lộ trình doanh nghiệp", bạn đang ở giai đoạn vàng để
                    phát triển kinh doanh. Chúng tôi hiểu điều đó và sẵn sàng trở thành
                    một người cộng sự đắc lực của bạn để giải quyết các vấn đề về pháp
                    lý - hợp đồng - lao động - thuế. Nếu biết sử dụng đúng giải pháp,
                    công ty của bạn sẽ có bàn đạp để bước qua giai đoạn tăng trưởng
                    của doanh nghiệp trên 03 năm.</p>
                <button onclick="$('#dnd3nform1').modal('show')" class="btn btn-warning">Tư vấn cho tôi</button>
            </div>
            <div class="col-md-7">
                <div style="position: relative;padding-bottom: 100px;">
                    <img style="    margin: auto;
    width: 50%;" class="img-responsive" src="/assets/media/DND3N/phat-trien-ben-vung/business process 2.png">
                    <div style="color: #2D577D; position: absolute; top: 0;">
                        <p style="color: #2D577D; line-height: unset;margin-bottom: 0.5rem" class="alt-title">DỊCH VỤ
                            CẦN THIẾT</p>
                        <ul style="list-style: disc; margin-left: 18px;">
                            <li><a style="color: #2D577D;" routerLink="/phap-ly-thuong-xuyen">Quản trị “4 trong 1”</a></li>
                            <li style="color: #2D577D;">Ngành nghề có điều kiện</li>
                            <li><a style="color: #2D577D;" routerLink="/dang-ky-nhan-hieu">Đăng ký nhãn hiệu</a></li>

                        </ul>
                    </div>
                    <div style="color: #868686; position: absolute;left: 40%;
    bottom: 0; ">
                        <p style="color: #868686; line-height: unset;margin-bottom: 0.5rem" class="alt-title">DỊCH VỤ
                            CẦN THIẾT</p>
                        <ul style="list-style: disc; margin-left: 18px;">
                            <li><a style="color: #D6D6D6;" routerLink="/tu-van-luat-su">Tư vấn luật sư</a></li>
                            <li><a style="color: #D6D6D6;" routerLink="/dang-ky-kinh-doanh">Đăng ký kinh doanh</a></li>
                            <li><a style="color: #D6D6D6;" routerLink="/dang-ky-dau-tu">Đăng ký đầu tư</a></li>

                        </ul>
                    </div>
                    <div style="color: #868686; position: absolute; top: 0;right: 0;">
                        <p style="color: #868686; line-height: unset;margin-bottom: 0.5rem" class="alt-title">DỊCH VỤ
                            CẦN THIẾT</p>
                        <ul style="list-style: disc; margin-left: 18px;">
                            <li ><a style="color: #D6D6D6;" routerLink="/giai-quyet-tranh-chap">Giải quyết tranh chấp</a></li>
                            <li ><a style="color: #D6D6D6;" routerLink="/phap-ly-su-kien">Pháp lý sự kiện</a></li>
                            <li style="color: #D6D6D6;">Tạm ngưng - Giải thể</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
