<section id="service">
  <div class="container">
    <div class="row title padding-record-title">
      <h1>Dịch vụ được sử dụng nhiều nhất</h1>
    </div>
    <div class="d-none d-md-block">
      <div class="row list-service flex-center-hor">
        <div class="service-item ">
          <div class="content">
            <img src="/assets/media/landingpage/DVPB/TVLS.svg">
            <p class="title" style="cursor: pointer" routerLink="/tu-van-luat-su">Tư vấn trực tuyến</p>
            <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
            <p class="sub-title"><b>Giá phí từ:</b> 200.000 VNĐ</p>
          </div>
          <hr class="horizontal">
        </div>
        <div>
          <hr class="vertical">
        </div>

        <div class="service-item ">
          <div class="content">
            <img src="/assets/media/landingpage/DVPB/DKKD.svg">
            <p class="title" style="cursor: pointer" routerLink="/dang-ky-kinh-doanh">Đăng ký kinh doanh</p>
            <p class="sub-title"><b>Đã sử dụng:</b> 1.236 lượt</p>
            <p class="sub-title"><b>Giá phí từ:</b> 2.000.000 VNĐ</p>
          </div>
          <hr class="horizontal">
        </div>
        <div>
          <hr class="vertical">
        </div>

        <div class="service-item ">
          <div class="content">
            <img src="/assets/media/landingpage/DVPB/PLTX.svg">
            <p class="title" style="cursor: pointer" routerLink="/phap-ly-thuong-xuyen">Pháp lý thường xuyên</p>
            <p class="sub-title"><b>Đã sử dụng:</b> 1.109 lượt</p>
            <p class="sub-title"><b>Giá phí từ:</b> 3.000.000 VNĐ</p>
          </div>
          <hr class="horizontal">
        </div>
      </div>

      <div class="row list-service flex-center-hor">
        <div class="service-item ">
          <div class="content-2">
            <img src="/assets/media/landingpage/DVPB/DKNH.svg">
            <p class="title" style="cursor: pointer" routerLink="/dang-ky-nhan-hieu">Đăng ký nhãn hiệu</p>
            <p class="sub-title"><b>Đã sử dụng:</b> 2.268 lượt</p>
            <p class="sub-title"><b>Giá phí từ:</b> 3.500.000 VNĐ</p>
          </div>
        </div>
        <div>
          <hr class="vertical">
        </div>

        <div class="service-item ">
          <div class="content-2">
            <img src="/assets/media/landingpage/DVPB/PLSK.svg">
            <p class="title" style="cursor: pointer" routerLink="/phap-ly-su-kien">Pháp lý sự kiện</p>
            <p class="sub-title"><b>Đã sử dụng:</b> 30 lượt</p>
            <p class="sub-title"><b>Giá phí từ:</b> 6.000.000 VNĐ</p>
          </div>
        </div>
        <div>
          <hr class="vertical">
        </div>
        <div class="service-item ">
          <div class="content-2">
            <img src="/assets/media/landingpage/DVPB/XLTT.svg">
            <p class="title" style="cursor: pointer" routerLink="/giai-quyet-tranh-chap">Giải quyết tranh chấp</p>
            <p class="sub-title"><b>Đã sử dụng:</b> 218 lượt</p>
            <p class="sub-title"><b>Giá phí từ:</b> 15.000.000 VNĐ</p>
          </div>
        </div>
      </div>
      <br/><br/>
      <div class="flex-center-hor">
        <button (click)="submit()" type="button" class="btn btn-warning btn-custom"  data-toggle="modal">ĐĂNG KÝ DỊCH VỤ</button>
      </div>
    </div>
    <div class="row d-flex d-md-none">
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/TVLS.svg">
        <p class="title"><b>Tư vấn trực tuyến</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/DKKD.svg">
        <p class="title"><b>Đăng ký kinh doanh</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/PLTX.svg">
        <p class="title"><b>Pháp lý thường xuyên</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/DKNH.svg">
        <p class="title"><b>Đăng ký nhãn hiệu</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/PLSK.svg">
        <p class="title"><b>Pháp lý sự kiện</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/XLTT.svg">
        <p class="title"><b>Giải quyết tranh chấp</b></p>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-warning btn-custom" data-toggle="modal"
                onclick="modalShow(null, null, null,null,'problem,problem-checkbox')">ĐĂNG KÝ DỊCH VỤ
        </button>
      </div>
    </div>
  </div>
</section>
