<section id="service">
  <div class="container">
    <div class="row title padding-record-title">
      <h1  lang-i18n key="home-dich-vu-sd-nhieu" default="Dịch vụ được sử dụng nhiều nhất" ></h1>
    </div>
    <div class="d-none d-md-block">
      <div class="row list-service flex-center-hor">
        <div class="service-item ">
          <div class="content">
            <img src="/assets/media/landingpage/DVPB/TVLS.svg">
            <p class="title" style="cursor: pointer" routerLink="/tu-van-luat-su" lang-i18n key="home-tu-van-truc-tuyen" default="Tư vấn trực tuyến" ></p>
            <p class="sub-title"><b lang-i18n key="home-dasudung" default="Đã sử dụng: "></b> <span lang-i18n key="2358luot" default="2.385 lượt"></span></p>
            <p class="sub-title"><b lang-i18n key="home-gia-phi-tu" default="Giá phí từ: "></b> <span lang-i18n key="200k" default="200.000 VNĐ"></span></p>
          </div>
          <hr class="horizontal">
        </div>
        <div>
          <hr class="vertical">
        </div>

        <div class="service-item ">
          <div class="content">
            <img src="/assets/media/landingpage/DVPB/DKKD.svg">
            <p class="title" style="cursor: pointer" routerLink="/dang-ky-kinh-doanh"  lang-i18n key="home-dang-ky-kinh doanh" default="Đăng ký kinh doanh" ></p>
            <p class="sub-title"><b lang-i18n key="home-dasudung" default="Đã sử dụng: "></b> <span lang-i18n key="1236luot" default="1.236 lượt"></span></p>
            <p class="sub-title"><b lang-i18n key="home-gia-phi-tu" default="Giá phí từ: "></b> <span lang-i18n key="2000k" default="2.000.000 VNĐ"></span></p>
          </div>
          <hr class="horizontal">
        </div>
        <div>
          <hr class="vertical">
        </div>

        <div class="service-item ">
          <div class="content">
            <img src="/assets/media/landingpage/DVPB/PLTX.svg">
            <p class="title" style="cursor: pointer" routerLink="/phap-ly-thuong-xuyen" lang-i18n key="home-phaplythuongxuyen" default="Pháp lý thường xuyên"></p>
            <p class="sub-title"><b lang-i18n key="home-dasudung" default="Đã sử dụng: "></b> <span lang-i18n key="1109luot" default="1.109 lượt"></span></p>
            <p class="sub-title"><b lang-i18n key="home-gia-phi-tu" default="Giá phí từ: "></b> <span lang-i18n key="home-3tr" default="3.000.000 VNĐ"></span></p>
          </div>
          <hr class="horizontal">
        </div>
      </div>

      <div class="row list-service flex-center-hor">
        <div class="service-item ">
          <div class="content-2">
            <img src="/assets/media/landingpage/DVPB/DKNH.svg">
            <p class="title" style="cursor: pointer" routerLink="/dang-ky-nhan-hieu" lang-i18n key="home-dangkynhanhieu" default="Đăng ký nhãn hiệu"></p>
            <p class="sub-title"><b lang-i18n key="home-dasudung" default="Đã sử dụng: "></b><span lang-i18n key="2268luot" default="2.268 lượt"></span></p>
            <p class="sub-title"><b lang-i18n key="home-gia-phi-tu" default="Giá phí từ: "></b><span lang-i18n key="home-3tr5" default="3.500.000 VNĐ"></span></p>
          </div>
        </div>
        <div>
          <hr class="vertical">
        </div>

        <div class="service-item ">
          <div class="content-2">
            <img src="/assets/media/landingpage/DVPB/PLSK.svg">
            <p class="title" style="cursor: pointer" routerLink="/phap-ly-su-kien" lang-i18n key="home-phaplysukien" default="Pháp lý sự kiện"></p>
            <p class="sub-title"><b lang-i18n key="home-dasudung" default="Đã sử dụng: "></b><span lang-i18n key="30luot" default="30 lượt"></span></p>
            <p class="sub-title"><b lang-i18n key="home-gia-phi-tu" default="Giá phí từ: "></b> <span lang-i18n key="home-6tr" default="6.000.000 VNĐ"></span></p>
          </div>
        </div>
        <div>
          <hr class="vertical">
        </div>
        <div class="service-item ">
          <div class="content-2">
            <img src="/assets/media/landingpage/DVPB/XLTT.svg">
            <p class="title" style="cursor: pointer" routerLink="/giai-quyet-tranh-chap" lang-i18n key="home-giai-quyet-tranhchap" default="Giải quyết tranh chấp"></p>
            <p class="sub-title"><b lang-i18n key="home-dasudung" default="Đã sử dụng: "></b> <span lang-i18n key="218luot" default="218 lượt"></span></p>
            <p class="sub-title"><b lang-i18n key="home-gia-phi-tu" default="Giá phí từ: "></b><span lang-i18n key="home-15tr" default="15.000.000 VNĐ"></span></p>
          </div>
        </div>
      </div>
      <br/><br/>
      <div class="flex-center-hor">
        <button (click)="submit()" type="button" class="btn btn-warning"  data-toggle="modal"  lang-i18n key="home-dang-ky-dich-vu" default="ĐĂNG KÝ DỊCH VỤ"></button>
      </div>
    </div>
    <div class="row d-flex d-md-none">
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/TVLS.svg">
        <p class="title"><b  lang-i18n key="home-tu-van-truc-tuyen" default="Tư vấn trực tuyến">{{global.locale=='vi'?'Tư vấn trực tuyến':'Tư vấn trực tuyến aaa'}}</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/DKKD.svg">
        <p class="title"><b  lang-i18n key="home-dang-ky-kinh doanh" default="Đăng ký kinh doanh" >{{global.locale=='vi'?'Đăng ký kinh doanh':'Đăng ký kinh doanh aaa'}}</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/PLTX.svg">
        <p class="title"><b lang-i18n key="home-phaplythuongxuyen" default="Pháp lý thường xuyên">{{global.locale=='vi'?'Pháp lý thường xuyên':'Pháp lý thường xuyên aaa'}}</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/DKNH.svg">
        <p class="title"><b  lang-i18n key="home-dangkynhanhieu" default="Đăng ký nhãn hiệu">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Đăng ký nhãn hiệu aaa'}}</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/PLSK.svg">
        <p class="title"><b  lang-i18n key="home-phaplysukien" default="Pháp lý sự kiện">{{global.locale=='vi'?'Pháp lý sự kiện':'Pháp lý sự kiện aaa'}}</b></p>
      </div>
      <div class="col-6 text-center">
        <img class="img-fluid" src="/assets/media/landingpage/DVPB/XLTT.svg">
        <p class="title"><b lang-i18n key="home-giai-quyet-tranhchap" default="Giải quyết tranh chấp">{{global.locale=='vi'?'Giải quyết tranh chấp':'Giải quyết tranh chấp aaa'}}</b></p>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-warning" data-toggle="modal" (click)="submit()"
                onclick="modalShow(null, null, null,null,'problem,problem-checkbox')"  lang-i18n key="home-dang-ky-dich-vu" default="ĐĂNG KÝ DỊCH VỤ">
        </button>
      </div>
    </div>
  </div>
</section>
