<section id="become">
    <div class="container-fluid sub-fluid">
        <div class="row sub" style="padding-bottom: 50px">
            <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">Trở
                thành chuyên gia tổ chức sự kiện bất
                bại</h1></div>
            <p class="padding center">
                Chương trình "<b>Huấn luyện kỹ năng pháp lý tổ chức sự kiện</b>" (06 buổi) - được tổ chức độc quyền bởi
                luật sư của Asoka Law, đặc biệt phù hợp với doanh nghiệp muốn tự mình quản trị các
                vấn đề pháp lý tổ chức sự kiện. Doanh nghiệp không đến để học Luật! Mà để biết cách giải quyết tận gốc 2
                vấn đề pháp lý then chốt: Giấy phép & Hợp đồng. Doanh nghiệp cũng đồng thời

                được tư vấn cách xử lý rủi ro khủng hoảng truyền thông đối với các sự kiện.
            </p>
        </div>

        <div class="row d-none d-md-flex">
            <div class="col-md-3">
                <div class="become-title">
                    <p data-toggle="collapse" href="#giaotrinh" role="button" aria-expanded="false"
                       aria-controls="giaotrinh"><img class="icon-block"
                                                      src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 19.svg">
                        Giáo
                        trình</p>
                    <p data-toggle="collapse" class="collapsed" href="#soluong" role="button" aria-expanded="false"
                       aria-controls="soluong"><img class="icon-block"
                                                    src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 18.svg">
                        Số lượng
                        học viên phù hợp</p>
                    <p data-toggle="collapse" class="collapsed" href="#thoigian" role="button" aria-expanded="false"
                       aria-controls="thoigian"><img class="icon-block"
                                                     src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 20.svg">
                        Thời gian
                        - Địa điểm</p>
                    <p data-toggle="collapse" class="collapsed" href="#chiphi" role="button" aria-expanded="false"
                       aria-controls="chiphi"><img class="icon-block"
                                                   src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 22.svg">
                        Các phí
                        liên quan</p>
                </div>
            </div>
            <!-- <Change> OK-->
            <div class="col-md-5">
                <div class="become-body" id="collapseBecome">
                    <div class="collapse show" id="giaotrinh" data-parent="#collapseBecome">
                        <p>Giáo trình được thiết kế riêng phù hợp với nhu cầu thực tế
                            của từng doanh nghiệp.</p>
                        <p>Thời lượng: <b>06 buổi</b>.</p>
                        <img src="/assets/media/update/plsk_img01.png">
                    </div>
                    <div class="collapse" id="soluong" data-parent="#collapseBecome">
                        <p>Số lượng từ 5-8 người để đảm bảo chất lượng Luật sư hướng dẫn đến từng học viên.</p>

                        <img src="/assets/media/update/plsk_img02.jpg">
                    </div>
                    <div class="collapse" id="thoigian" data-parent="#collapseBecome">
                        <p>Doanh nghiệp chủ động sắp xếp thời gian và địa điểm học phù hợp (tại nội thành Tp.HCM). </p>
                        <img src="/assets/media/update/plsk_img03.jpg">
                    </div>
                    <div class="collapse" id="chiphi" data-parent="#collapseBecome">
                        <p>Doanh nghiệp tự thu/chi các chi phí liên quan đến việc tổ chức khoá học.</p>
                        <img src="/assets/media/update/plsk_img04.jpg">
                    </div>
                </div>
            </div>
            <!-- </Change> -->
            <div class="col-md-4">
                <div class="become-footer shadow-lg">
                    <p class="title">GIÁ PHÍ TRỌN GÓI</p>
                    <p class="price">19.900.000 VNĐ</p>
                    <p style="margin-top: -10px;"><i>(Tương đương 2.499.000 vnđ/học viên)</i></p>
                    <img style="position: absolute;
    width: 80%;

    left: 10%;
    top: 50px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 24.svg">
                    <img style="position: absolute;
    width: 24%;
    top: 0px;
    right: 0px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 23.svg">
                    <p style="    margin-top: 52px;
    font-style: italic;"><a href="#">**Ưu đãi 20% chỉ trong tháng 5</a></p>
                    <button (click)="onChangePackage('Khóa học pháp lý')" style="    padding: 8px 30px; border-radius: 30px; margin-bottom: 13px; }" class="btn btn-warning shadow-lg">Đăng ký</button>
                    <p class="more-infor">Xem chi tiết proposal chương trình <a href="#">tại đây</a></p>
                </div>
            </div>
        </div>
        <div class="row d-block d-md-none">
            <div class="col-sm-12">
                <div class="become-footer shadow-lg">
                    <p class="title">GIÁ PHÍ TRỌN GÓI</p>
                    <p class="price">19.900.000 VNĐ</p>
                    <p style="margin-top: -10px;"><i>(Tương đương 2.499.000 vnđ/học viên)</i></p>
                    <img style="position: absolute;
    width: 80%;

    left: 10%;
    top: 50px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 24.svg">
                    <img style="position: absolute;
    width: 24%;
    top: 0px;
    right: 0px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 23.svg">
                    <p style="    margin-top: 52px;
    font-style: italic;"><a href="#">**Ưu đãi 20% chỉ trong tháng 5</a></p>
                    <button (click)="onChangePackage('Khóa học pháp lý')" style="    padding: 8px 30px; border-radius: 30px; margin-bottom: 13px; }" class="btn btn-warning shadow-lg">Đăng ký</button>
                    <p class="more-infor">Xem chi tiết proposal chương trình <a href="#">tại đây</a></p>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="become-body become-slick">
                    <div>
                        <h3>
                            Giáo
                            trình</h3>
                        <img src="/assets/media/update/plsk_img01.png">
                        <p>Giáo trình được thiết kế riêng phù hợp với nhu cầu thực tế
                            của từng doanh nghiệp.</p>
                        <p>Thời lượng: <b>06 buổi</b>.</p>

                    </div>
                    <div>
                        <h3>
                            Số lượng
                            học viên phù hợp</h3>
                        <img src="/assets/media/update/plsk_img02.jpg">
                        <p>Số lượng từ 5-8 người để đảm bảo chất lượng Luật sư hướng dẫn đến từng học viên.</p>


                    </div>
                    <div>
                        <h3>
                            Thời gian
                            - Địa điểm</h3>
                        <img src="/assets/media/update/plsk_img03.jpg">
                        <p>Doanh nghiệp chủ động sắp xếp thời gian và địa điểm học phù hợp (tại nội thành Tp.HCM). </p>

                    </div>
                    <div>
                        <h3>
                            Các phí
                            liên quan</h3>
                        <img src="/assets/media/update/plsk_img04.jpg">
                        <p>Doanh nghiệp tự thu/chi các chi phí liên quan đến việc tổ chức khoá học.</p>

                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
