<section id="become">
    <div class="container-fluid sub-fluid">
        <div class="row sub" style="padding-bottom: 50px">
            <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">{{global.locale=='vi'?'Trở thành chuyên gia tổ chức sự kiện bất bại':'Becoming an unbeatable event organizer'}}</h1></div>
            <p class="padding center">
                {{global.locale=='vi'?'Chương trình "':'Exclusively'}}<b>{{global.locale=='vi'?'Huấn luyện kỹ năng pháp lý tổ chức sự kiện':'held by our Lawyers, the'}}</b>{{global.locale=='vi'?'" (06 buổi) - được tổ chức độc quyền bởi luật sư của Asoka Law, đặc biệt phù hợp với doanh nghiệp muốn tự mình quản trị các vấn đề pháp lý tổ chức sự kiện. Doanh nghiệp không đến để học Luật! Mà để biết cách giải quyết tận gốc 2 vấn đề pháp lý then chốt: Giấy phép & Hợp đồng. Doanh nghiệp cũng đồng thời được tư vấn cách xử lý rủi ro khủng hoảng truyền thông đối với các sự kiện.':' 6 session training program on event organization is especially suitable for enterprises wanting to manage event-related legal issues by themselves. They do not attend this program to study Law, but to learn how to thoroughly resolve 2 key legal issues: Licenses and Contracts. Businesses also receive advise on handling risks of media-communication crises for events.'}}
            </p>
        </div>

        <div class="row d-none d-md-flex">
            <div class="col-md-3">
                <div class="become-title">
                    <p data-toggle="collapse" href="#giaotrinh" role="button" aria-expanded="false"
                       aria-controls="giaotrinh"><img class="icon-block"
                                                      src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 19.svg">
                        {{global.locale=='vi'?'Giáo trình':'Curriculum'}}</p>
                    <p data-toggle="collapse" class="collapsed" href="#soluong" role="button" aria-expanded="false"
                       aria-controls="soluong"><img class="icon-block"
                                                    src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 18.svg">
                        {{global.locale=='vi'?'Số lượng học viên phù hợp':'Appropriate number of learners'}}</p>
                    <p data-toggle="collapse" class="collapsed" href="#thoigian" role="button" aria-expanded="false"
                       aria-controls="thoigian"><img class="icon-block"
                                                     src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 20.svg">
                        {{global.locale=='vi'?'Thời gian - Địa điểm':'Time - Venue'}}</p>
                    <p data-toggle="collapse" class="collapsed" href="#chiphi" role="button" aria-expanded="false"
                       aria-controls="chiphi"><img class="icon-block"
                                                   src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 22.svg">
                        {{global.locale=='vi'?'Các phí liên quan':'Related fees'}}</p>
                </div>
            </div>
            <!-- <Change> OK-->
            <div class="col-md-5">
                <div class="become-body" id="collapseBecome">
                    <div class="collapse show" id="giaotrinh" data-parent="#collapseBecome">
                        <p>{{global.locale=='vi'?'Giáo trình được thiết kế riêng phù hợp với nhu cầu thực tế của từng doanh nghiệp.':'The curriculum is tailored to the actual needs of each business.'}}</p>
                        <p>{{global.locale=='vi'?'Thời lượng:':'Duration: '}} <b>{{global.locale=='vi'?'06 buổi':'06 sessions'}}</b>.</p>
                        <img src="/assets/media/update/plsk_img01.png">
                    </div>
                    <div class="collapse" id="soluong" data-parent="#collapseBecome">
                        <p>{{global.locale=='vi'?'Số lượng từ 5-8 người để đảm bảo chất lượng Luật sư hướng dẫn đến từng học viên.':'From 5-8 learners, to ensure quality training from our lawyers.'}}</p>

                        <img src="/assets/media/update/plsk_img02.jpg">
                    </div>
                    <div class="collapse" id="thoigian" data-parent="#collapseBecome">
                        <p>{{global.locale=='vi'?'Doanh nghiệp chủ động sắp xếp thời gian và địa điểm học phù hợp (tại nội thành Tp.HCM). ':'Businesses actively arrange suitable time and venue (inner-city areas of Ho Chi Minh City).'}} </p>
                        <img src="/assets/media/update/plsk_img03.jpg">
                    </div>
                    <div class="collapse" id="chiphi" data-parent="#collapseBecome">
                        <p>{{global.locale=='vi'?'Doanh nghiệp tự thu/chi các chi phí liên quan đến việc tổ chức khoá học.':'Businesses collect payments and cover fees related to course organization by themselves.'}}</p>
                        <img src="/assets/media/update/plsk_img04.jpg">
                    </div>
                </div>
            </div>
            <!-- </Change> -->
            <div class="col-md-4">
                <div class="become-footer shadow-lg">
                    <p class="title">{{global.locale=='vi'?'GIÁ PHÍ TRỌN GÓI':'COMPLETE PACKAGE'}}</p>
                    <p class="price">19.900.000 VNĐ</p>
                    <p style="margin-top: -10px;"><i>{{global.locale=='vi'?'(Tương đương 2.499.000 vnđ/học viên)':'(Equivalent to 125 USD / learner)'}}</i></p>
                    <img style="position: absolute;
    width: 80%;

    left: 10%;
    top: 50px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 24.svg">
                    <img style="position: absolute;
    width: 24%;
    top: 0px;
    right: 0px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 23.svg">
                    <p style="    margin-top: 24px;
    font-style: italic;"><a href="#">{{global.locale=='vi'?'**Ưu đãi 20% chỉ trong tháng 5':'Only in May: 20% Off'}}</a></p>
                    <button (click)="onChangePackage('Khóa học pháp lý')" style="    padding: 8px 30px; border-radius: 30px; margin-bottom: 13px; }" class="btn btn-warning shadow-lg">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <p class="more-infor">{{global.locale=='vi'?'Xem chi tiết proposal chương trình ':'Click for more details'}}<a href="#">{{global.locale=='vi'?'tại đây':''}}</a></p>
                </div>
            </div>
        </div>
        <div class="row d-block d-md-none">
            <div class="col-sm-12">
                <div class="become-footer shadow-lg">
                    <p class="title">{{global.locale=='vi'?'GIÁ PHÍ TRỌN GÓI':'COMPLETE PACKAGE'}}</p>
                    <p class="price">19.900.000 VNĐ</p>
                    <p style="margin-top: -10px;"><i>{{global.locale=='vi'?'(Tương đương 2.499.000 vnđ/học viên)':'(Equivalent to 125 USD / learner)'}}</i></p>
                    <img style="position: absolute;
    width: 80%;

    left: 10%;
    top: 50px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 24.svg">
                    <img style="position: absolute;
    width: 24%;
    top: 0px;
    right: 0px;" src="/assets/media/PLSK/tro_thanh_chuyen_gia/Asset 23.svg">
                    <p style="    margin-top: 24px;
    font-style: italic;"><a href="#">{{global.locale=='vi'?'**Ưu đãi 20% chỉ trong tháng 5':'Only in May: 20% Off'}}</a></p>
                    <button (click)="onChangePackage('Khóa học pháp lý')" style="    padding: 8px 30px; border-radius: 30px; margin-bottom: 13px; }" class="btn btn-warning shadow-lg">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <p class="more-infor">{{global.locale=='vi'?'Xem chi tiết proposal chương trình ':'Click for more details'}}<a href="#">{{global.locale=='vi'?'tại đây':''}}</a></p>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="become-body become-slick">
                    <div>
                        <h3>
                            {{global.locale=='vi'?'Giáo trình':'Curriculum'}}</h3>
                        <img src="/assets/media/update/plsk_img01.png">
                        <p>{{global.locale=='vi'?'Giáo trình được thiết kế riêng phù hợp với nhu cầu thực tế của từng doanh nghiệp.':'The curriculum is tailored to the actual needs of each business.'}}</p>
                        <p>{{global.locale=='vi'?'Thời lượng: ':'Duration: '}} <b>{{global.locale=='vi'?'06 buổi':'06 sessions'}}</b>.</p>

                    </div>
                    <div>
                        <h3>{{global.locale=='vi'?'Số lượng học viên phù hợp':'Appropriate number of learners'}}</h3>
                        <img src="/assets/media/update/plsk_img02.jpg">
                        <p>{{global.locale=='vi'?'Số lượng từ 5-8 người để đảm bảo chất lượng Luật sư hướng dẫn đến từng học viên.':'From 5-8 learners, to ensure quality training from our lawyers.'}}</p>


                    </div>
                    <div>
                        <h3>{{global.locale=='vi'?'Thời gian - Địa điểm':'Time - Venue'}}</h3>
                        <img src="/assets/media/update/plsk_img03.jpg">
                        <p>{{global.locale=='vi'?'Doanh nghiệp chủ động sắp xếp thời gian và địa điểm học phù hợp (tại nội thành Tp.HCM).':'Businesses actively arrange suitable time and venue (inner-city areas of Ho Chi Minh City).'}} </p>

                    </div>
                    <div>
                        <h3>{{global.locale=='vi'?'Các phí liên quan':'Related fees'}}</h3>
                        <img src="/assets/media/update/plsk_img04.jpg">
                        <p>{{global.locale=='vi'?'Doanh nghiệp tự thu/chi các chi phí liên quan đến việc tổ chức khoá học.':'Businesses collect payments and cover fees related to course organization by themselves.'}}</p>

                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
