<section id="teacher">
  <div class="container-fluid sub-fluid">
    <div class="row sub title-teacher" style="padding-bottom: 50px; width: 100%;">
      <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">Giảng
        viên - Luật sư hướng
        dẫn</h1></div>
      <p class="padding center">
        Luật sư và chuyên viên của chúng tôi có <b>kinh nghiệm trên 12 năm</b> phụ trách pháp lý cho các sự
        kiện, <br>dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại Việt Nam.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="teacher-img" style="    width: 70%;
    float: right;" src="/assets/media/PLSK/giang_vien_huong_dan/Luat-Su-Tam.png">
      </div>
      <div class="col-md-6">
        <div class="teacher-right">
          <p class="title">Luật sư <span>Tâm Dương</span></p>
          <hr>
          <img src="/assets/media/PLSK/giang_vien_huong_dan/Asset 10.svg">
          <ul>
            <li>Cử nhân Đại học Luật TP.HCM.</li>
            <li>Luật sư chuyên về tư vấn/tranh tụng thương mại, dân sự;</li>
            <li>Thuộc đoàn Luật sư TP.HCM, Liên đoàn Luật sư Việt Nam
              từ 2013.
            </li>
            <li>Sáng lập công ty luật Asoka</li>
            <li>Giám đốc pháp lý Flow Media</li>
            <li>12 năm kinh nghiệm, từng phụ trách pháp lý cho nhiều sự
              kiện lớn, dự án lễ hội, phim điện ảnh, chương trình ca nhạc
              tại TP.HCM
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div class="row sub" style="padding-bottom: 50px">
      <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">Các sự
        kiện Asoka Law đã phụ trách thành công</h1></div>

    </div>
    <div class="row teacher-slider" style="    min-height: 400px;">
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/1-tai-kham-pha-sai-gon.jpg">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống

              TOONG tại Tp. Hồ Chí Minh</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/2-learn-to-trade.jpg">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống

              TOONG tại Tp. Hồ Chí Minh</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/3- khoa-dao-tao-huan-luyen-noi-bo-ve-ky-nang-phap-ly-to-chuc-su-kien.jpg">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống

              TOONG tại Tp. Hồ Chí Minh</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/4-mat-ngu-12-chom-saol.jpg">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống

              TOONG tại Tp. Hồ Chí Minh</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/5-khoa-hoc-phap-ly-to-chuc-su-kien-Flow-Media.jpg">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống

              TOONG tại Tp. Hồ Chí Minh</p>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>
