<section id="teacher">
  <div class="container-fluid sub-fluid">
    <div class="row sub title-teacher" style="padding-bottom: 50px; width: 100%;">
      <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">{{global.locale=='vi'?'Giảng viên - Luật sư hướng dẫn':'Course Instructor - Lawyer'}}</h1></div>
      <p class="padding center">
        {{global.locale=='vi'?'Luật sư và chuyên viên của chúng tôi có ':'Our lawyer and legal specialists have'}}<b>{{global.locale=='vi'?'kinh nghiệm trên 12 năm':'over 12 years of legal experience'}}</b>{{global.locale=='vi'?' phụ trách pháp lý cho các sự kiện, ':' in events,'}}<br>{{global.locale=='vi'?'dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại Việt Nam.':'festivals, movie projects, and concerts in Vietnam.'}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="teacher-img" style="    width: 70%;
    float: right;" src="/assets/media/PLSK/giang_vien_huong_dan/Luat-Su-Tam.png">
      </div>
      <div class="col-md-6" style="padding-left: 5%;">
        <div class="teacher-right">
          <p class="title">{{global.locale=='vi'?'Luật sư':'Lawyer'}} <span>{{global.locale=='vi'?'Tâm Dương':'Tam Duong'}}</span></p>
          <hr>
          <img src="/assets/media/PLSK/giang_vien_huong_dan/Asset 10.svg">
          <ul>
            <li>{{global.locale=='vi'?'Cử nhân Đại học Luật TP.HCM.':'Bachelor of Ho Chi Minh City University of Law'}}</li>
            <li>{{global.locale=='vi'?'Luật sư chuyên về tư vấn/tranh tụng thương mại, dân sự;':'Specializing in consulting/ representing in commercial & civil litigation;'}}</li>
            <li>{{global.locale=='vi'?'Thuộc đoàn Luật sư TP.HCM, Liên đoàn Luật sư Việt Nam từ 2013.':'Member of Ho Chi Minh City Bar Association, Vietnam Bar Federation since 2013'}}
            </li>
            <li>{{global.locale=='vi'?'Sáng lập công ty luật Asoka':'Founder of Asoka Law Co., Ltd. '}}</li>
            <li>{{global.locale=='vi'?'Giám đốc pháp lý Flow Media':'Chief Legal Officer of Flow Media JSC.'}}</li>
            <li>{{global.locale=='vi'?'12 năm kinh nghiệm, từng phụ trách pháp lý cho nhiều sự kiện lớn, dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại TP.HCM':'12-year legal experience, in charge of legal matters for several major events, festivals, movie projects, and music programs in Ho Chi Minh City'}}
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div class="row sub" style="padding-bottom: 50px">
      <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">{{global.locale=='vi'?'Các sự kiện Asoka Law đã phụ trách thành công':'Events successfully managed by Asoka Law'}}</h1></div>

    </div>
    <div class="row teacher-slider" style="min-height: 300px;">
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/1-tai-kham-pha-sai-gon.jpg" height="140px;">
          <div class="center content-event" style="display: none; ">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn':'Reinvent Saigon - Experimental Week'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống TOONG tại Tp. Hồ Chí Minh':'held by TOONG coworking space and VECS, on the whole TOONG system in Ho Chi Minh City'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/2-learn-to-trade.jpg" height="140px;">
          <div class="center content-event" style="display: none; ">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Chuỗi đào tạo kiến thức đầu tư cho nhà đầu tư Việt Nam"':'Investment Knowledge Training Series for Vietnamese'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Tập đoàn Learn To Trade từ Anh và VECS tổ chức tại Tp. Hồ Chí Minh và Hà Nội':'investors held by Learn To Trade Corporation (from the UK) and VECS, in Ho Chi Minh City and Hanoi.'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/3- khoa-dao-tao-huan-luyen-noi-bo-ve-ky-nang-phap-ly-to-chuc-su-kien.jpg" height="140px;">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Khóa đào tạo huấn luyện nội bộ về kỹ năng pháp lý tổ chức sự kiện':'"Event-related Legal Management" training course'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Công ty Seni Art tổ chức tại Tp. Hồ Chí Minh':'Công ty Seni Art tổ chức tại Tp. Hồ Chí Minh aaa'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/4-mat-ngu-12-chom-saol.jpg" height="140px;">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Lễ hội văn hóa, trình diễn nghệ thuật, gian hàng hội chợ':'Cultural festival (including art performances & fair) held'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Cộng đồng Mật Ngữ 12 Chòm Sao tổ chức cho giới trẻ Tp. Hồ Chí Minh':' by MN12CS, a horoscope community for young people in Ho Chi Minh City.'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/5-khoa-hoc-phap-ly-to-chuc-su-kien-Flow-Media.jpg" height="140px;">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Khoá huấn luyện "Pháp lý tổ chức sự kiện"':'"Event-related Legal Management" training course, '}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Đồng tổ chức với Flow Media cho hơn 300 Giám đốc, chuyên viên trong ngành tổ chức sự kiện.':'co-organized with Flow Media, joined by over 300 directors and event executives.'}}</p>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>
