<section id="teacher">
  <div class="container-fluid sub-fluid">
    <div class="row sub title-teacher" style="padding-bottom: 50px; width: 100%;">
      <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">{{global.locale=='vi'?'Giảng viên - Luật sư hướng dẫn':'Giảng viên - Luật sư hướng dẫn aaa'}}</h1></div>
      <p class="padding center">
        {{global.locale=='vi'?'Luật sư và chuyên viên của chúng tôi có ':'Luật sư và chuyên viên của chúng tôi có  aaa'}}<b>{{global.locale=='vi'?'kinh nghiệm trên 12 năm':'kinh nghiệm trên 12 năm aaa'}}</b>{{global.locale=='vi'?' phụ trách pháp lý cho các sự kiện, ':' phụ trách pháp lý cho các sự kiện,  aaa'}}<br>{{global.locale=='vi'?'dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại Việt Nam.':'dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại Việt Nam. aaa'}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="teacher-img" style="    width: 70%;
    float: right;" src="/assets/media/PLSK/giang_vien_huong_dan/Luat-Su-Tam.png">
      </div>
      <div class="col-md-6">
        <div class="teacher-right">
          <p class="title">{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}} <span>{{global.locale=='vi'?'Tâm Dương':'Tâm Dương aaa'}}</span></p>
          <hr>
          <img src="/assets/media/PLSK/giang_vien_huong_dan/Asset 10.svg">
          <ul>
            <li>{{global.locale=='vi'?'Cử nhân Đại học Luật TP.HCM.':'Cử nhân Đại học Luật TP.HCM. aaa'}}</li>
            <li>{{global.locale=='vi'?'Luật sư chuyên về tư vấn/tranh tụng thương mại, dân sự;':'Luật sư chuyên về tư vấn/tranh tụng thương mại, dân sự; aaa'}}</li>
            <li>{{global.locale=='vi'?'Thuộc đoàn Luật sư TP.HCM, Liên đoàn Luật sư Việt Nam từ 2013.':'Thuộc đoàn Luật sư TP.HCM, Liên đoàn Luật sư Việt Nam từ 2013. aaa'}}
            </li>
            <li>{{global.locale=='vi'?'Sáng lập công ty luật Asoka':'Sáng lập công ty luật Asoka aaa'}}</li>
            <li>{{global.locale=='vi'?'Giám đốc pháp lý Flow Media':'Giám đốc pháp lý Flow Media aaa'}}</li>
            <li>{{global.locale=='vi'?'12 năm kinh nghiệm, từng phụ trách pháp lý cho nhiều sự kiện lớn, dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại TP.HCM':'12 năm kinh nghiệm, từng phụ trách pháp lý cho nhiều sự kiện lớn, dự án lễ hội, phim điện ảnh, chương trình ca nhạc tại TP.HCM aaa'}}
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div class="row sub" style="padding-bottom: 50px">
      <div class="col-md-12 center" style="margin-bottom: 25px;color: #2D3D69"><h1 style="color: #2D3D69">{{global.locale=='vi'?'Các sự kiện Asoka Law đã phụ trách thành công':'Các sự kiện Asoka Law đã phụ trách thành công aaa'}}</h1></div>

    </div>
    <div class="row teacher-slider" style="min-height: 300px;">
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/1-tai-kham-pha-sai-gon.jpg" height="140px;">
          <div class="center content-event" style="display: none; ">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn':'Chuỗi Thể Nghiệm Tái Khám Phá Sài Gòn aaa'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống TOONG tại Tp. Hồ Chí Minh':'TOONG - coworking space và VECS tổ chức trên toàn bộ hệ thống TOONG tại Tp. Hồ Chí Minh aaa'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/2-learn-to-trade.jpg" height="140px;">
          <div class="center content-event" style="display: none; ">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Chuỗi đào tạo kiến thức đầu tư cho nhà đầu tư Việt Nam"':'Chuỗi đào tạo kiến thức đầu tư cho nhà đầu tư Việt Nam aaa'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Tập đoàn Learn To Trade từ Anh và VECS tổ chức tại Tp. Hồ Chí Minh và Hà Nội':'Tập đoàn Learn To Trade từ Anh và VECS tổ chức tại Tp. Hồ Chí Minh và Hà Nội aaa'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/3- khoa-dao-tao-huan-luyen-noi-bo-ve-ky-nang-phap-ly-to-chuc-su-kien.jpg" height="140px;">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Khóa đào tạo huấn luyện nội bộ về kỹ năng pháp lý tổ chức sự kiện':'Khóa đào tạo huấn luyện nội bộ về kỹ năng pháp lý tổ chức sự kiện aaa'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Công ty Seni Art tổ chức tại Tp. Hồ Chí Minh':'Công ty Seni Art tổ chức tại Tp. Hồ Chí Minh aaa'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/4-mat-ngu-12-chom-saol.jpg" height="140px;">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Lễ hội văn hóa, trình diễn nghệ thuật, gian hàng hội chợ':'Lễ hội văn hóa, trình diễn nghệ thuật, gian hàng hội chợ aaa'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Cộng đồng Mật Ngữ 12 Chòm Sao tổ chức cho giới trẻ Tp. Hồ Chí Minh':'Cộng đồng Mật Ngữ 12 Chòm Sao tổ chức cho giới trẻ Tp. Hồ Chí Minh aaa'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="teacher-slider-child shadow-lg">
          <img src="/assets/media/PLSK/cac_su_kien/5-khoa-hoc-phap-ly-to-chuc-su-kien-Flow-Media.jpg" height="140px;">
          <div class="center content-event" style="display: none;">
            <p style="text-align: center;
    line-height: 1px;
    margin-bottom: 3px;
    margin-top: 7px;"><b style="font-size: 10px">{{global.locale=='vi'?'Khoá huấn luyện "Pháp lý tổ chức sự kiện"':'Khoá huấn luyện "Pháp lý tổ chức sự kiện" aaa'}}</b></p>
            <p style="    text-align: center;
    font-size: 10px;
    line-height: 16px;
        padding: 0px 40px;
    margin-bottom: 10px;">{{global.locale=='vi'?'Đồng tổ chức với Flow Media cho hơn 300 Giám đốc, chuyên viên trong ngành tổ chức sự kiện.':'Đồng tổ chức với Flow Media cho hơn 300 Giám đốc, chuyên viên trong ngành tổ chức sự kiện. aaa'}}</p>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>
