<!-- <Change> -->
<section class="bg-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h5 class="pc" style="font-weight: 300; line-height: 2.5rem; margin: 0"><span style="font-weight:400;font-size:1.5rem">{{global.locale=='vi'?'Đội ngũ luật sư 12+ năm kinh nghiệm':'Đội ngũ luật sư 12+ năm kinh nghiệm aaa'}}</span> {{global.locale=='vi'?'sẵn sàng lắng nghe':'sẵn sàng lắng nghe aaa'}}<br> {{global.locale=='vi'?'vấn đề tranh chấp của bạn.':'vấn đề tranh chấp của bạn. aaa'}}</h5>
                <h5 class="sp center" style="font-weight: 300; line-height: 2.5rem; margin: 0"><span style="font-weight:400;font-size:1.5rem">{{global.locale=='vi'?'Đội ngũ luật sư 12+ năm kinh nghiệm':'Đội ngũ luật sư 12+ năm kinh nghiệm aaa'}}</span>{{global.locale=='vi'?'sẵn sàng lắng nghe vấn đề tranh chấp của bạn.':'sẵn sàng lắng nghe vấn đề tranh chấp của bạn. aaa'}} </h5>
            </div>
            <div class="col-md-4">
                <div class="text-right pc">
                    <button onclick="$('#gqtcform1').modal('show')" data-toggle="modal" data-target="#gqtc-form" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'Nhận tư vấn giải pháp':'Nhận tư vấn giải pháp aaa'}}</button>
                    <p class="center d-inline-block"><i class="security" style="padding: 0.75rem 2rem;">{{global.locale=='vi'?'*Cam kết bảo mật thông tin':'*Cam kết bảo mật thông tin aaa'}}</i></p>
                </div>
                <div class="sp center" style="margin-top: 2rem;">
                    <button onclick="$('#gqtcform1').modal('show')" data-toggle="modal" data-target="#gqtc-form" class="btn btn-warning sub-button shadow" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'Nhận tư vấn giải pháp':'Nhận tư vấn giải pháp aaa'}}</button>
                    <p class="center d-inline-block"><i class="security" style="padding: 0.75rem 2rem;">{{global.locale=='vi'?'*Cam kết bảo mật thông tin':'*Cam kết bảo mật thông tin aaa'}}</i></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </Change> -->
