<section class="sub bg-image center">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-8">Lorem ipsum dol elit, sed diam nonummy nibh euismod
        tincidunt ut laoreet dolore mag
      </div>
      <div class="col-md-4">
        <div style="width: fit-content; float:right"><button class="btn btn-warning sub-button">Đăng kí nhận tư vấn</button>
          <br>
          <i class="security">*Cam kết bảo mật thông tin</i></div>

      </div>
    </div>

  </div>
</section>
