<section id="business-type"><img style="position: absolute; width: 350px; top: 1700px;" src="/assets/media/DKKD/cac-goi-phi/Background-left.svg"><img style="    position: absolute; width: 650px; right: 0; top: 1038px;" src="/assets/media/DKKD/cac-goi-phi/Background-right.svg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h1 class="padding-header">Chọn một loại hình <br>phù hợp với công việc kinh doanh của bạn</h1></div>
    </div>
    <div class="row d-block d-md-none">
      <div class="col-md-12 col-sm-12">
        <ul class="nav nav-pills " id="pills-tab" role="tablist">
          <li class="tab-link-custom-mb col-6 "><a data-toggle="pill" href="#one-thanh-vien" role="tab" aria-controls="pills-home" aria-selected="false">Công ty TNHH <br>1 thành viên</a></li>
          <li class="tab-link-custom-mb active col-6"><a class="active" data-toggle="pill" href="#two-thanh-vien" role="tab" aria-controls="pills-profile" aria-selected="true">Công ty TNHH <br>2 thành viên trở lên</a></li>
          <li class="tab-link-custom-mb col-6"><a data-toggle="pill" href="#co-phan" role="tab" aria-controls="pills-contact" aria-selected="false">Công ty <br>Cổ phần</a></li>
          <li class="tab-link-custom-mb col-6"><a data-toggle="pill" href="#tu-nhan" role="tab" aria-controls="pills-contact" aria-selected="false">Doanh nghiệp<br> tư nhân</a></li>
          <li class="tab-link-custom-mb col-6"><a data-toggle="pill" href="#hop-danh" role="tab" aria-controls="pills-contact" aria-selected="false">Công ty<br> Hợp danh</a></li>
          <li class="tab-link-custom-mb col-6"><a data-toggle="pill" href="#ca-the" role="tab" aria-controls="pills-contact" aria-selected="false">Hộ kinh doanh<br> cá thể</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12 d-none d-md-block">
        <div class="image"><img width="100%" src="/assets/media/DKKD/loai-hinh/anh.jpg"></div>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade" id="one-thanh-vien" role="tabpanel"><b style="font-size: 18px;">Công ty TNHH 1 thành viên</b>
            <p>Là doanh nghiệp do 1 tổ chức hoặc cá nhân sở hữu, chịu trách nhiệm trong phạm vi số vốn điều lệ của công ty. </p><b>Ưu điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Chủ sở hữu toàn quyền quyết định trong các vấn đề của doanh nghiệp.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Dễ dàng quản lý, ít rủi ro vì chỉ chịu trách nhiệm trong phần vốn góp.</p><b>Nhược điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Không được phát hành cổ phần nên không huy động được vốn (nếu muốn huy động thêm vốn thì phải chuyển đổi loại hình thành TNHH 2 thành viên trở lên hoặc công ty cổ phần).</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Khi tính thuế thu nhập doanh nghiệp, tiền lương của chủ sở hữu ko được khấu trừ.</p></div>
          <div class="tab-pane fade show active" id="two-thanh-vien" role="tabpanel"><b style="font-size: 18px;">Công ty TNHH 2 thành viên trở lên</b>
            <p>Là doanh nghiệp có số lượng thành viên từ 2 đến 50 thành viên, có thể là cá nhân, tổ chức; mỗi thành viên chịu trách nhiệm trọng phạm vi vốn góp của mình đã cam kết.</p><b>Ưu điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Ít rủi ro vì chỉ chịu trách nhiệm tương ứng với số vốn góp.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Hạn chế được sự thâm nhập của người ngoài vì muốn chuyển nhượng vốn phải dành sự ưu tiên cho các thành viên còn lại hoặc được sự đồng ý của các thành viên còn lại thì mới chuyển nhượng vốn cho một chủ thể khác.</p><b>Nhược điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Bị giới hạn thành viên góp vốn, tối đa 50 thành viên.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Không huy động được vốn nên không có vốn đối với những dự án lớn.</p></div>
          <div class="tab-pane fade" id="co-phan" role="tabpanel"><b style="font-size: 18px;">Công ty Cổ phần</b>
            <p>Là doanh nghiệp mà vốn điều lệ được chia làm nhiều phần bằng nhau gọi là cổ phần, cổ đông có thể là tổ chức hoặc cá nhân.</p><b>Ưu điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Phù hợp đối với những công ty lớn vì số lượng cổ đông tối thiểu là 03 và không hạn chế số lượng tối đa;</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Cổ đông chịu trách nhiệm trong phạm vi vốn góp.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>có quyền phát hành cổ phần các loại để huy động vốn.</p><b>Nhược điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Việc quản lý phức tạp.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Chế độ tài chính, kế toán, kiểm soát tương đối khó hơn các mô hình doanh nghiệp khác.</p></div>
          <div class="tab-pane fade" id="hop-danh" role="tabpanel"><b style="font-size: 18px;">Công ty Hợp danh</b>
            <p>Là doanh nghiệp do ít nhất 02 thành viên là cá nhân làm chủ sở hữu chung của công ty, cùng nhau kinh doanh dưới một tên chung (gọi là thành viên hợp danh). Ngoài các thành viên hợp danh, công ty có thể có thêm thành viên góp vốn.</p><b>Ưu điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Tạo được sự tin tưởng cho khách hàng vì kinh doanh dựa trên nền tảng uy tín và tài sản của thành viên hợp danh.</p><b>Nhược điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Thành viên hợp danh không được quyền chuyển một phần hoặc toàn bộ phần vốn góp của mình tại công ty cho người khác nếu không được sự chấp thuận của các thành viên hợp danh còn lại.</p></div>
          <div class="tab-pane fade" id="tu-nhan" role="tabpanel"><b style="font-size: 18px;">Doanh nghiệp tư nhân</b>
            <p>Là doanh nghiệp do một cá nhân làm chủ và tự chịu trách nhiệm bằng toàn bộ tài sản của mình về mọi hoạt động của doanh nghiệp.</p><b>Ưu điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Chủ động trong các vấn đề phát sinh của doanh nghiệp.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Loại hình đơn giản, cơ cấu gọn nhẹ, phù hợp với các cá nhân kinh doanh nhỏ lẻ.</p><b>Nhược điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Chủ doanh nghiệp phải chịu trách nhiệm vô hạn đối với số vốn góp.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span> Mỗi cá nhân chỉ được quyền thành lập một doanh nghiệp tư nhân.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Doanh nghiệp tư nhân không được quyền góp vốn thành lập hoặc mua cổ phần, phần vốn góp trong công ty hợp danh, TNHH hoặc công ty cổ phần.</p></div>
          <div class="tab-pane fade" id="ca-the" role="tabpanel"><b style="font-size: 18px;">Hộ kinh doanh cá thể</b>
            <p>Do một cá nhân hoặc một nhóm người gồm các cá nhân là công dân Việt Nam đủ 18 tuổi, có năng lực hành vi dân sự đầy đủ, hoặc một hộ gia đình làm chủ, chỉ được đăng ký kinh doanh tại một địa điểm, sử dụng dưới 10 lao động và chịu trách nhiệm bằng toàn bộ tài sản của mình đối với hoạt
              động kinh doanh.</p><b>Ưu điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Thủ tục thành lập khá đơn giản.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Quy mô gọn nhẹ, phù hợp với cá nhân kinh doanh nhỏ lẻ. </p><b>Nhược điểm</b>
            <p><span><i class="fa fa-circle dot-business"></i></span>Chỉ được đăng ký kinh doanh tại một địa điểm.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span> Chỉ được sử dụng tối đa 09 lao động.</p>
            <p><span><i class="fa fa-circle dot-business"></i></span>Không phải là doanh nghiệp, không có tư cách pháp nhân, không có con dấu.</p></div>
        </div>
      </div>
    </div>
    <div class="row d-none d-md-block">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="tab-link-custom "><a data-toggle="pill" href="#one-thanh-vien" role="tab" aria-controls="pills-home" aria-selected="false">
            <hr>
            Công ty TNHH <br>1 thành viên</a></li>
          <li class="tab-link-custom "><a class="active" data-toggle="pill" href="#two-thanh-vien" role="tab" aria-controls="pills-profile" aria-selected="true">
            <hr>
            Công ty TNHH <br>2 thành viên trở lên</a></li>
          <li class="tab-link-custom "><a data-toggle="pill" href="#co-phan" role="tab" aria-controls="pills-contact" aria-selected="false">
            <hr>
            Công ty Cổ phần</a></li>
          <li class="tab-link-custom "><a data-toggle="pill" href="#tu-nhan" role="tab" aria-controls="pills-contact" aria-selected="false">
            <hr>
            Doanh nghiệp tư nhân</a></li>
          <li class="tab-link-custom "><a data-toggle="pill" href="#hop-danh" role="tab" aria-controls="pills-contact" aria-selected="false">
            <hr>
            Công ty Hợp danh</a></li>
          <li class="tab-link-custom "><a data-toggle="pill" href="#ca-the" role="tab" aria-controls="pills-contact" aria-selected="false">
            <hr>
            Hộ kinh doanh cá thể</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
