<section id='feedback' class="sub">
    <div class="container center">
        <div class="text-center">
            <h1 style="padding-bottom: 20px">Nhận xét từ khách hàng đã sử dụng dịch vụ</h1>
        </div>
        <div class="feedback-slide-pltx d-none d-md-block">
            <div class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">
                        Tôi góp vốn nhằm thành lập doanh nghiệp về xuất nhập khẩu quần áo thời trang từ Hàn Quốc sang Việt Nam cũng với một đối tác người Việt Nam. Từ khi chưa thành lập cho đến lúc hoàn thiện, Công ty Luật Asoka đều cử chuyên viên và Luật sư hỗ trợ, giải đáp những khúc mắc pháp lý. Tôi hoàn toàn yên tâm khi kinh doanh tại Việt Nam với sự hỗ trợ toàn diện của Asoka Law.
                    </p>
                    <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">MR. AN</h4>
                                <p>Nhà đầu tư từ <span style="color: #0f74a8; font-weight: 500">Hàn Quốc</span></p>
                            </div>
                            <div class="logo-customer">
                                <img src="/assets/media/DKDT/feedback-khach-hang/Mr.An-Han-Quoc.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback-slide-pltx-mobile d-block d-md-none">
            <div class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">
                        Tôi góp vốn nhằm thành lập doanh nghiệp về xuất nhập khẩu quần áo thời trang từ Hàn Quốc sang Việt Nam cũng với một đối tác người Việt Nam. Từ khi chưa thành lập cho đến lúc hoàn thiện, Công ty Luật Asoka đều cử chuyên viên và Luật sư hỗ trợ, giải đáp những khúc mắc pháp lý. Tôi hoàn toàn yên tâm khi kinh doanh tại Việt Nam với sự hỗ trợ toàn diện của Asoka Law.
                    </p>
                    <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">MR. AN</h4>
                                <p>Nhà đầu tư từ <span style="color: #0f74a8; font-weight: 500">Hàn Quốc</span></p>
                            </div>
                            <div class="logo-customer">
                                <img src="/assets/media/DKDT/feedback-khach-hang/Mr.An-Han-Quoc.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="call row sub d-none d-md-flex" style="padding:30px 100px;  ">
            <div class="col-md-3">
                <div class="step-hr">
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                    <img src="/assets/media/PLTX/effect/Asset%2010.svg">
                    <p>Tư vấn miễn phí: 096 191 4328</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-hr">
                    <hr class="right">
                </div>
            </div>
        </div>
        <div class="call d-block d-md-none">
            <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                <img src="/assets/media/PLTX/effect/Asset%2010.svg">
                <p>Tư vấn miễn phí: 096 191 4328</p>
            </div>
        </div>
    </div>
</section>
