<section id='feedback' class="sub d-none d-md-block" style="">
  <div class="container center">
    <div class="text-center"><h1 style="padding-bottom: 20px">Nhận xét từ khách hàng đã sử dụng dịch vụ</h1></div>
    <div class="feedback-slide-pltx">
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis

            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="flex-center-vertically">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">MR. AN</h4>
                <p>Nhà đầu tư từ <span style="color: #0f74a8; font-weight: 500">Hàn Quốc</span></p>
              </div>
              <div class="logo-customer">

                <img src="/assets/media/DKDT/feedback-khach-hang/Mr.An-Han-Quoc.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis

            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="flex-center-vertically">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">MR. AN</h4>
                <p>Nhà đầu tư từ <span style="color: #0f74a8; font-weight: 500">Hàn Quốc</span></p>
              </div>
              <div class="logo-customer">

                <img src="/assets/media/DKDT/feedback-khach-hang/Mr.An-Han-Quoc.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis

            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="flex-center-vertically">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">MR. AN</h4>
                <p>Nhà đầu tư từ <span style="color: #0f74a8; font-weight: 500">Hàn Quốc</span></p>
              </div>
              <div class="logo-customer">

                <img src="/assets/media/DKDT/feedback-khach-hang/Mr.An-Han-Quoc.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="call row sub" style="padding:30px 100px;  ">
      <div class="col-md-3">
        <div class="step-hr">
          <hr>
        </div>
      </div>
      <div class="col-md-6">
        <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
          <img src="/assets/media/PLTX/effect/Asset%2010.svg">
          <p>Tư vấn miễn phí: 096 191 4328</p></div>
      </div>
      <div class="col-md-3">
        <div class="step-hr">
          <hr class="right">
        </div>
      </div>

    </div>
  </div>

</section>
