<section id='feedback' class="sub">
    <div class="container center">
        <div class="text-center">
            <h1 style="padding-bottom: 20px">{{global.locale=='vi'?'Nhận xét từ khách hàng đã sử dụng dịch vụ':'Nhận xét từ khách hàng đã sử dụng dịch vụ aaa'}}</h1>
        </div>
        <div class="feedback-slide-pltx d-none d-md-block">
            <div *ngFor="let item of data" class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">{{global.locale == 'vi' ? item.description : item.en_description}}</p>
                    <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">{{item.name}}</h4>
                                <p>{{global.locale == 'vi' ? item.title : item.en_title}}</p>
                            </div>
                            <div class="logo-customer">
                                <img src="{{item.image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback-slide-pltx-mobile d-block d-md-none">
            <div *ngFor="let item of data" class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">{{global.locale == 'vi' ? item.description : item.en_description}}</p>
                    <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">{{item.name}}</h4>
                                <p>{{global.locale == 'vi' ? item.title : item.en_title}}</p>
                            </div>
                            <div class="logo-customer">
                                <img src="{{item.image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="call row sub d-none d-md-flex" style="padding:30px 100px;  ">
            <div class="col-md-3">
                <div class="step-hr">
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                    <img src="/assets/media/PLTX/effect/Asset%2010.svg">
                    <p>{{global.locale=='vi'?'Tư vấn miễn phí: 096 191 4328':'Tư vấn miễn phí: 096 191 4328 aaa'}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-hr">
                    <hr class="right">
                </div>
            </div>
        </div>
        <div class="call d-block d-md-none">
            <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                <img src="/assets/media/PLTX/effect/Asset%2010.svg">
                <p>{{global.locale=='vi'?'Tư vấn miễn phí: 096 191 4328':'Tư vấn miễn phí: 096 191 4328 aaa'}}</p>
            </div>
        </div>
    </div>
</section>
