<!--OK-->
<section id="question" style="margin-bottom: 3rem;">
  <div class="container">
    <h1  class="center" style="margin-bottom: 3rem;">Các câu hỏi thường gặp</h1>
    <div class="s6-content">
      <div class="row">
        <div class="col-md-6">
          <div class="s6-item">
            <h4>Quản trị doanh nghiệp “4 trong 1”</h4>
            <ul>
              <li>
                <div class="s6head">Các dịch vụ pháp lý Asoka Law cung cấp trong Gói Quản Trị Doanh Nghiệp?</div>
                <div class="s6body" style="display: none;">
                  <p><style type="text/css"></style>Quản trị doanh nghiệp "4 trong 1" là dịch vụ pháp lý thường xuyên mà Asoka Law cung cấp tới các doanh nghiệp nhỏ và vừa, quy mô dưới 10 lao động. Chúng tôi sẽ cử 01 Luật sư và 02 trợ lý nhằm quản lý toàn diện, đảm bảo an toàn cho công ty bạn ở 04 khía cạnh: pháp lý, hợp đồng, thuế và lao động. </p>
                </div>
              </li>
              <li>
                <div class="s6head">Khách hàng nào nên sử dụng Gói Quản trị doanh nghiệp 4 trong 1?</div>
                <div class="s6body" style="display: none;">
                  <p>
                    <style type="text/css">
                    </style>Asoka Law ưu tiên cung cấp Gói dịch vụ này cho các doanh nghiệp được chính Asoka Law thành lập. Chúng tôi muốn đảm bảo rằng: Asoka Law sẽ giám sát chặt chẽ và đảm bảo hệ thống quản trị của công ty bạn được chặt chẽ từ khi khởi tạo cho đến lúc phát triển lớn mạnh. </p>
                </div>
              </li>
              <li>
                <div class="s6head">Công ty thành lập bởi bên khác, có sử dụng Gói Quản trị ở Asoka Law được không?</div>
                <div class="s6body" style="display: none;">
                  <p>
                    <style type="text/css">
                    </style>Có. Tuy nhiên chúng tôi sẽ yêu cầu Quý khách sử dụng Gói "Rà soát &amp; vá lỗi" trước khi sử dụng Gói quản trị doanh nghiệp ổn định bởi Asoka Law. Chúng tôi sẽ rà soát toàn bộ hệ thống hoạt động của công ty bạn và xử lý các lỗ hổng trước khi quyết định tiếp nhận.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="s6-item">
            <h4>Đăng ký ngành nghề có điều kiện</h4>
            <ul>
              <li>
                <div class="s6head">Làm sao xác định ngành nghề nào cần thực hiện đăng ký thêm điều kiện?</div>
                <div class="s6body" style="display: none;">
                  <p>
                    <style type="text/css">
                    </style>Bạn có thể tra cứu sơ bộ thủ tục pháp lý cho các ngành nghề có điều kiện cần thực hiện ở danh sách liệt kê:... Nếu trong danh sách liệt kê không có ngành nghề của bạn, bạn có thể đăng ký tư vấn để Luật sư Asoka Law rà soát và lên danh sách riêng cho bạn.</p>
                </div>
              </li>
              <li>
                <div class="s6head">Công ty đã hoạt động, quên đăng ký giấy phép đủ điều kiện có bị phạt không?</div>
                <div class="s6body" style="display: none;">
                  <p>
                    <style type="text/css">
                    </style>Nếu công ty của bạn đang hoạt động trong lĩnh vực yêu cầu điều kiện nhưng không đáp ứng được hoặc không đăng ký, công ty sẽ phải chịu các chế tài phạt từ Cơ Quan Nhà Nước. Tùy thuộc vi phạm cụ thể, cơ quan Nhà Nước sẽ có các mức chế tài khác nhau. </p>
                </div>
              </li>
              <li>
                <div class="s6head">Công ty tôi đã hoạt động 02 năm, không rõ có bỏ sót thủ tục nào chưa làm không?</div>
                <div class="s6body">
                  <p>
                    <style type="text/css">
                    </style>Nếu bạn không rõ công ty mình có bỏ sót hoặc làm chưa đúng, chưa đủ thủ tục nào không, bạn có thể đăng ký "Gói rà soát vá lỗi" do Asoka Law cung cấp. Chúng tôi sẽ tiến hành rà soát toàn bộ hệ thống pháp lý - thuế - hợp đồng - lao động và đưa ra các phương án nhằm hỗ trợ bạn xử lý các lỗi vận hành.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><div class="row">
        <div class="col-md-6">
      <div class="s6-item">
        <h4>Đăng ký nhãn hiệu</h4>
        <ul>
          <li>
            <div class="s6head">Để bảo vệ tài sản sở hữu trí tuệ của công ty, tôi chỉ cần đăng ký nhãn hiệu là đủ?</div>
            <div class="s6body">
              <p>
                <style type="text/css">
                </style>Nhãn hiệu là tài sản trí tuệ cơ bản nhất của một doanh nghiệp. Tuy nhiên, nếu chỉ dừng lại ở đăng ký nhãn hiệu là chưa đủ. Bạn nên đăng ký bảo hộ cho các tài sản khác thuộc về trí tuệ, sự sáng tạo của mình, ví dụ như: bản quyền, sáng chế, giải pháp hữu ích, kiểu dáng,... nhằm đảm bảo toàn bộ công sức sáng tạo của doanh nghiệp mình sẽ được pháp luật bảo vệ.</p>
            </div>
          </li>
          <li>
            <div class="s6head">Tôi có thể tự mình đăng ký nhãn hiệu được không?</div>
            <div class="s6body">
              <p>
                <style type="text/css">
                </style>Được. Bạn có thể truy cập website của Cục Sở Hữu Trí Tuệ để nghiên cứu cách thức tự đăng ký. Tuy nhiên, có thể do không hiểu rõ Luật Sở Hữu Trí Tuệ và các quy định khác có liên quan, bạn sẽ gặp thiếu sót trong quá trình đăng ký. Quan trọng hơn, nếu không hiểu được bản chất cốt lõi của việc kê khai thông tin, bạn sẽ không biết cách để soạn thảo hồ sơ đăng ký nhãn hiệu tốt nhất, nhằm tránh các rủi ro trong tương lai.</p>
            </div>
          </li>
          <li>
            <div class="s6head">Bên công ty khác sử dụng nhãn hiệu giống tôi, vậy tôi có được đăng ký không?</div>
            <div class="s6body">
              <p>
                <style type="text/css">
                </style>Nếu xảy ra tình trạng này, bạn cần kiểm tra xem nhãn hiệu của công ty đó đã được đăng ký tại Cục Sở Hữu Trí Tuệ chưa. Nếu họ vẫn chưa đăng ký thì có nghĩa là bạn vẫn còn quyền được đăng ký sở hữu nhãn hiệu đó. Bạn cần nhanh chóng tiến hành đăng ký để bảo vệ quyền sở hữu nhãn hiệu của mình.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
      <div class="col-md-6">
        <div class="s6-item">
          <h4>Quy trình yêu cầu tư vấn</h4>
          <ul>
            <li>
              <div class="s6head">Tôi có thể yêu cầu Asoka Law tư vấn bằng cách nào?</div>
              <div class="s6body">
                <p>
                  <style type="text/css">
                  </style>Asoka Law hiện có 2 phương thức tư vấn: tư vấn miễn phí (do bộ phận chăm sóc khách hàng phụ trách) và tư vấn có trả phí (do các luật sư phụ trách). Bạn có thể điền vào form yêu cầu để được tự động gửi tới email của bộ phận chăm sóc khách hàng, hoặc vào trang <a routerLink="/tu-van-luat-su">Luật Sư Tư Vấn</a> để đăng ký tư vấn có trả phí.</p>
              </div>
            </li>
            <li>
              <div class="s6head">Tôi có thể liên hệ trực tuyến với Asoka Law qua các kênh nào?</div>
              <div class="s6body">
                <p>
                  <style type="text/css">
                  </style>Bạn có thể chat trực tiếp với bộ phận chăm sóc khách hàng qua box chat hiển thị trên website. Hoặc: gọi - nhắn qua Hotline 096 191 4328 (zalo/ viber/ whatsapp). Ngoài ra, chúng tôi có facebook, youtube (tên: Asoka Law), gmail: consult@asokalaw,.vn. Bạn có thể lựa chọn kênh liên hệ phù hợp nhất với mình. Các chuyên viên của Asoka Law khi nhận được yêu cầu, sẽ phản hồi bạn trong vòng không quá 30 phút (trong giờ làm việc). </p>
              </div>
            </li>
            <li>
              <div class="s6head">Tôi có thể đến trụ sở Asoka Law để yêu cầu tư vấn trực tiếp không?</div>
              <div class="s6body">
                <p>
                  <style type="text/css">
                  </style>Được. Với điều kiện: bạn phải đăng ký trước với bộ phận chăm sóc khách hàng hoặc qua trang <a routerLink="/tu-van-luat-su">Luật Sư Tư Vấn</a>. Việc đăng ký trước nhằm thuận tiện cho chúng tôi sắp xếp Luật sư thực hiện phù hợp nhất với yêu cầu của bạn. Đồng thời, tư vấn trực tiếp với luật sư là một hình thức tư vấn có tính phí theo quy định của Asoka Law.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="info-see-all center">
        <a href="#" data-toggle="modal" data-target="#modal-question" style="cursor: pointer;">Xem tất cả các câu hỏi &gt;&gt;</a>
    </div>
    </div>
  </div>
</section>
<!-- <Change> -->
<div class="modal fade" id="modal-question"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
        <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem; outline: none;" aria-label="Close">
          <span aria-hidden="true" style="font-size: 26px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4 class="text-warning" id="khainiem">Quản trị doanh nghiệp “4 trong 1”</h4>
          <div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingOne">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Các dịch vụ pháp lý Asoka Law cung cấp trong Gói Quản Trị Doanh Nghiệp?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                      <div class="card-body" style="background-color: #f6f6f6;">Quản trị doanh nghiệp "4 trong 1" là dịch vụ pháp lý thường xuyên mà Asoka Law cung cấp tới các doanh nghiệp nhỏ và vừa, quy mô dưới 10 lao động. Chúng tôi sẽ cử 01 Luật sư và 02 trợ lý nhằm quản lý toàn diện, đảm bảo an toàn cho công ty bạn ở 04 khía cạnh: pháp lý, hợp đồng, thuế và lao động.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingTwo">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Khách hàng nào nên sử dụng Gói Quản trị doanh nghiệp 4 trong 1?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                      <div class="card-body" style="background-color: #f6f6f6;">Asoka Law ưu tiên cung cấp Gói dịch vụ này cho các doanh nghiệp được chính Asoka Law thành lập. Chúng tôi muốn đảm bảo rằng: Asoka Law sẽ giám sát chặt chẽ và đảm bảo hệ thống quản trị của công ty bạn được chặt chẽ từ khi khởi tạo cho đến lúc phát triển lớn mạnh.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingThree">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Công ty thành lập bởi bên khác, có sử dụng Gói Quản trị ở Asoka Law được không?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                      <div class="card-body" style="background-color: #f6f6f6;">Có. Tuy nhiên chúng tôi sẽ yêu cầu Quý khách sử dụng Gói "Rà soát & vá lỗi" trước khi sử dụng Gói quản trị doanh nghiệp ổn định bởi Asoka Law. Chúng tôi sẽ rà soát toàn bộ hệ thống hoạt động của công ty bạn và xử lý các lỗ hổng trước khi quyết định tiếp nhận.</div>
                  </div>
              </div>
          </div>

          <h4 class="text-warning" id="thoigian">Đăng ký ngành nghề có điều kiện</h4>
          <div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingFour">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Làm sao xác định ngành nghề nào cần thực hiện đăng ký thêm điều kiện?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Bạn có thể tra cứu sơ bộ thủ tục pháp lý cho các ngành nghề có điều kiện cần thực hiện ở danh sách liệt kê:... Nếu trong danh sách liệt kê không có ngành nghề của bạn, bạn có thể đăng ký tư vấn để Luật sư Asoka Law rà soát và lên danh sách riêng cho bạn.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingFive">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Công ty đã hoạt động, quên đăng ký giấy phép đủ điều kiện có bị phạt không?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Nếu công ty của bạn đang hoạt động trong lĩnh vực yêu cầu điều kiện nhưng không đáp ứng được hoặc không đăng ký, công ty sẽ phải chịu các chế tài phạt từ Cơ Quan Nhà Nước. Tùy thuộc vi phạm cụ thể, cơ quan Nhà Nước sẽ có các mức chế tài khác nhau.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingSix">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Công ty tôi đã hoạt động 02 năm, không rõ có bỏ sót thủ tục nào chưa làm không?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Nếu bạn không rõ công ty mình có bỏ sót hoặc làm chưa đúng, chưa đủ thủ tục nào không, bạn có thể đăng ký "Gói rà soát vá lỗi" do Asoka Law cung cấp. Chúng tôi sẽ tiến hành rà soát toàn bộ hệ thống pháp lý - thuế - hợp đồng - lao động và đưa ra các phương án nhằm hỗ trợ bạn xử lý các lỗi vận hành.</div>
                  </div>
              </div>
          </div>

          <h4 class="text-warning" id="thutuc">Đăng ký nhãn hiệu</h4>
          <div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingSeven">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseOne">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Để bảo vệ tài sản sở hữu trí tuệ của công ty, tôi chỉ cần đăng ký nhãn hiệu là đủ?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Nhãn hiệu là tài sản trí tuệ cơ bản nhất của một doanh nghiệp. Tuy nhiên, nếu chỉ dừng lại ở đăng ký nhãn hiệu là chưa đủ. Bạn nên đăng ký bảo hộ cho các tài sản khác thuộc về trí tuệ, sự sáng tạo của mình, ví dụ như: bản quyền, sáng chế, giải pháp hữu ích, kiểu dáng,... nhằm đảm bảo toàn bộ công sức sáng tạo của doanh nghiệp mình sẽ được pháp luật bảo vệ.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingEight">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Tôi có thể tự mình đăng ký nhãn hiệu được không?</span></td>
                                  <td style="vertical-align: middle"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Được. Bạn có thể truy cập website của Cục Sở Hữu Trí Tuệ để nghiên cứu cách thức tự đăng ký. Tuy nhiên, có thể do không hiểu rõ Luật Sở Hữu Trí Tuệ và các quy định khác có liên quan, bạn sẽ gặp thiếu sót trong quá trình đăng ký. Quan trọng hơn, nếu không hiểu được bản chất cốt lõi của việc kê khai thông tin, bạn sẽ không biết cách để soạn thảo hồ sơ đăng ký nhãn hiệu tốt nhất, nhằm tránh các rủi ro trong tương lai.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingNine">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Bên công ty khác sử dụng nhãn hiệu giống tôi, vậy tôi có được đăng ký không?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseNine" class="collapse" aria-labelledby="headingNine">
                      <div class="card-body" style="background-color: #f6f6f6;">Nếu xảy ra tình trạng này, bạn cần kiểm tra xem nhãn hiệu của công ty đó đã được đăng ký tại Cục Sở Hữu Trí Tuệ chưa. Nếu họ vẫn chưa đăng ký thì có nghĩa là bạn vẫn còn quyền được đăng ký sở hữu nhãn hiệu đó. Bạn cần nhanh chóng tiến hành đăng ký để bảo vệ quyền sở hữu nhãn hiệu của mình.</div>
                  </div>
              </div>
          </div>

          <h4 class="text-warning" id="tracuu">Quy trình yêu cầu tư vấn</h4>
          <div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingEleven">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Tôi có thể yêu cầu Asoka Law tư vấn bằng cách nào?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Asoka Law hiện có 2 phương thức tư vấn: tư vấn miễn phí (do bộ phận chăm sóc khách hàng phụ trách) và tư vấn có trả phí (do các luật sư phụ trách). Bạn có thể điền vào form yêu cầu để được tự động gửi tới email của bộ phận chăm sóc khách hàng, hoặc vào trang<a routerLink="/tu-van-luat-su">Luật Sư Tư Vấn</a> để đăng ký tư vấn có trả phí.</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingTwelve">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Tôi có thể liên hệ trực tuyến với Asoka Law qua các kênh nào?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Bạn có thể chat trực tiếp với bộ phận chăm sóc khách hàng qua box chat hiển thị trên website. Hoặc: gọi - nhắn qua Hotline 096 191 4328 (zalo/ viber/ whatsapp). Ngoài ra, chúng tôi có facebook, youtube (tên: Asoka Law), gmail: consult@asokalaw,.vn. Bạn có thể lựa chọn kênh liên hệ phù hợp nhất với mình. Các chuyên viên của Asoka Law khi nhận được yêu cầu, sẽ phản hồi bạn trong vòng không quá 30 phút (trong giờ làm việc).</div>
                  </div>
              </div>
              <div class="card" style="margin-bottom: 5px;">
                  <div class="card-header cardHeader" id="headingThirteen">
                      <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                          <table style="width: 100%">
                              <tr>
                                  <td><span class="btnLink Link">Tôi có thể đến trụ sở Asoka Law để yêu cầu tư vấn trực tiếp không?</span></td>
                                  <td style="vertical-align: middle;text-align:right"><i class="fa fa-chevron-up"></i></td>
                              </tr>
                          </table>
                      </h5>
                  </div>
                  <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                  >
                      <div class="card-body" style="background-color: #f6f6f6;">Được. Với điều kiện: bạn phải đăng ký trước với bộ phận chăm sóc khách hàng hoặc qua trang <a routerLink="/tu-van-luat-su">Luật Sư Tư Vấn</a>. Việc đăng ký trước nhằm thuận tiện cho chúng tôi sắp xếp Luật sư thực hiện phù hợp nhất với yêu cầu của bạn. Đồng thời, tư vấn trực tiếp với luật sư là một hình thức tư vấn có tính phí theo quy định của Asoka Law.</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- </Change> -->
