<!-- <Change> -->
  <section class="bg-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h5 class="pc" style="font-weight: 300; line-height: 2.5rem; margin: 0"><span style="font-weight:400;font-size:1.25rem">{{global.locale=='vi'?'100% khách hàng hài lòng':'100% khách hàng hài lòng aaa'}}</span><br>{{global.locale=='vi'?'khi tham vấn với luật sư/cố vấn của Asoka Law':'khi tham vấn với luật sư/cố vấn của Asoka Law aaa'}}</h5>
                <h5 class="sp center" style="font-weight: 300; line-height: 2.5rem; margin: 0"><span style="font-weight:400;font-size:1.25rem">{{global.locale=='vi'?'100% khách hàng hài lòng':'100% khách hàng hài lòng aaa'}}</span>{{global.locale=='vi'?'khi tham vấn với luật sư/cố vấn của Asoka Law':'khi tham vấn với luật sư/cố vấn của Asoka Law aaa'}}</h5>
            </div>
            <div class="col-md-4">
                <div class="text-right pc">
                    <button onclick="$('#form1').modal('show')" data-toggle="modal" data-target="#gqtc-form" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'ĐẶT LỊCH TƯ VẤN NGAY':'ĐẶT LỊCH TƯ VẤN NGAY aaa'}}</button>
                </div>
                <div class="sp center" style="margin-top: 2rem;">
                    <button onclick="$('#form1').modal('show')" data-toggle="modal" data-target="#gqtc-form" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'ĐẶT LỊCH TƯ VẤN NGAY':'ĐẶT LỊCH TƯ VẤN NGAY aaa'}}</button>
                  </div>
            </div>
        </div>
    </div>
  </section>
  <!-- </Change> -->

