<section id="PLTX-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 title-banner">
        <h1>Quản trị doanh nghiệp
          hiệu quả <b class="light-blue">"4 trong 1"</b></h1>
        <p class="sub">Asoka Law có kinh nghiệm tuyệt vời để giải quyết 4 vấn đề <b class="font-weight-bold">pháp
          lý
          – hợp đồng – thuế – lao động</b>, nhằm tiết kiệm cho doanh nghiệp
          hơn 80% chi phí vận hành.</p>
        <button type="button" class="btn btn-custom">Bắt đầu dùng thử</button>
      </div>
    </div>
  </div>
</section>
<app-pltxbusiness></app-pltxbusiness>
<app-pltxservice></app-pltxservice>
<app-pltxeffective></app-pltxeffective>
<app-pltxfeedback></app-pltxfeedback>
<app-pltxsupport></app-pltxsupport>
<app-pltxquestion></app-pltxquestion>
<app-pltxvideos></app-pltxvideos>
<app-homenews></app-homenews>
<app-pltxcontact></app-pltxcontact>
