<section id="PLTX-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 title-banner">
                <h1>{{global.locale=='vi'?'Quản trị doanh nghiệp hiệu quả ':'"4 in 1" Effective Business Management'}}<b class="light-blue">{{global.locale=='vi'?'"4 trong 1"':''}}</b></h1>
                <p class="sub">{{global.locale=='vi'?'Asoka Law có kinh nghiệm tuyệt vời để giải quyết 4 vấn đề ':'Asoka Law is experienced in dealing with 4 types of '}}<b class="font-weight-bold">{{global.locale=='vi'?'pháp lý – hợp đồng – thuế – lao động':' issues, including legal, contract, tax, and labor '}}</b>{{global.locale=='vi'?', nhằm tiết kiệm cho doanh nghiệp hơn 80% chi phí vận hành.':', in order to save businesses more than 80% of operating costs.'}}</p>
                <button onclick="$('#pltxform1').modal('show')" type="button" class="btn btn-warning">{{global.locale=='vi'?'BẮT ĐẦU DÙNG THỬ':'Get Started'}}</button>
            </div>
        </div>
    </div>
</section>
<app-pltxbusiness></app-pltxbusiness>
<app-pltxservice (changepackage)="package=$event"></app-pltxservice>
<app-pltxeffective></app-pltxeffective>
<app-pltxfeedback></app-pltxfeedback>
<app-pltxsupport></app-pltxsupport>
<app-pltxquestion></app-pltxquestion>
<app-pltxvideos></app-pltxvideos>
<app-homenews></app-homenews>
<app-pltxcontact></app-pltxcontact>
<div class="modal fade" id="pltxform1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-center">{{global.locale=='vi'?'Dùng thử miễn phí 0 đồng ngay hôm nay':'Dùng thử miễn phí 0 đồng ngay hôm nay aaa'}}</h4>
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Full name *'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name. '}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Telephone Number *'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number. '}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address. '}}</small></i>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Chọn gói dịch vụ phù hợp với nhu cầu của bạn':'Choose a package '}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="package" [checked]="package=='Gói cơ bản'" name="package" class="form-check-input" type="radio" value="Gói cơ bản">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói cơ bản':'Basic'}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="package" [checked]="package=='Gói toàn diện'" name="package" class="form-check-input" type="radio" value="Gói toàn diện">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói toàn diện':'Comprehensive'}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="package" [checked]="package=='Gói cộng sự'" name="package" class="form-check-input" type="radio" value="Gói cộng sự">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói cộng sự':'Partner'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p><i><small>{{global.locale=='vi'?'Chuyên viên của Asoka sẽ liên lạc với bạn ngay trong 05 phút để xác nhận thông tin này.':'Asoka\'s specialists will contact you in 5 minutes to confirm the information registered.'}}</small></i><br/>
                    <i><small>{{global.locale=='vi'?'Bạn vui lòng kiểm tra điện thoại/tin nhắn/email để không bỏ sót thông tin từ chúng tôi. Xin cảm ơn.':'Please check your phone, message or email box to not miss any information from us. Thank You! '}}</small></i></p>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'Bắt đầu dùng thử':'Get Started'}}</button>
            </div>
        </div>
    </div>
</div>
