<div id="tvlsform2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button (click)="show=false" type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input placeholder="Nhập họ và tên" type="text" class="form-control" [(ngModel)]="name" name="name">
                </div>
                <div class="form-group">
                    <input placeholder="Số điện thoại - vui lòng nhập chính xác số điện thoại để Asoka liên hệ lại với bạn" class="form-control" [(ngModel)]="phone" name="phone" type="tel"/>
                </div>
                <div class="form-group">
                    <input placeholder="Email" class="form-control" name="email" [(ngModel)]="email" type="email"/>
                </div>
                <div class="form-group problem">
                    <label>Nhập nội dung câu hỏi dự kiến của bạn</label>
                    <textarea class="form-control" [(ngModel)]="description" name="description" rows="2"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">Gửi yêu cầu</button>
            </div>
        </div>
    </div>
</div>
