<section style="margin-bottom: 3rem;">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <h1 style="margin-bottom: 3rem;">Xử lý rủi ro để tăng tốc</h1>
              <div class="mission-txt" style="margin-bottom: 3rem;">
                  <p>Trên 03 năm, công ty của bạn đang trên đường trở thành doanh nghiệp bền vững. Trong "lộ trình doanh nghiệp", sau thời điểm này, công ty của bạn có thể tiếp tục nhân rộng, lớn lên hoặc chia tách thành nhiều công ty con. Hãy cẩn trọng và lựa chọn giải pháp hiệu quả để xử lý các rủi ro nhằm tăng tốc trở thành doanh nghiệp lớn mạnh.</p>
              </div>
              <p class="m-0 pc"><button onclick="$('#dnt3nform1').modal('show');" class="btn btn-warning" style="padding: 0.75rem 3rem">Tư vấn cho tôi</button></p>
              <p class="m-0 sp center" style="margin-top: 2rem;"><button onclick="$('#dnt3nform1').modal('show');" class="btn btn-warning" style="padding: 0.75rem 3rem">Tư vấn cho tôi</button></p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
              <div class="mission-circle" style="padding-top: 3rem;">
                  <p class="mission-circle-img"><img src="assets/media/DNT3N/business process 3.png" style="max-width: 100%"></p>
                 <div class="pc">
                     <div class="mission-circle-list list01">
                         <p>DỊCH VỤ CẦN THIẾT</p>
                         <ul>
                             <li><a routerLink="/giai-quyet-tranh-chap">Giải quyết tranh chấp</a></li>
                             <li><a routerLink="/phap-ly-su-kien">Pháp lý sự kiện</a></li>
                             <li><a routerLink="/">Tạm ngưng - Giải thể</a></li>
                         </ul>
                     </div>
                     <div class="mission-circle-list list02 gray-color">
                         <p>DỊCH VỤ CẦN THIẾT</p>
                         <ul>
                          <li><a routerLink="/phap-ly-thuong-xuyen">Quản trị “4 trong 1”</a></li>
                          <li><a routerLink="/">Ngành nghề có điều kiện</a></li>
                          <li><a routerLink="/dang-ky-nhan-hieu">Đăng ký nhãn hiệu</a></li>
                      </ul>
                     </div>
                     <div class="mission-circle-list list03 gray-color">
                         <p>DỊCH VỤ CẦN THIẾT</p>
                         <ul>
                          <li><a routerLink="/tu-van-luat-su">Tư vấn luật sư</a></li>
                          <li><a routerLink="/dang-ky-kinh-doanh">Đăng ký kinh doanh</a></li>
                          <li><a routerLink="/dang-ky-dau-tu">Đăng ký đầu tư</a></li>
                      </ul>
                     </div>
                 </div>
              </div>
          </div>
      </div>
  </div>
</section>
