<section style="margin-bottom: 3rem;">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <h1 style="margin-bottom: 3rem;"> {{global.locale=='vi'?'Xử lý rủi ro để tăng tốc':'Managing risks to speed up'}}</h1>
              <div class="mission-txt" style="margin-bottom: 3rem;">
                  <p>{{global.locale=='vi'?'Trên 03 năm, công ty của bạn đang trên đường trở thành doanh nghiệp bền vững. Trong "lộ trình doanh nghiệp", sau thời điểm này, công ty của bạn có thể tiếp tục nhân rộng, lớn lên hoặc chia tách thành nhiều công ty con. Hãy cẩn trọng và lựa chọn giải pháp hiệu quả để xử lý các rủi ro nhằm tăng tốc trở thành doanh nghiệp lớn mạnh.':'Operating over 3 years, your company is on its way to becoming a sustainable business. In the "business roadmap", after this point, your company can continue to grow, expand, or be split into several subsidiaries. Be careful and choose effective solutions to handle risks to speed up and become a big business.'}}</p>
              </div>
              <p class="m-0 pc"><button onclick="$('#dnt3nform1').modal('show');" class="btn btn-warning" style="padding: 0.75rem 3rem">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult Me'}}</button></p>
              <p class="m-0 sp center" style="margin-top: 2rem;"><button onclick="$('#dnt3nform1').modal('show');" class="btn btn-warning" style="padding: 0.75rem 3rem">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult Me'}}</button></p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
              <div class="mission-circle" style="padding-top: 3rem;">
                  <p class="mission-circle-img"><img src="assets/media/DNT3N/business process 3.png" style="max-width: 100%"></p>
                 <div class="pc">
                     <div class="mission-circle-list list01">
                         <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'NECESSARY SERVICES'}}</p>
                         <ul>
                             <li><a routerLink="/giai-quyet-tranh-chap">{{global.locale=='vi'?'Giải quyết tranh chấp':'Dispute resolution'}}</a></li>
                             <li><a routerLink="/phap-ly-su-kien">{{global.locale=='vi'?'Pháp lý sự kiện':'Events related legal matters'}}</a></li>
                             <li><a routerLink="/">{{global.locale=='vi'?'Tạm ngưng - Giải thể':'Suspension - dissolution'}}</a></li>
                         </ul>
                     </div>
                     <div class="mission-circle-list list02 gray-color">
                         <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'NECESSARY SERVICES'}}</p>
                         <ul>
                          <li><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Quản trị “4 trong 1”':'4-in-1 administration'}}</a></li>
                          <li><a routerLink="/">{{global.locale=='vi'?'Ngành nghề có điều kiện':'Conditional business lines'}}</a></li>
                          <li><a routerLink="/dang-ky-nhan-hieu">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Trademark registration'}}</a></li>
                      </ul>
                     </div>
                     <div class="mission-circle-list list03 gray-color">
                         <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'NECESSARY SERVICES'}}</p>
                         <ul>
                          <li><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Tư vấn luật sư':'Lawyers\' consultation'}}</a></li>
                          <li><a routerLink="/dang-ky-kinh-doanh">{{global.locale=='vi'?'Đăng ký kinh doanh':'Business registration'}}</a></li>
                          <li><a routerLink="/dang-ky-dau-tu">{{global.locale=='vi'?'Đăng ký đầu tư':'Investment registration'}}</a></li>
                      </ul>
                     </div>
                 </div>
              </div>
          </div>
      </div>
  </div>
</section>
