<section *ngIf="data" id="mainvisual" class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{global.locale == 'vi' ? data.category_name : data.en_category_name}}</h2>
                <p class="main-txt">{{global.locale == 'vi' ? data.category_description : data.en_category_description}}</p>
            </div>
        </div>
    </div>
</section>
<section *ngIf="data" id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="news-content">
                    <h2 class="big">{{global.locale == 'vi' ? data.title : data.en_title}}</h2>
                    <div class="news-label">
                        <p class="news-tag">
                            <span routerLink="/news-category/{{data.category_slug}}" class="badge badge-secondary">
                                <img src="/assets/site/image/news01_tag.svg">
                                {{global.locale == 'vi' ? data.category_name : data.en_category_name}}
                            </span>
                            <span>{{data.modified_at|date:'dd/MM/yyyy'}}</span></p>
                    </div>
                    <div [innerHTML]="global.locale == 'vi' ? data.description : data.en_description"></div>
                </div>
            </div>
            <div class="col-md-4">
                <app-news-form1></app-news-form1>
                <div class="news-tags">
                    <app-newsmostviews></app-newsmostviews>
                    <app-news-tag [data]="data.tags"></app-news-tag>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="news-post">
                    <app-newsrecent *ngIf="recent" [data]="recent"></app-newsrecent>
                </div>
            </div>
        </div>
    </div>
</section>
<app-news-form2></app-news-form2>
