<section id="external">
  <div class="container">
    <div class="row center">
      <div class="col-md-12">
        <h1 style="padding-top: 30px;">Bạn đang tìm kiếm dịch vụ hỗ trợ thêm sau khi đầu tư?</h1>
        <p class="center sub">Bạn muốn ổn định cuộc sống sau khi đầu tư? Đừng lo, chúng tôi sẵn sàng cung cấp
          các giải pháp hỗ trợ
          kịp thời.</p>
      </div>
    </div>
    <div class="row sub d-none d-md-flex " style="padding-bottom: 100px;">
      <div class="col-md-4 center">
        <div class="external" style="margin: auto;width: 310px; position: relative;">
          <div class="cover center">
            <p class="external-title center">Giấy phép lao động</p>
            <p style="min-height: 80px;" class="">Dành cho người nước ngoài lao
              động tại Việt Nam</p>
            <button style="    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-align: center;

    margin-bottom: 20px;" class="btn btn-warning">Đăng ký
            </button>
            <p class="center"><a href="#">Xem chi tiết</a></p>
          </div>
          <img class="external-image"
               src="/assets/media/DKDT/dich-vu-ho-tro-them/1-Giay-phep-lao-dong.png">
          <button class="btn btn-outline-warning external-body">Đăng ký</button>
          <div class="external-footer center">
            <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
              <p><b>Giấy phép lao động</b></p>
              <p>Từ 6.900.000 vnđ</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="external" style="margin: auto;width: 310px; position: relative;">
          <div class="cover center">
            <p class="external-title center">Thẻ tạm trú nhà đầu tư</p>
            <p style="min-height: 80px;" class="">Dành cho nhà đầu tư nước ngoài
              sinh sống có thời hạn tại Việt Nam</p>
            <button style="    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-align: center;

    margin-bottom: 20px;" class="btn btn-warning">Đăng ký
            </button>
            <p class="center"><a href="#">Xem chi tiết</a></p>
          </div>
          <img class="external-image"
               src="/assets/media/DKDT/dich-vu-ho-tro-them/2-the-tam-tru.png">
          <button class="btn btn-outline-warning external-body">Đăng ký</button>
          <div class="external-footer center">
            <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
              <p><b>Thẻ tạm trú nhà đầu tư</b></p>
              <p>Từ 6.900.000 vnđ</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="external" style="margin: auto;width: 310px; position: relative;">
          <div class="cover center">
            <p class="external-title center">Pháp lý thường xuyên</p>
            <p style="min-height: 80px;" class="">Dành cho doanh nghiệp nước ngoài
              tại Việt Nam, chưa có trợ lý, nhân sự,
              kế toán viên.</p>
            <button style="    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-align: center;

    margin-bottom: 20px;" class="btn btn-warning">Đăng ký
            </button>
            <p class="center"><a href="#">Xem chi tiết</a></p>
          </div>
          <img class="external-image"
               src="/assets/media/DKDT/dich-vu-ho-tro-them/3-phap-ly-thuong-xuyen.png">
          <button class="btn btn-outline-warning external-body">Đăng ký</button>
          <div class="external-footer center">
            <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
              <p><b>Pháp lý thường xuyên</b></p>
              <p>Từ 4.600.000 vnđ</p>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="row sub d-block d-md-none slide-support-mobile" style="padding-bottom: 100px;">
      <div class="col-md-4 center">
        <div class="external" style="margin: auto;width: 310px; position: relative;">
          <div class="cover center">
            <p class="external-title center">Giấy phép lao động</p>
            <p style="min-height: 80px;" class="">Dành cho người nước ngoài lao
              động tại Việt Nam</p>
            <button style="    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-align: center;

    margin-bottom: 20px;" class="btn btn-warning">Đăng ký
            </button>
            <p class="center"><a href="#">Xem chi tiết</a></p>
          </div>
          <img class="external-image"
               src="/assets/media/DKDT/dich-vu-ho-tro-them/1-Giay-phep-lao-dong.png">
          <button class="btn btn-outline-warning external-body">Đăng ký</button>
          <div class="external-footer center">
            <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
              <p><b>Giấy phép lao động</b></p>
              <p>Từ 6.900.000 vnđ</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="external" style="margin: auto;width: 310px; position: relative;">
          <div class="cover center">
            <p class="external-title center">Thẻ tạm trú nhà đầu tư</p>
            <p style="min-height: 80px;" class="">Dành cho nhà đầu tư nước ngoài
              sinh sống có thời hạn tại Việt Nam</p>
            <button style="    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-align: center;

    margin-bottom: 20px;" class="btn btn-warning">Đăng ký
            </button>
            <p class="center"><a href="#">Xem chi tiết</a></p>
          </div>
          <img class="external-image"
               src="/assets/media/DKDT/dich-vu-ho-tro-them/2-the-tam-tru.png">
          <button class="btn btn-outline-warning external-body">Đăng ký</button>
          <div class="external-footer center">
            <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
              <p><b>Thẻ tạm trú nhà đầu tư</b></p>
              <p>Từ 6.900.000 vnđ</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="external" style="margin: auto;width: 310px; position: relative;">
          <div class="cover center">
            <p class="external-title center">Pháp lý thường xuyên</p>
            <p style="min-height: 80px;" class="">Dành cho doanh nghiệp nước ngoài
              tại Việt Nam, chưa có trợ lý, nhân sự,
              kế toán viên.</p>
            <button style="    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-align: center;

    margin-bottom: 20px;" class="btn btn-warning">Đăng ký
            </button>
            <p class="center"><a href="#">Xem chi tiết</a></p>
          </div>
          <img class="external-image"
               src="/assets/media/DKDT/dich-vu-ho-tro-them/3-phap-ly-thuong-xuyen.png">
          <button class="btn btn-outline-warning external-body">Đăng ký</button>
          <div class="external-footer center">
            <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
              <p><b>Pháp lý thường xuyên</b></p>
              <p>Từ 4.600.000 vnđ</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</section>
