<section id="external">
    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h1 style="padding-top: 30px;">{{global.locale=='vi'?'Bạn đang tìm kiếm dịch vụ hỗ trợ thêm sau khi đầu tư?':'Looking for additional support services after investment?'}}</h1>
                <p class="center sub">
                    {{global.locale=='vi'?'Bạn muốn ổn định cuộc sống sau khi đầu tư? Đừng lo, chúng tôi sẵn sàng cung cấp các giải pháp hỗ trợ kịp thời.':'- Wanting to stabilize your life after investing? Don\'t worry, we are ready to provide timely support solutions.'}}
                </p>
            </div>
        </div>
        <div class="row sub d-none d-md-flex " style="padding-bottom: 100px;">
            <div class="col-md-4 center">
                <div class="external" style="margin: auto;width: 310px; position: relative;">
                    <div class="cover center">
                        <p class="external-title center">{{global.locale=='vi'?'Giấy phép lao động':' Employment Authorization Document'}}</p>
                        <p style="min-height: 80px;" class="">{{global.locale=='vi'?'Dành cho người nước ngoài lao động tại Việt Nam':'For foreigner working in Vietnam'}}</p>
                        <button (click)="showRegistrationForm(1)" style="    border-radius: 30px; width: 60%; height: 40px; text-align: center; margin-bottom: 20px;" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        <p class="center"><a href="" data-toggle="modal" data-target="#modal-dk-V-1">{{global.locale=='vi'?'Xem chi tiết':'Click for more details'}}</a></p>
                    </div>
                    <img class="external-image" src="/assets/media/DKDT/dich-vu-ho-tro-them/1-Giay-phep-lao-dong.png">
                    <button (click)="showRegistrationForm(1)" class="btn btn-outline-warning external-body" >
                        {{global.locale=='vi'?'Đăng ký':'Register'}}
                    </button>
                    <div class="external-footer center">
                        <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
                            <p><b>{{global.locale=='vi'?'Giấy phép lao động':'Employment Authorization Document'}}</b></p>
                            <p>{{global.locale=='vi'?'Từ 6.900.000 vnđ':' From 6,900,000 VND'}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-dk-V" id="modal-dk-V-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>{{global.locale=='vi'?'Giấy phép lao động':' Employment Authorization Document (Work Permit)'}}</p>
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        </div>
                        <div class="modal-body">
                            <p>{{global.locale=='vi'?'Là thủ tục bắt buộc nhằm xác nhận người nước ngoài vào làm việc tại Việt Nam thuộc hoặc không thuộc diện cấp giấy phép lao động':'Là thủ tục bắt buộc nhằm xác nhận người nước ngoài vào làm việc tại Việt Nam thuộc hoặc không thuộc diện cấp giấy phép lao động aaa'}}</p>
                            <img src="/assets/media/DKDT/dich-vu-ho-tro-them/anh-mo-ta-giay-phep-lao-dong.jpg">
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" style="margin-bottom: 25px;" class="btn btn-warning" data-dismiss="modal" (click)="showRegistrationForm(1)">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 center">
                <div class="external" style="margin: auto;width: 310px; position: relative;">
                    <div class="cover center">
                        <p class="external-title center">{{global.locale=='vi'?'Thẻ tạm trú nhà đầu tư':'Temporary Residence Card for investors'}}</p>
                        <p style="min-height: 80px;" class="">{{global.locale=='vi'?'Dành cho nhà đầu tư nước ngoài sinh sống có thời hạn tại Việt Nam':'For foreign investors living for a limited time in Vietnam'}}</p>
                        <button (click)="showRegistrationForm(2)" style="    border-radius: 30px; width: 60%; height: 40px; text-align: center; margin-bottom: 20px;" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        <p class="center"><a href="" data-toggle="modal" data-target="#modal-dk-V-2">{{global.locale=='vi'?'Xem chi tiết':'Click for more details'}}</a></p>
                    </div>
                    <img class="external-image" src="/assets/media/DKDT/dich-vu-ho-tro-them/2-the-tam-tru.png">
                    <button (click)="showRegistrationForm(2)" class="btn btn-outline-warning external-body">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <div class="external-footer center">
                        <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
                            <p><b>{{global.locale=='vi'?'Thẻ tạm trú nhà đầu tư':'Temporary Residence Card for investors'}}</b></p>
                            <p>{{global.locale=='vi'?'Từ 6.900.000 vnđ':' From 6,900,000 VND'}}</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal modal-dk-V" id="modal-dk-V-2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>{{global.locale=='vi'?'Thẻ tạm trú nhà đầu tư':'Temporary Residence Card for investors'}}</p>
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        </div>
                        <div class="modal-body">
                            <p>{{global.locale=='vi'?'Là thủ tục bắt buộc nhằm xác nhận người nước ngoài lưu trú tại Việt Nam trong thời gian từ 01 - 03 năm và được phép gia hạn.':'Là thủ tục bắt buộc nhằm xác nhận người nước ngoài lưu trú tại Việt Nam trong thời gian từ 01 - 03 năm và được phép gia hạn. aaa'}}</p>
                            <img src="/assets/media/DKDT/dich-vu-ho-tro-them/anh-mo-ta-giay-tam-tru.jpg">
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" style="margin-bottom: 25px;" class="btn btn-warning" data-dismiss="modal" (click)="showRegistrationForm(2)">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 center">
                <div class="external" style="margin: auto;width: 310px; position: relative;">
                    <div class="cover center">
                        <p class="external-title center">{{global.locale=='vi'?'Pháp lý thường xuyên':'Regular legal services'}}</p>
                        <p style="min-height: 80px;" class="">{{global.locale=='vi'?'Dành cho doanh nghiệp nước ngoài tại Việt Nam, chưa có trợ lý, nhân sự, kế toán viên.':'For foreign enterprises in Vietnam in need of assistants, initial staff, and accountants'}}</p>
                        <button (click)="showRegistrationForm(3)" style="    border-radius: 30px; width: 60%; height: 40px; text-align: center; margin-bottom: 20px;" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        <p class="center"><a href="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Xem chi tiết':'Click for more details'}}</a></p>
                    </div>
                    <img class="external-image" src="/assets/media/DKDT/dich-vu-ho-tro-them/3-phap-ly-thuong-xuyen.png">
                    <button (click)="showRegistrationForm(3)" class="btn btn-outline-warning external-body">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <div class="external-footer center">
                        <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
                            <p><b>{{global.locale=='vi'?'Pháp lý thường xuyên':'Regular legal services'}}</b></p>
                            <p>{{global.locale=='vi'?'Từ 4.600.000 vnđ':' From 4,600,000  VND'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sub d-block d-md-none slide-support-mobile" style="padding-bottom: 100px;">
            <div class="col-md-4 center">
                <div class="external" style="margin: auto;width: 310px; position: relative;">
                    <div class="cover center">
                        <p class="external-title center">{{global.locale=='vi'?'Giấy phép lao động':'Employment Authorization Document'}}</p>
                        <p style="min-height: 80px;" class="">{{global.locale=='vi'?'Dành cho người nước ngoài lao động tại Việt Nam':'Dành cho người nước ngoài lao động tại Việt Nam aaa'}}</p>
                        <button (click)="showRegistrationForm(1)" style="    border-radius: 30px; width: 60%; height: 40px; text-align: center; margin-bottom: 20px;" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký':'Đăng ký aaa'}}</button>
                        <p class="center"><a>{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>
                    </div>
                    <img class="external-image"
                         src="/assets/media/DKDT/dich-vu-ho-tro-them/1-Giay-phep-lao-dong.png">
                    <button (click)="showRegistrationForm(1)" class="btn btn-outline-warning external-body">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <div class="external-footer center">
                        <div style=" margin: auto; position: absolute; top: 18px; left: 18px;">
                            <p><b>{{global.locale=='vi'?'Giấy phép lao động':'Employment Authorization Document'}}</b></p>
                            <p>{{global.locale=='vi'?'Từ 6.900.000 vnđ':'Từ 6.900.000 vnđ aaa'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 center">
                <div class="external" style="margin: auto;width: 310px; position: relative;">
                    <div class="cover center">
                        <p class="external-title center">{{global.locale=='vi'?'Thẻ tạm trú nhà đầu tư':'Temporary Residence Card for investors'}}</p>
                        <p style="min-height: 80px;" class="">{{global.locale=='vi'?'Dành cho nhà đầu tư nước ngoài sinh sống có thời hạn tại Việt Nam':'For foreign investors living for a limited time in Vietnam'}}</p>
                        <button (click)="showRegistrationForm(2)" style="    border-radius: 30px; width: 60%; height: 40px; text-align: center; margin-bottom: 20px;" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        <p class="center"><a href="#">{{global.locale=='vi'?'Xem chi tiết':'Click for more details'}}</a></p>
                    </div>
                    <img class="external-image"
                         src="/assets/media/DKDT/dich-vu-ho-tro-them/2-the-tam-tru.png">
                    <button (click)="showRegistrationForm(2)" class="btn btn-outline-warning external-body">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <div class="external-footer center">
                        <div style=" margin: auto; position: absolute; top: 18px; left: 18px;">
                            <p><b>{{global.locale=='vi'?'Thẻ tạm trú nhà đầu tư':'Temporary Residence Card for investors'}}</b></p>
                            <p>{{global.locale=='vi'?'Từ 6.900.000 vnđ':' From 6,900,000 VND'}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 center">
                <div class="external" style="margin: auto;width: 310px; position: relative;">
                    <div class="cover center">
                        <p class="external-title center">{{global.locale=='vi'?'Pháp lý thường xuyên':'Regular legal services'}}</p>
                        <p style="min-height: 80px;" class="">{{global.locale=='vi'?'Dành cho doanh nghiệp nước ngoài tại Việt Nam, chưa có trợ lý, nhân sự, kế toán viên.':'For foreign enterprises in Vietnam in need of assistants, initial staff, and accountants.'}}</p>
                        <button (click)="showRegistrationForm(3)" style="    border-radius: 30px; width: 60%; height: 40px; text-align: center; margin-bottom: 20px;" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                        <p class="center"><a href="#">{{global.locale=='vi'?'Xem chi tiết':'Click for more details'}}</a></p>
                    </div>
                    <img class="external-image"
                         src="/assets/media/DKDT/dich-vu-ho-tro-them/3-phap-ly-thuong-xuyen.png">
                    <button (click)="showRegistrationForm(3)" class="btn btn-outline-warning external-body">{{global.locale=='vi'?'Đăng ký':'Register'}}</button>
                    <div class="external-footer center">
                        <div style="
    margin: auto;
    position: absolute;
    top: 18px;
    left: 18px;
">
                            <p><b>{{global.locale=='vi'?'Pháp lý thường xuyên':'Regular legal services'}}</b></p>
                            <p>{{global.locale=='vi'?'Từ 4.600.000 vnđ':' From 4,600,000  VND'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="dkdtform2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Full name *'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name.'}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Phone number *'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number.'}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address.'}}</small></i>
                </div>
                <div class="form-group problem-checkbox">
                    <label>{{global.locale=='vi'?'Dịch vụ bạn muốn đăng ký':'Select a service package'}}</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [checked]="s1Check" (change)="s1Check=!s1Check" type="checkbox">
                                <span class="form-check-label">{{s1}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [checked]="s2Check" (change)="s2Check=!s2Check" type="checkbox">
                                <span class="form-check-label">{{s2}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [checked]="s3Check" (change)="s3Check=!s3Check" type="checkbox">
                                <span class="form-check-label">{{s3}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" [checked]="s4Check" (change)="s4Check=!s4Check" type="checkbox">
                                <span class="form-check-label">{{s4}}</span>
                            </div>
                        </div>
                    </div>
                    <textarea *ngIf="s4Check" placeholder="Vui lòng mô tả dịch vụ bạn yêu cầu" class="form-control" [(ngModel)]="s4a1" name="s4a1" rows="2"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Send request now'}}</button>
            </div>
        </div>
    </div>
</div>
