<section id='feedback' class="sub d-none d-md-block" style="    padding-bottom: 100px;
}">
  <div class="container text-center">
    <h1 style="padding-bottom: 20px">1000+ Khách hàng đã tin tưởng Asoka Law</h1>
    <div class="row feedback-slide-pltx">
      <div class="col-md-12 feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Công ty của tôi chuyên về sản xuất nước uống dinh dưỡng. Trong quá trình thành lập, tôi khá lo lắng vì ngành hàng F&B có rất nhiều thủ
            tục phức tạp. Tuy nhiên Công ty Luật Asoka rất chuyên nghiệp, am hiểu về ngành hàng này nên mọi giấy phép cần thiết, Asoka Law đều
            tư vấn và hỗ trợ tôi thực hiện rất chi tiết. Tôi hoàn toàn hài lòng khi sử dụng các dịch vụ liên quan đến doanh nghiệp tại Asoka Law.</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 50%;">
          <div class="info-feedback">
            <div class="row">
              <div class="flex-center-vertically">
                <h4>Ông Pierre</h4>
                <p>Giám đốc điều hành DRIVE</p>
              </div>
              <div class="logo-customer">

                <img src="/assets/media/DKKD/1000-kh-tin-tuong/anh.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Công ty của tôi chuyên về sản xuất nước uống dinh dưỡng. Trong quá trình thành lập, tôi khá lo lắng vì ngành hàng F&B có rất nhiều thủ
            tục phức tạp. Tuy nhiên Công ty Luật Asoka rất chuyên nghiệp, am hiểu về ngành hàng này nên mọi giấy phép cần thiết, Asoka Law đều
            tư vấn và hỗ trợ tôi thực hiện rất chi tiết. Tôi hoàn toàn hài lòng khi sử dụng các dịch vụ liên quan đến doanh nghiệp tại Asoka Law.</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 50%;">
          <div class="info-feedback">
            <div class="row">
              <div class="flex-center-vertically">
                <h4>Ông Pierre</h4>
                <p>Giám đốc điều hành DRIVE</p>
              </div>
              <div class="logo-customer">

                <img src="/assets/media/DKKD/1000-kh-tin-tuong/anh.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Công ty của tôi chuyên về sản xuất nước uống dinh dưỡng. Trong quá trình thành lập, tôi khá lo lắng vì ngành hàng F&B có rất nhiều thủ
            tục phức tạp. Tuy nhiên Công ty Luật Asoka rất chuyên nghiệp, am hiểu về ngành hàng này nên mọi giấy phép cần thiết, Asoka Law đều
            tư vấn và hỗ trợ tôi thực hiện rất chi tiết. Tôi hoàn toàn hài lòng khi sử dụng các dịch vụ liên quan đến doanh nghiệp tại Asoka Law.</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 50%;">
          <div class="info-feedback">
            <div class="row">
              <div class="flex-center-vertically">
                <h4>Ông Pierre</h4>
                <p>Giám đốc điều hành DRIVE</p>
              </div>
              <div class="logo-customer">

                <img src="/assets/media/DKKD/1000-kh-tin-tuong/anh.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
