<section id="effective" class="sub" style="padding-bottom: 0px;">
    <div class="container center">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Sử dụng nguồn lực hiệu quả, tiết kiệm "4 trong 1"':'Sử dụng nguồn lực hiệu quả, tiết kiệm "4 trong 1" aaa'}}</h1>
        </div>
        <div class="sub">
            <p class="des-record">{{global.locale=='vi'?'Doanh nghiệp của bạn không đơn độc trong quá trình kinh doanh, bởi vì Asoka Law luôn hỗ trợ đắc lực để giải quyết 4 vấn đề ':'Doanh nghiệp của bạn không đơn độc trong quá trình kinh doanh, bởi vì Asoka Law luôn hỗ trợ đắc lực để giải quyết 4 vấn đề  aaa'}}<b class="text-black">{{global.locale=='vi'?'pháp lý - hợp đồng - lao động - thuế':'pháp lý - hợp đồng - lao động - thuế aaa'}}</b>{{global.locale=='vi'?' một cách xuất sắc.':' một cách xuất sắc. aaa'}}{{global.locale=='vi'?'Doanh nghiệp chỉ cần tập trung vào kinh doanh, mà vẫn đảm bảo được sự ổn định và an toàn của hệ thống với chi phí tiết kiệm.':'Doanh nghiệp chỉ cần tập trung vào kinh doanh, mà vẫn đảm bảo được sự ổn định và an toàn của hệ thống với chi phí tiết kiệm. aaa'}}</p>

        </div>
        <hr>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-6">
                    <img class="effective-img" src="/assets/media/PLTX/effect/anh-clip.png">
                </div>
                <div class="col-md-6 flex-center-vertically">
                    <div class="content-record" style="margin-bottom: 20px;">
                        <div class="float-left title-record">
                            <img src="/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>{{global.locale=='vi'?'Trải nghiệm dịch vụ miễn phí':'Trải nghiệm dịch vụ miễn phí aaa'}}</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>{{global.locale=='vi'?'Trong 7 ngày đầu tiên trải nghiệm dịch vụ, bạn hoàn toàn không phải trả phí. Sau thời gian dùng thử, nếu bạn cảm thấy hài lòng thì chúng tôi mới bắt đầu tính phí.':'Trong 7 ngày đầu tiên trải nghiệm dịch vụ, bạn hoàn toàn không phải trả phí. Sau thời gian dùng thử, nếu bạn cảm thấy hài lòng thì chúng tôi mới bắt đầu tính phí. aaa'}}</p>
                        </div>
                    </div>
                    <div class="content-record" style="margin-bottom: 20px;">
                        <div class="float-left title-record">
                            <img src="/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>{{global.locale=='vi'?'Tiết kiệm 87% chi phí':'Tiết kiệm 87% chi phí aaa'}}</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>{{global.locale=='vi'?'Dịch vụ của Asoka được thiết kế để giảm thiểu cho quỹ lương, tương đương với việc thuê 04 nhân sự nội bộ. Ngân sách đó bạn có thể ưu tiên cho phát triển sản phẩm/dịch vụ. ':'Dịch vụ của Asoka được thiết kế để giảm thiểu cho quỹ lương, tương đương với việc thuê 04 nhân sự nội bộ. Ngân sách đó bạn có thể ưu tiên cho phát triển sản phẩm/dịch vụ.  aaa'}}</p>
                        </div>
                    </div>
                    <div class="content-record" style="margin-bottom: 20px;">
                        <div class="float-left title-record">
                            <img src="/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>{{global.locale=='vi'?' Tư vấn kịp thời chính xác':' Tư vấn kịp thời chính xác aaa'}}</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>{{global.locale=='vi'?'Mỗi doanh nghiệp luôn được phụ trách bởi ít nhất 01 luật sư, 01 cố vấn thuế và 01 chuyên viên, để theo dõi, thực hiện công việc và kịp thời đưa ra lời khuyên hữu ích.':'Mỗi doanh nghiệp luôn được phụ trách bởi ít nhất 01 luật sư, 01 cố vấn thuế và 01 chuyên viên, để theo dõi, thực hiện công việc và kịp thời đưa ra lời khuyên hữu ích. aaa'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <button onclick="$('#pltxform1').modal('show')" class=" btn btn-warning padding color-white" type="button">{{global.locale=='vi'?'DÙNG THỬ MIỄN PHÍ':'DÙNG THỬ MIỄN PHÍ aaa'}}</button>
        </div>
        <a href="tel:0961914328">
            <div class="call row text-center">
                <p class="center"><img src="/assets/media/PLTX/effect/Asset%2010.svg">{{global.locale=='vi'?'Tư vấn miễn phí: 096 191 4328':'Tư vấn miễn phí: 096 191 4328 aaa'}}</p>
            </div>
        </a>
    </div>
</section>
