<section id="effective" class="sub" style="padding-bottom: 0px;">
    <div class="container center">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Sử dụng nguồn lực hiệu quả, tiết kiệm "4 trong 1"':'Using resources effectively and economically "4 in 1"'}}</h1>
        </div>
        <div class="sub">
            <p class="des-record">{{global.locale=='vi'?'Doanh nghiệp của bạn không đơn độc trong quá trình kinh doanh, bởi vì Asoka Law luôn hỗ trợ đắc lực để giải quyết 4 vấn đề ':'Your enterprise is not alone when doing business with Asoka Law\'s effective support in excellently solving 4 types of '}}<b class="text-black">{{global.locale=='vi'?'pháp lý - hợp đồng - lao động - thuế':'issues, including common legal, contract, tax, and labor matters '}}</b>{{global.locale=='vi'?' một cách xuất sắc.':''}}{{global.locale=='vi'?'Doanh nghiệp chỉ cần tập trung vào kinh doanh, mà vẫn đảm bảo được sự ổn định và an toàn của hệ thống với chi phí tiết kiệm.':'Enterprises only need to focus on business, while ensuring the stability and safety of their systems with economical costs.'}}</p>

        </div>
        <hr>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-6">
                    <img class="effective-img" src="/assets/media/PLTX/effect/anh-clip.png">
                </div>
                <div class="col-md-6 flex-center-vertically">
                    <div class="content-record" style="margin-bottom: 20px;">
                        <div class="float-left title-record">
                            <img src="/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>{{global.locale=='vi'?'Trải nghiệm dịch vụ miễn phí':'Experience Our Service for Free'}}</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>{{global.locale=='vi'?'Trong 7 ngày đầu tiên trải nghiệm dịch vụ, bạn hoàn toàn không phải trả phí. Sau thời gian dùng thử, nếu bạn cảm thấy hài lòng thì chúng tôi mới bắt đầu tính phí.':'During the first 7 days of experiencing our service, you absolutely do not have to pay. After the trial period, if you feel satisfied, then we begin charging.'}}</p>
                        </div>
                    </div>
                    <div class="content-record" style="margin-bottom: 20px;">
                        <div class="float-left title-record">
                            <img src="/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>{{global.locale=='vi'?'Tiết kiệm 87% chi phí':'Saving 87% on costs'}}</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>{{global.locale=='vi'?'Dịch vụ của Asoka được thiết kế để giảm thiểu cho quỹ lương, tương đương với việc thuê 04 nhân sự nội bộ. Ngân sách đó bạn có thể ưu tiên cho phát triển sản phẩm/dịch vụ. ':'Asoka\'s services are designed to minimize enterprises\' salary fund, equivalent to hiring 04 internal staff. That budget can be prioritized for product/ service development.'}}</p>
                        </div>
                    </div>
                    <div class="content-record" style="margin-bottom: 20px;">
                        <div class="float-left title-record">
                            <img src="/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>{{global.locale=='vi'?' Tư vấn kịp thời chính xác':' Timely and accurate advice'}}</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>{{global.locale=='vi'?'Mỗi doanh nghiệp luôn được phụ trách bởi ít nhất 01 luật sư, 01 cố vấn thuế và 01 chuyên viên, để theo dõi, thực hiện công việc và kịp thời đưa ra lời khuyên hữu ích.':'Each business is always taken care of at least 01 lawyer, 01 tax advisor and 01 legal expert who monitor, perform tasks and give timely, useful advice.'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <button onclick="$('#pltxform1').modal('show')" class=" btn btn-warning padding color-white" type="button">{{global.locale=='vi'?'DÙNG THỬ MIỄN PHÍ':'Get Started'}}</button>
        </div>
        <a href="tel:0961914328">
            <div class="call row text-center">
                <p class="center"><img src="/assets/media/PLTX/effect/Asset%2010.svg">{{global.locale=='vi'?'Tư vấn miễn phí: 096 191 4328':'Call for free advice: 096 191 4328'}}</p>
            </div>
        </a>
    </div>
</section>
