<section id="missing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center sub">
                <h1 class="center" style="margin-bottom: 2rem;">Doanh nghiệp của bạn có đang bỏ sót thủ tục nào?</h1>
                <p class="center">Khi công ty đi vào hoạt động, nếu không nắm rõ quy định pháp lý cho ngành nghề, sản phẩm/dịch vụ kinh doanh, bạn có thể sẽ tạo ra các "lỗ hổng" trong việc vận hành công ty hoặc bỏ sót những thủ tục quan trọng này.</p>
                <hr style="width: 100%; max-width: 180px; border: 1.5px solid #7ec8e9; margin: 1rem auto">
            </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-md-4">
                <div class="block-missing first">
                    <p class="alt-title">Quản trị<br>
                        thuế - hợp đồng - lao động</p>
                    <hr style="width:100%; max-width: 40px; border: 1px solid #7ec8e9; margin: 1rem 0;">
                    <img src="/assets/media/DND3N/bo-sot-thu-tuc/Asset3.png">
                    <p style="    min-height: 250px;">Theo đuổi lợi nhuận; không tìm được nhân sự để thực hiện đầy đủ các công việc hành chính, nhân sự, thuế theo luật định; chi phí cho lao động chuyên môn quá cao... Đó là những lý do phổ biến khiến bạn rơi vào nguy cơ bị "hổng" về hệ thống hợp
                        đồng, khai trình lao động đúng luật, nộp báo cáo thuế đúng thời hạn.</p>
                    <div class="center"><button (click)="selectService(s1)" class="btn btn-outline-warning">Đăng ký</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-missing">
                    <p class="alt-title">Đăng ký<br>
                        ngành nghề có điều kiện</p>
                    <hr style="width:100%; max-width: 40px; border: 1px solid #7ec8e9; margin: 1rem 0;">
                    <img src="/assets/media/DND3N/bo-sot-thu-tuc/Asset 2.svg">
                    <p style="    min-height: 250px;">Tại một số ngành nghề ảnh hưởng đến trật tự an ninh xã hội và sức khoẻ người tiêu dùng, ví dụ như: du lịch, nhà hàng, khách sạn, thẩm mỹ viện,... sau khi có giấy chứng nhận đăng ký doanh nghiệp, pháp luật còn yêu cầu có giấy chứng nhận đủ điều
                        kiện về cơ sở vật chất, vốn, nhân sự. Bởi vậy, bạn cần phải rà soát kỹ về ngành nghề nhằm tránh tình trạng kinh doanh không đủ giấy phép.</p>
                    <div class="center"><button (click)="selectService(s2)" class="btn btn-outline-warning">Đăng ký</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-missing">
                    <p class="alt-title">Đăng ký<br>
                        tài sản sở hữu trí tuệ</p>
                    <hr style="width:100%; max-width: 40px; border: 1px solid #7ec8e9; margin: 1rem 0;">
                    <img src="/assets/media/DND3N/bo-sot-thu-tuc/Asset 1.svg">
                    <p style="    min-height: 250px;">Khách hàng quyết định mua sản phẩm, dịch vụ của một doanh nghiệp là nhờ uy tín được xây dựng qua thương hiệu. Nếu bạn không đăng ký xác lập quyền sở hữu đối với nhãn hiệu của mình ngay từ thời điểm bắt đầu kinh doanh, thì có thể xảy ra rủi ro:
                        thương hiệu mình xây dựng rơi vào tay người khác.</p>
                    <div class="center"><button (click)="selectService(s3)" class="btn btn-outline-warning">Đăng ký</button></div>
                </div>
            </div>
        </div>
    </div>
</section>
