<section id="slide-video" class="sub" style="background-color: #F9F9F9">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-left: 40px; margin-bottom: -20px; font-family: 'Montserrat'; font-weight: 500;"  lang-i18n key="home-videoduocxemnhieunhat" default="Video được xem nhiều nhất"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-slide-video">
                    <ng-container *ngFor="let video of videos">
                        <div class="slide-item" [attr.data-video-id]="'#'+video.id">
                            <img style="cursor: pointer" class="img-responsive" src="{{video.img}}"/>
                            <p style="padding-top: 10px;"><i class="fa fa-eye" aria-hidden="true"></i><span style="color: #9f9fb1;" lang-i18n key="1k8luotxem" default=" 1.8k lượt xem" ></span></p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-container *ngFor="let video of videos">
    <app-modal-video [dataid]="video.id"></app-modal-video>
</ng-container>
