<section id="mainvisual" class="job">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>"Làm việc cùng những người thích hợp, <br class="pc">bạn sẽ tìm kiếm được những điều phù hợp"</h2>
                <button (click)="scroll('job-card-2')" class="btn btn-warning">Gia nhập hãng luật Asoka ngay hôm nay</button>
            </div>
        </div>
    </div>
</section>
<section class="job-box01" style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: #213070; margin-bottom: 3rem;" class="center">Chúng tôi là Asoka Law</h1>
                <div class="row" style="margin-bottom: 3rem;">
                    <div class="col-md-8 m-auto">
                        <div class="mission-circle">
                            <p class="mission-circle-img"><img src="/assets/media/chnn/mission_circle.png" style="max-width: 100%"></p>
                            <div class="pc">
                                <div class="mission-circle-list list01">
                                    <p>DỊCH VỤ CẦN THIẾT</p>
                                    <ul>
                                        <li>Quản trị “4 trong 1”</li>
                                        <li>Ngành nghề có điều kiện</li>
                                        <li>Đăng ký nhãn hiệu</li>
                                    </ul>
                                </div>
                                <div class="mission-circle-list list02">
                                    <p>DỊCH VỤ CẦN THIẾT</p>
                                    <ul>
                                        <li>Giải quyết tranh chấp</li>
                                        <li>Pháp lý sự kiện</li>
                                        <li>Tạm ngưng - Giải thể</li>
                                    </ul>
                                </div>
                                <div class="mission-circle-list list03">
                                    <p>DỊCH VỤ CẦN THIẾT</p>
                                    <ul>
                                        <li>Tư vấn luật sư</li>
                                        <li>Đăng ký kinh doanh</li>
                                        <li>Đăng ký đầu tư</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="job-item item01">
                    <h4>Tận tâm</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>Asoka Law đã chọn sứ mệnh trở thành <span class="font-weight-bold">"người cộng sự tận tâm"</span>. Bởi vậy các nhân viên của Asoka Law luôn nỗ lực để thấu hiểu khách hàng và thực thi trọn vẹn cam kết.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="job-item item02">
                    <h4>Hài hòa</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>Chúng tôi luôn cố gắng thực hiện nhiệm vụ trên nguyên tắc tuân thủ pháp luật nhưng đồng thời phải hài hòa lợi ích của các bên liên quan.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="job-item item03">
                    <h4>Đoàn kết</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>Các nhân viên của Asoka Law được bảo vệ bởi sự đoàn kết. Đó là một tập thể nhỏ, nhưng mọi người được tự do cống hiến cho sự nghiệp và sự phát triển của bản thân.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="job-over" style="margin-bottom: 3rem;">
    <div class="container-fluid p-0">
        <h1 style="color: #213070;" class="center job-h4">Tại sao nên gia nhập Asoka Law?</h1>
        <div class="row job-box02-bg01">
            <div class="col-md-6">
                <p class="job-img"><img src="/assets/media/chnn/job_img01.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>Cùng nhau hoàn thiện</h4>
                    <div class="mission-txt">
                        <p>Ở Asoka Law - mỗi người đều có nhiệm vụ hỗ trợ người khác. Bạn hoàn toàn có thể thoải mái khi tìm kiếm sự trợ giúp trong công việc từ đồng nghiệp và được hướng dẫn chu đáo. Không bao giờ kỳ thị người mới, cùng nhau ăn trưa, xong lại vui vẻ đến nỗi cùng nhau ăn tối. Đó là
                            một nơi <span class="font-weight-bold">"gia đình thứ hai"</span>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row flex-row-reverse job-box02-bg02">
            <div class="col-md-6 p-0">
                <p class="job-img reverse"><img src="/assets/media/chnn/job_img02.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>Phát triển sự nghiệp</h4>
                    <div class="mission-txt">
                        <p>Người mới cũng có thể trở thành "leader" nếu nỗ lực làm việc và cống hiến cho khách hàng. Tất nhiên, thăng tiến sự nghiệp luôn kèm thăng tiến lương, thưởng. Nhưng quan trọng hơn hết là: bạn được xây dựng sự nghiệp riêng trong Asoka Law, thoải mái được phát triển tối đa khả
                            năng của bản thân.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row job-box02-bg03">
            <div class="col-md-6">
                <p class="job-img"><img src="/assets/media/chnn/job_img03.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>Gắn bó lâu dài</h4>
                    <div class="mission-txt">
                        <p>Là một hãng Luật coi trọng việc gắn kết với khách hàng lâu dài nhằm hỗ trợ tối đa cho sự phát triển của doanh nghiệp, nên khi quyết định gia nhập Asoka Law, chúng tôi mong muốn rằng đồng nghiệp của mình cũng sẽ gắn bó lâu dài như cách các khách hàng đã gắn bó cùng Asoka
                            Law qua những năm tháng phát triển kinh doanh vậy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row flex-row-reverse job-box02-bg04">
            <div class="col-md-6 p-0">
                <p class="job-img reverse"><img src="/assets/media/chnn/job_img04.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>Cân bằng công việc và cuộc sống</h4>
                    <div class="mission-txt">
                        <p>Cân bằng cuộc sống công việc lành mạnh là điều mà Asoka luôn khuyến khích bởi vì chúng tôi tin rằng điều đó khiến cho nhân viên của Công ty hạnh phúc và làm việc hiệu quả hơn. Chúng tôi thích dành thời gian để học tập và vui chơi cùng nhau. Tất nhiên, không thể thiếu các
                            hoạt động ngoại khoá toàn công ty, bởi vì nó giúp chúng tôi gần gũi, hiểu nhau hơn và chia sẻ kiến thức lẫn nhau.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;" id="job-card">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="center"><img src="/assets/media/chnn/job_img05.jpg" style="max-width: 100%;"></p>
                <h1 class="center" style="color: #213070; margin-bottom: 3rem">Các vị trí mời gia nhập mới nhất</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">Chuyên viên pháp lý</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">Xem chi tiết</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">Chuyên viên SALES</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">Xem chi tiết</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">Thực tập sinh pháp lý</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">Xem chi tiết</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">Chuyên viên pháp lý</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">Xem chi tiết</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse" id="job-card-collapse">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">Chuyên viên pháp lý</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">Xem chi tiết</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">Chuyên viên SALES</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">Xem chi tiết</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="job-card-2" class="m-0 center"><a data-toggle="collapse" href="#job-card-collapse" style="text-decoration: underline; font-style: italic; font-weight: 12px;">Xem tất cả &gt;&gt;</a></p>
            </div>
        </div>
    </div>
</section>
<section class="job-form">
    <div class="container">
        <h1>Gia nhập đội ngũ</h1>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Họ và tên</label>
                        <input (change)="n=true" [class.is-invalid]="!fieldValid(name) && n" [class.is-valid]="fieldValid(name) && n" [(ngModel)]="name" name="name" type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input (change)="e=true" [class.is-invalid]="!fieldValid(email,'email') && e" [class.is-valid]="fieldValid(email,'email') && e" [(ngModel)]="email" name="email" type="text" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Số điện thoại</label>
                        <input (change)="p=true" [class.is-invalid]="!fieldValid(phone,'phone') && p" [class.is-valid]="fieldValid(phone,'phone') && p" [(ngModel)]="phone" name="phone" type="text" class="form-control" id="phone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="facebook" class="col-form-label">Facebook của bạn</label>
                        <input [(ngModel)]="facebook" name="facebook" type="text" class="form-control" id="facebook">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="position" class="col-form-label">Vị trí ứng tuyển</label>
                        <select [(ngModel)]="position" name="position" class="custom-select form-control custom-select-lg" id="position">
                            <option selected disabled>Chọn vị trí bạn muốn ứng tuyển</option>
                            <option value="Chuyên viên pháp lý">Chuyên viên pháp lý</option>
                            <option value="Chuyên viên SALES">Chuyên viên SALES</option>
                            <option value="Thực tập sinh pháp lý">Thực tập sinh pháp lý</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cv" class="col-form-label">Thêm CV của bạn</label>
                        <input [(ngModel)]="cv" name="cv" type="text" class="form-control" id="cv" placeholder="Gửi bằng link Google Drive, Dropbox, Linkedin, Behance,...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="why" class="col-form-label">Tại sao bạn muốn làm việc tại Asoka Law?</label>
                        <textarea [(ngModel)]="reason" name="reason" class="form-control" id="why" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-button">
                        <button (click)="submit()" [disabled]="!formValid()" class="btn btn-warning">Nộp đơn</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
