<section id="mainvisual" class="job">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{global.locale=='vi'?'"Làm việc cùng những người thích hợp,':'"Work with those compatible and'}} <br class="pc">{{global.locale=='vi'?'bạn sẽ tìm kiếm được những điều phù hợp"':'you\'ll find out things suitable"'}}</h2>

                <button (click)="scroll('job-card-3')" class="btn btn-warning">{{global.locale=='vi'?'Xem tin tuyển dụng':'See recruitment news'}} </button>
            </div>
        </div>
    </div>
</section>
<section class="job-box01" style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row"  style="margin-bottom: 3rem;">
            <div class="col-md-12">
                <h1 style="color: #213070; margin-bottom: 3rem;" class="center">{{global.locale=='vi'?'Chúng tôi là Asoka Law':'We are Asoka Law'}}</h1>
                <div class="mission-txt">
                    <p class="center" style="text-align: center;">{{global.locale=='vi'?'Asoka Law là một Hãng Luật dành cho các doanh nghiệp nhỏ và vừa (SMEs) được thành lập và hoạt động trên lãnh thổ Việt Nam. Tên Asoka được đặt theo tích của loài hoa Asoka, một loài hoa luôn mọc theo cụm, lúc rực rỡ nhất hoa có màu vàng, rất đẹp và thơm. Hoa Asoka được coi như một biểu tượng của điềm lành và an phúc. Chúng tôi muốn truyền tải thông điệp rằng: Asoka Law đến với khách hàng nhằm mang lại điềm lành, hạnh phúc, may mắn và an vui.':'Asoka Law Co., Ltd. is a law firm for Small and Medium Enterprises (SMEs) establishing and operating in Vietnam. The name Asoka originates from the Asoka flower which always grow in clusters, and is yellow, beautiful and fragrant in its most gorgeous time. Asoka is considered a symbol of serenity and encouragement. Therefore, the message that we want to convey is: Asoka Law comes to clients to bring happiness, auspices and good lucks. '}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="job-item item01">
                    <h4>{{global.locale=='vi'?'Tận tâm':'Conscientiousness'}}</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law đã chọn sứ mệnh trở thành':'For our mission, Asoka Law chooses to become'}} <span class="font-weight-bold">{{global.locale=='vi'?'"người cộng sự tận tâm"':'"a conscientious partner"'}}</span>{{global.locale=='vi'?'. Bởi vậy các nhân viên của Asoka Law luôn nỗ lực để thấu hiểu khách hàng và thực thi trọn vẹn cam kết.':'. For this reason, all Asoka Law\'s members always attempt to understand the clients and fulfill our commitments. '}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="job-item item02">
                    <h4>{{global.locale=='vi'?'Hài hòa':'Harmony'}}</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Chúng tôi luôn cố gắng thực hiện nhiệm vụ trên nguyên tắc tuân thủ pháp luật nhưng đồng thời phải hài hòa lợi ích của các bên liên quan.':'We not only attempt to perform missions lawfully but also harmonize the benefits of all parties involved.'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="job-item item03">
                    <h4>{{global.locale=='vi'?'Đoàn kết':'Unity'}}</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Các nhân viên của Asoka Law được bảo vệ bởi sự đoàn kết. Đó là một tập thể nhỏ, nhưng mọi người được tự do cống hiến cho sự nghiệp và sự phát triển của bản thân.':'All of Asoka\'s members are protected by unity. Our company is small, but everyone can freely dedicate themselves to their professional as well as personal development. '}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="job-over" style="margin-bottom: 3rem;">
    <div class="container-fluid p-0">
        <h1 style="color: #213070;" class="center job-h4">{{global.locale=='vi'?'Bạn sẽ nhận được gì khi gia nhập Asoka Law?':'What will you get when being a Asoka\'s member? '}}</h1>
        <div class="row job-box02-bg01">
            <div class="col-md-6">
                <p class="job-img"><img src="/assets/media/chnn/job_img01.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Đồng nghiệp tương trợ':'Supportive co-workers'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tìm kiếm người đồng điệu với những giá trị của mình và coi trọng việc gắn\n' +
                            '                            kết mạnh mẽ. Tại Asoka, bạn sẽ cảm thấy một tinh thần làm việc và trao đổi cởi mở.\n' +
                            '                            Chúng tôi luôn khuyến khích sự tranh luận tích cực. Bạn có thể tham gia và nhận lời\n' +
                            '                            khuyên từ đồng nghiệp bất kể vị trí của họ trong Công ty.':'Asoka Law looks for those who share the same values and place strong importance on strong bonds and connections. In Asoka, you will find open-minded working spirits, ready for communication. '}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row flex-row-reverse job-box02-bg02">
            <div class="col-md-6 p-0">
                <p class="job-img reverse"><img src="/assets/media/chnn/job_img02.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Đào tạo và huấn luyện':'Training and coaching'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka thực lòng quan tâm đến sự phát triển nghề nghiệp của mỗi thành viên Công ty.\n' +
                            '                            Là một Asokaer mới, bạn sẽ trải qua quá trình huấn luyện toàn diện. Điều này giúp bạn\n' +
                            '                            tìm hiểu chi tiết về công việc và cảm thấy thoải mái, chuẩn bị cho những tuần làm việc\n' +
                            '                            đầu tiên thành công tại Asoka.':'Asoka honestly has an interest in the career development of each member. Being a new Asoka-er, you will go through a comprehensive training process. This will help you learn about the job in great details and feel comfortable for your first successful workweeks.'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row job-box02-bg03">
            <div class="col-md-6">
                <p class="job-img"><img src="/assets/media/chnn/job_img03.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Gắn bó lâu dài':'Career development'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Là một hãng Luật coi trọng việc gắn kết với khách hàng lâu dài nhằm hỗ trợ tối đa cho sự phát triển của doanh nghiệp, nên khi quyết định gia nhập Asoka Law, chúng tôi mong muốn rằng đồng nghiệp của mình cũng sẽ gắn bó lâu dài như cách các khách hàng đã gắn bó cùng Asoka\n' +
                            '                            Law qua những năm tháng phát triển kinh doanh vậy.':'It is also possible for a new Asoka-er to become a leader. In Asoka, you will be supported to build and develop your own career. We always work hard, give one another kindness, as well as promote honest and faithful relationships. So, Asoka-ers will always have the feeling they are a part of Asoka. '}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row flex-row-reverse job-box02-bg04">
            <div class="col-md-6 p-0">
                <p class="job-img reverse"><img src="/assets/media/chnn/job_img04.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Cân bằng công việc và cuộc sống':'Work/life balance'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Cân bằng cuộc sống công việc lành mạnh là điều mà Asoka luôn khuyến khích bởi vì chúng tôi tin rằng điều đó khiến cho nhân viên của Công ty hạnh phúc và làm việc hiệu quả hơn. Chúng tôi thích dành thời gian để học tập và vui chơi cùng nhau. Tất nhiên, không thể thiếu các\n' +
                            '                            hoạt động ngoại khoá toàn công ty, bởi vì nó giúp chúng tôi gần gũi, hiểu nhau hơn và chia sẻ kiến thức lẫn nhau.':'Embracing Work-Life Harmony is encouraged by Asoka because we believe this will help our members be happy and work more effectively. We enjoy learning and reveling together. Of course, it\'s impossible not to mention extracurricular activities that encourage closer connections, better understanding, and knowledge sharing among members. '}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;" id="job-card">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="center" id="job-card-3"><img src="/assets/media/chnn/job_img05.jpg" style="max-width: 100%;"></p>
                <h1 class="center" style="color: #213070; margin-bottom: 3rem">{{global.locale=='vi'?'Các vị trí đang tuyển':'Vacancies'}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên pháp lý':'Recruitment of Legal Specialists '}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Details'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tuyển Chuyên viên pháp lý với các đặc điểm và yêu cầu sau đây.':'Aoska Law is looking for 01 Legal Specialists with the following features and requirements. '}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên SALES':'Recruitment of Sales Specialists '}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Details'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tuyển Chuyên viên SALES với các đặc điểm và yêu cầu sau đây.':'Aoska Law is looking for 01 Sales Specialists with the following features and requirements. '}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Kế toán tổng hợp ':'Recruitment of Accountant '}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Details'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tuyển Kế toán tổng hợp với các đặc điểm và yêu cầu sau đây.':'Aoska Law is looking for 01 Accountant with the following features and requirements.'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Thực tập sinh pháp lý':'Recruitment of Legal Interns '}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Details'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tuyển Thực tập sinh pháp lý với các đặc điểm và yêu cầu sau đây.':'Aoska Law is looking for 01 Recruitment of Legal Interns with the following features and requirements. '}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse" id="job-card-collapse">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên pháp lý':'Recruitment of Legal Specialists '}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Details'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tuyển Chuyên viên pháp lý với các đặc điểm và yêu cầu sau đây.':'Aoska Law is looking for 01 Legal Specialists with the following features and requirements. '}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên SALES':'Recruitment of Sales Specialists '}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Details'}}</a></p>

                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tuyển Chuyên viên SALES với các đặc điểm và yêu cầu sau đây.':'Aoska Law is looking for 01 Sales Specialists with the following features and requirements. '}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="job-card-2" class="m-0 center"><a data-toggle="collapse" href="#job-card-collapse" style="text-decoration: underline; font-style: italic; font-weight: 12px;">{{global.locale=='vi'?'Xem tất cả >>':'View all'}}</a></p>
            </div>
        </div>
    </div>
</section>
<section class="job-form">
    <div class="container">
        <h1>{{global.locale=='vi'?'Nộp đơn ứng tuyển':'Apply now'}}</h1>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">{{global.locale=='vi'?'Họ và tên *':'Full name*'}}</label>
                        <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name) && n" [class.is-valid]="fieldValid(name) && n" [(ngModel)]="name" name="name" type="text" class="form-control" id="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Full name*'}}">
                        <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name. '}}</small></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="col-form-label">{{global.locale=='vi'?'Email *':'Email * '}}</label>
                        <input (change)="e=true" [class.is-invalid]="!fieldValid(email,'email') && e" [class.is-valid]="fieldValid(email,'email') && e" [(ngModel)]="email" name="email" type="text" class="form-control" id="email" placeholder="{{global.locale=='vi'?'Email *':'Email *'}}">
                        <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address. '}}</small></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone" class="col-form-label">{{global.locale=='vi'?'Số điện thoại *':'Mobile number*'}}</label>
                        <input (change)="p=true" [class.is-invalid]="!fieldValid(phone,'phone') && p" [class.is-valid]="fieldValid(phone,'phone') && p" [(ngModel)]="phone" name="phone" type="text" class="form-control" id="phone" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Mobile number*'}}">
                        <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number. '}}</small></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="facebook" class="col-form-label">{{global.locale=='vi'?'Facebook của bạn':'Your Facebook'}}</label>
                        <input [(ngModel)]="facebook" name="facebook" type="text" class="form-control" id="facebook">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="position" class="col-form-label">{{global.locale=='vi'?'Vị trí ứng tuyển':'Position '}}</label>
                        <select [(ngModel)]="position" name="position" class="custom-select form-control custom-select-lg" id="position">
                            <option selected disabled>{{global.locale=='vi'?'Chọn vị trí bạn muốn ứng tuyển':'Select the position you want to apply'}}</option>
                            <option value="Chuyên viên pháp lý">{{global.locale=='vi'?'Chuyên viên pháp lý':'Recruitment of Legal Specialists '}}</option>
                            <option value="Chuyên viên SALES">{{global.locale=='vi'?'Chuyên viên SALES':'Recruitment of Sales Specialists '}}</option>
                            <option value="Thực tập sinh pháp lý">{{global.locale=='vi'?'Thực tập sinh pháp lý':'Recruitment of Legal Interns '}}</option>
                            <option value="Kế toán tổng hợp">{{global.locale=='vi'?'Kế toán tổng hợp':'Recruitment of Accountant '}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cv" class="col-form-label">{{global.locale=='vi'?'Thêm CV của bạn':'Add your CV'}}</label>
                        <input [(ngModel)]="cv" name="cv" type="text" class="form-control" id="cv" placeholder="{{global.locale=='vi'?'Gửi bằng link Google Drive, Dropbox, Linkedin, Behance,...':'Required format: Google Drive/Dropbox files, Linkedin, Behance profile,…'}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="why" class="col-form-label">{{global.locale=='vi'?'Tại sao bạn muốn làm việc tại Asoka Law?':'Why do you want to work in Asoka Law?'}}</label>
                        <textarea [(ngModel)]="reason" name="reason" class="form-control" id="why" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-button">
                        <button (click)="submit()" class="btn btn-warning">{{global.locale=='vi'?'Nộp đơn':'Submit'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
