<section id="mainvisual" class="job">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{global.locale=='vi'?'"Làm việc cùng những người thích hợp,':'"Làm việc cùng những người thích hợp, aaa'}} <br class="pc">{{global.locale=='vi'?'bạn sẽ tìm kiếm được những điều phù hợp"':'bạn sẽ tìm kiếm được những điều phù hợp" aaa'}}</h2>

                <button (click)="scroll('job-card-3')" class="btn btn-warning">{{global.locale=='vi'?'Xem tin tuyển dụng':'Xem tin tuyển dụng aaa'}} </button>
            </div>
        </div>
    </div>
</section>
<section class="job-box01" style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: #213070; margin-bottom: 3rem;" class="center">{{global.locale=='vi'?'Chúng tôi là Asoka Law':'Chúng tôi là Asoka Law aaa'}}</h1>
                <div class="mission-txt">
                    <p class="center">{{global.locale=='vi'?'Asoka Law là một Hãng Luật dành cho các doanh nghiệp nhỏ và vừa (SMEs) được thành lập và hoạt động trên lãnh thổ Việt Nam. Tên Asoka được đặt theo tích của loài hoa Asoka, một loài hoa luôn mọc theo cụm, lúc rực rỡ nhất hoa có màu vàng, rất đẹp và thơm. Hoa Asoka được coi như một biểu tượng của điềm lành và an phúc. Chúng tôi muốn truyền tải thông điệp rằng: Asoka Law đến với khách hàng nhằm mang lại điềm lành, hạnh phúc, may mắn và an vui.':'Asoka Law là một Hãng Luật dành cho các doanh nghiệp nhỏ và vừa (SMEs) được thành lập và hoạt động trên lãnh thổ Việt Nam. Tên Asoka được đặt theo tích của loài hoa Asoka, một loài hoa luôn mọc theo cụm, lúc rực rỡ nhất hoa có màu vàng, rất đẹp và thơm. Hoa Asoka được coi như một biểu tượng của điềm lành và an phúc. Chúng tôi muốn truyền tải thông điệp rằng: Asoka Law đến với khách hàng nhằm mang lại điềm lành, hạnh phúc, may mắn và an vui. aaa'}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="job-item item01">
                    <h4>{{global.locale=='vi'?'Tận tâm':'Tận tâm aaa'}}</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law đã chọn sứ mệnh trở thành':'Asoka Law đã chọn sứ mệnh trở thành aaa'}} <span class="font-weight-bold">{{global.locale=='vi'?'"người cộng sự tận tâm"':'"người cộng sự tận tâm" aaa'}}</span>{{global.locale=='vi'?'. Bởi vậy các nhân viên của Asoka Law luôn nỗ lực để thấu hiểu khách hàng và thực thi trọn vẹn cam kết.':'. Bởi vậy các nhân viên của Asoka Law luôn nỗ lực để thấu hiểu khách hàng và thực thi trọn vẹn cam kết. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="job-item item02">
                    <h4>{{global.locale=='vi'?'Hài hòa':'Hài hòa aaa'}}</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Chúng tôi luôn cố gắng thực hiện nhiệm vụ trên nguyên tắc tuân thủ pháp luật nhưng đồng thời phải hài hòa lợi ích của các bên liên quan.':'Chúng tôi luôn cố gắng thực hiện nhiệm vụ trên nguyên tắc tuân thủ pháp luật nhưng đồng thời phải hài hòa lợi ích của các bên liên quan. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="job-item item03">
                    <h4>{{global.locale=='vi'?'Đoàn kết':'Đoàn kết aaa'}}</h4>
                    <hr style="border: 1px solid #3f3f3f; margin: 1.5rem 0; width: 70px;">
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Các nhân viên của Asoka Law được bảo vệ bởi sự đoàn kết. Đó là một tập thể nhỏ, nhưng mọi người được tự do cống hiến cho sự nghiệp và sự phát triển của bản thân.':'Các nhân viên của Asoka Law được bảo vệ bởi sự đoàn kết. Đó là một tập thể nhỏ, nhưng mọi người được tự do cống hiến cho sự nghiệp và sự phát triển của bản thân. aaa'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="job-over" style="margin-bottom: 3rem;">
    <div class="container-fluid p-0">
        <h1 style="color: #213070;" class="center job-h4">{{global.locale=='vi'?'Bạn sẽ nhận được gì khi gia nhập Asoka Law?':'Bạn sẽ nhận được gì khi gia nhập Asoka Law? aaa'}}</h1>
        <div class="row job-box02-bg01">
            <div class="col-md-6">
                <p class="job-img"><img src="/assets/media/chnn/job_img01.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Đồng nghiệp tương trợ':'Đồng nghiệp tương trợ aaa'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka Law tìm kiếm người đồng điệu với những giá trị của mình và coi trọng việc gắn\n' +
                            '                            kết mạnh mẽ. Tại Asoka, bạn sẽ cảm thấy một tinh thần làm việc và trao đổi cởi mở.\n' +
                            '                            Chúng tôi luôn khuyến khích sự tranh luận tích cực. Bạn có thể tham gia và nhận lời\n' +
                            '                            khuyên từ đồng nghiệp bất kể vị trí của họ trong Công ty.':'Asoka Law tìm kiếm người đồng điệu với những giá trị của mình và coi trọng việc gắn\n' +
                            '                            kết mạnh mẽ. Tại Asoka, bạn sẽ cảm thấy một tinh thần làm việc và trao đổi cởi mở.\n' +
                            '                            Chúng tôi luôn khuyến khích sự tranh luận tích cực. Bạn có thể tham gia và nhận lời\n' +
                            '                            khuyên từ đồng nghiệp bất kể vị trí của họ trong Công ty. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row flex-row-reverse job-box02-bg02">
            <div class="col-md-6 p-0">
                <p class="job-img reverse"><img src="/assets/media/chnn/job_img02.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Đào tạo và huấn luyện':'Đào tạo và huấn luyện aaa'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Asoka thực lòng quan tâm đến sự phát triển nghề nghiệp của mỗi thành viên Công ty.\n' +
                            '                            Là một Asokaer mới, bạn sẽ trải qua quá trình huấn luyện toàn diện. Điều này giúp bạn\n' +
                            '                            tìm hiểu chi tiết về công việc và cảm thấy thoải mái, chuẩn bị cho những tuần làm việc\n' +
                            '                            đầu tiên thành công tại Asoka.':'Asoka thực lòng quan tâm đến sự phát triển nghề nghiệp của mỗi thành viên Công ty.\n' +
                            '                            Là một Asokaer mới, bạn sẽ trải qua quá trình huấn luyện toàn diện. Điều này giúp bạn\n' +
                            '                            tìm hiểu chi tiết về công việc và cảm thấy thoải mái, chuẩn bị cho những tuần làm việc\n' +
                            '                            đầu tiên thành công tại Asoka. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row job-box02-bg03">
            <div class="col-md-6">
                <p class="job-img"><img src="/assets/media/chnn/job_img03.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Gắn bó lâu dài':'Gắn bó lâu dài aaa'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Là một hãng Luật coi trọng việc gắn kết với khách hàng lâu dài nhằm hỗ trợ tối đa cho sự phát triển của doanh nghiệp, nên khi quyết định gia nhập Asoka Law, chúng tôi mong muốn rằng đồng nghiệp của mình cũng sẽ gắn bó lâu dài như cách các khách hàng đã gắn bó cùng Asoka\n' +
                            '                            Law qua những năm tháng phát triển kinh doanh vậy.':'Là một hãng Luật coi trọng việc gắn kết với khách hàng lâu dài nhằm hỗ trợ tối đa cho sự phát triển của doanh nghiệp, nên khi quyết định gia nhập Asoka Law, chúng tôi mong muốn rằng đồng nghiệp của mình cũng sẽ gắn bó lâu dài như cách các khách hàng đã gắn bó cùng Asoka\n' +
                            '                            Law qua những năm tháng phát triển kinh doanh vậy. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row flex-row-reverse job-box02-bg04">
            <div class="col-md-6 p-0">
                <p class="job-img reverse"><img src="/assets/media/chnn/job_img04.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-5">
                <div class="job-content">
                    <h4>{{global.locale=='vi'?'Cân bằng công việc và cuộc sống':'Cân bằng công việc và cuộc sống aaa'}}</h4>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Cân bằng cuộc sống công việc lành mạnh là điều mà Asoka luôn khuyến khích bởi vì chúng tôi tin rằng điều đó khiến cho nhân viên của Công ty hạnh phúc và làm việc hiệu quả hơn. Chúng tôi thích dành thời gian để học tập và vui chơi cùng nhau. Tất nhiên, không thể thiếu các\n' +
                            '                            hoạt động ngoại khoá toàn công ty, bởi vì nó giúp chúng tôi gần gũi, hiểu nhau hơn và chia sẻ kiến thức lẫn nhau.':'Cân bằng cuộc sống công việc lành mạnh là điều mà Asoka luôn khuyến khích bởi vì chúng tôi tin rằng điều đó khiến cho nhân viên của Công ty hạnh phúc và làm việc hiệu quả hơn. Chúng tôi thích dành thời gian để học tập và vui chơi cùng nhau. Tất nhiên, không thể thiếu các\n' +
                            '                            hoạt động ngoại khoá toàn công ty, bởi vì nó giúp chúng tôi gần gũi, hiểu nhau hơn và chia sẻ kiến thức lẫn nhau. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;" id="job-card">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="center" id="job-card-3"><img src="/assets/media/chnn/job_img05.jpg" style="max-width: 100%;"></p>
                <h1 class="center" style="color: #213070; margin-bottom: 3rem">{{global.locale=='vi'?'Các vị trí đang tuyển':'Các vị trí đang tuyển aaa'}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên pháp lý':'Chuyên viên pháp lý aaa'}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali':'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên SALES':'Chuyên viên SALES aaa'}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali':'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali aaa'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Thực tập sinh pháp lý':'Thực tập sinh pháp lý aaa'}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali':'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên pháp lý':'Chuyên viên pháp lý aaa'}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali':'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali aaa'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse" id="job-card-collapse">
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên pháp lý':'Chuyên viên pháp lý aaa'}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>
                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali':'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-card">
                    <div class="row job-card-title">
                        <h4 class="col-md-8">{{global.locale=='vi'?'Chuyên viên SALES':'Chuyên viên SALES aaa'}}</h4>
                        <p class="col-md-4 job-card-btn"><a href="#" class="btn btn-outline-warning">{{global.locale=='vi'?'Xem chi tiết':'Xem chi tiết aaa'}}</a></p>

                    </div>
                    <div class="mission-txt">
                        <p>{{global.locale=='vi'?'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali':'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam mmy nibh euismod tincidunt ut laoreet dolore magna ali aaa'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="job-card-2" class="m-0 center"><a data-toggle="collapse" href="#job-card-collapse" style="text-decoration: underline; font-style: italic; font-weight: 12px;">{{global.locale=='vi'?'Xem tất cả >>':'Xem tất cả >> aaa'}}</a></p>
            </div>
        </div>
    </div>
</section>
<section class="job-form">
    <div class="container">
        <h1>{{global.locale=='vi'?'Nộp đơn ứng tuyển':'Nộp đơn ứng tuyển aaa'}}</h1>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">{{global.locale=='vi'?'Họ và tên *':'Họ và tên * aaa'}}</label>
                        <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name) && n" [class.is-valid]="fieldValid(name) && n" [(ngModel)]="name" name="name" type="text" class="form-control" id="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Họ tên * aaa'}}">
                        <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Bắt buộc nhập họ tên. aaa'}}</small></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="col-form-label">{{global.locale=='vi'?'Email *':'Email * aaa'}}</label>
                        <input (change)="e=true" [class.is-invalid]="!fieldValid(email,'email') && e" [class.is-valid]="fieldValid(email,'email') && e" [(ngModel)]="email" name="email" type="text" class="form-control" id="email" placeholder="{{global.locale=='vi'?'Email *':'Email * aaa'}}">
                        <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Bắt buộc nhập email hợp lệ. aaa'}}</small></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone" class="col-form-label">{{global.locale=='vi'?'Số điện thoại *':'Số điện thoại * aaa'}}</label>
                        <input (change)="p=true" [class.is-invalid]="!fieldValid(phone,'phone') && p" [class.is-valid]="fieldValid(phone,'phone') && p" [(ngModel)]="phone" name="phone" type="text" class="form-control" id="phone" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Số điện thoại * aaa'}}">
                        <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Bắt buộc nhập số điện thoại hợp lệ. aaa'}}</small></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="facebook" class="col-form-label">{{global.locale=='vi'?'Facebook của bạn':'Facebook của bạn aaa'}}</label>
                        <input [(ngModel)]="facebook" name="facebook" type="text" class="form-control" id="facebook">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="position" class="col-form-label">{{global.locale=='vi'?'Vị trí ứng tuyển':'Vị trí ứng tuyển aaa'}}</label>
                        <select [(ngModel)]="position" name="position" class="custom-select form-control custom-select-lg" id="position">
                            <option selected disabled>{{global.locale=='vi'?'Chọn vị trí bạn muốn ứng tuyển':'Chọn vị trí bạn muốn ứng tuyển aaa'}}</option>
                            <option value="Chuyên viên pháp lý">{{global.locale=='vi'?'Chuyên viên pháp lý':'Chuyên viên pháp lý aaa'}}</option>
                            <option value="Chuyên viên SALES">{{global.locale=='vi'?'Chuyên viên SALES':'Chuyên viên SALES aaa'}}</option>
                            <option value="Thực tập sinh pháp lý">{{global.locale=='vi'?'Thực tập sinh pháp lý':'Thực tập sinh pháp lý aaa'}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cv" class="col-form-label">{{global.locale=='vi'?'Thêm CV của bạn':'Thêm CV của bạn aaa'}}</label>
                        <input [(ngModel)]="cv" name="cv" type="text" class="form-control" id="cv" placeholder="{{global.locale=='vi'?'Gửi bằng link Google Drive, Dropbox, Linkedin, Behance,...':'Gửi bằng link Google Drive, Dropbox, Linkedin, Behance,... aaa'}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="why" class="col-form-label">{{global.locale=='vi'?'Tại sao bạn muốn làm việc tại Asoka Law?':'Tại sao bạn muốn làm việc tại Asoka Law? aaa'}}</label>
                        <textarea [(ngModel)]="reason" name="reason" class="form-control" id="why" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-button">
                        <button (click)="submit()" class="btn btn-warning">{{global.locale=='vi'?'Nộp đơn':'Nộp đơn aaa'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
