<section id="recognize">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center sub">
                <h1 class="text-center">
                    Chọn hình thức đầu tư phù hợp với bạn
                </h1>
                <p class="text-center center">
                    <b>Asoka Law chuyên hỗ trợ nhà đầu tư nước ngoài tại 02 hình thức</b>: (1) thành lập mới doanh
                    nghiệp và (2) góp vốn, mua cổ phần, vốn góp.

                    <br> Đây cũng là 02 hình thức đầu tư vào Việt Nam phù hợp nhất với cá nhân/ doanh nghiệp nước ngoài
                    nhỏ
                    và vừa.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" style="position: relative; top: -30px;"
                     src="/assets/media/DKDT/hinh-thuc-dau-tu/image-1.png">
            </div>
            <div class="col-sm-12 d-block d-md-none">
                <ul class="nav nav-tabs pb-3" id="myTab" role="tablist">
                    <li class="">
                        <a (click)="changepackage('Thành lập doanh nghiệp mới','tab-tldnm-V')" class="nav-link text-center active" id="home-tab" data-toggle="tab" href=".ndn" role="tab"
                           aria-controls="home" aria-selected="true">Thành lập<br> doanh nghiệp mới</a>

                    </li>
                    <li class="">
                        <a (click)="changepackage('Góp hoặc mua cổ phần/vốn góp','tab-mcp-V')" class="nav-link text-center"
                           id="profile-tab" data-toggle="tab" href=".tdn" role="tab"
                           aria-controls="profile" aria-selected="false">Góp hoặc mua<br> cổ phần/vốn góp</a>

                    </li>

                </ul>
            </div>
            <div class="col-md-6">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active ndn" role="tabpanel" aria-labelledby="home-tab">
                        <h5 class="d-none d-md-block">Thành lập doanh nghiệp mới</h5>
                        <div id="accordionn">
                            <div class="header_custom">
                                <div class="header-content" id="headingOnee">

                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOnee"
                                       aria-expanded="true" aria-controls="collapseOnee">
                                        Ưu điểm<i
                                            class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseOnee" class="collapse show" aria-labelledby="headingOnee"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Nhà đầu tư có thể tùy ý lập kế hoạch kinh doanh
                                            mới hoàn toàn, dựa trên nguồn lực chủ động của bản thân và cộng sự.

                                        </div>
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Chủ động được việc tránh tham gia vào các ngành
                                            nghề có sự hạn chế của nhà đầu tư nước ngoài.

                                        </div>
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Chủ doanh nghiệp mới có thể kiểm soát hồ sơ
                                            doanh nghiệp ngay từ ban đầu, dễ dàng vận hành và quản lý tốt hơn.

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingTwoo">

                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoo"
                                       aria-expanded="true" aria-controls="collapseTwoo">
                                        Nhược điểm<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseTwoo" class="collapse" aria-labelledby="headingTwoo"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Thủ tục đăng ký tương đối phức tạp hơn so với
                                            việc mua vốn góp trong doanh nghiệp đã có sẵn.


                                        </div>
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Việc khởi tạo thị trường, khách hàng, thương
                                            hiệu có thể mất thời gian hơn so với việc tham gia vào doanh nghiệp đã có
                                            sẵn.


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade tdn" role="tabpanel" aria-labelledby="profile-tab">
                        <h5 class="d-none d-md-block">Góp vốn, mua cổ phần, phần vốn góp</h5>
                        <div id="accordion">
                            <div class="header_custom">
                                <div class="header-content" id="headingOne">

                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        Ưu điểm<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Nhà đầu tư nhanh chóng thực hiện được việc kinh
                                            doanh dựa trên nền tảng
                                            hồ
                                            sơ/giấy phép doanh nghiệp cũ đã có sẵn.
                                        </div>
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i> Tiếp cận ngay với thị trường, khách hàng cũ, từ
                                            đó việc phát triển kinh
                                            doanh có
                                            thể dễ dàng hơn so với việc thành lập doanh nghiệp mới hoàn toàn.
                                        </div>
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i> Thủ tục đăng ký góp vốn, mua cổ phần, phần vốn
                                            góp nhìn chung tương đối
                                            đơn
                                            giản hơn so với việc thành lập doanh nghiệp mới.
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingTwo">

                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                       aria-expanded="true" aria-controls="collapseTwo">
                                        Nhược điểm<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Nhà đầu tư cần thận trọng trong quá trình soát
                                            xét các vấn đề pháp lý của doanh nghiệp cũ trước khi quyết định góp vốn, mua
                                            cổ phần/vốn góp.
                                        </div>
                                        <div class="content-dkdt">
                                            <i class="fa fa-circle"></i>Một số ngành nghề đang hoạt động tại doanh
                                            nghiệp cũ có thể có hạn chế sự tham gia của nhà đầu tư nước ngoài.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row d-md-block d-none">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist"
                    style="border: 1px solid #bbb5b5;
                    border-radius: 30px;    background: white;
    width: fit-content;
    margin: auto;">
                    <li class="nav-item nav-custom">
                        <a (click)="changepackage('Thành lập doanh nghiệp mới','tab-tldnm-V')" class="nav-link active" style="border-right:1px solid #bbb5b5;border-top-left-radius: 0rem; border-top-left-radius: 30px;border-bottom-left-radius: 30px;
    border-top-right-radius: 0rem; " id="home-tab" data-toggle="tab" href=".ndn" role="tab"
                           aria-controls="home" aria-selected="true">Thành lập doanh nghiệp mới</a>

                    </li>
                    <li class="nav-item nav-custom">
                        <a (click)="changepackage('Góp hoặc mua cổ phần/vốn góp','tab-mcp-V')" class="nav-link" style="border-top-right-radius: 30px;border-bottom-right-radius: 30px; "
                           id="profile-tab" data-toggle="tab" href=".tdn" role="tab"
                           aria-controls="profile" aria-selected="false">Góp hoặc mua cổ phần/vốn góp</a>

                    </li>

                </ul>
            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="row  sub custom-tab home-tab hide-V" id="tab-mcp-V">

                <div class="col-md-4">
                    <h1>Đề xuất các gói phí từ Asoka Law</h1>
                    Bấm chọn loại hình đầu tư phù hợp vơi nhu cầu của bạn
                    để xem giá phí tương ứng.
                </div>
                <div class="col-md-4">
                    <div class="box shadow-lg" style="background-color: #FDF6F3;border: 1px solid #4caddb">
                        <div class="block-one">
                            <img class="sticky" src="/assets/media/DKKD/cac-goi-phi/Asset 6.svg">
                            <div class="title-block center">
                                <h6>Gói tiết kiệm</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                12.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px;">
                                Dành cho nhà đầu tư đã có sẵn trợ lý,
                                kế toán để hỗ trợ các thủ tục tại ngân
                                hàng, chi cục thuế.
                            </p>
                            <button (click)="submit('Gói tiết kiệm')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng ký</button>
                            <div class="block-three collapse" id="multiCollapseExample1">
                                <hr style="margin-bottom: 20px!important;">
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    chuyên viên pháp lý</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nộp hồ
                                    sơ
                                    tại Sở Kế Hoạch và Đầu Tư</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Thông
                                    báo
                                    đáp ứng điều kiện mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ thay đổi thành viên </p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p class="disabled"><img class="icon-block"
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Kê
                                    khai thuế thu nhập cá nhân chuyển nhượng</p>
                                <p class="disabled"><img class="icon-block"
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Nộp
                                    thuế thu nhập cá nhân chuyển nhượng</p>

                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample1"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample1"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box shadow-lg">
                        <div class="block-one">
                            <div class="title-block center">
                                <h6>Gói toàn diện</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                15.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px;">
                                Phù hợp với nhà đầu tư muốn ủy
                                quyền toàn bộ thủ tục cho Asoka Law.
                                Bao gồm đại diện thực hiện mọi hồ sơ
                                tại Sở Kế Hoạch & Đầu Tư, Ngân Hàng,
                                Chi Cục Thuế.
                            </p>
                            <button (click)="submit('Gói toàn diện')" class="btn btn-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng ký</button>
                            <div class="block-three collapse" id="multiCollapseExample2">
                                <hr style="margin-bottom: 20px!important;">
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    <b style="font-size: 12px;">Luật sư và chuyên viên</b> (01 giờ)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nộp hồ
                                    sơ
                                    tại Sở Kế Hoạch và Đầu Tư</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Thông
                                    báo
                                    đáp ứng điều kiện mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ thay đổi thành viên </p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Kê khai
                                    thuế
                                    thu nhập cá nhân chuyển nhượng</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nộp thuế
                                    thu
                                    nhập cá nhân chuyển nhượng</p>


                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample2"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample2"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row  sub custom-tab profile-tab" id="tab-tldnm-V">

                <div class="col-md-4">
                    <h1>Đề xuất các gói phí từ Asoka Law</h1>
                    Bấm chọn loại hình đầu tư phù hợp vơi nhu cầu của bạn
                    để xem giá phí tương ứng.
                </div>
                <div class="col-md-4">
                    <div class="box shadow-lg">
                        <div class="block-one">
                            <div class="title-block center">
                                <h6>Gói tiết kiệm</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                15.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px">
                                Dành cho nhà đầu tư đã có sẵn trợ lý
                                hoặc bộ phận kế toán nhằm hoàn
                                thiện các thủ tục đăng ký tại Ngân
                                Hàng, Cơ quan cung cấp chữ ký số,
                                hóa đơn điện tử, Cục Thuế.
                            </p>
                            <button (click)="submit('Gói tiết kiệm')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng
                                ký
                            </button>
                            <div class="block-three collapse" id="multiCollapseExample3">
                                <hr>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    chuyên viên pháp lý</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Công bố
                                    thông tin doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    &
                                    thông báo mẫu dấu</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">In
                                    bảng hiệu doanh nghiệp (tiêu chuẩn)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Đăng
                                    ký mua chữ ký số (01-03 năm)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Đăng
                                    ký tài khoản ngân hàng theo chỉ định</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Thực
                                    hiện kê khai thuế ban đầu tại Cục Thuế</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Đặt
                                    in hóa đơn điện tử (1000 số)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Hỗ
                                    trợ nộp thuế môn bài (01 năm)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Hướng
                                    dẫn nộp tài khoản vốn (90 ngày)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Lập
                                    sổ cổ đông/chứng nhận góp vốn</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Lập
                                    chứng nhận cổ phần/vốn góp</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Hướng
                                    dẫn thủ tục pháp lý sau đăng ký</p>

                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample3"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample3"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box shadow-lg" style="border: 1px solid #9BD2ED; background-color: #F6FBFE">
                        <div class="block-one">
                            <img class="sticky" src="/assets/media/DKKD/cac-goi-phi/Asset 6.svg">
                            <div class="title-block center">
                                <h6>Gói toàn diện</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                25.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px">
                                Phù hợp với nhà đầu tư muốn ủy
                                quyền toàn bộ thủ tục cho Asoka Law.
                                Bao gồm thực hiện mọi hồ sơ tại Sở
                                Kế Hoạch & Đầu Tư, Ngân Hàng, Cơ
                                quan Công An, Đơn vị cung cấp chữ ký
                                số, hóa đơn, khai trình tại Cục Thuế.
                            </p>
                            <button (click)="submit('Gói toàn diện')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng
                                ký
                            </button>
                            <div class="block-three collapse" id="multiCollapseExample4">
                                <hr>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    <b style="font-size: 12px;">Luật sư và chuyên viên</b> (01 giờ)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Công bố
                                    thông tin doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    &
                                    thông báo, khắc mẫu dấu</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">In bảng
                                    hiệu
                                    doanh nghiệp (tiêu chuẩn)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    mua
                                    chữ ký số (01-03 năm)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    tài
                                    khoản ngân hàng theo chỉ định</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Thực
                                    hiện kê
                                    khai thuế ban đầu tại Cục Thuế</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đặt in
                                    hóa
                                    đơn điện tử (1000 số)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Hỗ trợ
                                    nộp
                                    thuế môn bài (01 năm)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Hướng
                                    dẫn
                                    nộp tài khoản vốn (90 ngày)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Lập sổ
                                    cổ
                                    đông/chứng nhận góp vốn</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Lập
                                    chứng
                                    nhận cổ phần/vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Hướng
                                    dẫn
                                    thủ tục pháp lý sau đăng ký</p>

                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample4"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample4"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
        <div class="row d-block d-md-none">
            <div class="col-sm-12 text-center pt-5">
                <h1 class="text-center">Đề xuất các gói phí từ Asoka Law</h1>
                Bấm chọn loại hình đầu tư phù hợp vơi nhu cầu của bạn
                để xem giá phí tương ứng.
            </div>
            <div class="col-sm-12 form-check px-5 py-1 pt-3">
                <input class="form-check-input" type="radio" name="checkBox" id="exampleRadios1" value="0"
                       checked>
                <label class="form-check-label font-weight-bold" for="exampleRadios1">
                    Thành lập doanh nghiệp mới
                </label>
            </div>
            <div class="col-sm-12 form-check  px-5 py-1">
                <input class="form-check-input" type="radio" name="checkBox" id="exampleRadios2" value="1">
                <label class="form-check-label font-weight-bold" for="exampleRadios2">
                    Góp hoặc mua cổ phần/vốn góp
                </label>
            </div>
            
            <div class="pt-4 price-recognize collapse show">
                <div class="col-sm-12 p-4">
                    <div class="box shadow-lg" style="background-color: #FDF6F3;border: 1px solid #4caddb">
                        <div class="block-one">
                            <img class="sticky" src="/assets/media/DKKD/cac-goi-phi/Asset 6.svg">
                            <div class="title-block center">
                                <h6>Gói tiết kiệm</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                12.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px;">
                                Dành cho nhà đầu tư đã có sẵn trợ lý,
                                kế toán để hỗ trợ các thủ tục tại ngân
                                hàng, chi cục thuế.
                            </p>
                            <button (click)="submit('Gói tiết kiệm')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng
                                ký
                            </button>
                            <div class="block-three collapse" id="multiCollapseExample1">
                                <hr style="margin-bottom: 20px!important;">
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    chuyên viên pháp lý</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nộp hồ
                                    sơ
                                    tại Sở Kế Hoạch và Đầu Tư</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Thông
                                    báo
                                    đáp ứng điều kiện mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ thay đổi thành viên </p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p class="disabled"><img class="icon-block"
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Kê
                                    khai thuế thu nhập cá nhân chuyển nhượng</p>
                                <p class="disabled"><img class="icon-block"
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Nộp
                                    thuế thu nhập cá nhân chuyển nhượng</p>

                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample1"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample1"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-12 p-4">
                    <div class="box shadow-lg">
                        <div class="block-one">
                            <div class="title-block center">
                                <h6>Gói toàn diện</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                15.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px;">
                                Phù hợp với nhà đầu tư muốn ủy
                                quyền toàn bộ thủ tục cho Asoka Law.
                                Bao gồm đại diện thực hiện mọi hồ sơ
                                tại Sở Kế Hoạch & Đầu Tư, Ngân Hàng,
                                Chi Cục Thuế.
                            </p>
                            <button (click)="submit('Gói toàn diện')" class="btn btn-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng
                                ký
                            </button>
                            <div class="block-three collapse" id="multiCollapseExample2">
                                <hr style="margin-bottom: 20px!important;">
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    <b style="font-size: 12px;">Luật sư và chuyên viên</b> (01 giờ)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nộp hồ
                                    sơ
                                    tại Sở Kế Hoạch và Đầu Tư</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Thông
                                    báo
                                    đáp ứng điều kiện mua vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ thay đổi thành viên </p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Kê khai
                                    thuế
                                    thu nhập cá nhân chuyển nhượng</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nộp thuế
                                    thu
                                    nhập cá nhân chuyển nhượng</p>


                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample2"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample2"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="pt-4 price-recognize collapse">
                <div class="col-sm-12 p-4">
                    <div class="box shadow-lg">
                        <div class="block-one">
                            <div class="title-block center">
                                <h6>Gói tiết kiệm</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                15.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px">
                                Dành cho nhà đầu tư đã có sẵn trợ lý
                                hoặc bộ phận kế toán nhằm hoàn
                                thiện các thủ tục đăng ký tại Ngân
                                Hàng, Cơ quan cung cấp chữ ký số,
                                hóa đơn điện tử, Cục Thuế.
                            </p>
                            <button (click)="submit('Gói tiết kiệm')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng
                                ký
                            </button>
                            <div class="block-three collapse" id="multiCollapseExample3">
                                <hr>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    chuyên viên pháp lý</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Công bố
                                    thông tin doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    &
                                    thông báo mẫu dấu</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">In
                                    bảng hiệu doanh nghiệp (tiêu chuẩn)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Đăng
                                    ký mua chữ ký số (01-03 năm)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Đăng
                                    ký tài khoản ngân hàng theo chỉ định</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Thực
                                    hiện kê khai thuế ban đầu tại Cục Thuế</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Đặt
                                    in hóa đơn điện tử (1000 số)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Hỗ
                                    trợ nộp thuế môn bài (01 năm)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Hướng
                                    dẫn nộp tài khoản vốn (90 ngày)</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Lập
                                    sổ cổ đông/chứng nhận góp vốn</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Lập
                                    chứng nhận cổ phần/vốn góp</p>
                                <p class="disabled"><img class="icon-block "
                                                         src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg">Hướng
                                    dẫn thủ tục pháp lý sau đăng ký</p>

                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample3"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample3"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-12 p-4">
                    <div class="box shadow-lg" style="border: 1px solid #9BD2ED; background-color: #F6FBFE">
                        <div class="block-one">
                            <img class="sticky" src="/assets/media/DKKD/cac-goi-phi/Asset 6.svg">
                            <div class="title-block center">
                                <h6>Gói toàn diện</h6>
                            </div>

                            <div style="font-size: 10px; text-align: center">
                                <sup style="font-size: 12px; top: -9px">Từ</sup><b style="font-size: 26px">
                                25.000.000 </b>VND

                            </div>
                        </div>
                        <hr>
                        <div class="block-two center">
                            <p style="padding-top: 20px;
    min-height: 150px; font-size: 12px">
                                Phù hợp với nhà đầu tư muốn ủy
                                quyền toàn bộ thủ tục cho Asoka Law.
                                Bao gồm thực hiện mọi hồ sơ tại Sở
                                Kế Hoạch & Đầu Tư, Ngân Hàng, Cơ
                                quan Công An, Đơn vị cung cấp chữ ký
                                số, hóa đơn, khai trình tại Cục Thuế.
                            </p>
                            <button (click)="submit('Gói toàn diện')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">Đăng
                                ký
                            </button>
                            <div class="block-three collapse" id="multiCollapseExample4">
                                <hr>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Tư vấn
                                    với
                                    <b style="font-size: 12px;">Luật sư và chuyên viên</b> (01 giờ)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Soạn
                                    thảo hồ
                                    sơ đăng ký doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Nhận
                                    giấy
                                    chứng nhận đăng ký kinh doanh</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Công bố
                                    thông tin doanh nghiệp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    &
                                    thông báo, khắc mẫu dấu</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">In bảng
                                    hiệu
                                    doanh nghiệp (tiêu chuẩn)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    mua
                                    chữ ký số (01-03 năm)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đăng ký
                                    tài
                                    khoản ngân hàng theo chỉ định</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Thực
                                    hiện kê
                                    khai thuế ban đầu tại Cục Thuế</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Đặt in
                                    hóa
                                    đơn điện tử (1000 số)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Hỗ trợ
                                    nộp
                                    thuế môn bài (01 năm)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Hướng
                                    dẫn
                                    nộp tài khoản vốn (90 ngày)</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Lập sổ
                                    cổ
                                    đông/chứng nhận góp vốn</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Lập
                                    chứng
                                    nhận cổ phần/vốn góp</p>
                                <p><img class="icon-block"
                                        src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg">Hướng
                                    dẫn
                                    thủ tục pháp lý sau đăng ký</p>

                            </div>

                            <div class="text-center" style="margin-top: 10px"><a data-toggle="collapse" href="#multiCollapseExample4"
                                                                                 role="button" aria-expanded="false"
                                                                                 aria-controls="multiCollapseExample4"
                                                                                 class="custom-collapse collapsed">Chi tiết hạng mục công
                                việc</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
