<section id="recognize">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-12 center sub">
        <h1 style="padding: 20px; padding-top: 60px">
          Giải quyết tận gốc các thiếu sót thủ tục pháp lý
        </h1>
        <p class="padding center">
          Kinh nghiệm thực hiện thủ tục pháp lý cho 1.000+ doanh nghiệp đã giúp chúng tôi đóng gói dịch vụ
          chặt chẽ theo quy trình vận hành của việc kinh

          doanh. Kết quả bạn nhận được sẽ đảm bảo cho doanh nghiệp hoạt động ổn định qua nhiều năm sau.
        </p>

      </div>

    </div>

    <div class="row" style="padding-top: 30px">

      <div class="col-md-7">

        <div class="recognize-block" style="">
          <img style="    top: -27px;
    left: -47px;"
               src="/assets/media/DND3N/giai-quyet-tan-goc/bg-quan-tri-doanh-nghiep-4-trong-1.svg">
          <p class="alt-title">Quản trị doanh nghiệp “4 trong 1”</p>

          <p style="margin-top: 20px;margin-bottom: 30px;">Khi doanh nghiệp bắt đầu đi vào hoạt động, chúng
            tôi khuyến khích sử dụng <b>Pháp Lý Thường Xuyên
              trọn gói "4 trong 1"</b>. Bởi vì, không những tiết kiệm đến 87,60% chi phí quản lý mà còn
            tối ưu đến 04 vị
            trí nhân sự nội bộ.</p>
          <p style="margin-bottom: 30px;">Các chuyên gia của chúng tôi có kinh nghiệm tuyệt vời để giải quyết
            mọi vấn đề về <b>pháp lý - hợp đồng
              - lao động - thuế</b> cho doanh nghiệp. Bạn chỉ cần tập trung hoàn toàn vào việc kinh doanh.
          </p>
          <p><a href="#">Xem giải pháp chi tiết quản trị “4 trong 1” >></a></p>
        </div>
      </div>
      <div class="col-md-5">
        <img class="img-responsive" style="position: relative; top: -30px; float: right; right: -8%"
             src="/assets/media/DND3N/giai-quyet-tan-goc/quan-tri-4-trong-1.png">
      </div>
    </div>
    <div class="row" style="padding-top: 40px">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-4">
            <div class="block-dk center shadow-lg">
              <img src="/assets/media/DND3N/giai-quyet-tan-goc/cong-nghe-thong-tin.svg">
              <div><p>Công nghệ thông tin</p></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-dk center shadow-lg">
              <img src="/assets/media/DND3N/giai-quyet-tan-goc/phan-phoi-hang-hoa.svg">
              <div><p>Phân phối hàng hoá</p></div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="block-dk center shadow-lg">
              <img src="/assets/media/DND3N/giai-quyet-tan-goc/du-lich-an-uong.svg">
              <div><p>Du lịch Ăn uống</p></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6">
            <div class="block-dk center shadow-lg" style="float: right; margin-right: -10px">
              <img src="/assets/media/DND3N/giai-quyet-tan-goc/truyen-thong-quang-cao.svg">

              <div><p>Truyền thông quảng cáo</p></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block-dk center shadow-lg" style="float: left; margin-left: -10px">
              <img src="/assets/media/DND3N/giai-quyet-tan-goc/Giao-duc-nghe-nghiep.svg">
              <div>
                <p>Giáo dục nghề nghiệp</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-7">

        <div class="recognize-block" style="margin-left: 40px;">
          <img style="    top: -20px;
    left: 147px;"
               src="/assets/media/DND3N/giai-quyet-tan-goc/bg-dang-ky-nganh-nghe-co-dieu-kien.svg">
          <p class="alt-title">Đăng ký ngành nghề có điều kiện</p>
          <hr style="    width: 60px;
    height: 0.5px;
    background-color: black;
    border: unset;
    margin-top: 10px;
    margin-bottom: 25px;">
          <p>Asoka Law hỗ trợ bạn rà soát các ngành nghề kinh doanh bắt buộc có điều kiện. Đặc biệt,
            chúng tôi có kinh nghiệm chuyên sâu trong <b>05 lĩnh vực</b> .</p>
          <p>Am hiểu thủ tục pháp lý của từng ngành nghề, Asoka sẽ tư vấn cho bạn hiểu rõ và hoàn thiện
            hồ sơ pháp lý đầy đủ theo quy định của cơ quan Nhà nước. Doanh nghiệp của bạn sẽ được rà
            soát, quản trị toàn diện về tình trạng pháp lý.</p>
          <p style="color: #D5D5D5; font-style: italic">* Bấm vào từng lĩnh vực ở bên để tra cứu nhanh.</p>
          <button style="margin-top: 30px; margin-bottom: 20px" class="btn btn-warning sub-button">Tra cứu miễn phí
          </button>
          <p><i><a href="#">Kiểm tra toàn diện giấy phép có điều kiện</a></i></p>

        </div>
      </div>
    </div>

  </div>
  <div class="recognize-block-bg">
    <div class="container-fluid sub-fluid">
      <div class="row" style="padding-top: 80px;padding-bottom: 100px">

        <div class="col-md-7">

          <div class="recognize-block" style="    padding-right: 30px;">
            <img style="top: -22px;
    left: -25px;
    width: 100px;"
                 src="/assets/media/DND3N/giai-quyet-tan-goc/bg-dang-ky-nhan-hieu.svg">
            <p class="alt-title">Đăng ký nhãn hiệu</p>
            <hr style="    width: 40px;
    height: 0.5px;
    background-color: black;
    border: unset;
    margin-top: 10px;
    margin-bottom: 25px;">
            <p style="line-height: 2.3rem">Chúng tôi giúp bạn bảo vệ tài sản trí tuệ của doanh nghiệp. Cần đảm bảo rằng, nhãn hiệu được
              chọn kinh doanh của công ty bạn là duy nhất và "nhanh chân" đăng ký trước. Nếu chậm trễ, các bên
              khác hoàn toàn có thể giành quyền đăng ký sở hữu, đồng nghĩa với việc bạn không được phép sử
              dụng nhãn hiệu đó để tiếp tục kinh doanh được nữa.</p>

            <p style="margin-top: 40px;"><a href="#">Xem 5 lợi ích của đăng ký nhãn hiệu >></a></p>

          </div>
        </div>
        <div class="col-md-5">
          <div>
            <img src="/assets/media/DKNH/Form/Asset 3.svg" class="imgForm">
            <form class="shadow backgrFormound">
              <div class="form-group">
                <h2 style="font-family: 'Montserrat', sans-serif; text-align: center; margin-bottom: 20px">TRA CỨU LOGO CỦA BẠN</h2>
                <input style="margin-bottom: 3%;" type="text" class="form-control"
                       id="exampleFormControlInput1" placeholder="Họ và tên">
                <input style="margin-bottom: 3%;" type="phone" class="form-control"
                       id="exampleFormControlInput1" placeholder="Số điện thoại*">
                <input style="margin-bottom: 3%;" type="email" class="form-control"
                       id="exampleFormControlInput1" placeholder="Email*">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                          placeholder="Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing"></textarea>
              </div>
              <div class="row">
                <button type="button" class="btn btn-link"><i>Logo đính kèm 1</i></button>
                <button type="button" class="btn btn-link" style="color: gray;"><i>Logo đính kèm
                  2</i></button>
                <button type="button" class="btn btn-link" style="color: gray;"><i>Logo đính kèm
                  3</i></button>
              </div>
              <div class="flex-center-hor">
                <button type="button" class="btn btn-warning btn-custom">Tra cứu miễn phí</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
