<div class="container center">
    <div class="row" style="text-align: center">
        <h1 class="padding-header" style="margin: auto">{{global.locale=='vi'?'Tư vấn thành lập doanh nghiệp':'Consulting on\n' +
            'business establishment'}}</h1>
    </div>
    <div class="effective-content">
        <div class="row">
            <div class="col-md-6">
                <img class="effect-img" src="/assets/media/DKKD/tu-van-thanh-lap/Asset 9.svg">
                <img onclick="$('#QWQL1-owUUg').modal('show')" class="effective-img pb-4" style=" width: 90%;cursor: pointer" src="/assets/media/DKKD/tu-van-thanh-lap/vid thumbnail.png">
            </div>
            <div class="col-md-6">
                <div class="float-left title-record" style="text-align: justify;line-height: 2rem;
    padding-bottom: 4%;">
                    <img style="    width: 2%;
    margin-top: -5px;" src="/assets/media/DKKD/tu-van-thanh-lap/Asset 10.svg">
                    {{global.locale=='vi'?'Lựa chọn đúng loại hình thành lập doanh nghiệp sẽ mang đến cho bạn một khởi đầu kinh doanh thuận lợi. Asoka Law đồng hành để giúp bạn lựa chọn đúng loại hình phù hợp và không bỏ sót các thủ tục cần thiết.':'Lựa chọn đúng loại hình thành lập doanh nghiệp sẽ mang đến cho bạn một khởi đầu kinh doanh thuận lợi. Asoka Law đồng hành để giúp bạn lựa chọn đúng loại hình phù hợp và không bỏ sót các thủ tục cần thiết. aaa'}}
                </div>
                <div class="float-left title-record" style="text-align: justify;line-height: 2rem;
    padding-bottom: 4%;">
                    <img style="    width: 2%;
    margin-top: -5px;" src="/assets/media/DKKD/tu-van-thanh-lap/Asset 10.svg">
                    {{global.locale=='vi'?'Đội ngũ luật sư và chuyên viên của Asoka với hơn 10 năm kinh nghiệm trong nhiều lĩnh vực kinh doanh đặc thù sẽ đưa cho bạn những lời khuyên hữu ích. Bạn không đơn độc một mình. Asoka Law sẽ giúp bạn lựa chọn đúng và làm đúng ngay từ đầu.':'Đội ngũ luật sư và chuyên viên của Asoka với hơn 10 năm kinh nghiệm trong nhiều lĩnh vực kinh doanh đặc thù sẽ đưa cho bạn những lời khuyên hữu ích. Bạn không đơn độc một mình. Asoka Law sẽ giúp bạn lựa chọn đúng và làm đúng ngay từ đầu. aaa'}}
                </div>
                <div class="align-left">
                    <div class="form-check" style="    padding: 5px 15px;">
                        <label class="form-check-label" style="font-weight: bold">
                            <input type="radio" value="Tư vấn miễn phí cùng chuyên viên pháp lý" [(ngModel)]="consult" class="form-check-input package" name="consult2">
                            {{global.locale=='vi'?'Tư vấn miễn phí cùng chuyên viên pháp lý':'Free consultation with legal specialists'}}
                        </label>
                    </div>
                    <div class="form-check" style="    padding: 5px 15px;">
                        <label class="form-check-label" style="font-weight: bold">
                            <input type="radio" [(ngModel)]="consult" value="Tư vấn chuyên sâu với luật sư" class="form-check-input package" name="consult2">
                            {{global.locale=='vi'?'Tư vấn chuyên sâu với luật sư':'In-depth consultation with lawyers'}}
                        </label>
                    </div>
                </div>
                <div class="align-left d-md-block d-none">
                    <button (click)="submit()" style="padding: 15px 30px; margin-top: 25px;" class="btn btn-outline-warning">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult me now'}}</button>
                </div>
                <div class="d-block d-md-none center">
                    <button (click)="submit()" style="padding: 15px 30px; margin-top: 25px;" class="btn btn-outline-warning">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult me now'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-video dataid="QWQL1-owUUg"></app-modal-video>
