<section class="header pt-3">
  <div class="container">
    <div class="row d-md-block d-none">
      <div class="col-md-7" style="padding-top: 170px; ">
        <h1 style="line-height: 60px; font-weight: 500; font-family:'Montserrat',sans-serif; font-size: 45px; color: black;">
          Yên tâm kinh doanh trên lãnh thổ Việt Nam</h1>
        <p style="margin-top: 40px; font-size: 16px; font-weight: 200; line-height: 30px;">Asoka Law đã giúp
          100+ nhà đầu tư nước ngoài kinh doanh thành công tại Việt Nam, từ khởi tạo đến khi phát triển
          thành công ty toàn cầu.</p>
        <div>
          <button style="padding: 10px 40px; margin-top: 60px;" class="btn btn-warning shadow-lg">Xem báo giá chi tiết</button>
        </div>
      </div>
    </div>
    <div class="row d-md-none d-block">
      <div class="col-sm-12 pt-md-5"><h1 style=" text-align: center;font-family:'Montserrat'; color: black;">Yên
        tâm kinh doanh trên lãnh
        thổ Việt Nam</h1>
        <p style=" text-align: center;font-weight: 200; line-height: 30px;">Asoka Law đã giúp 100+ nhà đầu
          tư nước ngoài kinh
          doanh thành công tại Việt Nam, từ khởi tạo đến khi phát triển thành công ty toàn cầu.</p>
        <div class="text-center">
          <button style="padding: 10px 40px;" class="btn btn-warning shadow-lg">Xem báo giá chi tiết</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dkdtrecognize></app-dkdtrecognize>
<app-dkdtreason></app-dkdtreason>
<app-dkdtbusiness></app-dkdtbusiness>
<app-dkdtfeedback></app-dkdtfeedback>
<app-dkdtsupport></app-dkdtsupport>
<app-dkkdquestion></app-dkkdquestion>

<section class="sub bg-image center">
  <div class="container">
    <div class="row d-none d-md-flex">
      <div class="col-md-8" style="text-align: left;">Chúng tôi tự hào là <b>cộng sự tận tâm cho 100+ nhà đầu
        tư</b><br>nước ngoài kinh doanh thành công tại Việt Nam.
      </div>
      <div class="col-md-4">
        <div style="width: fit-content; float:right ; ">
          <button style="   padding: 8px 15px; font-size: 16px;"
                  class="btn btn-warning sub-button shadow">Yêu cầu tư vấn
          </button>
        </div>
      </div>
    </div><div class="row d-block d-md-none">
    <div class="col-md-8" >Chúng tôi tự hào là <b>cộng sự tận tâm cho 100+ nhà đầu
      tư</b><br>nước ngoài kinh doanh thành công tại Việt Nam.
    </div>
    <div class="col-md-4 pt-3">
      <div >
        <button style="   padding: 8px 15px; font-size: 16px;"
                class="btn btn-warning sub-button shadow">Yêu cầu tư vấn
        </button>
      </div>
    </div>
  </div>
  </div>
</section>
