<section class="header pt-3">
    <div class="container">
        <div class="row d-md-block d-none">
            <div class="col-md-7" style="padding-top: 170px; ">
                <h1 style="margin-top: -20%; line-height: 60px; font-weight: 500; font-family:'Montserrat',sans-serif; font-size: 45px; color: black;">
                    {{global.locale=='vi'?'Yên tâm kinh doanh trên lãnh thổ Việt Nam':'You can rest assured when doing businesses in Vietnam'}}</h1>
                <p style="margin-top: 40px; font-size: 16px; font-weight: 200; line-height: 30px;">{{global.locale=='vi'?'Asoka Law đã giúp 100+ nhà đầu tư nước ngoài kinh doanh thành công tại Việt Nam, từ khởi tạo đến khi phát triển thành công ty toàn cầu.':'With Asoka Law, the local law firm which has supported 100+ foreign investors to do successfully business in the country, from establishment to development into global companies.'}}</p>
                <div>
                    <button onclick="$('#dkdtform1').modal('show')" style="padding: 0.75rem 3rem; margin-top: 60px;" class="btn btn-warning shadow-lg">{{global.locale=='vi'?'Xem báo giá chi tiết':'See detailed quotations'}}</button>
                </div>
            </div>
        </div>
        <div class="row d-md-none d-block">
            <div class="col-sm-12 pt-md-5"><h1 style=" text-align: center;font-family:'Montserrat'; color: black; margin-top: -20%;">{{global.locale=='vi'?'Yên tâm kinh doanh trên lãnh thổ Việt Nam':'You can rest assured when doing businesses in Vietnam'}}</h1>
                <p style=" text-align: center;font-weight: 200; line-height: 30px; ">{{global.locale=='vi'?'Asoka Law đã giúp 100+ nhà đầu tư nước ngoài kinh doanh thành công tại Việt Nam, từ khởi tạo đến khi phát triển thành công ty toàn cầu.':'With Asoka Law, the local law firm which has supported 100+ foreign investors to do successfully business in the country, from establishment to development into global companies.'}}</p>
                <div class="text-center">
                    <button onclick="$('#dkdtform1').modal('show')" style="padding: 0.75rem 3rem; " class="btn btn-warning shadow-lg">{{global.locale=='vi'?'Xem báo giá chi tiết':'See detailed quotations'}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-dkdtrecognize (onclickregister)="changePackageRegister($event)" (onclickchangepackage)="changeTypeRegister($event)"></app-dkdtrecognize>
<app-dkdtreason></app-dkdtreason>
<app-global-lawyer (showregistrationform)="showRegistrationForm($event)">
    <div>
        <h1 class="sub-content-no-fluid" style="padding-top: 45px!important;">{{global.locale=='vi'?'Luật sư và cố vấn 10+ năm kinh nghiệm':'Lawyers and advisors 10+ years of experience'}}</h1>
    </div>
    <p class="center sub-content-no-fluid" style="padding-bottom: 45px!important;">
        {{global.locale=='vi'?'Đội ngũ luật sư và cố vấn của chúng tôi đều trải qua 10+ năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và đầu tư. Chia sẻ với chúng tôi dự định kinh doanh của bạn tại Việt Nam, Asoka sẽ giúp bạn thực thi với một nền móng pháp lý vững chắc.':'Our team of lawyers and advisors have 10+ years of experience in corporate legal and investment. Share with us your business intentions in Vietnam, and Asoka will help you enforce with a strong legal foundation.'}}
    </p>
</app-global-lawyer>
<app-dkdtfeedback></app-dkdtfeedback>
<app-dkdtsupport></app-dkdtsupport>
<app-dkdtquestion></app-dkdtquestion>

<section class="sub bg-image center">
    <div class="container">
        <div class="row d-none d-md-flex">
            <div class="col-md-8" style="font-size:2rem;text-align: left;">{{global.locale=='vi'?'Chúng tôi tự hào là ':'We are proud to be'}}<b style="font-size:2rem;">{{global.locale=='vi'?'cộng sự tận tâm cho 100+ nhà đầu tư':' a conscientious legal partner for +100 foreign '}}</b> {{global.locale=='vi'?'nước ngoài kinh doanh thành công tại Việt Nam.':' investors successfully doing businesses in Viet Nam'}}
            </div>
            <div class="col-md-4">
                <div style="width: fit-content; float:right ; ">
                    <button onclick="$('#dkdtform1').modal('show')" style="padding: 1rem 5rem !important; font-size: 16px;" class="btn btn-warning sub-button shadow" >{{global.locale=='vi'?'Yêu cầu tư vấn':'Send request now'}}</button>
                </div>
            </div>
        </div>
        <div class="row d-block d-md-none">
            <div class="col-md-8" style="font-size: 2rem;">{{global.locale=='vi'?'Chúng tôi tự hào là ':'We are proud to be'}}<b style="font-size: 2rem;">{{global.locale=='vi'?'cộng sự tận tâm cho 100+ nhà đầu tư':' a conscientious legal partner for +100 foreign '}}</b>{{global.locale=='vi'?'nước ngoài kinh doanh thành công tại Việt Nam.':' investors successfully doing businesses in Viet Nam'}}
            </div>
            <div class="col-md-4 pt-3">
                <div>
                    <button onclick="$('#dkdtform1').modal('show')" style="padding: 1rem 5rem !important; font-size: 16px;" class="btn btn-warning sub-button shadow" >{{global.locale=='vi'?'Yêu cầu tư vấn':'Send request now'}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="dkdtform1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input autocomplete="off" (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Full Name *'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name.'}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Telephone number *'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number.'}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="{{global.locale=='vi'?'Email *':'Email *'}}"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address.'}}</small></i>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Chọn hình thức đăng ký đầu tư phù hợp với bạn':'Choose a suitable investment method:'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="form" [checked]="form=='Thành lập doanh nghiệp mới'" name="form" class="form-check-input" type="radio" value="Thành lập doanh nghiệp mới">
                                    <span class="form-check-label">{{global.locale=='vi'?'Thành lập doanh nghiệp mới':'Establishing new enterprises'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="form" [checked]="form=='Góp hoặc mua cổ phần/vốn góp'" name="form" class="form-check-input" type="radio" value="Góp hoặc mua cổ phần/vốn góp">
                                    <span class="form-check-label">{{global.locale=='vi'?'Góp hoặc mua cổ phần/vốn góp':'Contributing capital/ buying shares & capital contribution'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Gói dịch vụ bạn muốn đăng ký':'Select a service package'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="service" [checked]="service=='Gói tiết kiệm'" name="service" class="form-check-input" type="radio" value="Gói tiết kiệm">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói tiết kiệm':' Economic package'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input [(ngModel)]="service" [checked]="service=='Gói toàn diện'" name="service" class="form-check-input" type="radio" value="Gói toàn diện">
                                    <span class="form-check-label">{{global.locale=='vi'?'Gói toàn diện':'Comprehensive package'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group problem">
                    <label>{{global.locale=='vi'?'Mô tả dự định ban đầu của bạn':'Describe your investment plan'}}</label>
                    <textarea class="form-control" [(ngModel)]="description" name="description" rows="2"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'SEND REQUEST NOW'}}</button>
            </div>
        </div>
    </div>
</div>
