<section id="slide-video" class="sub">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style="margin-left: 40px; margin-bottom: -20px; font-family: 'Montserrat'; font-weight: 500;">Video được xem nhiều nhất</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-slide-video">
                    <div class="slide-item">
                        <img data-toggle="modal" data-target="#homevideosmodal1" class="img-responsive" src="/assets/media/vid1.png"/>
                    </div>
                    <div class="slide-item">
                        <img data-toggle="modal" data-target="#homevideosmodal2" class="img-responsive" src="/assets/media/vid2.png"/>
                    </div>
                    <div class="slide-item">
                        <img data-toggle="modal" data-target="#homevideosmodal3" class="img-responsive" src="/assets/media/vid3.png"/>
                    </div>
                    <div class="slide-item">
                        <img data-toggle="modal" data-target="#homevideosmodal4" class="img-responsive" src="/assets/media/vid4.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-view-video-modal link="https://youtu.be/bb42zrvKOWQ" dataid="homevideosmodal1"></app-view-video-modal>
<app-view-video-modal link="https://youtu.be/6RplDXDwPG8" dataid="homevideosmodal2"></app-view-video-modal>
<app-view-video-modal link="https://youtu.be/A1epghSWS-k" dataid="homevideosmodal3"></app-view-video-modal>
<app-view-video-modal link="https://youtu.be/ege5lEtvPWA" dataid="homevideosmodal4"></app-view-video-modal>
