<section id="slide-video" class="sub">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style="margin-left: 40px; margin-bottom: -20px; font-family: 'Montserrat'; font-weight: 500;">Video được xem nhiều nhất</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-slide-video">
                    <ng-container *ngFor="let i of videos">
                        <div class="slide-item">
                            <img (click)="openModal('#homevideosmodal'+i.name)" class="img-responsive" src="{{i.img}}"/>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="homevideosmodal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px">&times;</span>
                </button>
                <div class="modal-youtube">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/bb42zrvKOWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="homevideosmodal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px">&times;</span>
                </button>
                <div class="modal-youtube">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/6RplDXDwPG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="homevideosmodal3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px">&times;</span>
                </button>
                <div class="modal-youtube">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/A1epghSWS-k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="homevideosmodal4">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px">&times;</span>
                </button>
                <div class="modal-youtube">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ege5lEtvPWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
