<section id="slide-video" class="sub">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style="margin-left: 40px; margin-bottom: -20px; font-family: 'Montserrat'; font-weight: 500;">Video được xem nhiều nhất</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-slide-video">
                    <div *ngFor="let i of videos" class="slide-item">
                        <img data-toggle="modal" data-target="#homevideosmodal{{i.name}}" class="img-responsive" src="{{i.img}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-container *ngFor="let i of videos">
    <div class="modal fade" id="homevideosmodal{{i.name}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-youtube">
                        <iframe width="100%" height="315" [src]="i.src" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
