<div class="form-group">
    <input (keyup)="n=true;dataName.emit(name)" [class.is-invalid]="!form.fieldValid(name)&&(n||submitClick)" [class.is-valid]="form.fieldValid(name)" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Họ tên *">
    <i *ngIf="!form.fieldValid(name)&&(n||submitClick)"><small class="text-danger">Bắt buộc nhập họ tên.</small></i>
</div>
<div class="form-group">
    <input (keyup)="p=true;dataPhone.emit(phone)" [class.is-invalid]="!form.fieldValid(phone,'phone')&&(p||submitClick)" [class.is-valid]="form.fieldValid(phone,'phone')" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="Số điện thoại *"/>
    <i *ngIf="!form.fieldValid(phone,'phone')&&(p||submitClick)"><small class="text-danger">Bắt buộc nhập số điện thoại hợp lệ.</small></i>
</div>
<div class="form-group">
    <input (keyup)="e=true;dataEmail.emit(email)" [class.is-invalid]="!form.fieldValid(email,'email')&&(e||submitClick)" [class.is-valid]="form.fieldValid(email,'email')" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
    <i *ngIf="!form.fieldValid(email,'email')&&(e||submitClick)"><small class="text-danger">Bắt buộc nhập email hợp lệ.</small></i>
</div>
