<section id="slide-video" class="sub" style="background-color: #F9F9F9">
  <div class="container" >
    <div class="row" >
      <div class="col-md-12">
        <h4 style="margin-left: 40px; margin-bottom: -20px; font-family: 'Montserrat'; font-weight: 500;">{{global.locale=='vi'?'Video được xem nhiều nhất':'Video được xem nhiều nhất aaa'}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="list-slide-video">
          <div class="slide-item">
            <img data-url="https://youtu.be/bb42zrvKOWQ" class="img-responsive" src="/assets/media/vid1.png" />
          </div>
          <div class="slide-item">
            <img data-url="https://youtu.be/6RplDXDwPG8" class="img-responsive" src="/assets/media/vid2.png" />
          </div>
          <div class="slide-item">
            <img data-url="https://youtu.be/A1epghSWS-k" class="img-responsive" src="/assets/media/vid3.png" />
          </div>
          <div class="slide-item">
            <img data-url="https://youtu.be/ege5lEtvPWA" class="img-responsive" src="/assets/media/vid4.png" />
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
