<section id="reason">
  <div class="container">
    <div class="row sub">
      <div class="col-md-12 center"><h1>{{global.locale=='vi'?'3 lý do nên đăng ký đầu tư tại Asoka Law':'3 benefits of investment registration with Asoka Law'}}</h1></div>

    </div>
    <div class="slider d-none d-md-block">
      <div class="row">
        <div class="col-md-6">
          <div class="content-header">
            <img class="img-header" src="/assets/media/DKDT/ly-do-dkdt/no 01.svg">
            <p>{{global.locale=='vi'?'99% khách hàng cũ hài lòng':'Trusted by 99% clients'}}</p>
          </div>
          <div class="content-body">{{global.locale=='vi'?'Không chỉ hài lòng và tiếp tục quay lại sử dụng dịch vụ của Asoka, một số khách hàng cũ còn giới thiệu thêm đối tác nước ngoài cho chúng tôi. Asoka Law bắt đầu phục vụ nhà đầu tư nước ngoài đầu tư vào Việt Nam từ 2015 và số lượng khách hàng thông qua giới thiệu không ngừng tăng lên.':'Not only satisfied and continuing to use Asoka\'s services, some old customers have also introduced us to international partners. Asoka Law has served foreign investors investing in Vietnam since 2015, and the number of clients through referring have grown continuously.'}}
          </div>
        </div>
        <div class="col-md-6 center" style="text-align: right">
          <img style="width: 80%; float:right;"
               src="/assets/media/DKDT/ly-do-dkdt/1-99_-khach-hang-cu-quay-lai.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="content-header">
            <img class="img-header" src="/assets/media/DKDT/ly-do-dkdt/no 02.svg">
            <p>{{global.locale=='vi'?'Nhà đầu tư đa dạng, toàn cầu':'Diverse and international investors '}}</p>
          </div>
          <div class="content-body">
            {{global.locale=='vi'?'Khách hàng của Asoka có thể cùng quốc tịch với bạn. Chúng tôi đã phục vụ thành công cho hàng trăm nhà đầu tư từ khắp 5 châu lục như: Pháp, Mỹ, Anh, Australia, New Zealand, Ấn Độ, Sri Lanka, Singapore, Hong Kong, Hàn Quốc,... Với các lĩnh vực kinh doanh tiêu biểu như: công nghệ thông tin, xuất nhập khẩu hàng hóa, tư vấn đầu tư, marketing, nghệ thuật, du lịch, nhà hàng,...':'Asoka customers may be of the same nationality as you. We have successfully served hundreds of investors from all 5 continents (such as France, the US, the UK, Australia, New Zealand, India, Sri Lanka, Singapore, Hong Kong, and Korea), working in typical business fields (for example: information technology, import and export of goods, investment consulting, marketing, art, tourism, and restaurants).'}}
          </div>
        </div>
        <div class="col-md-6 center" style="text-align: right">
          <img style="width: 80%; float:right;"
               src="/assets/media/DKDT/ly-do-dkdt/2-nha-dau-tu-da-dang-toan-cau.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="content-header">
            <img class="img-header" src="/assets/media/DKDT/ly-do-dkdt/no 03.svg">
            <p>{{global.locale=='vi'?'Giá phí cạnh tranh, niêm yết rõ ràng':'Competitive, clearly listed prices and fees'}}</p>
          </div>
          <div class="content-body">
            {{global.locale=='vi'?'Asoka Law luôn niêm yết giá phí rõ ràng để giúp nhà đầu tư có kế hoạch chuẩn bị ngân sách phù hợp. Ngoài ra, Asoka Law cũng thiết lập cho bạn một nền tảng pháp lý vững chắc, thông qua việc tư vấn rõ ràng; thực hiện hồ sơ đầy đủ, không bỏ sót thủ tục của cơ quan nhà nước. Đội ngũ chuyên viên/luật sư tận tâm của Asoka luôn hỗ trợ pháp lý suốt quá trình kinh doanh của bạn.':'Prices and fees at Asoka Law are always clearly listed for investors to plan their budgets accordingly. In addition, Asoka Law also establishes for you a solid legal foundation, through clear consultation, careful document prepartion, not missing any procedures of state agencies. Asoka\'s conscientious team of lawyers/ specialists provide legal assistance throughout the entire course of your business.'}}
          </div>
        </div>
        <div class="col-md-6 center" style="text-align: right">
          <img style="width: 80%; float: right;"
               src="/assets/media/DKDT/ly-do-dkdt/3-Gia-phi-niem-yet-ro-rang.jpg">
        </div>
      </div>
    </div>
    <div class="p-2 d-block d-md-none">
      <div class="row">
        <div class="col-sm-12 text-center">

          <img style="width: 100%; margin: auto;"
               src="/assets/media/DKDT/ly-do-dkdt/1-99_-khach-hang-cu-quay-lai.jpg">

        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-6">

          <div class="content-header">
            <img class="img-header" src="/assets/media/DKDT/ly-do-dkdt/no 01.svg">
            <p>{{global.locale=='vi'?'99% khách hàng cũ hài lòng':'Trusted by 99% clients'}}</p>
          </div>

          <div class="content-body">{{global.locale=='vi'?'Không chỉ hài lòng và tiếp tục quay lại sử dụng dịch vụ của Asoka, một số khách hàng cũ còn giới thiệu thêm đối tác nước ngoài cho chúng tôi. Asoka Law bắt đầu phục vụ nhà đầu tư nước ngoài đầu tư vào Việt Nam từ 2015 và số lượng khách hàng thông qua giới thiệu không ngừng tăng lên.':'Not only satisfied and continuing to use Asoka\'s services, some old customers have also introduced us to international partners.Asoka Law has served foreign investors investing in Vietnam since 2015, and the number of clients through referring have grown continuously.'}}

          </div>
        </div>

      </div>
      <div class="row py-3">
        <div class="col-md-6">
          <div class="content-header">
            <img class="img-header" src="/assets/media/DKDT/ly-do-dkdt/no 02.svg">
            <p>{{global.locale=='vi'?'Nhà đầu tư đa dạng, toàn cầu':'Nhà đầu tư đa dạng, toàn cầu aaa'}}</p>
          </div>
          <div class="content-body">{{global.locale=='vi'?'Khách hàng của Asoka có thể cùng quốc tịch với bạn. Chúng tôi đã phục vụ thành công cho hàng trăm nhà đầu tư từ khắp 5 châu lục như: Pháp, Mỹ, Anh, Australia, New Zealand, Ấn Độ, Sri Lanka, Singapore, Hong Kong, Hàn Quốc,... Với các lĩnh vực kinh doanh tiêu biểu như: công nghệ thông tin, xuất nhập khẩu hàng hóa, tư vấn đầu tư, marketing, nghệ thuật, du lịch, nhà hàng,...':'Khách hàng của Asoka có thể cùng quốc tịch với bạn. Chúng tôi đã phục vụ thành công cho hàng trăm nhà đầu tư từ khắp 5 châu lục như: Pháp, Mỹ, Anh, Australia, New Zealand, Ấn Độ, Sri Lanka, Singapore, Hong Kong, Hàn Quốc,... Với các lĩnh vực kinh doanh tiêu biểu như: công nghệ thông tin, xuất nhập khẩu hàng hóa, tư vấn đầu tư, marketing, nghệ thuật, du lịch, nhà hàng,... aaa'}}

          </div>
        </div>

      </div>
      <div class="row py-3">
        <div class="col-md-6">
          <div class="content-header">
            <img class="img-header" src="/assets/media/DKDT/ly-do-dkdt/no 03.svg">
            <p>{{global.locale=='vi'?'Giá phí cạnh tranh, niêm yết rõ ràng':'Competitive, clearly listed prices and fees'}}</p>
          </div>
          <div class="content-body">
            {{global.locale=='vi'?'Asoka Law luôn niêm yết giá phí rõ ràng để giúp nhà đầu tư có kế hoạch chuẩn bị ngân sách phù hợp. Ngoài ra, Asoka Law cũng thiết lập cho bạn một nền tảng pháp lý vững chắc, thông qua việc tư vấn rõ ràng; thực hiện hồ sơ đầy đủ, không bỏ sót thủ tục của cơ quan nhà nước. Đội ngũ chuyên viên/luật sư tận tâm của Asoka luôn hỗ trợ pháp lý suốt quá trình kinh doanh của bạn.':'Prices and fees at Asoka Law are always clearly listed for investors to plan their budgets accordingly. In addition, Asoka Law also establishes for you a solid legal foundation, through clear consultation, careful document prepartion, not missing any procedures of state agencies. Asoka\'s conscientious team of lawyers/ specialists provide legal assistance throughout the entire course of your business.'}}
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
