<div class="container center">
  <div class="row" style="display: block">
    <h1 class="padding-header">{{global.locale=='vi'?'3 Bước đăng ký thành lập doanh nghiệp tại Asoka Law':'3 Bước đăng ký thành lập doanh nghiệp tại Asoka Law aaa'}}</h1>
    <p style="    margin: auto;
    padding-bottom: 20px;
    font-weight: 300;">{{global.locale=='vi'?'Asoka Law đã giúp hơn 1000 doanh nghiệp khởi tạo công ty thành công với quy trình 3 bước đơn\n' +
            '      giản.':'Asoka Law đã giúp hơn 1000 doanh nghiệp khởi tạo công ty thành công với quy trình 3 bước đơn\n' +
            '      giản. aaa'}}<br>

      {{global.locale=='vi'?'Ở mỗi bước thực hiện, chúng tôi đều đóng gói chặt chẽ và đưa ra lời khuyên đúng lúc để doanh nghiệp chỉ\n' +
              '      việc yên tâm kinh doanh.':'Ở mỗi bước thực hiện, chúng tôi đều đóng gói chặt chẽ và đưa ra lời khuyên đúng lúc để doanh nghiệp chỉ\n' +
              '      việc yên tâm kinh doanh. aaa'}} </p>

    <hr style="    margin: auto;
    width: 120px;
    border: 2px solid #ffc912;
    background: #ffc912; margin-bottom: 1rem">

  </div>
  <div class="row ">
    <div class="col-md-4">

      <div class="priceListItem shadow-lg" style="text-align: left;">
        <img style="    width: 22%;
    position: relative;
    float: right;
    top: -3px;" src="/assets/media/DKKD/3-buoc-dang-ki/Asset 11.svg">
        <h5 style="margin-top: 10px;
    padding-bottom: 25px;
    font-family:'Montserrat';
    font-size: 22px;"> {{global.locale=='vi'?'1. Liên hệ tư vấn':'1. Liên hệ tư vấn aaa'}}</h5>
        <p style="font-size: 12px">


          {{global.locale=='vi'?'Khi bạn liên hệ, chuyên viên tư vấn\n' +
                '          Đăng ký kinh doanh của Asoka Law\n' +
                '          sẽ tư vấn/kiểm tra điều kiện thành\n' +
                '          lập doanh nghiệp cho bạn miễn\n' +
                '          phí. Bạn cũng có thể yêu cầu tư vấn\n' +
                '          chuyên sâu với Luật sư nhằm có lộ\n' +
                '          trình chuẩn bị pháp lý hoàn thiện\n' +
                '          cho doanh nghiệp.':'Khi bạn liên hệ, chuyên viên tư vấn\n' +
                '          Đăng ký kinh doanh của Asoka Law\n' +
                '          sẽ tư vấn/kiểm tra điều kiện thành\n' +
                '          lập doanh nghiệp cho bạn miễn\n' +
                '          phí. Bạn cũng có thể yêu cầu tư vấn\n' +
                '          chuyên sâu với Luật sư nhằm có lộ\n' +
                '          trình chuẩn bị pháp lý hoàn thiện\n' +
                '          cho doanh nghiệp. aaa'}}
        </p>
      </div>
      <img class="arrow d-none d-md-block" src="/assets/media/DKNH/step/Asset 21.svg">
    </div>

    <div class="col-md-4">


      <div class="priceListItem shadow-lg" style="text-align: left;">
        <img style="    width: 20%;
    position: relative;
    float: right;
    top: -3px;" src="/assets/media/DKKD/3-buoc-dang-ki/Asset 12.svg">
        <h5 style="margin-top: 10px;
    padding-bottom: 25px;
    font-family:'Montserrat';
    font-size: 22px;"> {{global.locale=='vi'?'2. Ký hợp đồng':'2. Ký hợp đồng aaa'}}</h5>
        <p style="font-size: 12px">


          {{global.locale=='vi'?'Asoka Law đến địa điểm bạn yêu\n' +
                '          cầu để ký hợp đồng và hồ sơ đã soạn\n' +
                '          thảo. Sau khi có giấy đăng ký kinh\n' +
                '          doanh, chúng tôi sẽ thiết lập hồ sơ\n' +
                '          hoạt động đầy đủ cho doanh nghiệp\n' +
                '          tại Ngân hàng/ cơ quan Thuế để\n' +
                '          đảm bảo vận hành hoàn hảo, không\n' +
                '          bỏ sót bất kỳ thủ tục nào.':'Asoka Law đến địa điểm bạn yêu\n' +
                '          cầu để ký hợp đồng và hồ sơ đã soạn\n' +
                '          thảo. Sau khi có giấy đăng ký kinh\n' +
                '          doanh, chúng tôi sẽ thiết lập hồ sơ\n' +
                '          hoạt động đầy đủ cho doanh nghiệp\n' +
                '          tại Ngân hàng/ cơ quan Thuế để\n' +
                '          đảm bảo vận hành hoàn hảo, không\n' +
                '          bỏ sót bất kỳ thủ tục nào. aaa'}}
        </p>
      </div>
      <img class="arrow d-none d-md-block" src="/assets/media/DKNH/step/Asset 21.svg">
    </div>


    <div class="col-md-4">

      <div class="priceListItem shadow-lg" style="text-align: left;">
        <img style="
    width: 29%;
    position: relative;
    float: right;
    top: 4px;
    " src="/assets/media/DKKD/3-buoc-dang-ki/Asset 13.svg">
        <h5 style="margin-top: 10px;
    padding-bottom: 25px;
    font-family:'Montserrat';
    font-size: 22px;"> {{global.locale=='vi'?'3. Nhận kết quả':'3. Nhận kết quả aaa'}}</h5>
        <p style="font-size: 12px">


          {{global.locale=='vi'?'Asoka Law cung cấp trọn vẹn kết\n' +
                '          quả/ hồ sơ gốc cùng hướng dẫn\n' +
                '          bảo quản tài liệu. Dành tặng chủ\n' +
                '          doanh nghiệp 01 giờ tư vấn miễn\n' +
                '          phí với Luật sư. Bạn có thể hỏi Luật\n' +
                '          sư và nghe tham vấn về các vấn đề\n' +
                '          liên quan đến việc vận hành doanh\n' +
                '          nghiệp ở lĩnh vực riêng của mình.':'Asoka Law cung cấp trọn vẹn kết\n' +
                '          quả/ hồ sơ gốc cùng hướng dẫn\n' +
                '          bảo quản tài liệu. Dành tặng chủ\n' +
                '          doanh nghiệp 01 giờ tư vấn miễn\n' +
                '          phí với Luật sư. Bạn có thể hỏi Luật\n' +
                '          sư và nghe tham vấn về các vấn đề\n' +
                '          liên quan đến việc vận hành doanh\n' +
                '          nghiệp ở lĩnh vực riêng của mình. aaa'}}
        </p>
      </div>

    </div>
  </div>

  <div class="row ">
    <div class="col-md-12">
      <button (click)="submit()" style="padding: 10px 30px;" class="  color-white my-md-5" type="button">{{global.locale=='vi'?'Đăng ký ngay':'Đăng ký ngay aaa'}}</button>
    </div>
  </div>
  <div class="call row">
    <div class="col-md-4 d-none d-md-block">
      <div class="step-hr">
        <hr>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 call-mobile" >
      <a href="tel:0961914328">
        <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
          <img src="/assets/media/PLTX/effect/Asset%2010.svg">
          <p>{{global.locale=='vi'?'Tư vấn miễn phí: 096 191 4328':'Tư vấn miễn phí: 096 191 4328 aaa'}}</p></div>
      </a>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="step-hr">
        <hr class="right">
      </div>
    </div>

  </div>
</div>
