<div class="container center">
  <div class="row" style="display: block">
    <h1 class="padding-header">3 Bước đăng ký thành lập doanh nghiệp tại Asoka Law</h1>
    <p style="    margin: auto;
    padding-bottom: 20px;
    font-weight: 300;">Asoka Law đã giúp hơn 1000 doanh nghiệp khởi tạo công ty thành công với quy trình 3 bước đơn
      giản.<br>

      Ở mỗi bước thực hiện, chúng tôi đều đóng gói chặt chẽ và đưa ra lời khuyên đúng lúc để doanh nghiệp chỉ
      việc yên tâm kinh doanh.</p>

    <hr style="    margin: auto;
    width: 120px;
    border: 2px solid #ffc912;
    background: #ffc912; margin-bottom: 1rem">

  </div>
  <div class="row ">
    <div class="col-md-4">

      <div class="priceListItem shadow-lg" style="text-align: left;">
        <img style="    width: 22%;
    position: relative;
    float: right;
    top: -3px;" src="/assets/media/DKKD/3-buoc-dang-ki/Asset 11.svg">
        <h5 style="margin-top: 10px;
    padding-bottom: 25px;
    font-family:'Montserrat';
    font-size: 22px;"> 1. Liên hệ tư vấn</h5>
        <p style="font-size: 12px">


          Khi bạn liên hệ, chuyên viên tư vấn
          Đăng ký kinh doanh của Asoka Law
          sẽ tư vấn/kiểm tra điều kiện thành
          lập doanh nghiệp cho bạn miễn
          phí. Bạn cũng có thể yêu cầu tư vấn
          chuyên sâu với Luật sư nhằm có lộ
          trình chuẩn bị pháp lý hoàn thiện
          cho doanh nghiệp.
        </p>
      </div>
      <img class="arrow d-none d-md-block" src="/assets/media/DKNH/step/Asset 21.svg">
    </div>

    <div class="col-md-4">


      <div class="priceListItem shadow-lg" style="text-align: left;">
        <img style="    width: 20%;
    position: relative;
    float: right;
    top: -3px;" src="/assets/media/DKKD/3-buoc-dang-ki/Asset 12.svg">
        <h5 style="margin-top: 10px;
    padding-bottom: 25px;
    font-family:'Montserrat';
    font-size: 22px;"> 2. Ký hợp đồng</h5>
        <p style="font-size: 12px">


          Asoka Law đến địa điểm bạn yêu
          cầu để ký hợp đồng và hồ sơ đã soạn
          thảo. Sau khi có giấy đăng ký kinh
          doanh, chúng tôi sẽ thiết lập hồ sơ
          hoạt động đầy đủ cho doanh nghiệp
          tại Ngân hàng/ cơ quan Thuế để
          đảm bảo vận hành hoàn hảo, không
          bỏ sót bất kỳ thủ tục nào.
        </p>
      </div>
      <img class="arrow d-none d-md-block" src="/assets/media/DKNH/step/Asset 21.svg">
    </div>


    <div class="col-md-4">

      <div class="priceListItem shadow-lg" style="text-align: left;">
        <img style="
    width: 29%;
    position: relative;
    float: right;
    top: 4px;
    " src="/assets/media/DKKD/3-buoc-dang-ki/Asset 13.svg">
        <h5 style="margin-top: 10px;
    padding-bottom: 25px;
    font-family:'Montserrat';
    font-size: 22px;"> 3. Nhận kết quả</h5>
        <p style="font-size: 12px">


          Asoka Law cung cấp trọn vẹn kết
          quả/ hồ sơ gốc cùng hướng dẫn
          bảo quản tài liệu. Dành tặng chủ
          doanh nghiệp 01 giờ tư vấn miễn
          phí với Luật sư. Bạn có thể hỏi Luật
          sư và nghe tham vấn về các vấn đề
          liên quan đến việc vận hành doanh
          nghiệp ở lĩnh vực riêng của mình.
        </p>
      </div>

    </div>
  </div>

  <div class="row ">
    <div class="col-md-12">
      <button (click)="submit()" style="padding: 10px 30px;" class=" btn btn-warning padding color-white my-md-5" type="button">Đăng ký ngay</button>
    </div>
  </div>
  <div class="call row">
    <div class="col-md-4 d-none d-md-block">
      <div class="step-hr">
        <hr>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 call-mobile" >
      <a href="tel:0961914328">
        <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
          <img src="/assets/media/PLTX/effect/Asset%2010.svg">
          <p>Tư vấn miễn phí: 096 191 4328</p></div>
      </a>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="step-hr">
        <hr class="right">
      </div>
    </div>

  </div>
</div>
