<section id="mainvisual" class="create">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Đặt nền móng khởi nghiệp vững chắc</h2>
                <div class="main-list">
                    <ul>
                        <li>Thấu hiểu</li>
                        <li>Tư vấn đúng</li>
                        <li>Cung cấp dịch vụ thiết yếu nhất</li>
                    </ul>
                    <p>Asoka Law giúp bạn khởi tạo doanh nghiệp thành công.</p>
                </div>
                <p class="m-0 pc">
                    <button onclick="$('#ktdnform1').modal('show')" type="button" class="btn btn-outline-warning" style="padding: 0.5rem 2.5rem;">Tư vấn cho tôi</button>
                </p>
                <p class="center sp" style="margin: 1.5rem 0 0">
                    <button onclick="$('#ktdnform1').modal('show')" type="button" class="btn btn-warning" style="padding: 0.5rem 2.5rem;">Tư vấn cho tôi</button>
                </p>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <h1 class="center" style="margin-bottom: 2rem;">Chúng tôi thấu hiểu các khó khăn của việc<br class="pc"> khởi tạo doanh nghiệp</h1>
        <div class="mission-txt">
            <p class="center">Trong suốt quá trình hỗ trợ pháp lý cho 1000+ doanh nghiệp, chúng tôi đã nghiên cứu và nhận thấy <span class="font-weight-bold">04 khó khăn cơ bản nhất của việc khởi tạo doanh nghiệp.</span></p>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="create-card">
                    <h4><span><img src="/assets/site/images/create_icon01.svg"></span>Chọn đúng loại hình</h4>
                    <div class="mission-txt">
                        <p class="mb-0">Khi bắt đầu khởi nghiệp, chủ doanh nghiệp thường không rõ sự khác nhau giữa các loại hình doanh nghiệp. Điều này khiến bạn gặp khó khăn trong việc áp dụng mô hình kinh doanh tiện dụng và phù hợp.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-card">
                    <h4><span><img src="/assets/site/images/create_icon02.svg"></span>Hiểu rõ lộ trình pháp lý</h4>
                    <div class="mission-txt">
                        <p class="mb-0">Mỗi công đoạn sản xuất/chào bán sản phẩm/dịch vụ đòi hỏi kiến thức khác nhau về thủ tục áp dụng. Nếu chưa có kinh nghiệm, bạn khó có thể lên được sơ đồ đường đi của pháp lý nhằm đưa sản phẩm, dịch vụ ra thị trường.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="create-card">
                    <h4><span><img src="/assets/site/images/create_icon03.svg"></span>Tìm nhân sự đồng hành</h4>
                    <div class="mission-txt">
                        <p class="mb-0">Một doanh nghiệp mới thường sẽ khó tìm kiếm nhân sự chất lượng cao hơn các doanh nghiệp cũ. Lý do: quỹ lương ít hơn, bề dày hoạt động ít hơn, phúc lợi và các hoạt động kết nối không nhiều.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-card">
                    <h4><span><img src="/assets/site/images/create_icon04.svg"></span>Tài chính vận hành</h4>
                    <div class="mission-txt">
                        <p class="mb-0">Khởi tạo doanh nghiệp cần tính đến chi phí sinh tồn cho những năm đầu tiên. Mọi khoản chi phí cần được cân nhắc kỹ lưỡng. Tiết kiệm mà vẫn hiệu quả chính là mối trăn trở của các doanh nghiệp giai đoạn khởi tạo này.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <h1 class="center" style="margin-bottom: 2rem;">Giải quyết hiệu quả các vấn đề khởi nghiệp</h1>
        <div class="mission-txt">
            <p class="center">Hiểu rõ khó khăn của việc khởi nghiệp, Asoka Law đã đóng gói từng dịch vụ pháp lý thiết yếu. Đầy đủ, rõ ràng, hướng dẫn chỉn chu và tiết kiệm chi phí, chúng tôi đã hỗ trợ cho trên 1000 doanh nghiệp thành lập và khởi đầu kinh doanh thuận lợi.</p>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <p class="create-title">Bước 01</p>
                <h4 style="margin-bottom: 2rem;">Tư vấn với luật sư trước khi thành lập</h4>
                <div class="mission-txt">
                    <p>Kinh nghiệm của chúng tôi cho thấy việc <span class="font-weight-bold">tư vấn quyết định đến 60% thành công của bước khởi tạo.</span> Thành lập doanh nghiệp là một việc đơn giản ở bề mặt thủ tục. Nhưng nếu không hiểu rõ được các quy định liên quan đến việc thành lập và cách
                        thức vận hành thì dễ dẫn đến sai sót.</p>
                    <p>Bạn có thể là chuyên gia tại lĩnh vực bạn dự định kinh doanh. Tuy nhiên, Luật sư Asoka là chuyên gia trong việc nghiên cứu, định hướng và cảnh báo các khó khăn pháp lý mà doanh nghiệp của bạn có thể gặp phải. <span class="font-weight-bold">Chỉ cần dành 1% chi phí cho việc tư vấn, bạn đã tiết kiệm được 80% chi phí giải quyết hậu quả pháp lý về sau.</span>
                    </p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">Đặt lịch tư vấn</button></p>
                    <p class="m-0"><a href="#" style="text-decoration: underline; color: #4cb1e0">Xem danh sách tất cả luật sư &gt;&gt;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="create-lawyer-slider">
                    <div class="create-lawyer-item">
                        <ul>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tam.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>Luật sư <span>Tâm Dương</span></span><span>Tư vấn doanh nghiệp, đầu tư, hợp đồng</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">168 lượt đặt tư vấn</p>
                                </div>
                            </li>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tai.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>Luật sư <span>Đặng Thành Tài</span></span><span>Tư vấn đầu tư, xử lý tranh chấp thương mại</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">159 lượt đặt tư vấn</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="create-lawyer-item">
                        <ul>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_binh.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>Luật sư <span>Bình</span></span><span>Tư vấn doanh nghiệp, đầu tư lao động</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">145 lượt đặt tư vấn</p>
                                </div>
                            </li>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tra.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>Luật sư <span>Nguyễn Sơn Trà</span></span><span>Tư vấn doanh nghiệp, đầu tư lao động</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">261 lượt đặt tư vấn</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp">
                    <p class="center"><a href="#" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">Đặt lịch tư vấn</a></p>
                    <p class="m-0 center"><a href="#" style="text-decoration: underline; color: #4cb1e0">Xem danh sách tất cả luật sư &gt;&gt;</a></p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="pc"><img src="/assets/site/images/create_img02.png" style="max-width: 100%;"></p>
            </div>
            <div class="col-md-5">
                <p class="create-title">Bước 02</p>
                <h4 style="margin-bottom: 2rem;">Thực hiện thủ tục Đăng ký kinh doanh</h4>
                <div class="mission-txt">
                    <p class="font-weight-bold" style="color: #5F6368">03 bí quyết giúp doanh nghiệp bước chân vào kinh doanh thành công:</p>
                    <ul class="create-list check">
                        <li>Lựa chọn đúng loại hình doanh nghiệp.</li>
                        <li>Lập kế hoạch về ngành nghề chính.</li>
                        <li>Đăng ký đầy đủ các ngành nghề bổ trợ.</li>
                    </ul>
                    <p>Asoka Law đã đóng gói chặt chẽ bí quyết đó thành các gói phí, từ cơ bản đến toàn diện để bạn dễ dàng so sánh và lựa chọn. Bạn sẽ không còn phải lo lắng vì bỏ sót bất cứ thủ tục nào.</p>
                </div>
                <div class="sp">
                    <p class="center"><img src="/assets/site/images/create_img02.png" style="max-width: 100%;"></p>
                    <p class="center"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">Xem báo giá chi tiết</button></p>
                    <p class="m-0 center"><a href="#" style="text-decoration: underline; color: #4cb1e0">Xem quy trình đăng ký kinh doanh &gt;&gt;</a></p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">Xem báo giá chi tiết</button></p>
                    <p class="m-0"><a href="#" style="text-decoration: underline; color: #4cb1e0">Xem quy trình đăng ký kinh doanh &gt;&gt;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <p class="create-title">Bước 03</p>
                <h4 style="margin-bottom: 2rem;">Thực hiện thủ tục đăng ký đầu tư</h4>
                <div class="mission-txt">
                    <p class="font-weight-bold" style="color: #5F6368">Asoka Law hỗ trợ nhà đầu tư nước ngoài ở 02 hình thức:</p>
                    <ul class="create-list rect">
                        <li>Mở doanh nghiệp mới</li>
                        <li>Mua vốn góp, cổ phần của công ty đã hoạt động sẵn tại Việt Nam</li>
                    </ul>
                    <p>Mô hình khởi nghiệp này phù hợp với các dự án, hoạt động kinh doanh nhỏ và vừa. Thời gian xin cấp phép khá nhanh chóng, thủ tục tương đối thuận lợi. Nhà đầu tư được hưởng các ưu đãi trong việc kinh doanh và sinh sống tại Việt Nam, như: <span style="font-style: italic;">chính sách về thuế, cư trú, sở hữu tài sản,...</span>
                    </p>
                </div>
                <div class="sp">
                    <p class="center"><img src="/assets/site/images/create_img01.png" style="max-width: 100%"></p>
                    <p class="center"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">Xem báo giá chi tiết</button></p>
                    <p class="m-0 center"><a href="#" style="text-decoration: underline; color: #4cb1e0">Xem quy trình đăng ký đầu tư &gt;&gt;</a></p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">Xem báo giá chi tiết</button></p>
                    <p class="m-0"><a href="#" style="text-decoration: underline; color: #4cb1e0">Xem quy trình đăng ký đầu tư &gt;&gt;</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="pc"><img src="/assets/site/images/create_img01.png" style="max-width: 100%"></p>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <h1 class="center" style="margin-bottom: 3rem;">3 lý do để khởi tạo doanh nghiệp tại Asoka Law</h1>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <p class="mb-0 text-right pc"><img src="/assets/site/images/create_img03.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-6">
                <p class="sp" style="margin-bottom: 2rem;"><img src="/assets/site/images/create_img03.png" style="max-width: 100%"></p>
                <h4 class="create-title-check">Hãng Luật chuyên cho SMEs</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">Sứ mệnh của Asoka Law là: sinh ra nhằm trở thành người cộng sự tận tâm cho các doanh nghiệp nhỏ và vừa trên lãnh thổ Việt Nam. Chúng tôi am hiểu pháp lý, cùng với kinh nghiệm phục vụ hàng ngàn doanh nghiệp SMEs sẽ hỗ trợ đắc lực cho bạn suốt quá
                        trình khởi nghiệp.</p>
                </div>
                <h4 class="create-title-check">Hãng Luật chuyên cho SMEs</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">Bạn không một mình trong hành trình khởi nghiệp, ngược lại có cả một đội ngũ Asoka luôn sẵn sàng hỗ trợ. Chúng tôi đã hoàn thiện chuỗi quy trình làm việc nhịp nhàng, được thực hiện bởi các nhân sự tài năng, đầy nhiệt huyết. Chắc chắn kết quả mang
                        lại sẽ tốt hơn bạn mong đợi.</p>
                </div>
                <h4 class="create-title-check">Hãng Luật chuyên cho SMEs</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">Để đóng gói và trao trả toàn bộ hồ sơ gốc cho bạn, chúng tôi phải cẩn trọng, không cho phép bỏ sót bất cứ thủ tục trong suốt quá trình thực hiện. Khi nhận bàn giao hồ sơ gốc, bạn đồng thời được Asoka hướng dẫn vận hành doanh nghiệp sau khởi
                        tạo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="create-slider" style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="create-slider">
                    <div class="create-slider-item">
                        <p class="create-status-txt">Chuyên viên của Asoka Law nhiệt tình, tư vấn chính xác, hỗ trợ kịp thời. Quy trình làm việc rất khoa học, nhịp nhàng và đảm bảo tiến độ của hợp đồng. Các bạn làm việc rất xuất sắc!</p>
                        <div class="create-info">
                            <p class="create-info-img"><img src="/assets/site/images/create_slider_logo.png" style="max-width: 100%"></p>
                            <p class="create-info-name">Anh PHAN VĂN MẠNH<span>Giám đốc công ty Mạnh Phát Đạt</span></p>
                        </div>
                    </div>
                    <div class="create-slider-item">
                        <p class="create-status-txt">Chuyên viên của Asoka Law nhiệt tình, tư vấn chính xác, hỗ trợ kịp thời. Quy trình làm việc rất khoa học, nhịp nhàng và đảm bảo tiến độ của hợp đồng. Các bạn làm việc rất xuất sắc!</p>
                        <div class="create-info">
                            <p class="create-info-img"><img src="/assets/site/images/create_slider_logo.png" style="max-width: 100%"></p>
                            <p class="create-info-name">Anh PHAN VĂN MẠNH<span>Giám đốc công ty Mạnh Phát Đạt</span></p>
                        </div>
                    </div>
                    <div class="create-slider-item">
                        <p class="create-status-txt">Chuyên viên của Asoka Law nhiệt tình, tư vấn chính xác, hỗ trợ kịp thời. Quy trình làm việc rất khoa học, nhịp nhàng và đảm bảo tiến độ của hợp đồng. Các bạn làm việc rất xuất sắc!</p>
                        <div class="create-info">
                            <p class="create-info-img"><img src="/assets/site/images/create_slider_logo.png" style="max-width: 100%"></p>
                            <p class="create-info-name">Anh PHAN VĂN MẠNH<span>Giám đốc công ty Mạnh Phát Đạt</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 style="margin-bottom: 3rem;">Phát triển công ty của<br class="pc"> bạn sau khởi tạo</h1>
                <div class="mission-txt" style="margin-bottom: 3rem;">
                    <p>Sau khi đăng ký doanh nghiệp thành công tại Asoka, bạn đã có được một nền móng vững chắc để sẵn sàng phát triển công ty. Kinh nghiệm phục vụ 1000+ doanh nghiệp cho chúng tôi niềm tin rằng, các dịch vụ sau giai đoạn khởi tạo là cần thiết để công ty bạn phát triển thịnh vượng
                        trong 05 năm tiếp theo. Bạn có thể theo dõi sơ đồ lộ trình pháp lý mà Asoka đã xây dựng cho từng giai đoạn phát triển của doanh nghiệp để hiểu rõ mình đang ở đâu và cần làm gì trong 05 năm tới.</p>
                </div>
                <p class="m-0 pc"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem">Tư vấn cho tôi</button></p>
                <p class="m-0 sp center" style="margin-top: 2rem;"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem">Tư vấn cho tôi</button></p>
            </div>
            <div class="col-md-7">
                <div class="mission-circle">
                    <p class="mission-circle-img"><img src="/assets/site/images/create_process.png" style="max-width: 100%"></p>
                    <div class="pc">
                        <div class="mission-circle-list list01">
                            <p>DỊCH VỤ CẦN THIẾT</p>
                            <ul>
                                <li><a href="#">Tư vấn luật sư</a></li>
                                <li><a href="#">Đăng ký kinh doanh</a></li>
                                <li><a href="#">Đăng ký đầu tư</a></li>
                            </ul>
                        </div>
                        <div class="mission-circle-list list02 gray-color">
                            <p>DỊCH VỤ CẦN THIẾT</p>
                            <ul>
                                <li><a href="#">Quản trị “4 trong 1”</a></li>
                                <li><a href="#">Ngành nghề có điều kiện</a></li>
                                <li><a href="#">Đăng ký nhãn hiệu</a></li>
                            </ul>
                        </div>
                        <div class="mission-circle-list list03 gray-color">
                            <p>DỊCH VỤ CẦN THIẾT</p>
                            <ul>
                                <li><a href="#">Giải quyết tranh chấp</a></li>
                                <li><a href="#">Pháp lý sự kiện</a></li>
                                <li><a href="#">Tạm ngưng - Giải thể</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem">
    <div class="container">
        <h1 class="center" style="margin-bottom: 3rem;">Vẫn còn câu hỏi? Chúng tôi sẵn sàng hỗ trợ</h1>
        <div class="row" style="margin-bottom: 3rem;">
            <div class="col-md-5">
                <p class="pc m-0"><img src="/assets/site/images/create_img04.jpg" style="max-width: 100%"></p>
                <p class="sp" style="margin-bottom: 2rem;"><img src="/assets/site/images/create_img04.jpg" style="max-width: 100%"></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <ul class="create-question">
                    <li><p class="create-question-title">Lorem ipsum dolor sit amet, cing elit, sed diam nonummy nibh?</p></li>
                    <li><p class="create-question-title">Lorem ipsum dolor sit amet, cing elit, sed diam nonummy nibh?</p></li>
                    <li><p class="create-question-title">Lorem ipsum dolor sit amet, cing elit, sed diam nonummy nibh?</p></li>
                    <li><p class="create-question-title">Lorem ipsum dolor sit amet, cing elit, sed diam nonummy nibh?</p></li>
                    <li><p class="create-question-title">Lorem ipsum dolor sit amet, cing elit, sed diam nonummy nibh?</p></li>
                    <li><p class="create-question-title">Lorem ipsum dolor sit amet, cing elit, sed diam nonummy nibh?</p></li>
                </ul>
            </div>
        </div>
        <p class="center m-0"><a href="#" style="text-decoration: underline; color: #4cb1e0">Tìm hiểu nhiều hơn &gt;&gt;</a></p>
    </div>
</section>
<section style="margin-bottom: 3rem">
    <h1 class="center" style="margin-bottom: 3rem;">Tin tức mới nhất của Asoka Law về khởi tạo doanh nghiệp</h1>
    <div class="container">
        <div class="row create-list-news-slider">
            <div class="col-md-3" style="outline: none;">
                <div class="create-list-news-item">
                    <div class="btn-time center">28 THÁNG 02 - 2020</div>
                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider01.jpg"></p>
                    <div class="title-info">
                        <h4 style="line-height: 2.4rem">Đăng ký một nơi, kinh doanh một nẻo có bị phạt không?</h4>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="outline: none;">
                <div class="create-list-news-item">
                    <div class="btn-time center">28 THÁNG 02 - 2020</div>
                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider02.jpg"></p>
                    <div class="title-info">
                        <h4 style="line-height: 2.4rem">Những lưu ý khi đặt tên cho công ty mới</h4>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="outline: none;">
                <div class="create-list-news-item">
                    <div class="btn-time center">28 THÁNG 02 - 2020</div>
                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider03.jpg"></p>
                    <div class="title-info">
                        <h4 style="line-height: 2.4rem">Thành lập công ty cần bao nhiêu vốn?</h4>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="outline: none;">
                <div class="create-list-news-item">
                    <div class="btn-time center">28 THÁNG 02 - 2020</div>
                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider02.jpg"></p>
                    <div class="title-info">
                        <h4 style="line-height: 2.4rem">Những lưu ý khi đặt tên cho công ty mới</h4>
                    </div>
                    <div class="mission-txt">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-see-all">
            <a href="#" style="text-decoration: underline;">Xem tất cả tin tức &gt;&gt;</a>
        </div>
    </div>
</section>
<section class="bg-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="pc" style="font-weight: 400; line-height: 2.5rem; margin: 0">Lorem ipsum dol elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mag</h4>
                <h4 class="sp center" style="font-weight: 400; line-height: 2.5rem; margin: 0">Lorem ipsum dol elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mag</h4>
            </div>
            <div class="col-md-5">
                <div class="text-right pc">
                    <button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">TƯ VẤN CHO TÔI</button>
                </div>
                <div class="sp center" style="margin-top: 2rem;">
                    <button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">TƯ VẤN CHO TÔI</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade form-smooth" id="ktdnform1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="form-close" data-dismiss="modal">&times;</button>
                    <form>
                        <div class="form-group">
                            <input [(ngModel)]="name" name="name" [class.is-invalid]="!fieldValid(name)" [class.is-valid]="fieldValid(name)" type="text" class="form-control" id="name" placeholder="Họ tên">
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="phone" name="phone" [class.is-invalid]="!fieldValid(phone,'phone')" [class.is-valid]="fieldValid(phone,'phone')" class="form-control" type="text" id="phone" placeholder="Số điện thoại*" required/>
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="email" name="email" [class.is-invalid]="!fieldValid(email,'email')" [class.is-valid]="fieldValid(email,'email')" class="form-control" type="email" id="email" placeholder="Email*" required/>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Dịch vụ pháp lý yêu cầu tư vấn*</label>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="tvtt" value="Tư vấn trực tiếp với luật sư">
                                            <label class="form-check-label" for="tvtt">Tư vấn trực tiếp với luật sư</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkdvn" value="Đăng ký kinh doanh công ty 100% vốn Việt Nam">
                                            <label class="form-check-label" for="dkkdvn">Đăng ký kinh doanh công ty 100% vốn Việt Nam</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkdnn" value="Đăng ký đầu tư công ty vốn nước ngoài">
                                            <label class="form-check-label" for="dkkdnn">Đăng ký đầu tư công ty vốn nước ngoài</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="orther" value="Khác">
                                            <label class="form-check-label" for="orther">Khác</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="5" placeholder="Nhập câu hỏi mô tả tình trạng công ty bạn tại đây"></textarea>
                        </div>
                    </form>
                    <div class="form-button">
                        <button (click)="submit()" [disabled]="!formValid()" style="margin: auto; color: white;" type="button" class="btn btn-warning" data-dismiss="modal">Gửi yêu cầu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
