<section id="mainvisual" class="create">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 style="margin-top: -20%;">{{global.locale=='vi'?'Đặt nền móng khởi nghiệp vững chắc':'Laying a solid start-up foundation'}}</h2>
                <div class="main-list">
                    <ul>
                        <li>{{global.locale=='vi'?'Thấu hiểu':'Understanding'}}</li>
                        <li>{{global.locale=='vi'?'Tư vấn đúng':'Giving proper advice'}}</li>
                        <li>{{global.locale=='vi'?'Cung cấp dịch vụ thiết yếu nhất':'Providing essential services'}}</li>
                    </ul>
                    <p>{{global.locale=='vi'?'Asoka Law giúp bạn khởi tạo doanh nghiệp thành công.':'Asoka Law helps you to successfull set up your business.'}}</p>
                </div>
                <p class="m-0 pc">
                    <button onclick="$('#ktdnform1').modal('show')" type="button" class="btn btn-outline-warning" style="padding: 0.5rem 2.5rem;">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult me'}}</button>
                </p>
                <p class="center sp" style="margin: 1.5rem 0 0">
                    <button onclick="$('#ktdnform1').modal('show')" type="button" class="btn btn-warning" style="padding: 0.5rem 2.5rem;">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult me'}}</button>
                </p>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <h1 class="center" style="margin-bottom: 2rem;">{{global.locale=='vi'?'Chúng tôi thấu hiểu các khó khăn của việc':'We understand the challenges of'}}<br class="pc">{{global.locale=='vi'?' khởi tạo doanh nghiệp':' starting a business'}}</h1>
        <div class="mission-txt">
            <p class="center">{{global.locale=='vi'?'Trong suốt quá trình hỗ trợ pháp lý cho 1000+ doanh nghiệp, chúng tôi đã nghiên cứu và nhận thấy ':'During providing legal supportprocess for 1000+ enterprises, we have studied and realized'}}<span class="font-weight-bold">{{global.locale=='vi'?'04 khó khăn cơ bản nhất của việc khởi tạo doanh nghiệp.':' 04 most basic elements of starting a business.'}}</span></p>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 16px;"><span><img src="/assets/site/images/create_icon01.svg" style="max-height: 39px;"></span>{{global.locale=='vi'?'Chọn đúng loại hình':'Choosing the right business type'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Khi bắt đầu khởi nghiệp, chủ doanh nghiệp thường không rõ sự khác nhau giữa các loại hình doanh nghiệp. Điều này khiến bạn gặp khó khăn trong việc áp dụng mô hình kinh doanh tiện dụng và phù hợp.':'When starting a business, business owners often do not know the differences among distinct company types. Thus, it is difficult to apply a business model convenient and appropriate.'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 16px;"><span><img src="/assets/site/images/create_icon02.svg" style="max-height: 39px;"></span>{{global.locale=='vi'?'Hiểu rõ lộ trình pháp lý':'Understanding the legal roadmap'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Mỗi công đoạn sản xuất/chào bán sản phẩm/dịch vụ đòi hỏi kiến thức khác nhau về thủ tục áp dụng. Nếu chưa có kinh nghiệm, bạn khó có thể lên được sơ đồ đường đi của pháp lý nhằm đưa sản phẩm, dịch vụ ra thị trường.':'Each stage of producing/ offering products/ services requires different knowledge of application procedures. If lacking experience, you might face difficulties in coming up with a suitable legal roadmap to introduce your products/ services to the market.'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 16px;"><span><img src="/assets/site/images/create_icon03.svg" style="max-height: 39px;"></span>{{global.locale=='vi'?'Tìm nhân sự đồng hành':'Finding accompany staff'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Một doanh nghiệp mới thường sẽ khó tìm kiếm nhân sự chất lượng cao hơn các doanh nghiệp cũ. Lý do: quỹ lương ít hơn, bề dày hoạt động ít hơn, phúc lợi và các hoạt động kết nối không nhiều.':'A new business will often find it harder to find high quality personnel compared to old ones. The reasons might be smaller salary budget, less operating experience, limited welfare and bonding activities.'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 16px;"><span><img src="/assets/site/images/create_icon04.svg" style="max-height: 39px;"></span>{{global.locale=='vi'?'Tài chính vận hành':'Financing for operation'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Khởi tạo doanh nghiệp cần tính đến chi phí sinh tồn cho những năm đầu tiên. Mọi khoản chi phí cần được cân nhắc kỹ lưỡng. Tiết kiệm mà vẫn hiệu quả chính là mối trăn trở của các doanh nghiệp giai đoạn khởi tạo này.':'Starting a business requires taking into account surviving costs for those very first years. Every expense should be carefully considered. How to save money but still operate efficiently is the concern of businesses in this initial stage.'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <h1 class="center" style="margin-bottom: 2rem;">{{global.locale=='vi'?'Giải quyết hiệu quả các vấn đề khởi nghiệp':'Effectively solving startup problems'}}</h1>
        <div class="mission-txt">
            <p class="center">{{global.locale=='vi'?'Hiểu rõ khó khăn của việc khởi nghiệp, Asoka Law đã đóng gói từng dịch vụ pháp lý thiết yếu. Đầy đủ, rõ ràng, hướng dẫn chỉn chu và tiết kiệm chi phí, chúng tôi đã hỗ trợ cho trên 1000 doanh nghiệp thành lập và khởi đầu kinh doanh thuận lợi.':'Understanding the core elements of starting a business, Asoka Law has packaged each of the essential legal services - complete, clear and cost-effective. We have supported over 1000 businesses in establishing and smoothly launching their enterprises.'}}</p>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <p class="create-title"><u style="color:#78B9D8; font-size: 20px; font-weight: 600;">{{global.locale=='vi'?'Bước 01':'Step 01'}}</u></p>
                <h4 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Tư vấn với luật sư trước khi thành lập':'Lawyers consultation before establishment'}}</h4>
                <div class="mission-txt">
                    <p>{{global.locale=='vi'?'Kinh nghiệm của chúng tôi cho thấy việc ':'Our experience shows that '}}<span class="font-weight-bold">{{global.locale=='vi'?'tư vấn quyết định đến 60% thành công của bước khởi tạo.':'consulting determines 60% of initial success.'}}</span>{{global.locale=='vi'?' Thành lập doanh nghiệp là một việc đơn giản ở bề mặt thủ tục. Nhưng nếu không hiểu rõ được các quy định liên quan đến việc thành lập và cách thức vận hành thì dễ dẫn đến sai sót.':' Starting a business seems to involve simple procedures. However, if you do not understand the regulations related to establishment and operation, there might be errors.'}}</p>
                    <p>{{global.locale=='vi'?'Bạn có thể là chuyên gia tại lĩnh vực bạn dự định kinh doanh. Tuy nhiên, Luật sư Asoka là chuyên gia trong việc nghiên cứu, định hướng và cảnh báo các khó khăn pháp lý mà doanh nghiệp của bạn có thể gặp phải. ':'You might be an expert in your chosen field of business, but you need to consider legal aspects as well. Lawyers from Asoka are experts in researching, orienting and warning against legal difficulties that your business may encounter.'}}<span class="font-weight-bold">{{global.locale=='vi'?'Chỉ cần dành 1% chi phí cho việc tư vấn, bạn đã tiết kiệm được 80% chi phí giải quyết hậu quả pháp lý về sau.':' Just spend 1% of budget for consulting, and you will save 80% of the costs of dealing with arising legal issues.'}}</span>
                    </p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Đặt lịch tư vấn':'Schedule a consultation'}}</button></p>
                    <p class="m-0"><a routerLink="/tu-van-luat-su" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem danh sách tất cả luật sư >>':'See lawyers list >>'}}</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="create-lawyer-slider">
                    <div class="create-lawyer-item">
                        <ul>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tam.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Luật sư':'Lawyer'}} <span>{{global.locale=='vi'?'Tâm Dương':'Tam Duong'}}</span></span><span>{{global.locale=='vi'?'Truyền thông - Sự kiện & Doanh nghiệp':'Media - Event & Business'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 cases booked'}}</p>
                                </div>
                            </li>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tai.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Luật sư':'Lawyer'}} <span>{{global.locale=='vi'?'Đặng Thành Tài':'Dang Thanh Tai'}}</span></span><span>{{global.locale=='vi'?'Tranh chấp Hàng hải - Thương mại & Doanh nghiệp':'Maritime Dispute - Commerce and Business'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'159 lượt đặt tư vấn':'159 cases booked'}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="create-lawyer-item">
                        <ul>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_binh.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Cố vấn thuế ':'Tax Advisor'}}<span>{{global.locale=='vi'?'Lê Bình':'Le Binh'}}</span></span><span>{{global.locale=='vi'?'Kế toán - Thuế - Lao động - BHXH Doanh nghiệp':'Accounting - Tax - Labor - Corporate Social Insurance'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'145 lượt đặt tư vấn':'145 cases booked'}}</p>
                                </div>
                            </li>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tra.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Luật sư':'Lawyer '}} <span>{{global.locale=='vi'?'Nguyễn Sơn Trà':'Nguyen Son Tra'}}</span></span><span>{{global.locale=='vi'?'Giải quyết tranh chấp - Thu hồi nợ - Hôn nhân gia đình - Thừa kế & Một số vấn đề dân sự khác':'Dispute Resolution - Debt collection- Marriage and Family - Inheritance & Other civil issues'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'261 lượt đặt tư vấn':'261 cases booked'}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp">
                    <p class="center"><a href="#" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Đặt lịch tư vấn':'BOOK NOW '}}</a></p>
                    <p class="m-0 center"><a routerLink="/tu-van-luat-su" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem danh sách tất cả luật sư >>':'See lawyers list >> '}}</a></p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="pc"><img src="/assets/site/images/create_img02.png" style="max-width: 100%;"></p>
            </div>
            <div class="col-md-5">
                <p class="create-title"><u style="color:#78B9D8; font-size: 20px; font-weight: 600;">{{global.locale=='vi'?'Bước 02':'Step 02'}}</u></p>
                <h4 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Thực hiện thủ tục Đăng ký kinh doanh':'Business registration'}}</h4>
                <div class="mission-txt">
                    <p class="font-weight-bold" style="color: #5F6368">{{global.locale=='vi'?'03 bí quyết giúp doanh nghiệp bước chân vào kinh doanh thành công:':'03 tips to help enterprises successfully step into business:'}}</p>
                    <ul class="create-list check">
                        <li>{{global.locale=='vi'?'Lựa chọn đúng loại hình doanh nghiệp.':'Choosing the right company types. '}}</li>
                        <li>{{global.locale=='vi'?'Lập kế hoạch về ngành nghề chính.':'Planning on major business lines.'}}</li>
                        <li>{{global.locale=='vi'?'Đăng ký đầy đủ các ngành nghề bổ trợ.':'Fully registrating auxiliary business lines.'}}</li>
                    </ul>
                    <p>{{global.locale=='vi'?'Asoka Law đã đóng gói chặt chẽ bí quyết đó thành các gói phí, từ cơ bản đến toàn diện để bạn dễ dàng so sánh và lựa chọn. Bạn sẽ không còn phải lo lắng vì bỏ sót bất cứ thủ tục nào.':'Asoka Law has turned these tips into different packages, from basic to comprehensive, so that you can easily compare and choose. You will no longer have to worry about missing any procedures.'}}</p>
                </div>
                <div class="sp">
                    <p class="center"><img src="/assets/site/images/create_img02.png" style="max-width: 100%;"></p>
                    <p class="center"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'See detailed quotation'}}</button></p>
                    <p class="m-0 center"><a routerLink='/dang-ky-kinh-doanh' style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'View business registration procedure >>':'View business registration procedure >>'}}</a></p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'See detailed quotation'}}</button></p>
                    <p class="m-0"><a routerLink='/dang-ky-kinh-doanh' style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký kinh doanh >>':'View business registration procedure >>'}}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 1rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-5" >
                <p class="create-title"><u style="color:#78B9D8; font-size: 20px; font-weight: 600;">{{global.locale=='vi'?'Bước 03':'Step 03'}}</u></p>
                <h4 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Thực hiện thủ tục đăng ký đầu tư':'Investment registration'}}</h4>
                <div class="mission-txt">
                    <p class="font-weight-bold" style="color: #5F6368">{{global.locale=='vi'?'Asoka Law hỗ trợ nhà đầu tư nước ngoài ở 02 hình thức:':'Asoka Law supports foreign investors in 02 forms: '}}</p>
                    <ul class="create-list rect">
                        <li>{{global.locale=='vi'?'Mở doanh nghiệp mới.':'Opening a new business.'}}</li>
                        <li>{{global.locale=='vi'?'Mua vốn góp, cổ phần của công ty đã hoạt động sẵn tại Việt Nam.':'Purchasing capital contribution and shares of companies already operating in Vietnam.'}}</li>
                    </ul>
                    <p>{{global.locale=='vi'?'Mô hình khởi nghiệp này phù hợp với các dự án, hoạt động kinh doanh nhỏ và vừa. Thời gian xin cấp phép khá nhanh chóng, thủ tục tương đối thuận lợi. Nhà đầu tư được hưởng các ưu đãi trong việc kinh doanh và sinh sống tại Việt Nam, như: ':'This startup model is suitable for small and medium business projects and activities. Applying for licenses are quite quick and simple, and procedures are relatively convenient. Investors are entitled to enjoy incentives in doing business and living in Vietnam, such as: '}}<span style="font-style: italic;">{{global.locale=='vi'?'chính sách về thuế, cư trú, sở hữu tài sản,...':'policies on tax, residence, and property ownership,...'}}</span>
                    </p>
                </div>
                <div class="sp">
                    <p class="center"><img src="/assets/site/images/create_img01.png" style="max-width: 100%"></p>
                    <p class="center"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'See detailed quotation'}}</button></p>
                    <p class="m-0 center"><a router="/dang-ky-dau-tu" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký đầu tư >>':'View invest registration procedure >>'}}</a></p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'See detailed quotation'}}</button></p>
                    <p class="m-0"><a routerLink="/dang-ky-dau-tu" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký đầu tư >>':'View invest registration procedure >>'}}</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="pc"><img src="/assets/site/images/create_img01.png" style="max-width: 100%"></p>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <h1 class="center" style="margin-bottom: 3rem;">{{global.locale=='vi'?'3 lý do để khởi tạo doanh nghiệp tại Asoka Law':'3 reasons to start a business with Asoka Law'}}</h1>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <p class="mb-0 text-right pc"><img src="/assets/site/images/create_img03.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-6">
                <p class="sp" style="margin-bottom: 2rem;"><img src="/assets/site/images/create_img03.png" style="max-width: 100%"></p>
                <h4 class="create-title-check">{{global.locale=='vi'?'Hãng Luật chuyên cho SMEs':'A law firm specializing in SMEs'}}</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">{{global.locale=='vi'?'Sứ mệnh của Asoka Law là: sinh ra nhằm trở thành người cộng sự tận tâm cho các doanh nghiệp nhỏ và vừa trên lãnh thổ Việt Nam. Chúng tôi am hiểu pháp lý, cùng với kinh nghiệm phục vụ hàng ngàn doanh nghiệp SMEs sẽ hỗ trợ đắc lực cho bạn suốt quá trình khởi nghiệp.':'Asoka Law\'s mission is becoming a dedicated partner for small and medium enterprises in the territory of Vietnam. Our legal knowledge, along with rich experience in serving thousands of SMEs, will help you considerably throughout the startup process.'}}</p>
                </div>
                <h4 class="create-title-check">{{global.locale=='vi'?'Khởi nghiệp không đơn độc':'Accompanying start-up businesses'}}</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">{{global.locale=='vi'?'Bạn không một mình trong hành trình khởi nghiệp, ngược lại có cả một đội ngũ Asoka luôn sẵn sàng hỗ trợ. Chúng tôi đã hoàn thiện chuỗi quy trình làm việc nhịp nhàng, được thực hiện bởi các nhân sự tài năng, đầy nhiệt huyết. Chắc chắn kết quả mang lại sẽ tốt hơn bạn mong đợi.':'You are not alone in your startup journey - thanks to Asoka team\'s support. We have completed a series of smooth working processes, performed by talented and enthusiastic staff. The results will definitely be better than you expected.'}}</p>
                </div>
                <h4 class="create-title-check">{{global.locale=='vi'?'Bàn giao hồ sơ gốc đầy đủ':'Returning full original records'}}</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">{{global.locale=='vi'?'Để đóng gói và trao trả toàn bộ hồ sơ gốc cho bạn, chúng tôi phải cẩn trọng, không cho phép bỏ sót bất cứ thủ tục trong suốt quá trình thực hiện. Khi nhận bàn giao hồ sơ gốc, bạn đồng thời được Asoka hướng dẫn vận hành doanh nghiệp sau khởi tạo.':'In order to package and return all original documents to our clients, we must be careful not to miss any procedures when delivering services. Upon receiving original files, you will also be instructed by Asoka to operate the business after establishment.'}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-ktdn-feedback></app-ktdn-feedback>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 style="margin-bottom: 3rem;">{{global.locale=='vi'?'Phát triển công ty của':'Developing your business'}}<br class="pc">{{global.locale=='vi'?' bạn sau khởi tạo':' after establishment'}}</h1>
                <div class="mission-txt" style="margin-bottom: 3rem;">
                    <p>{{global.locale=='vi'?'Sau khi đăng ký doanh nghiệp thành công tại Asoka, bạn đã có được một nền móng vững chắc để sẵn sàng phát triển công ty. Kinh nghiệm phục vụ 1000+ doanh nghiệp cho chúng tôi niềm tin rằng, các dịch vụ sau giai đoạn khởi tạo là cần thiết để công ty bạn phát triển thịnh vượng trong 05 năm tiếp theo. Bạn có thể theo dõi sơ đồ lộ trình pháp lý mà Asoka đã xây dựng cho từng giai đoạn phát triển của doanh nghiệp để hiểu rõ mình đang ở đâu và cần làm gì trong 05 năm tới.':'After successful business registration with Asoka, you get a strong foundation to readily grow your company. With our experience in serving 1000+ businesses, we acknowledge that post-creation services are vital for your company to prosper in the next 5 years. You can follow the legal roadmap that Asoka has developed for each stage of business to understand where you are and what to do in the next 5 years.'}}</p>
                </div>
                <p class="m-0 pc"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult me'}}</button></p>
                <p class="m-0 sp center" style="margin-top: 2rem;"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult me'}}</button></p>
            </div>
            <div class="col-md-7">
                <div class="mission-circle">
                    <p class="mission-circle-img"><img src="/assets/site/images/create_process.png" style="max-width: 100%"></p>
                    <div class="pc">
                        <div class="mission-circle-list list01">
                            <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'NECESSARY SERVICES'}}</p>
                            <ul>
                                <li><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Tư vấn luật sư':'Lawyers consultation'}}</a></li>
                                <li><a routerLink="/dang-ky-kinh-doanh">{{global.locale=='vi'?'Đăng ký kinh doanh':'Business registration'}}</a></li>
                                <li><a routerLink="/dang-ky-dau-tu">{{global.locale=='vi'?'Đăng ký đầu tư':'Investment registration'}}</a></li>
                            </ul>
                        </div>
                        <div class="mission-circle-list list02 gray-color">
                            <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'NECESSARY SERVICES'}}</p>
                            <ul>
                                <li><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Quản trị “4 trong 1”':'“4-in-1“ administration'}}</a></li>
                                <li><a routerLink="/">{{global.locale=='vi'?'Ngành nghề có điều kiện':'Ngành nghề có điều kiện'}}</a></li>
                                <li><a routerLink="/dang-ky-nhan-hieu">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Trademark registration'}}</a></li>
                            </ul>
                        </div>
                        <div class="mission-circle-list list03 gray-color">
                            <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'NECESSARY SERVICES'}}</p>
                            <ul>
                                <li><a routerLink="/giai-quyet-tranh-chap">{{global.locale=='vi'?'Giải quyết tranh chấp':'Dispute resolution'}}</a></li>
                                <li><a routerLink="/phap-ly-su-kien">{{global.locale=='vi'?'Pháp lý sự kiện':'Events related legal matters'}}</a></li>
                                <li><a routerLink="/">{{global.locale=='vi'?'Tạm ngưng - Giải thể':'Suspension - dissolution'}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--            test-->
        <div class="row d-block d-md-none" style="margin-left: 10%; margin-top: 15px;">
            <div class="mission1-mobile">
                <p style="color: #0c4c76 !important;font-weight: 500;">{{global.locale=='vi'?'KHỞI TẠO DOANH NGHIỆP':'BUSINESS ESTABLISHMENT'}}</p>
                <ul>
                    <li style="list-style: inside !important;"><a routerLink="/tu-van-luat-su" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Tư vấn luật sư':'Lawyer consultation'}}</a></li>
                    <li  style="list-style: inside !important;"><a routerLink="/dang-ky-kinh-doanh" style="list-style: disc !important; color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Đăng ký kinh doanh':'Business Registration'}}</a></li>
                    <li style="list-style: inside !important;"><a routerLink="/dang-ky-dau-tu" style="list-style: disc !important; color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Đăng ký đầu tư':'Investment registration'}}</a></li>
                </ul>
            </div>
            <div class="mission2-mobile">
                <p style="color: #0c4c76 !important;font-weight: 500;">{{global.locale=='vi'?'DOANH NGHIỆP DƯỚI 03 NĂM':'BUSINESSES UNDER 03 YEARS'}}</p>
                <ul>
                    <li style="list-style: inside !important;">
                        <a routerLink="/phap-ly-thuong-xuyen" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Quản trị “4 trong 1”':'4-in-1 administration'}}</a>
                    </li>
                    <li style="list-style: inside !important;" ><a routerLink="/giai-quyet-tranh-chap" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Ngành nghề có điều kiện':'Industry conditional'}}</a></li>
                    <li style="list-style: inside !important;"><a routerLink="/dang-ky-nhan-hieu" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Registering trademark'}}</a></li>
                </ul>

            </div>
            <div class="mission3-moblie">
                <p style="color: #0c4c76 !important;font-weight: 500;">{{global.locale=='vi'?'DOANH NGHIỆP TRÊN 03 NĂM':'BUSINESSES OVER 03 YEARS'}}</p>
                <ul>
                    <li style="list-style: inside !important;"><a routerLink="/giai-quyet-tranh-chap" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Giải quyết tranh chấp':'Dispute resolution'}}</a></li>
                    <li style="list-style: inside !important;"><a routerLink="/phap-ly-su-kien" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Pháp lý sự kiện':'Events legal'}}</a></li>
                    <li style="list-style: inside !important;"><a routerLink="/#" style=" color: #0c4c76 !important; font-size: 12px !important; font-weight: 500 !important; margin-bottom: 5px !important;">{{global.locale=='vi'?'Tạm ngưng - Giải thể':'Suspension - dissolution'}}</a></li>
                </ul>

            </div>
        </div>
        <!--            end test-->
    </div>
</section>
<section style="margin-bottom: 3rem">
    <div class="container">
        <h1 class="center" style="margin-bottom: 3rem;">{{global.locale=='vi'?'Vẫn còn câu hỏi? Chúng tôi sẵn sàng hỗ trợ':'Having more questions? We\'re here to help.'}}</h1>
        <div class="row" style="margin-bottom: 3rem;">
            <div class="col-md-5">
                <p class="pc m-0"><img src="/assets/site/images/create_img04.jpg" style="max-width: 100%"></p>
                <p class="sp" style="margin-bottom: 2rem;"><img src="/assets/site/images/create_img04.jpg" style="max-width: 100%"></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <ul class="create-question">
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Khởi tạo doanh nghiệp chỉ có nghĩa là đăng ký kinh doanh?':'Does business establishment equal business registration?'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Khởi tạo doanh nghiệp bao gồm nhiều bước, không chỉ là đăng ký kinh doanh tại Sở Kế Hoạch & Đầu Tư. Sau khi có giấy chứng nhận đăng ký doanh nghiệp, bạn cần phải thực hiện thủ tục liên quan như: khắc dấu, công bố mẫu dấu, đăng ký tài khoản ngân hàng, chọn mua token, hóa đơn, kê khai thuế ban đầu,...':'Business establishment includes a lot of steps, not only registering a business at the Department of Planning and Investment. After receiving the Business Registration Certificate, there are other related procedures you need to carry out such as engraving company seals, announcing seal samples, bank account registration, buying token, and initial tax delaration. '}}</p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?' Tôi có thể đăng ký kinh doanh online, không cần đến cơ quan Nhà Nước?':' Can I register online, without going to State Agencies?'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Đúng là bạn có thể đăng ký kinh doanh online. Tuy nhiên hiện tại một số bước như: nộp hồ sơ giấy (bản cứng), bạn vẫn cần phải đến nộp trực tiếp tại Cơ quan Nhà Nước. Sau đó bạn có thể đăng ký nhận kết quả qua đường bưu điện để được nhận giấy đăng ký doanh nghiệp tại nhà.':'Yes, you can. However, currently some steps like submiting paper documents (hard copies) must be done at State agencies\' offices. You can sign up to receive results by post delivery afterwards. '}}</p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Tôi cần làm thêm thủ tục gì sau khi khởi tạo doanh nghiệp thành công?':'What shall I do after successfully setting up a business?'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Bạn cần xem xét ngành nghề mình kinh doanh có thuộc ngành nghề có điều kiện hay không. Nếu thuộc ngành nghề có điều kiện, bạn cần đăng ký thêm giấy phép đủ điều kiện hoạt động ở ngành nghề đó, hoặc đáp ứng đầy đủ các yêu cầu về kinh doanh ngành nghề do pháp luật quy định.':'You shall check whether your business lines are conditional or not in order to apply for additional licenses or meet related requirements for doing business as prescribed by the law.'}}</p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Làm cách nào để tra cứu các điều kiện về ngành nghề kinh doanh?':'How can I look up information on conditional business lines?'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Hiện nay, việc đăng ký kinh doanh và tra cứu các thông tin liên quan đã trở nên thuận tiện hơn rất nhiều. Bạn có thể tự mình tra cứu điều kiện về ngành nghề mình kinh doanh tại Cổng thông tin quốc gia về đăng ký doanh nghiệp:':'Currently, business registration and searching for related information have become a lot more convenient. You can look up requirements on your chosen business lines yourself at the online National Business Registration System (NBRS): '}}
                            <a href="https://dangkykinhdoanh.gov.vn/" target="_blank">https://dangkykinhdoanh.gov.vn/</a></p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Asoka Law có hỗ trợ đăng ký kinh doanh tại tỉnh, thành phố khác không?':'Does Asoka Law support business registration in other cities and provinces?'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Hiện nay, Asoka Law có các luật sư để hỗ trợ bạn hoàn toàn tại: Tp. Hồ Chí Minh (nơi có trụ sở chính), Vũng Tàu, Đà Nẵng, Tp. Hà Nội. Với các địa bàn khác, Asoka Law sẽ đăng ký trực tuyến và hướng dẫn bạn nộp hồ sơ tại cơ quan địa phương cho đến thời điểm hoàn tất mọi thủ tục.':'Asoka\'s network of lawyers can completely support clients in HCMC (where its headquarter is located), Vung Tau, Da Nang, and Hanoi City. With other locations, Asoka provides online registration service, guidance on submitting applications at local agencies, and follows our clients until all the procedures are completed.'}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <p class="center m-0"><a href="/cau-hoi-thuong-gap" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Tìm hiểu nhiều hơn >>':'See more'}}</a></p>
    </div>
</section>
<!--<section style="margin-bottom: 3rem">-->
<!--    <h1 class="center" style="margin-bottom: 3rem;">Tin tức mới nhất của Asoka Law về khởi tạo doanh nghiệp</h1>-->
<!--    <div class="container">-->
<!--        <div class="row create-list-news-slider">-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider01.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Đăng ký một nơi, kinh doanh một nẻo có bị phạt không?</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider02.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Những lưu ý khi đặt tên cho công ty mới</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider03.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Thành lập công ty cần bao nhiêu vốn?</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider02.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Những lưu ý khi đặt tên cho công ty mới</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="info-see-all">-->
<!--            <a href="#" style="text-decoration: underline;">Xem tất cả tin tức &gt;&gt;</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="bg-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="pc" style="font-weight: 400; line-height: 2.5rem; margin: 0">{{global.locale=='vi'?'Đừng bỏ lỡ 02 giờ tư vấn quý giá với luật sư ':'Don\'t miss out on free 2 consulting hours '}}<span style="text-decoration: line-through; font-size: 1.5rem; font-weight: 400">{{global.locale=='vi'?'(trị giá gốc 4,5 triệu đồng)':'(worth VND 4,500,000)'}}</span>{{global.locale=='vi'?' trước khi thành lập doanh nghiệp':' before setting up a company.'}}</h4>
                <h4 class="sp center" style="font-weight: 400; line-height: 2.5rem; margin: 0">{{global.locale=='vi'?'Đừng bỏ lỡ 02 giờ tư vấn quý giá với luật sư ':'Don\'t miss out on free 2 consulting hours '}}<span style="text-decoration: line-through; font-size: 1.5rem; font-weight: 400">{{global.locale=='vi'?'(trị giá gốc 4,5 triệu đồng)':'(worth VND 4,500,000)'}}</span>{{global.locale=='vi'?' trước khi thành lập doanh nghiệp':' before setting up a company.'}}</h4>
            </div>
            <div class="col-md-5">
                <div class="text-right pc">
                    <button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'GET FREE ADVICE'}}</button>
                </div>
                <div class="sp center" style="margin-top: 2rem;">
                    <button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'GET FREE ADVICE'}}</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade form-smooth" id="ktdnform1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="form-close" data-dismiss="modal">&times;</button>
                    <form>
                        <div class="form-group">
                            <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ và tên *':'Full name'}}">
                            <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name. '}}</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Phone number'}}"/>
                            <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number. '}}</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email"/>
                            <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address. '}}</small></i>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{global.locale=='vi'?'Dịch vụ pháp lý yêu cầu tư vấn*':'Choose a service'}}</label>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="tvtt" value="Tư vấn trực tiếp với luật sư">
                                            <label class="form-check-label" for="tvtt">{{global.locale=='vi'?'Tư vấn trực tiếp với luật sư':'Direct lawyer consultation'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkdvn" value="Đăng ký kinh doanh công ty 100% vốn Việt Nam">
                                            <label class="form-check-label" for="dkkdvn">{{global.locale=='vi'?'Đăng ký kinh doanh công ty 100% vốn Việt Nam':'Business registration with 100% Vietnamese capital'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkdnn" value="Đăng ký đầu tư công ty vốn nước ngoài">
                                            <label class="form-check-label" for="dkkdnn">{{global.locale=='vi'?'Đăng ký đầu tư công ty vốn nước ngoài':'Investment registration for foreign capital companies'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="orther" value="Khác">
                                            <label class="form-check-label" for="orther">{{global.locale=='vi'?'Khác':'Others'}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="5" placeholder="{{global.locale=='vi'?'Nhập câu hỏi mô tả tình trạng công ty bạn tại đây':'Insert your question(s) or describe the company\'s status'}}"></textarea>
                        </div>
                    </form>
                    <div class="form-button">
                        <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'SEND REQUEST NOW'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
