<section id="mainvisual" class="create">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 style="margin-top: -20%;">{{global.locale=='vi'?'Đặt nền móng khởi nghiệp vững chắc':'Đặt nền móng khởi nghiệp vững chắc aaa'}}</h2>
                <div class="main-list">
                    <ul>
                        <li>{{global.locale=='vi'?'Thấu hiểu':'Thấu hiểu aaa'}}</li>
                        <li>{{global.locale=='vi'?'Tư vấn đúng':'Tư vấn đúng aaa'}}</li>
                        <li>{{global.locale=='vi'?'Cung cấp dịch vụ thiết yếu nhất':'Cung cấp dịch vụ thiết yếu nhất aaa'}}</li>
                    </ul>
                    <p>{{global.locale=='vi'?'Asoka Law giúp bạn khởi tạo doanh nghiệp thành công.':'Asoka Law giúp bạn khởi tạo doanh nghiệp thành công. aaa'}}</p>
                </div>
                <p class="m-0 pc">
                    <button onclick="$('#ktdnform1').modal('show')" type="button" class="btn btn-outline-warning" style="padding: 0.5rem 2.5rem;">{{global.locale=='vi'?'Tư vấn cho tôi':'Tư vấn cho tôi aaa'}}</button>
                </p>
                <p class="center sp" style="margin: 1.5rem 0 0">
                    <button onclick="$('#ktdnform1').modal('show')" type="button" class="btn btn-warning" style="padding: 0.5rem 2.5rem;">{{global.locale=='vi'?'Tư vấn cho tôi':'Tư vấn cho tôi aaa'}}</button>
                </p>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <h1 class="center" style="margin-bottom: 2rem;">{{global.locale=='vi'?'Chúng tôi thấu hiểu các khó khăn của việc':'Chúng tôi thấu hiểu các khó khăn của việc aaa'}}<br class="pc">{{global.locale=='vi'?' khởi tạo doanh nghiệp':' khởi tạo doanh nghiệp aaa'}}</h1>
        <div class="mission-txt">
            <p class="center">{{global.locale=='vi'?'Trong suốt quá trình hỗ trợ pháp lý cho 1000+ doanh nghiệp, chúng tôi đã nghiên cứu và nhận thấy ':'Trong suốt quá trình hỗ trợ pháp lý cho 1000+ doanh nghiệp, chúng tôi đã nghiên cứu và nhận thấy  aaa'}}<span class="font-weight-bold">{{global.locale=='vi'?'04 khó khăn cơ bản nhất của việc khởi tạo doanh nghiệp.':'04 khó khăn cơ bản nhất của việc khởi tạo doanh nghiệp. aaa'}}</span></p>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 13px;"><span><img src="/assets/site/images/create_icon01.svg" style="max-height: 29px;"></span>{{global.locale=='vi'?'Chọn đúng loại hình':'Chọn đúng loại hình aaa'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Khi bắt đầu khởi nghiệp, chủ doanh nghiệp thường không rõ sự khác nhau giữa các loại hình doanh nghiệp. Điều này khiến bạn gặp khó khăn trong việc áp dụng mô hình kinh doanh tiện dụng và phù hợp.':'Khi bắt đầu khởi nghiệp, chủ doanh nghiệp thường không rõ sự khác nhau giữa các loại hình doanh nghiệp. Điều này khiến bạn gặp khó khăn trong việc áp dụng mô hình kinh doanh tiện dụng và phù hợp. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 13px;"><span><img src="/assets/site/images/create_icon02.svg" style="max-height: 29px;"></span>{{global.locale=='vi'?'Hiểu rõ lộ trình pháp lý':'Hiểu rõ lộ trình pháp lý aaa'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Mỗi công đoạn sản xuất/chào bán sản phẩm/dịch vụ đòi hỏi kiến thức khác nhau về thủ tục áp dụng. Nếu chưa có kinh nghiệm, bạn khó có thể lên được sơ đồ đường đi của pháp lý nhằm đưa sản phẩm, dịch vụ ra thị trường.':'Mỗi công đoạn sản xuất/chào bán sản phẩm/dịch vụ đòi hỏi kiến thức khác nhau về thủ tục áp dụng. Nếu chưa có kinh nghiệm, bạn khó có thể lên được sơ đồ đường đi của pháp lý nhằm đưa sản phẩm, dịch vụ ra thị trường. aaa'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 13px;"><span><img src="/assets/site/images/create_icon03.svg" style="max-height: 29px;"></span>{{global.locale=='vi'?'Tìm nhân sự đồng hành':'Tìm nhân sự đồng hành aaa'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Một doanh nghiệp mới thường sẽ khó tìm kiếm nhân sự chất lượng cao hơn các doanh nghiệp cũ. Lý do: quỹ lương ít hơn, bề dày hoạt động ít hơn, phúc lợi và các hoạt động kết nối không nhiều.':'Một doanh nghiệp mới thường sẽ khó tìm kiếm nhân sự chất lượng cao hơn các doanh nghiệp cũ. Lý do: quỹ lương ít hơn, bề dày hoạt động ít hơn, phúc lợi và các hoạt động kết nối không nhiều. aaa'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-card">
                    <h4 style="font-size: 13px;"><span><img src="/assets/site/images/create_icon04.svg" style="max-height: 29px;"></span>{{global.locale=='vi'?'Tài chính vận hành':'Tài chính vận hành aaa'}}</h4>
                    <div class="mission-txt">
                        <p class="mb-0">{{global.locale=='vi'?'Khởi tạo doanh nghiệp cần tính đến chi phí sinh tồn cho những năm đầu tiên. Mọi khoản chi phí cần được cân nhắc kỹ lưỡng. Tiết kiệm mà vẫn hiệu quả chính là mối trăn trở của các doanh nghiệp giai đoạn khởi tạo này.':'Khởi tạo doanh nghiệp cần tính đến chi phí sinh tồn cho những năm đầu tiên. Mọi khoản chi phí cần được cân nhắc kỹ lưỡng. Tiết kiệm mà vẫn hiệu quả chính là mối trăn trở của các doanh nghiệp giai đoạn khởi tạo này. aaa'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <h1 class="center" style="margin-bottom: 2rem;">{{global.locale=='vi'?'Giải quyết hiệu quả các vấn đề khởi nghiệp':'Giải quyết hiệu quả các vấn đề khởi nghiệp aaa'}}</h1>
        <div class="mission-txt">
            <p class="center">{{global.locale=='vi'?'Hiểu rõ khó khăn của việc khởi nghiệp, Asoka Law đã đóng gói từng dịch vụ pháp lý thiết yếu. Đầy đủ, rõ ràng, hướng dẫn chỉn chu và tiết kiệm chi phí, chúng tôi đã hỗ trợ cho trên 1000 doanh nghiệp thành lập và khởi đầu kinh doanh thuận lợi.':'Hiểu rõ khó khăn của việc khởi nghiệp, Asoka Law đã đóng gói từng dịch vụ pháp lý thiết yếu. Đầy đủ, rõ ràng, hướng dẫn chỉn chu và tiết kiệm chi phí, chúng tôi đã hỗ trợ cho trên 1000 doanh nghiệp thành lập và khởi đầu kinh doanh thuận lợi. aaa'}}</p>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <p class="create-title">{{global.locale=='vi'?'Bước 01':'Bước 01 aaa'}}</p>
                <h4 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Tư vấn với luật sư trước khi thành lập':'Tư vấn với luật sư trước khi thành lập aaa'}}</h4>
                <div class="mission-txt">
                    <p>{{global.locale=='vi'?'Kinh nghiệm của chúng tôi cho thấy việc ':'Kinh nghiệm của chúng tôi cho thấy việc  aaa'}}<span class="font-weight-bold">{{global.locale=='vi'?'tư vấn quyết định đến 60% thành công của bước khởi tạo.':'tư vấn quyết định đến 60% thành công của bước khởi tạo. aaa'}}</span>{{global.locale=='vi'?' Thành lập doanh nghiệp là một việc đơn giản ở bề mặt thủ tục. Nhưng nếu không hiểu rõ được các quy định liên quan đến việc thành lập và cách thức vận hành thì dễ dẫn đến sai sót.':' Thành lập doanh nghiệp là một việc đơn giản ở bề mặt thủ tục. Nhưng nếu không hiểu rõ được các quy định liên quan đến việc thành lập và cách thức vận hành thì dễ dẫn đến sai sót. aaa'}}</p>
                    <p>{{global.locale=='vi'?'Bạn có thể là chuyên gia tại lĩnh vực bạn dự định kinh doanh. Tuy nhiên, Luật sư Asoka là chuyên gia trong việc nghiên cứu, định hướng và cảnh báo các khó khăn pháp lý mà doanh nghiệp của bạn có thể gặp phải. ':'Bạn có thể là chuyên gia tại lĩnh vực bạn dự định kinh doanh. Tuy nhiên, Luật sư Asoka là chuyên gia trong việc nghiên cứu, định hướng và cảnh báo các khó khăn pháp lý mà doanh nghiệp của bạn có thể gặp phải.  aaa'}}<span class="font-weight-bold">{{global.locale=='vi'?'Chỉ cần dành 1% chi phí cho việc tư vấn, bạn đã tiết kiệm được 80% chi phí giải quyết hậu quả pháp lý về sau.':'Chỉ cần dành 1% chi phí cho việc tư vấn, bạn đã tiết kiệm được 80% chi phí giải quyết hậu quả pháp lý về sau. aaa'}}</span>
                    </p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Đặt lịch tư vấn':'Đặt lịch tư vấn aaa'}}</button></p>
                    <p class="m-0"><a routerLink="/tu-van-luat-su" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem danh sách tất cả luật sư >>':'Xem danh sách tất cả luật sư >> aaa'}}</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="create-lawyer-slider">
                    <div class="create-lawyer-item">
                        <ul>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tam.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}} <span>{{global.locale=='vi'?'Tâm Dương':'Tâm Dương aaa'}}</span></span><span>{{global.locale=='vi'?'Truyền thông - Sự kiện & Doanh nghiệp':'Truyền thông - Sự kiện & Doanh nghiệp aaa'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 lượt đặt tư vấn aaa'}}</p>
                                </div>
                            </li>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tai.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}} <span>{{global.locale=='vi'?'Đặng Thành Tài':'Đặng Thành Tài aaa'}}</span></span><span>{{global.locale=='vi'?'Tranh chấp Hàng hải - Thương mại & Doanh nghiệp':'Tranh chấp Hàng hải - Thương mại & Doanh nghiệp aaa'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'159 lượt đặt tư vấn':'159 lượt đặt tư vấn aaa'}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="create-lawyer-item">
                        <ul>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_binh.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Cố vấn thuế ':'Cố vấn thuế  aaa'}}<span>{{global.locale=='vi'?'Lê Bình':'Lê Bình aaa'}}</span></span><span>{{global.locale=='vi'?'Kế toán - Thuế - Lao động - BHXH Doanh nghiệp':'Kế toán - Thuế - Lao động - BHXH Doanh nghiệp aaa'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'145 lượt đặt tư vấn':'145 lượt đặt tư vấn aaa'}}</p>
                                </div>
                            </li>
                            <li>
                                <p class="create-lawyer-img"><img src="/assets/site/images/create_ls_tra.jpg" style="max-width: 100%;"></p>
                                <div class="create-lawyer-info">
                                    <p class="create-lawyer-name"><span>{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}} <span>{{global.locale=='vi'?'Nguyễn Sơn Trà':'Nguyen Son Tra'}}</span></span><span>{{global.locale=='vi'?'Giải quyết tranh chấp - Thu hồi nợ - Hôn nhân gia đình - Thừa kế & Một số vấn đề dân sự khác':'Giải quyết tranh chấp - Thu hồi nợ - Hôn nhân gia đình - Thừa kế & Một số vấn đề dân sự khác aaa'}}</span></p>
                                    <p class="create-lawyer-star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                                    <p class="create-lawyer-review">{{global.locale=='vi'?'261 lượt đặt tư vấn':'261 lượt đặt tư vấn aaa'}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp">
                    <p class="center"><a href="#" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Đặt lịch tư vấn':'Đặt lịch tư vấn aaa'}}</a></p>
                    <p class="m-0 center"><a routerLink="/tu-van-luat-su" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem danh sách tất cả luật sư >>':'Xem danh sách tất cả luật sư >> aaa'}}</a></p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="pc"><img src="/assets/site/images/create_img02.png" style="max-width: 100%;"></p>
            </div>
            <div class="col-md-5">
                <p class="create-title">{{global.locale=='vi'?'Bước 02':'Bước 02 aaa'}}</p>
                <h4 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Thực hiện thủ tục Đăng ký kinh doanh':'Thực hiện thủ tục Đăng ký kinh doanh aaa'}}</h4>
                <div class="mission-txt">
                    <p class="font-weight-bold" style="color: #5F6368">{{global.locale=='vi'?'03 bí quyết giúp doanh nghiệp bước chân vào kinh doanh thành công:':'03 bí quyết giúp doanh nghiệp bước chân vào kinh doanh thành công: aaa'}}</p>
                    <ul class="create-list check">
                        <li>{{global.locale=='vi'?'Lựa chọn đúng loại hình doanh nghiệp.':'Lựa chọn đúng loại hình doanh nghiệp.     aaa'}}</li>
                        <li>{{global.locale=='vi'?'Lập kế hoạch về ngành nghề chính.':'Lập kế hoạch về ngành nghề chính. aaa'}}</li>
                        <li>{{global.locale=='vi'?'Đăng ký đầy đủ các ngành nghề bổ trợ.':'Đăng ký đầy đủ các ngành nghề bổ trợ. aaa'}}</li>
                    </ul>
                    <p>{{global.locale=='vi'?'Asoka Law đã đóng gói chặt chẽ bí quyết đó thành các gói phí, từ cơ bản đến toàn diện để bạn dễ dàng so sánh và lựa chọn. Bạn sẽ không còn phải lo lắng vì bỏ sót bất cứ thủ tục nào.':'Asoka Law đã đóng gói chặt chẽ bí quyết đó thành các gói phí, từ cơ bản đến toàn diện để bạn dễ dàng so sánh và lựa chọn. Bạn sẽ không còn phải lo lắng vì bỏ sót bất cứ thủ tục nào. aaa'}}</p>
                </div>
                <div class="sp">
                    <p class="center"><img src="/assets/site/images/create_img02.png" style="max-width: 100%;"></p>
                    <p class="center"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}</button></p>
                    <p class="m-0 center"><a routerLink='/dang-ky-kinh-doanh' style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký kinh doanh >>':'Xem quy trình đăng ký kinh doanh >> aaa'}}</a></p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}</button></p>
                    <p class="m-0"><a routerLink='/dang-ky-kinh-doanh' style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký kinh doanh >>':'Xem quy trình đăng ký kinh doanh >> aaa'}}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 1rem;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-5" >
                <p class="create-title">{{global.locale=='vi'?'Bước 03':'Bước 03 aaa'}}</p>
                <h4 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Thực hiện thủ tục đăng ký đầu tư':'Thực hiện thủ tục đăng ký đầu tư aaa'}}</h4>
                <div class="mission-txt">
                    <p class="font-weight-bold" style="color: #5F6368">{{global.locale=='vi'?'Asoka Law hỗ trợ nhà đầu tư nước ngoài ở 02 hình thức:':'Asoka Law hỗ trợ nhà đầu tư nước ngoài ở 02 hình thức: aaa'}}</p>
                    <ul class="create-list rect">
                        <li>{{global.locale=='vi'?'Mở doanh nghiệp mới':'Mở doanh nghiệp mới aaa'}}</li>
                        <li>{{global.locale=='vi'?'Mua vốn góp, cổ phần của công ty đã hoạt động sẵn tại Việt Nam':'Mua vốn góp, cổ phần của công ty đã hoạt động sẵn tại Việt Nam aaa'}}</li>
                    </ul>
                    <p>{{global.locale=='vi'?'Mô hình khởi nghiệp này phù hợp với các dự án, hoạt động kinh doanh nhỏ và vừa. Thời gian xin cấp phép khá nhanh chóng, thủ tục tương đối thuận lợi. Nhà đầu tư được hưởng các ưu đãi trong việc kinh doanh và sinh sống tại Việt Nam, như: ':'Mô hình khởi nghiệp này phù hợp với các dự án, hoạt động kinh doanh nhỏ và vừa. Thời gian xin cấp phép khá nhanh chóng, thủ tục tương đối thuận lợi. Nhà đầu tư được hưởng các ưu đãi trong việc kinh doanh và sinh sống tại Việt Nam, như:  aaa'}}<span style="font-style: italic;">{{global.locale=='vi'?'chính sách về thuế, cư trú, sở hữu tài sản,...':'chính sách về thuế, cư trú, sở hữu tài sản,... aaa'}}</span>
                    </p>
                </div>
                <div class="sp">
                    <p class="center"><img src="/assets/site/images/create_img01.png" style="max-width: 100%"></p>
                    <p class="center"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}</button></p>
                    <p class="m-0 center"><a router="/dang-ky-dau-tu" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký đầu tư >>':'Xem quy trình đăng ký đầu tư >> aaa'}}</a></p>
                </div>
                <div class="pc">
                    <p><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 1rem 3rem; margin: 2rem 0 1.5rem">{{global.locale=='vi'?'Xem báo giá chi tiết':'Xem báo giá chi tiết aaa'}}</button></p>
                    <p class="m-0"><a routerLink="/dang-ky-dau-tu" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Xem quy trình đăng ký đầu tư >>':'Xem quy trình đăng ký đầu tư >> aaa'}}</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="pc"><img src="/assets/site/images/create_img01.png" style="max-width: 100%"></p>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem;">
    <div class="container-fluid">
        <h1 class="center" style="margin-bottom: 3rem;">{{global.locale=='vi'?'3 lý do để khởi tạo doanh nghiệp tại Asoka Law':'3 lý do để khởi tạo doanh nghiệp tại Asoka Law aaa'}}</h1>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <p class="mb-0 text-right pc"><img src="/assets/site/images/create_img03.png" style="max-width: 100%"></p>
            </div>
            <div class="col-md-6">
                <p class="sp" style="margin-bottom: 2rem;"><img src="/assets/site/images/create_img03.png" style="max-width: 100%"></p>
                <h4 class="create-title-check">{{global.locale=='vi'?'Hãng Luật chuyên cho SMEs':'Hãng Luật chuyên cho SMEs aaa'}}</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">{{global.locale=='vi'?'Sứ mệnh của Asoka Law là: sinh ra nhằm trở thành người cộng sự tận tâm cho các doanh nghiệp nhỏ và vừa trên lãnh thổ Việt Nam. Chúng tôi am hiểu pháp lý, cùng với kinh nghiệm phục vụ hàng ngàn doanh nghiệp SMEs sẽ hỗ trợ đắc lực cho bạn suốt quá trình khởi nghiệp.':'Sứ mệnh của Asoka Law là: sinh ra nhằm trở thành người cộng sự tận tâm cho các doanh nghiệp nhỏ và vừa trên lãnh thổ Việt Nam. Chúng tôi am hiểu pháp lý, cùng với kinh nghiệm phục vụ hàng ngàn doanh nghiệp SMEs sẽ hỗ trợ đắc lực cho bạn suốt quá trình khởi nghiệp. aaa'}}</p>
                </div>
                <h4 class="create-title-check">{{global.locale=='vi'?'Khởi nghiệp không đơn độc':'Khởi nghiệp không đơn độc aaa'}}</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">{{global.locale=='vi'?'Bạn không một mình trong hành trình khởi nghiệp, ngược lại có cả một đội ngũ Asoka luôn sẵn sàng hỗ trợ. Chúng tôi đã hoàn thiện chuỗi quy trình làm việc nhịp nhàng, được thực hiện bởi các nhân sự tài năng, đầy nhiệt huyết. Chắc chắn kết quả mang lại sẽ tốt hơn bạn mong đợi.':'Bạn không một mình trong hành trình khởi nghiệp, ngược lại có cả một đội ngũ Asoka luôn sẵn sàng hỗ trợ. Chúng tôi đã hoàn thiện chuỗi quy trình làm việc nhịp nhàng, được thực hiện bởi các nhân sự tài năng, đầy nhiệt huyết. Chắc chắn kết quả mang lại sẽ tốt hơn bạn mong đợi. aaa'}}</p>
                </div>
                <h4 class="create-title-check">{{global.locale=='vi'?'Bàn giao hồ sơ gốc đầy đủ':'Bàn giao hồ sơ gốc đầy đủ aaa'}}</h4>
                <div class="mission-txt">
                    <p style="text-align: justify;">{{global.locale=='vi'?'Để đóng gói và trao trả toàn bộ hồ sơ gốc cho bạn, chúng tôi phải cẩn trọng, không cho phép bỏ sót bất cứ thủ tục trong suốt quá trình thực hiện. Khi nhận bàn giao hồ sơ gốc, bạn đồng thời được Asoka hướng dẫn vận hành doanh nghiệp sau khởi tạo.':'Để đóng gói và trao trả toàn bộ hồ sơ gốc cho bạn, chúng tôi phải cẩn trọng, không cho phép bỏ sót bất cứ thủ tục trong suốt quá trình thực hiện. Khi nhận bàn giao hồ sơ gốc, bạn đồng thời được Asoka hướng dẫn vận hành doanh nghiệp sau khởi tạo. aaa'}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-ktdn-feedback></app-ktdn-feedback>
<section style="margin-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 style="margin-bottom: 3rem;">{{global.locale=='vi'?'Phát triển công ty của':'Phát triển công ty của aaa'}}<br class="pc">{{global.locale=='vi'?' bạn sau khởi tạo':' bạn sau khởi tạo aaa'}}</h1>
                <div class="mission-txt" style="margin-bottom: 3rem;">
                    <p>{{global.locale=='vi'?'Sau khi đăng ký doanh nghiệp thành công tại Asoka, bạn đã có được một nền móng vững chắc để sẵn sàng phát triển công ty. Kinh nghiệm phục vụ 1000+ doanh nghiệp cho chúng tôi niềm tin rằng, các dịch vụ sau giai đoạn khởi tạo là cần thiết để công ty bạn phát triển thịnh vượng trong 05 năm tiếp theo. Bạn có thể theo dõi sơ đồ lộ trình pháp lý mà Asoka đã xây dựng cho từng giai đoạn phát triển của doanh nghiệp để hiểu rõ mình đang ở đâu và cần làm gì trong 05 năm tới.':'Sau khi đăng ký doanh nghiệp thành công tại Asoka, bạn đã có được một nền móng vững chắc để sẵn sàng phát triển công ty. Kinh nghiệm phục vụ 1000+ doanh nghiệp cho chúng tôi niềm tin rằng, các dịch vụ sau giai đoạn khởi tạo là cần thiết để công ty bạn phát triển thịnh vượng trong 05 năm tiếp theo. Bạn có thể theo dõi sơ đồ lộ trình pháp lý mà Asoka đã xây dựng cho từng giai đoạn phát triển của doanh nghiệp để hiểu rõ mình đang ở đâu và cần làm gì trong 05 năm tới. aaa'}}</p>
                </div>
                <p class="m-0 pc"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem">{{global.locale=='vi'?'Tư vấn cho tôi':'Tư vấn cho tôi aaa'}}</button></p>
                <p class="m-0 sp center" style="margin-top: 2rem;"><button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem">{{global.locale=='vi'?'Tư vấn cho tôi':'Tư vấn cho tôi aaa'}}</button></p>
            </div>
            <div class="col-md-7">
                <div class="mission-circle">
                    <p class="mission-circle-img"><img src="/assets/site/images/create_process.png" style="max-width: 100%"></p>
                    <div class="pc">
                        <div class="mission-circle-list list01">
                            <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'DỊCH VỤ CẦN THIẾT aaa'}}</p>
                            <ul>
                                <li><a routerLink="/tu-van-luat-su">{{global.locale=='vi'?'Tư vấn luật sư':'Tư vấn luật sư aaa'}}</a></li>
                                <li><a routerLink="/dang-ky-kinh-doanh">{{global.locale=='vi'?'Đăng ký kinh doanh':'Đăng ký kinh doanh aaa'}}</a></li>
                                <li><a routerLink="/dang-ky-dau-tu">{{global.locale=='vi'?'Đăng ký đầu tư':'Đăng ký đầu tư aaa'}}</a></li>
                            </ul>
                        </div>
                        <div class="mission-circle-list list02 gray-color">
                            <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'DỊCH VỤ CẦN THIẾT aaa'}}</p>
                            <ul>
                                <li><a routerLink="/phap-ly-thuong-xuyen">{{global.locale=='vi'?'Quản trị “4 trong 1”':'Quản trị “4 trong 1” aaa'}}</a></li>
                                <li><a routerLink="/">{{global.locale=='vi'?'Ngành nghề có điều kiện':'Ngành nghề có điều kiện aaa'}}</a></li>
                                <li><a routerLink="/dang-ky-nhan-hieu">{{global.locale=='vi'?'Đăng ký nhãn hiệu':'Đăng ký nhãn hiệu aaa'}}</a></li>
                            </ul>
                        </div>
                        <div class="mission-circle-list list03 gray-color">
                            <p>{{global.locale=='vi'?'DỊCH VỤ CẦN THIẾT':'DỊCH VỤ CẦN THIẾT aaa'}}</p>
                            <ul>
                                <li><a routerLink="/giai-quyet-tranh-chap">{{global.locale=='vi'?'Giải quyết tranh chấp':'Giải quyết tranh chấp aaa'}}</a></li>
                                <li><a routerLink="/phap-ly-su-kien">{{global.locale=='vi'?'Pháp lý sự kiện':'Pháp lý sự kiện aaa'}}</a></li>
                                <li><a routerLink="/">{{global.locale=='vi'?'Tạm ngưng - Giải thể':'Tạm ngưng - Giải thể aaa'}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: 3rem">
    <div class="container">
        <h1 class="center" style="margin-bottom: 3rem;">{{global.locale=='vi'?'Vẫn còn câu hỏi? Chúng tôi sẵn sàng hỗ trợ':'Vẫn còn câu hỏi? Chúng tôi sẵn sàng hỗ trợ aaa'}}</h1>
        <div class="row" style="margin-bottom: 3rem;">
            <div class="col-md-5">
                <p class="pc m-0"><img src="/assets/site/images/create_img04.jpg" style="max-width: 100%"></p>
                <p class="sp" style="margin-bottom: 2rem;"><img src="/assets/site/images/create_img04.jpg" style="max-width: 100%"></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <ul class="create-question">
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Khởi tạo doanh nghiệp chỉ có nghĩa là đăng ký kinh doanh?':'Khởi tạo doanh nghiệp chỉ có nghĩa là đăng ký kinh doanh? aaa'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Khởi tạo doanh nghiệp bao gồm nhiều bước, không chỉ là đăng ký kinh doanh tại Sở Kế Hoạch & Đầu Tư. Sau khi có giấy chứng nhận đăng ký doanh nghiệp, bạn cần phải thực hiện thủ tục liên quan như: khắc dấu, công bố mẫu dấu, đăng ký tài khoản ngân hàng, chọn mua token, hóa đơn, kê khai thuế ban đầu,...':'Khởi tạo doanh nghiệp bao gồm nhiều bước, không chỉ là đăng ký kinh doanh tại Sở Kế Hoạch & Đầu Tư. Sau khi có giấy chứng nhận đăng ký doanh nghiệp, bạn cần phải thực hiện thủ tục liên quan như: khắc dấu, công bố mẫu dấu, đăng ký tài khoản ngân hàng, chọn mua token, hóa đơn, kê khai thuế ban đầu,... aaa'}}</p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?' Tôi có thể đăng ký kinh doanh online, không cần đến cơ quan Nhà Nước?':' Tôi có thể đăng ký kinh doanh online, không cần đến cơ quan Nhà Nước? aaa'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Đúng là bạn có thể đăng ký kinh doanh online. Tuy nhiên hiện tại một số bước như: nộp hồ sơ giấy (bản cứng), bạn vẫn cần phải đến nộp trực tiếp tại Cơ quan Nhà Nước. Sau đó bạn có thể đăng ký nhận kết quả qua đường bưu điện để được nhận giấy đăng ký doanh nghiệp tại nhà.':'Đúng là bạn có thể đăng ký kinh doanh online. Tuy nhiên hiện tại một số bước như: nộp hồ sơ giấy (bản cứng), bạn vẫn cần phải đến nộp trực tiếp tại Cơ quan Nhà Nước. Sau đó bạn có thể đăng ký nhận kết quả qua đường bưu điện để được nhận giấy đăng ký doanh nghiệp tại nhà. aaa'}}</p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Tôi cần làm thêm thủ tục gì sau khi khởi tạo doanh nghiệp thành công?':'Tôi cần làm thêm thủ tục gì sau khi khởi tạo doanh nghiệp thành công? aaa'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Bạn cần xem xét ngành nghề mình kinh doanh có thuộc ngành nghề có điều kiện hay không. Nếu thuộc ngành nghề có điều kiện, bạn cần đăng ký thêm giấy phép đủ điều kiện hoạt động ở ngành nghề đó, hoặc đáp ứng đầy đủ các yêu cầu về kinh doanh ngành nghề do pháp luật quy định.':'Bạn cần xem xét ngành nghề mình kinh doanh có thuộc ngành nghề có điều kiện hay không. Nếu thuộc ngành nghề có điều kiện, bạn cần đăng ký thêm giấy phép đủ điều kiện hoạt động ở ngành nghề đó, hoặc đáp ứng đầy đủ các yêu cầu về kinh doanh ngành nghề do pháp luật quy định. aaa'}}</p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Làm cách nào để tra cứu các điều kiện về ngành nghề kinh doanh?':'Làm cách nào để tra cứu các điều kiện về ngành nghề kinh doanh? aaa'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Hiện nay, việc đăng ký kinh doanh và tra cứu các thông tin liên quan đã trở nên thuận tiện hơn rất nhiều. Bạn có thể tự mình tra cứu điều kiện về ngành nghề mình kinh doanh tại Cổng thông tin quốc gia về đăng ký doanh nghiệp:':'Hiện nay, việc đăng ký kinh doanh và tra cứu các thông tin liên quan đã trở nên thuận tiện hơn rất nhiều. Bạn có thể tự mình tra cứu điều kiện về ngành nghề mình kinh doanh tại Cổng thông tin quốc gia về đăng ký doanh nghiệp: aaa'}}
                            <a href="https://dangkykinhdoanh.gov.vn/" target="_blank">https://dangkykinhdoanh.gov.vn/</a></p>
                    </li>
                    <li>
                        <p class="create-question-title">{{global.locale=='vi'?'Asoka Law có hỗ trợ đăng ký kinh doanh tại tỉnh, thành phố khác không?':'Asoka Law có hỗ trợ đăng ký kinh doanh tại tỉnh, thành phố khác không? aaa'}}</p>
                        <p class="create-question-toggle p-3 bg-light text-dark" style="display: none">{{global.locale=='vi'?'Hiện nay, Asoka Law có các luật sư để hỗ trợ bạn hoàn toàn tại: Tp. Hồ Chí Minh (nơi có trụ sở chính), Vũng Tàu, Đà Nẵng, Tp. Hà Nội. Với các địa bàn khác, Asoka Law sẽ đăng ký trực tuyến và hướng dẫn bạn nộp hồ sơ tại cơ quan địa phương cho đến thời điểm hoàn tất mọi thủ tục.':'Hiện nay, Asoka Law có các luật sư để hỗ trợ bạn hoàn toàn tại: Tp. Hồ Chí Minh (nơi có trụ sở chính), Vũng Tàu, Đà Nẵng, Tp. Hà Nội. Với các địa bàn khác, Asoka Law sẽ đăng ký trực tuyến và hướng dẫn bạn nộp hồ sơ tại cơ quan địa phương cho đến thời điểm hoàn tất mọi thủ tục. aaa'}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <p class="center m-0"><a href="#" style="text-decoration: underline; color: #4cb1e0">{{global.locale=='vi'?'Tìm hiểu nhiều hơn >>':'Tìm hiểu nhiều hơn >> aaa'}}</a></p>
    </div>
</section>
<!--<section style="margin-bottom: 3rem">-->
<!--    <h1 class="center" style="margin-bottom: 3rem;">Tin tức mới nhất của Asoka Law về khởi tạo doanh nghiệp</h1>-->
<!--    <div class="container">-->
<!--        <div class="row create-list-news-slider">-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider01.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Đăng ký một nơi, kinh doanh một nẻo có bị phạt không?</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider02.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Những lưu ý khi đặt tên cho công ty mới</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider03.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Thành lập công ty cần bao nhiêu vốn?</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3" style="outline: none;">-->
<!--                <div class="create-list-news-item">-->
<!--                    <div class="btn-time center">28 THÁNG 02 - 2020</div>-->
<!--                    <p class="m-0"><img class="img-info" src="/assets/site/images/create_slider02.jpg"></p>-->
<!--                    <div class="title-info">-->
<!--                        <h4 style="line-height: 2.4rem">Những lưu ý khi đặt tên cho công ty mới</h4>-->
<!--                    </div>-->
<!--                    <div class="mission-txt">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="info-see-all">-->
<!--            <a href="#" style="text-decoration: underline;">Xem tất cả tin tức &gt;&gt;</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="bg-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="pc" style="font-weight: 400; line-height: 2.5rem; margin: 0">{{global.locale=='vi'?'Đừng bỏ lỡ 02 giờ tư vấn quý giá với luật sư ':'Đừng bỏ lỡ 02 giờ tư vấn quý giá với luật sư  aaa'}}<span style="text-decoration: line-through; font-size: 1.5rem; font-weight: 400">{{global.locale=='vi'?'(trị giá gốc 4,5 triệu đồng)':'(trị giá gốc 4,5 triệu đồng) aaa'}}</span>{{global.locale=='vi'?' trước khi thành lập doanh nghiệp':' trước khi thành lập doanh nghiệp aaa'}}</h4>
                <h4 class="sp center" style="font-weight: 400; line-height: 2.5rem; margin: 0">{{global.locale=='vi'?'Đừng bỏ lỡ 02 giờ tư vấn quý giá với luật sư ':'Đừng bỏ lỡ 02 giờ tư vấn quý giá với luật sư  aaa'}}<span style="text-decoration: line-through; font-size: 1.5rem; font-weight: 400">{{global.locale=='vi'?'(trị giá gốc 4,5 triệu đồng)':'(trị giá gốc 4,5 triệu đồng) aaa'}}</span>{{global.locale=='vi'?' trước khi thành lập doanh nghiệp':' trước khi thành lập doanh nghiệp aaa'}}</h4>
            </div>
            <div class="col-md-5">
                <div class="text-right pc">
                    <button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'TƯ VẤN CHO TÔI aaa'}}</button>
                </div>
                <div class="sp center" style="margin-top: 2rem;">
                    <button onclick="$('#ktdnform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'TƯ VẤN CHO TÔI aaa'}}</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade form-smooth" id="ktdnform1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="form-close" data-dismiss="modal">&times;</button>
                    <form>
                        <div class="form-group">
                            <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Họ tên *">
                            <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Bắt buộc nhập họ tên. aaa'}}</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="Số điện thoại *"/>
                            <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Bắt buộc nhập số điện thoại hợp lệ. aaa'}}</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                            <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Bắt buộc nhập email hợp lệ. aaa'}}</small></i>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{global.locale=='vi'?'Dịch vụ pháp lý yêu cầu tư vấn*':'Dịch vụ pháp lý yêu cầu tư vấn* aaa'}}</label>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="tvtt" value="Tư vấn trực tiếp với luật sư">
                                            <label class="form-check-label" for="tvtt">{{global.locale=='vi'?'Tư vấn trực tiếp với luật sư':'Tư vấn trực tiếp với luật sư aaa'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkdvn" value="Đăng ký kinh doanh công ty 100% vốn Việt Nam">
                                            <label class="form-check-label" for="dkkdvn">{{global.locale=='vi'?'Đăng ký kinh doanh công ty 100% vốn Việt Nam':'Đăng ký kinh doanh công ty 100% vốn Việt Nam aaa'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkdnn" value="Đăng ký đầu tư công ty vốn nước ngoài">
                                            <label class="form-check-label" for="dkkdnn">{{global.locale=='vi'?'Đăng ký đầu tư công ty vốn nước ngoài':'Đăng ký đầu tư công ty vốn nước ngoài aaa'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="orther" value="Khác">
                                            <label class="form-check-label" for="orther">{{global.locale=='vi'?'Khác':'Khác aaa'}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="5" placeholder="Nhập câu hỏi mô tả tình trạng công ty bạn tại đây"></textarea>
                        </div>
                    </form>
                    <div class="form-button">
                        <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Gửi yêu cầu aaa'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
