<section id="suitable" style="position: relative;">
    <img style="width: 14%;
    position: absolute;
    bottom: 0; left: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg2.svg">
    <img style="width: 14%;
    position: absolute;
    top: 0; right: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg1.svg">
    <div class="container-fluid sub-fluid">

        <div class="row">
            <div class="col-md-12 center">
                <h1 class="">
                    Lựa chọn gói phí xử lý tranh chấp phù hợp
                </h1>
                <p class="sub-content center">
                    Mỗi một tranh chấp sẽ có một tình trạng khác nhau. Dựa vào hồ sơ do khách hàng cung cấp và các tài
                    liệu thu thập, chúng tôi sẽ đưa ra phương án xử lý thích hợp.

                    Bạn cũng có thể tham khảo các mức phí niêm yết và hướng dẫn khuyên dùng từ Asoka Law để lựa chọn
                    phương thức giải quyết phù hợp.
                </p>
            </div>

        </div>
        <div class="row sub">
            <div class="col-md-4">
                <div class="box">
                    <div class="block-one">
                        <div class="title-block center">
                            <h4>Gói thương lượng</h4>
                            <hr>
                        </div>
                        <p><b>Khuyên dùng với</b></p>
                        <p style="font-weight: 400;min-height: 105px; text-align: justify">
                            Mâu thuẫn ở mức độ nhẹ. Khách hàng
                            nhận định các bên có thể ngồi lại đàm
                            phán phương án giải quyết với nhau.
                        </p>
                        <p style=" margin-bottom: 30px"><i style="font-weight: 100;">*Giá phí từ <b>15.000.000</b>
                            vnđ</i></p>
                        <div class="footer-block center">
                            <button (click)="onChangePackage('Gói thương lượng')" class="btn btn-outline-warning sub-button">Yêu cầu tư vấn miễn phí</button>
                            <br>
                            <i class="security">*Cam kết bảo mật thông tin</i>
                        </div>
                        <div class="d-block d-md-none" style="width: 100%; text-align: right;"><a class="more-suitable"
                                                                                                  href="#partone"
                                                                                                  data-toggle="collapse"
                                                                                                  role="button"
                                                                                                  aria-expanded="false">Xem
                            chi
                            tiết <i class="fa fa-chevron-down"></i></a></div>
                    </div>
                    <div class="d-none d-md-block">
                        <hr>
                        <div class="block-two">
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Thu
                                thập,
                                phân tích chứng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Đề
                                xuất
                                phương án xử lý </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Soạn
                                thảo
                                đơn thư yêu cầu </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Đại
                                diện
                                đàm phán các bên </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Theo
                                dõi
                                tiến trình thực </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Nhận,
                                trả
                                kết quả vụ việc </p>
                        </div>
                        <hr>
                        <div class="block-three">
                            <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                            <p class="result-block">Kết quả:</p>
                            <p><i>Biên bản xác nhận các bên đạt
                                được thỏa thuận, tranh chấp kết
                                thúc.</i></p>
                        </div>
                    </div>
                    <div class="collapse collapsed" id="partone">
                        <hr>
                        <div class="block-two">
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Thu
                                thập,
                                phân tích chứng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Đề
                                xuất
                                phương án xử lý </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Soạn
                                thảo
                                đơn thư yêu cầu </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Đại
                                diện
                                đàm phán các bên </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Theo
                                dõi
                                tiến trình thực </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Nhận,
                                trả
                                kết quả vụ việc </p>
                        </div>
                        <hr>
                        <div class="block-three">
                            <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                            <p class="result-block">Kết quả:</p>
                            <p><i>Biên bản xác nhận các bên đạt
                                được thỏa thuận, tranh chấp kết
                                thúc.</i></p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="block-one">
                        <div class="title-block center">
                            <h4>Gói tranh tụng</h4>
                            <hr>
                        </div>
                        <p><b>Khuyên dùng với</b></p>
                        <p style="font-weight: 400;min-height: 105px; text-align: justify">
                            Mâu thuẫn ở mức độ nghiêm trọng.
                            Khách hàng nhận định các bên không thể
                            tự đàm phán. Cần có Cơ quan Tòa án đưa
                            ra phán quyết cuối cùng.
                        </p>
                        <p style=" margin-bottom: 30px"><i style="font-weight: 100;">*Giá phí từ <b>30.000.000</b>
                            vnđ</i></p>
                        <div class="footer-block center">
                            <button (click)="onChangePackage('Gói tranh tụng')" class="btn btn-outline-warning sub-button">Yêu cầu tư vấn miễn phí</button>
                            <br>
                            <i class="security">*Cam kết bảo mật thông tin</i>
                        </div>
                        <div class="d-block d-md-none" style="width: 100%; text-align: right;"><a class="more-suitable"
                                                                                                  href="#parttwo"
                                                                                                  data-toggle="collapse"
                                                                                                  role="button"
                                                                                                  aria-expanded="false">Xem
                            chi
                            tiết <i class="fa fa-chevron-down"></i></a></div>
                    </div>
                    <div class="d-none d-md-block">
                        <hr>
                        <div class="block-two">
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Thu
                                thập, phân tích chứng cứ </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Soạn
                                thảo hồ sơ khởi kiện </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Liên
                                hệ đương sự liên quan </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Tham
                                gia các phiên triệu tập </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Luật
                                sư thực hiện tranh tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Theo
                                dõi tiến trình tố tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Nhận,
                                trả kết quả bản án </p>

                        </div>
                        <hr>
                        <div class="block-three">
                            <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                            <p class="result-block">Kết quả:</p>
                            <p><i>Quyết định/bản án có hiệu lực
                                pháp luật về việc xét xử tranh chấp
                                giữa các bên</i></p>
                        </div>
                    </div>
                    <div class="collapse collapsed" id="parttwo">
                        <hr>
                        <div class="block-two">
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Thu
                                thập, phân tích chứng cứ </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Soạn
                                thảo hồ sơ khởi kiện </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Liên
                                hệ đương sự liên quan </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Tham
                                gia các phiên triệu tập </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Luật
                                sư thực hiện tranh tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Theo
                                dõi tiến trình tố tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 26.svg">
                                Nhận,
                                trả kết quả bản án </p>

                        </div>
                        <hr>
                        <div class="block-three">
                            <img style="position: absolute;
    width: 43%;
    bottom: 33px;
    right: -34px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq1.svg">
                            <p class="result-block">Kết quả:</p>
                            <p><i>Quyết định/bản án có hiệu lực
                                pháp luật về việc xét xử tranh chấp
                                giữa các bên</i></p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="box pro shadow-lg">
                    <img style="width: 26%;
    position: absolute;
    top: -2px;
    right: 0px;
}" src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 38.svg">
                    <div class="block-one">
                        <div class="title-block center">
                            <h4>Gói toàn diện</h4>
                            <hr>
                        </div>
                        <p><b>Khuyên dùng với</b></p>
                        <p style="font-weight: 400;min-height: 105px; text-align: justify">
                            Khách hàng muốn ủy thác toàn quyền
                            cho Luật sư quyết định các phương án
                            phù với thực trạng, diễn biến của bên
                            tranh chấp.
                        </p>
                        <p style=" margin-bottom: 30px"><i style="font-weight: 100;">*Giá phí từ <b>40.000.000</b>
                            vnđ</i></p>
                        <div class="footer-block center">
                            <button (click)="onChangePackage('Gói toàn diện')" class="btn btn-outline-warning sub-button">Yêu cầu tư vấn miễn phí</button>
                            <br>
                            <i class="security">*Cam kết bảo mật thông tin</i>
                        </div>
                        <div class="d-block d-md-none" style="width: 100%; text-align: right;"><a class="more-suitable"
                                                                                                  href="#partthree"
                                                                                                  data-toggle="collapse"
                                                                                                  role="button"
                                                                                                  aria-expanded="false">Xem
                            chi
                            tiết <i class="fa fa-chevron-down"></i></a></div>
                    </div>
                    <div class="d-none d-md-block">
                        <hr>
                        <div class="block-two">
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Thu
                                thập, phân tích chứng cứ </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Đề
                                xuất phương án xử lý </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Soạn
                                thảo đơn thư yêu cầu </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Đại
                                diện đàm phán các bên </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Soạn
                                thảo hồ sơ khởi kiện </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Liên
                                hệ đương sự liên quan </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Tham
                                gia các phiên triệu tập </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Luật
                                sư thực hiện tranh tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Theo
                                dõi tiến trình tố tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Nhận,
                                trả kết quả bản án </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Theo
                                dõi thủ tục thi hành án </p>

                        </div>
                        <hr>
                        <div class="block-three">
                            <img style="position: absolute;
    width: 34%;
    bottom: 28px;
    right: -12px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq2.svg">
                            <p class="result-block">Kết quả:</p>
                            <p><i>Biên bản xác nhận các bên đạt được
                                thỏa thuận, tranh chấp kết thúc hoặc
                                quyết định/bản án có hiệu lực pháp
                                luật về việc xét xử tranh chấp giữa
                                các bên</i></p>
                        </div>
                    </div>
                    <div class="collapse collapsed" id="partthree">
                        <hr>
                        <div class="block-two">
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Thu
                                thập, phân tích chứng cứ </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Đề
                                xuất phương án xử lý </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Soạn
                                thảo đơn thư yêu cầu </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Đại
                                diện đàm phán các bên </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Soạn
                                thảo hồ sơ khởi kiện </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Liên
                                hệ đương sự liên quan </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Tham
                                gia các phiên triệu tập </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Luật
                                sư thực hiện tranh tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Theo
                                dõi tiến trình tố tụng </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Nhận,
                                trả kết quả bản án </p>
                            <p><img class="icon-block"
                                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">
                                Theo
                                dõi thủ tục thi hành án </p>

                        </div>
                        <hr>
                        <div class="block-three">
                            <img style="position: absolute;
    width: 34%;
    bottom: 28px;
    right: -12px;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/kq2.svg">
                            <p class="result-block">Kết quả:</p>
                            <p><i>Biên bản xác nhận các bên đạt được
                                thỏa thuận, tranh chấp kết thúc hoặc
                                quyết định/bản án có hiệu lực pháp
                                luật về việc xét xử tranh chấp giữa
                                các bên</i></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- <Change> -->
        <div class="call row" style="margin-top: 3rem;">
            <div class="col-md-2 d-none d-md-block">
                <div class="step-hr">
                    <hr>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 call-mobile">
                <a href="tel:0961914328">
                    <div style="display: flex;margin: auto;text-align: center;width: fit-content;">
                        <img src="/assets/media/PLTX/effect/Asset%2010.svg">
                        <p>Tư vấn giải quyết tranh chấp miễn phí: 096 191 4328</p></div>
                </a>
            </div>
            <div class="col-md-2 d-none d-md-block">
                <div class="step-hr">
                    <hr class="right">
                </div>
            </div>
        </div>
        <!-- </Change> -->
    </div>
</section>
