<div class="container">
  <div class="row">
    <div class="col-md-4"><h1 class="padding-header">Đề xuất các gói phí từ Asoka Law</h1>
      <p style="padding-bottom: 30px" class="d-none d-md-block">Dịch vụ đăng ký kinh doanh có mức giá khởi điểm chỉ 1,8 triệu đồng/4 hạng mục cho gói Cơ bản và từ 6 triệu đồng/12 hạng mục cho gói Toàn diện.</p>
      <p style="padding-bottom: 2rem" class="d-block d-md-none text-center">Dịch vụ đăng ký kinh doanh có mức giá khởi điểm chỉ 1,8 triệu đồng/4 hạng mục cho gói Cơ bản và từ 6 triệu đồng/12 hạng mục cho gói Toàn diện.</p>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="service-content  shadow-lg" style="    margin-top: 50px; border-radius: 15px; padding: 40px 40px;background: #fff"><h3 style="font-weight: bold; color: #ffa812; font-size: 22px; font-family:'Montserrat';">GÓI CƠ BẢN</h3><br>
        <div><p class="align-left" style="font-size: 40px; padding-bottom: 20px"><span style="font-size: 12px;font-weight: 200;position: relative;top: -22px; padding-right: 5px">Từ</span>1.800.000 <span class="sub-title">VNĐ</span></p></div>
        <div class="price-ul">
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/tu-van-so-bo-voi-nhan-vien-phap-ly.jpg">Tư vấn sơ bộ với chuyên viên pháp lý</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/giay-chung-nhan-dang-ky-kinh-doanh.jpg">Giấy chứng nhận đăng ký kinh doanh</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/cong-bo-thong-tin-doanh-nghiep.jpg">Công bố thông tin doanh nghiệp</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/con-dau-cong-ty.jpg">Con dấu công ty</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Bảng hiệu nhỏ tiêu chuẩn</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Hỗ trợ đăng ký tài khoản ngân hàng cho doanh nghiệp</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Đăng ký chữ ký số doanh nghiệp (1 năm)</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Soạn thảo/ nộp và nhận hồ sơ đăng ký thuế ban đầu</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Hỗ trợ nộp thuế môn bài</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Hỗ trợ doanh nghiệp in hóa đơn giấy hoặc điện tử</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Lập sổ cổ đông/ thành viên góp vốn</div>
          <div class="price-li disabled"><span class=" icon"> <img src="/assets/media/DKKD/cac-goi-phi/Asset 5.svg"></span>Lập chứng nhận cổ phần/ vốn góp</div>
        </div>
        <div class="center button-type">
          <button class="btn btn-outline-warning" onclick="modalShow('package','starter4', null, '3', 'type_company')">Đăng ký ngay</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-content  shadow-lg" style="    margin-top: 50px; border-radius: 15px; padding: 40px 40px; background-color: #fff1ea;">
        <div style="top: 50px; right: 15px;" class="banner-small"><img src="/assets/media/PLTX/service/Asset4.svg"></div>
        <h3 style="font-weight: bold; color: #ffa812; font-size: 22px; font-family:'Montserrat';">GÓI TOÀN DIỆN</h3><br>
        <div><p class="align-left" style="font-size: 40px; padding-bottom: 20px"><span style="font-size: 12px;font-weight: 200;position: relative;top: -22px; padding-right: 5px">Từ</span>6.000.000 <span class="sub-title">VNĐ</span></p></div>
        <div class="price-ul">
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/tu-van-so-bo-voi-nhan-vien-phap-ly.jpg">Tư vấn sơ bộ với chuyên viên pháp lý</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/giay-chung-nhan-dang-ky-kinh-doanh.jpg">Giấy chứng nhận đăng ký kinh doanh</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/cong-bo-thong-tin-doanh-nghiep.jpg">Công bố thông tin doanh nghiệp</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/con-dau-cong-ty.jpg">Con dấu công ty</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/bang-hieu-nho-tieu-chuan.jpg">Bảng hiệu nhỏ tiêu chuẩn</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/ho-tro-dang-ky-tai-khoan-ngan-hang-cho-doanh-nghiep.jpg">Hỗ trợ đăng ký tài khoản ngân hàng cho doanh nghiệp</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/dang-ky-chu-ky-so-doanh-nghiep.jpg">Đăng ký chữ ký số doanh nghiệp (1 năm)</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/soan-thao-nop-va-nhan-ho-so-dang-ky-thue-ban-dau.jpg">Soạn thảo/ nộp và nhận hồ sơ đăng ký thuế ban đầu</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/ho-tro-nop-thue-mon-bai.jpg">Hỗ trợ nộp thuế môn bài</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/ho-tro-doanh-nghiep-in-hoa-don-giay-hoac-dien-tu.jpg">Hỗ trợ doanh nghiệp in hóa đơn giấy hoặc điện tử</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/lap-so-co-dong.jpg">Lập sổ cổ đông/ thành viên góp vốn</div>
          <div class="price-li"><span class=" icon"><img src="/assets/media/DKKD/cac-goi-phi/Asset 8.svg"></span><img src="/assets/media/DKKD/cac-goi-phi/hang-muc-bao-gia/lap-chung-nhan-co-phan.jpg">Lập chứng nhận cổ phần/ vốn góp</div>
        </div>
        <div class="center button-type">
          <button class="btn btn-warning " onclick="modalShow('package','starter5', null, '3', 'type_company')" style="color: white">Đăng ký ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
