<section id="recognize">
    <div class="container-fluid sub-fluid">
        <div class="row">
            <div class="col-md-12 center sub">
                <h1 class="sub-content">
                    {{global.locale=='vi'?'Nhận diện tranh chấp từ khi khởi phát':'Identifying disputes right from starting'}}
                </h1>
                <p class="sub-content" style="text-align: center;">
                    {{global.locale=='vi'?'Tranh chấp thường khởi đầu từ mâu thuẫn. Mâu thuẫn không được xử lý kịp thời, dễ dàng dẫn đến tranh\n' +
                    '                    chấp. Tại thời điểm mâu thuẫn bắt đầu trở nên nghiêm trọng, nên có luật sư can thiệp để giải quyết.\n' +
                    '                    Điều này giúp giảm thiểu đến trên 50% thiệt hại về tài sản và\n' +
                    '                    danh tiếng cho các bên.':'Disputes usually stem from conflicts which are not handled promptly. At the moment conflicts become serious, there should be a lawyer to resolve or handle. Lawyer intervention helps minimize parties property and reputation damage up to 50%.'}}
                </p>
            </div>

        </div>
        <div class="row sub">
            <div class="col-md-6">
                <img class="img-responsive" style="position: relative; top: -30px;"
                     src="/assets/media/GQTC/nhan_dien_tranh_chap/anh.jpg">
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-bottom: 1px; border-bottom: 1px solid #5e5e5e;
}
">
                    <li class="nav-item nav-custom">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ndn" role="tab"
                           aria-controls="home" aria-selected="true">{{global.locale=='vi'?'Ngoài doanh nghiệp':'Problems arising outside the business'}}</a>

                    </li>
                    <li class="nav-item nav-custom">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tdn" role="tab"
                           aria-controls="profile" aria-selected="false">{{global.locale=='vi'?'Trong doanh nghiệp':'Problem arising inside businesses'}}</a>

                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="ndn" role="tabpanel" aria-labelledby="home-tab">
                        <div id="accordion">
                            <div class="header_custom">
                                <div class="header-content" id="headingOne">

                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="icon-left tt"></i>{{global.locale=='vi'?'Đòi nợ - thanh toán':'Collecting debts/requiring payments'}}<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        {{global.locale=='vi'?'Việc yêu cầu thanh toán có thể xuất phát từ nhiều dạng thức như: doanh nghiệp\n' +
                                        '                                        đặt hàng, thanh toán tiền nhưng bên cung ứng không cung cấp; doanh nghiệp thực\n' +
                                        '                                        hiện dịch vụ nhưng khách hàng không thanh toán hoặc thanh toán không đủ phí dịch\n' +
                                        '                                        vụ; hành vi vay nợ giữa các doanh nghiệp nhưng không thanh toán;...':'Asking for payments can stem from different situations, such as: providers do not provide any goods or sevices after receiving our clients is payments; customers do not pay or fully pay after being provided with services from our clients; there are debts among parties but no payments..'}}
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingTwo">

                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                       aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="icon-left shtt"></i>{{global.locale=='vi'?'Sở hữu trí tuệ':'Intellectual Property'}}<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        {{global.locale=='vi'?'Hành vi xâm phạm sở hữu trí tuệ ngày càng phổ biến, thể hiện dưới các dạng thức\n' +
                                        '                                        như: thực hiện mua bán hàng hóa, dịch vụ dưới nhãn hiệu không được phép của chủ\n' +
                                        '                                        sở hữu; làm hàng nhái, hàng giả, kém chất lượng dưới kiểu dáng công nghiệp gây\n' +
                                        '                                        nhầm lẫn với các bên nổi tiếng; ăn cắp bản quyền tác phẩm nghệ thuật, kịch bản,\n' +
                                        '                                        ca khúc;...':'Intellectual property infringement is increasingly common, manifested in different forms such as: selling goods/ services under others is marks without authorization; producing fake, counterfeit, or poor quality goods under the industrial designs of famous brands; stealing copyrights from art works, scripts, and songs. '}}
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingThree">

                                    <a class="btn btn-link collapsed" data-toggle="collapse"
                                       data-target="#collapseThree"
                                       aria-expanded="true" aria-controls="collapseThree">
                                        <i class="icon-left hdbt"></i>{{global.locale=='vi'?'Hợp đồng - bồi thường':'Contract compensation'}}<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        {{global.locale=='vi'?'Vi phạm hợp đồng là việc một bên không thực hiện, thực hiện không đầy đủ hoặc\n' +
                                        '                                        thực hiện không đúng nghĩa vụ theo thoả thuận giữa các bên như: sai lệch khối\n' +
                                        '                                        lượng, số lượng mua bán hàng hóa; vi phạm chất lượng, tiến độ cung cứng dịch vụ;\n' +
                                        '                                        đáp ứng không đúng về các quy định trong nhượng quyền thương mại;...':'Contract violation means one party fail to implement/fully implement or properly implement obligations agreed between the two parties. There violations might be: differences in the quantity, quantity of goods purchased and sold; violations of service quality and schedule; improper response to franchise provisions, and so on. '}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tdn" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="accordionn">
                            <div class="header_custom">
                                <div class="header-content" id="headingOnee">

                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOnee"
                                       aria-expanded="true" aria-controls="collapseOnee">
                                        <i class="icon-left qlct"></i> {{global.locale=='vi'?'Tổ chức - quản lý công ty':'Enterprise organization and management '}}<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseOnee" class="collapse show" aria-labelledby="headingOnee"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        {{global.locale=='vi'?'Theo quy định của Luật Doanh Nghiệp và điều lệ công ty, chủ tịch thành viên/hội\n' +
                                        '                                        đồng quản trị sẽ có các phân vùng nhiệm vụ công việc khác với giám đốc/tổng giám\n' +
                                        '                                        đốc hay thành viên khác. Tuy nhiên trong quá trình hoạt động, nhiều doanh nghiệp\n' +
                                        '                                        gặp phải tình trạng thành viên thực hiện sai lệch hoặc quá giới hạn phạm vi phân\n' +
                                        '                                        quyền gây nên thiệt hại cho doanh nghiệp.':'According to the provisions of the Law on Enterprises and the company is charter, chairmans of board of members / board of directors will have different duties compared to directors/ general directors or other members. However, during operation, many businesses encounter the situation in which members perform improperply or exceed the scope of decentralization, causing damage to businesses.'}}
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingTwoo">

                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoo"
                                       aria-expanded="true" aria-controls="collapseTwoo">
                                        <i class="icon-left vgts"></i>{{global.locale=='vi'?'Vốn góp - tài sản':'Capital and asset contributions'}}<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseTwoo" class="collapse" aria-labelledby="headingTwoo"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        {{global.locale=='vi'?'Vấn đề góp vốn nếu không tuân thủ theo quy định của pháp luật, hoặc có các điều\n' +
                                        '                                        khoản thỏa thuận rõ ràng giữa các thành viên cũng sẽ dễ dàng dẫn đến tranh chấp.\n' +
                                        '                                        Điển hình như: thực hiện góp vốn không đúng tiến độ; góp không đủ; định giá sai\n' +
                                        '                                        vốn góp; thỏa thuận góp vốn bằng công sức hay tài sản trí tuệ nhưng không được\n' +
                                        '                                        công nhận thỏa đáng;...':'Disputes may arise if there are errors in capital contribution (not following legal regulations) or no clear terms/ agreements among members. For example: capital contribution behind schedule; insufficient contribution; wrong valuation of contributed capital; inadequate recognition when contributing capital through efforts or intellectual property (though agreed before by two parties);'}}
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingThreee">

                                    <a class="btn btn-link collapsed" data-toggle="collapse"
                                       data-target="#collapseThreee"
                                       aria-expanded="true" aria-controls="collapseThreee">
                                        <i class="icon-left sdld"></i>{{global.locale=='vi'?'Sử dụng lao động':'Use of labor'}}<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseThreee" class="collapse" aria-labelledby="headingThreee"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        {{global.locale=='vi'?'Một số vấn đề về lao động thường xảy ra đối với doanh nghiệp như: kỷ luật, cách\n' +
                                        '                                        chức, thuyên chuyển, sa thải lao động không đúng theo quy trình, hoặc không thực\n' +
                                        '                                        hiện đầy đủ theo thủ tục của Luật Lao Động. Tại thời điểm xảy ra mẫu thuẫn, nếu\n' +
                                        '                                        doanh nghiệp không được Luật sư tư vấn kịp thời nhằm xử lý khéo léo quá trình\n' +
                                        '                                        thương lượng nội bộ thì có thể sẽ đến tranh chấp tại Tòa án.':'Common labor problems which often occur among enterprises are: improper employee warnings, dismissals, transfers, and layoffs, not following the procedures stated in the Labor Law. If conflicts happen, if the enterprise is not promptly consulted by a lawyer to skillfully handle the internal negotiation process, further disputes may arise in court.'}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="center">
                    <button onclick="$('#gqtcform1').modal('show')" class="btn btn-warning sub-button">{{global.locale=='vi'?'Đăng ký nhận tư vấn':'Book consultation'}}</button>
                    <br>
                    <i class="security"><span>*</span>{{global.locale=='vi'?'Cam kết bảo mật thông tin':'* Non-disclosure Agreement'}}</i>
                </div>

            </div>
        </div>
    </div>

</section>
