<section id="recognize">
    <div class="container-fluid sub-fluid">
        <div class="row">
            <div class="col-md-12 center sub">
                <h1 class="sub-content">
                    Nhận diện tranh chấp từ khi khởi phát
                </h1>
                <p class="sub-content">
                    Tranh chấp thường khởi đầu từ mâu thuẫn. Mâu thuẫn không được xử lý kịp thời, dễ dàng dẫn đến tranh
                    chấp. Tại thời điểm mâu thuẫn bắt đầu trở nên nghiêm trọng, nên có luật sư can thiệp để giải quyết.
                    Điều này giúp giảm thiểu đến trên 50% thiệt hại về tài sản và
                    danh tiếng cho các bên.
                </p>
            </div>

        </div>
        <div class="row sub">
            <div class="col-md-6">
                <img class="img-responsive" style="position: relative; top: -30px;"
                     src="/assets/media/GQTC/nhan_dien_tranh_chap/anh.jpg">
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-bottom: 1px; border-bottom: 1px solid #5e5e5e;
}
">
                    <li class="nav-item nav-custom">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ndn" role="tab"
                           aria-controls="home" aria-selected="true">Ngoài doanh nghiệp</a>

                    </li>
                    <li class="nav-item nav-custom">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tdn" role="tab"
                           aria-controls="profile" aria-selected="false">Trong doanh nghiệp</a>

                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="ndn" role="tabpanel" aria-labelledby="home-tab">
                        <div id="accordion">
                            <div class="header_custom">
                                <div class="header-content" id="headingOne">

                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="icon-left tt"></i>Đòi nợ - thanh toán<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        Việc yêu cầu thanh toán có thể xuất phát từ nhiều dạng thức như: doanh nghiệp
                                        đặt hàng, thanh toán tiền nhưng bên cung ứng không cung cấp; doanh nghiệp thực
                                        hiện dịch vụ nhưng khách hàng không thanh toán hoặc thanh toán không đủ phí dịch
                                        vụ; hành vi vay nợ giữa các doanh nghiệp nhưng không thanh toán;...
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingTwo">

                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                       aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="icon-left shtt"></i>Sở hữu trí tuệ<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        Hành vi xâm phạm sở hữu trí tuệ ngày càng phổ biến, thể hiện dưới các dạng thức
                                        như: thực hiện mua bán hàng hóa, dịch vụ dưới nhãn hiệu không được phép của chủ
                                        sở hữu; làm hàng nhái, hàng giả, kém chất lượng dưới kiểu dáng công nghiệp gây
                                        nhầm lẫn với các bên nổi tiếng; ăn cắp bản quyền tác phẩm nghệ thuật, kịch bản,
                                        ca khúc;...
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingThree">

                                    <a class="btn btn-link collapsed" data-toggle="collapse"
                                       data-target="#collapseThree"
                                       aria-expanded="true" aria-controls="collapseThree">
                                        <i class="icon-left hdbt"></i>Hợp đồng - bồi thường<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        Vi phạm hợp đồng là việc một bên không thực hiện, thực hiện không đầy đủ hoặc
                                        thực hiện không đúng nghĩa vụ theo thoả thuận giữa các bên như: sai lệch khối
                                        lượng, số lượng mua bán hàng hóa; vi phạm chất lượng, tiến độ cung cứng dịch vụ;
                                        đáp ứng không đúng về các quy định trong nhượng quyền thương mại;...a
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tdn" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="accordionn">
                            <div class="header_custom">
                                <div class="header-content" id="headingOnee">

                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOnee"
                                       aria-expanded="true" aria-controls="collapseOnee">
                                        <i class="icon-left qlct"></i>Tổ chức - quản lý công ty<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseOnee" class="collapse show" aria-labelledby="headingOnee"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        Theo quy định của Luật Doanh Nghiệp và điều lệ công ty, chủ tịch thành viên/hội
                                        đồng quản trị sẽ có các phân vùng nhiệm vụ công việc khác với giám đốc/tổng giám
                                        đốc hay thành viên khác. Tuy nhiên trong quá trình hoạt động, nhiều doanh nghiệp
                                        gặp phải tình trạng thành viên thực hiện sai lệch hoặc quá giới hạn phạm vi phân
                                        quyền gây nên thiệt hại cho doanh nghiệp.
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingTwoo">

                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoo"
                                       aria-expanded="true" aria-controls="collapseTwoo">
                                        <i class="icon-left vgts"></i>Vốn góp - tài sản<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseTwoo" class="collapse" aria-labelledby="headingTwoo"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        Vấn đề góp vốn nếu không tuân thủ theo quy định của pháp luật, hoặc có các điều
                                        khoản thỏa thuận rõ ràng giữa các thành viên cũng sẽ dễ dàng dẫn đến tranh chấp.
                                        Điển hình như: thực hiện góp vốn không đúng tiến độ; góp không đủ; định giá sai
                                        vốn góp; thỏa thuận góp vốn bằng công sức hay tài sản trí tuệ nhưng không được
                                        công nhận thỏa đáng;...
                                    </div>
                                </div>
                            </div>
                            <div class="header_custom">
                                <div class="header-content" id="headingThreee">

                                    <a class="btn btn-link collapsed" data-toggle="collapse"
                                       data-target="#collapseThreee"
                                       aria-expanded="true" aria-controls="collapseThreee">
                                        <i class="icon-left sdld"></i>Sử dụng lao động<i class="icon-right"></i>
                                    </a>

                                </div>

                                <div id="collapseThreee" class="collapse" aria-labelledby="headingThreee"
                                     data-parent="#accordionn">
                                    <div class="card-body">
                                        Một số vấn đề về lao động thường xảy ra đối với doanh nghiệp như: kỷ luật, cách
                                        chức, thuyên chuyển, sa thải lao động không đúng theo quy trình, hoặc không thực
                                        hiện đầy đủ theo thủ tục của Luật Lao Động. Tại thời điểm xảy ra mẫu thuẫn, nếu
                                        doanh nghiệp không được Luật sư tư vấn kịp thời nhằm xử lý khéo léo quá trình
                                        thương lượng nội bộ thì có thể sẽ đến tranh chấp tại Tòa án.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="center">
                    <button onclick="$('#gqtcform1').modal('show')" class="btn btn-warning sub-button">Đăng ký nhận tư vấn</button>
                    <br>
                    <i class="security"><span>*</span>Cam kết bảo mật thông tin</i>
                </div>

            </div>
        </div>
    </div>

</section>
