<div class="modal fade" id="tvlsform3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button (click)="closeModal()" type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-x: hidden">
                <div class="form-group">
                    <input autocomplete="off" (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ và tên *':'Full name *'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name.'}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Phone number *'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number.'}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address.'}}</small></i>
                </div>
                <div class="row" style="margin-bottom: 15px">
                    <div class="col-4 vertical-middle">
                        <label style="margin-bottom: 0">{{global.locale=='vi'?'Số lượng câu hỏi: ':'Number of questions: '}}</label>
                    </div>
                    <div class="col-4 vertical-middle">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button [disabled]="numberQuestion==1" (click)="numberQuestion=numberQuestion-1;total=numberQuestion*500000" style="background: #e9ecef;border:solid 1px #acacac" class="btn btn-outline-secondary" type="button">-</button>
                            </div>
                            <input [(ngModel)]="numberQuestion" name="numberQuestion" style="border: solid 1px #acacac;text-align: center" type="text" class="form-control" value="1" aria-describedby="basic-addon1" readonly>
                            <div class="input-group-append">
                                <button (click)="numberQuestion=numberQuestion+1;total=numberQuestion*500000" style="background: #e9ecef;border:solid 1px #acacac" class="btn btn-outline-secondary" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 vertical-middle">
                        {{global.locale=='vi'?'X 500.000 vnđ':'25 usd'}}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Nhập nội dung câu hỏi dự kiến của bạn':'Your questions'}}</label>
                    <textarea
                            placeholder="{{global.locale=='vi'?'Bạn vui lòng điền câu hỏi ở đây. Nội dung câu hỏi càng cụ thể, câu trả lời bạn nhận được từ luật sư/cố vấn càng rõ ràng. &#x0a; Ví dụ: &#x0a; 1. Tôi muốn được tư vấn về thủ tục thành lập công ty cổ phần. &#x0a; 2. Sau khi thành lập công ty, tôi muốn mở chi nhánh thì làm thế nào? &#x0a; 3. Tôi muốn đăng ký nhãn hiệu của công ty thì cần điều kiện gì?':'Please type your questions here. The more specific the question is, the clearer the answer you will receive from our lawyers/specialists. &#x0a; For example: &#x0a; 1. Consult me on the procedures of joint-stock company establishment. &#x0a; 2. After establishment, what should I do if I want to set up a branch office? &#x0a; 3. Consulte me on the requirements of company trademark registration.'}}"
                            rows="6" class="form-control tvlstextareaform" [(ngModel)]="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    {{global.locale=='vi'?'Tài liệu đính kèm:':'Attachment:'}}
                    <button *ngIf="!attachment" style="margin-bottom: 5px;color: #0f74a8;text-decoration: underline" class="btn" type="button" (click)="fileInput1.click()">
                        <span style="color: #0f74a8" class="far fa-paperclip"></span>{{global.locale=='vi'?' tải lên tại đây':' upload here'}}
                        <input #fileInput1 type="file" (change)="onSelectFile($event)" style="display:none;"/>
                    </button>
                    <ng-container *ngIf="attachment">
                        {{attachmentName}}
                        <span (click)="onRemoveSelectedFile()" class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                    </ng-container>
                </div>
                <div class="form-group vertical-middle">
                    {{global.locale=='vi'?'Tạm tính: ':'Estimated fee: '}} <span style="color: #0f74a8;font-size: 25px;font-weight: bold">{{total | number}} vnđ</span>
                </div>
                <p class="tvlstextareaform">{{global.locale=='vi'?'Chuyên viên của Asoka sẽ liên lạc với bạn ngay trong vòng 5 phút để xác nhận yêu cầu tư vấn.':'Asoka\'s specialists will contact you in 5 minutes to confirm the information registered'}}<br/>
                    {{global.locale=='vi'?'Bạn vui lòng kiểm tra tin nhắn điện thoại/email để không bỏ sót thông tin từ chúng tôi. Xin cảm ơn.':'Please check your phone, message or email box to not miss any information from us. Thank You!'}}</p>
                <div class="form-group">
                    <label>
                        <input (change)="checkTerm=!checkTerm" value="1" type="checkbox">
                        {{global.locale=='vi'?'Tôi đã đọc và đồng ý với các điều khoản':'I have read and accepted the terms and the conditions'}}
                        <span style="text-decoration: underline;color:#0f74a8;font-style: italic"><a href="/chinh-sach-khach-hang " target="_blank">{{global.locale=='vi'?'Xem chi tiết':'See details'}}</a></span>
                    </label><br/>
                    <i *ngIf="!checkTerm&&t"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc đồng ý với các điều khoản.':'Required to agree to the terms.'}}</small></i>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'SEND REQUEST NOW'}}</button>
            </div>
        </div>
    </div>
</div>
