<section id="statistical" class="sub">
  <div class="container">
    <div class="row d-none d-md-flex">
      <div class="">
        <div class="statistical-number">86</div>
        <hr>
        <div class="statistical-label">VỤ VIỆC ĐÃ ĐẠI DIỆN</div>
      </div>
      <div class="">
        <div class="statistical-number">6890</div>
        <hr>
        <div class="statistical-label">GIỜ TƯ VẤN</div>
      </div>
      <div class="">
        <div class="statistical-number">3500</div>
        <hr>
        <div class="statistical-label">LƯỢT SỬ DỤNG DỊCH VỤ</div>
      </div>
    </div>
    <div class="row d-block d-md-none">
      <div class="list-slide-statical text-center">
        <div class="slide-item">
          <div class="statistical-number">86</div>
          <hr class="text-center">
          <div class="statistical-label">VỤ VIỆC ĐÃ ĐẠI DIỆN</div>
        </div>
        <div class="slide-item">
          <div class="statistical-number">6890</div>
          <hr class="text-center">
          <div class="statistical-label">GIỜ TƯ VẤN</div>
        </div>
        <div class="slide-item">
          <div class="statistical-number">3500</div>
          <hr class="text-center">
          <div class="statistical-label">LƯỢT SỬ DỤNG DỊCH VỤ</div>
        </div>
      </div>
    </div>
  </div>
</section>
