<section id="popular-consultant"
         style="background: url('/assets/media/TVLS/popular-consultant/bg.svg');background-size: 128%;
                 background-repeat: no-repeat;
                 background-position: center;">
    <div class="container-fluid">
        <div class="row pt-4" style="margin: auto">
            <div class="col-md-12"><h1 style="text-align: center; margin: auto">Lĩnh vực tư vấn phổ biến</h1></div>
        </div>
        <div class="row d-none d-md-flex" style="    margin: auto;width: 60%;">
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 18.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Doanh nghiệp')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;" type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 19.svg">
                        <p class="title-square">Sở hữu trí tuệ</p>
                        <p class="des-square">1.258 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Sở hữu trí tuệ')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 18.svg">
                        <p class="title-square">Tranh chấp thương mại</p>
                        <p class="des-square">296 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Tranh chấp thương mại')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row d-none d-md-flex" style="    margin: auto;width: 60%;">

            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 20.svg">
                        <p class="title-square">Đăng ký đầu tư</p>
                        <p class="des-square">928 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Đăng ký đầu tư')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 21.svg">
                        <p class="title-square">Lao động - nhân sự</p>
                        <p class="des-square">828 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Lao động - nhân sự')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 22.svg">
                        <p class="title-square">Sự kiện - truyền thông</p>
                        <p class="des-square">890 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Sự kiện - truyền thông')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row d-none d-md-flex" style="    margin: auto;width: 60%;">

            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 23.svg">
                        <p class="title-square">Ngân hàng - bảo hiểm</p>
                        <p class="des-square">258 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Ngân hàng - bảo hiểm')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 24.svg">
                        <p class="title-square">Định cư - du học</p>
                        <p class="des-square">149 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Định cư - du học')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 25.svg">
                        <p class="title-square">Lĩnh vực khác</p>
                        <p class="des-square">228 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Lĩnh vực khác')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row slick-consultant d-block d-md-none" style="margin: auto">
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 18.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Doanh nghiệp')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 19.svg">
                        <p class="title-square">Sở hữu trí tuệ</p>
                        <p class="des-square">1.258 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Sở hữu trí tuệ')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 18.svg">
                        <p class="title-square">Tranh chấp thương mại</p>
                        <p class="des-square">296 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Tranh chấp thương mại')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 20.svg">
                        <p class="title-square">Đăng ký đầu tư</p>
                        <p class="des-square">928 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Đăng ký đầu tư')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 21.svg">
                        <p class="title-square">Lao động - nhân sự</p>
                        <p class="des-square">828 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Lao động - nhân sự')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 22.svg">
                        <p class="title-square">Sự kiện - truyền thông</p>
                        <p class="des-square">890 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Sự kiện - truyền thông')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 23.svg">
                        <p class="title-square">Ngân hàng - bảo hiểm</p>
                        <p class="des-square">228 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Ngân hàng - bảo hiểm')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 24.svg">
                        <p class="title-square">Định cư - du học</p>
                        <p class="des-square">149 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Định cư - du học')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square"
                             src="/assets/media/TVLS/popular-consultant/Asset 25.svg">
                        <p class="title-square">Lĩnh vực khác</p>
                        <p class="des-square">228 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button (click)="click('Lĩnh vực khác')" class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="    margin: auto;width: 60%;">
            <div class="col-md-12" style="text-align: center;">
                <button (click)="click('0')" class=" btn btn-warning padding" style="color: white;margin-top: 10%;color: white;"
                        type="button">Đặt lịch tư vấn
                </button>
            </div>
        </div>
    </div>


</section>
