<section id="reason" style="margin-bottom: 3rem;">
  <div class="container-fluid">
    <h1 class="center" style="margin-bottom: 3rem;">{{global.locale=='vi'?'03 lý do để vận hành doanh nghiệp cùng Asoka Law':'03 benefits of operating businesses with Asoka Law'}}</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="content-icon">
          <img style="width: 22px" src="/assets/media/DNT3N/ly-do/Asset 6.svg">
          <p class="alt-title">{{global.locale=='vi'?'Củng cố sức khỏe pháp lý':'Strengthening Legal Health'}}</p>
        </div>
        <div class="mission-txt">
          <p>{{global.locale=='vi'?'Kinh doanh là một quá trình. Pháp lý là điểm tựa xuyên suốt để vận hành kinh doanh không gặp trở ngại. Sau mỗi thủ tục, Asoka Law luôn gửi hướng dẫn chi tiết đến tận tay bạn để bạn có thể chuẩn bị tốt cho giai đoạn tiếp theo.':'Doing business is a process. Legal is the constant fulcrum to run businesses without obstacles. After each procedure, Asoka Law always sends detailed instructions to our clients, so they can prepare well for the next stage.'}}</p>
        </div>
        <div class="content-icon" style="margin-top: 20px">
          <img style="width: 22px" src="/assets/media/DNT3N/ly-do/Asset 6.svg">
          <p class="alt-title">{{global.locale=='vi'?'Đội ngũ chuyên gia hỗ trợ':'Supportive Experts'}}</p>
        </div>
        <div class="mission-txt">
          <p>{{global.locale=='vi'?'Chúng tôi là chuyên gia trong việc khởi tạo, vận hành và phát triển cho doanh nghiệp. Tất cả các dịch vụ chúng tôi cung cấp đều nhằm hỗ trợ cho doanh nghiệp đảm bảo về sức khỏe pháp lý để phát triển kinh doanh bền vững.':'We are experts in establishing, operating and developing businesses. All of the services we provide are to support businesses to ensure their legal health for sustainable business development.'}}</p>
        </div>
        <div class="content-icon" style="margin-top: 20px">
          <img style="width: 22px" src="/assets/media/DNT3N/ly-do/Asset 6.svg">
          <p class="alt-title">{{global.locale=='vi'?'1000+ doanh nghiệp đã tin dùng':'Trusted by 3000+ enterprises '}}</p>
        </div>
        <div class="mission-txt">
          <p>{{global.locale=='vi'?'Asoka Law chú trọng việc cung cấp chuỗi dịch vụ pháp lý cho các doanh nghiệp vừa và nhỏ. Chúng tôi thiết kế các dịch vụ tiết kiệm, thiết yếu và toàn diện. Các tiện ích đó khiến cho số lượng khách hàng của Asoka Law không ngừng tăng lên từ năm 2015 cho đến nay.':'Asoka Law focuses on providing services for small and medium sized enterprises (SMEs). We design cost-effective, essential and comprehensive services. These has constantly increased the number of Asoka Law\'s clients since 2015.'}}</p>
        </div>
      </div>
      <div class="col-md-5">
        <img data-toggle="modal" data-target="#modalVideo" style="max-width: 100%; cursor: pointer;" src="/assets/media/DNT3N/ly-do/thumbnail.png">
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="modalVideo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-youtube">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/7tz4Ya6gzG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>  
      </div>
    </div>
  </div>
</div>
