<section id="business-size" class="sub">
  <div class="container center">
    <div class="row title padding-record-title">
      <h1>{{global.locale=='vi'?'Chọn quy mô doanh nghiệp của bạn':'Choose the Scale of Your Company'}}</h1>
    </div>
    <div class="controller-tabs">
      <ul class="nav nav-tabs flex-center-hor">
        <li>
          <button class="row btn-tab flex-center-hor active" data-target="#menu1">
            <img src="/assets/media/PLTX/size/DN%2003.svg">
            <div>
              <p>{{global.locale=='vi'?'Doanh nghiệp':'Businesses'}}</p>
              <p>{{global.locale=='vi'?'tối đa 03 lao động':'up to 03 employees'}}</p>
            </div>
          </button>
        </li>
        <li>
          <button class="row btn-tab flex-center-hor" data-target="#menu2">
            <img src="/assets/media/PLTX/size/DN%206.svg">
            <div>
              <p>{{global.locale=='vi'?'Doanh nghiệp':'Businesses'}}</p>
              <p>{{global.locale=='vi'?'tối đa 06 lao động':'up to 06 employees'}}</p>
            </div>
          </button>
        </li>
        <li>
          <button class="row btn-tab flex-center-hor" data-target="#menu3">
            <img src="/assets/media/PLTX/size/DN%2010.svg">
            <div>
              <p>{{global.locale=='vi'?'Doanh nghiệp':'Businesses'}}</p>
              <p>{{global.locale=='vi'?'tối đa 10 lao động':'up to 10 employees'}}</p>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content sub">
    <div class="container">
      <div id="menu1" class="tab-pane center row" style="display: flex">
        <div class="col-md-4 tab-pan-img d-none d-md-block">
          <img src="/assets/media/PLTX/size/DN%2003.jpg">
          <div class="background-square"></div>
        </div>
        <div class="col-md-5 class tab-content-1 padding">
          <h6>{{global.locale=='vi'?'Ngành nghề & các vấn đề pháp lý thường gặp':'Field of Business'}}</h6>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#dvcntt-03">
              {{global.locale=='vi'?' Dịch vụ công nghệ thông tin':' Information Technology Service'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="dvcntt-03" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký bản quyền/sáng chế':' Patent/ Copyright Registration '}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng chuyển giao công nghệ':'Technology Transfer Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Miễn/giảm/hoàn thuế':' Tax Exemption/ Reduction/ Refund'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#dlpphh-03">
              {{global.locale=='vi'?' Đại lý/phân phối hàng hóa':' Goods Agents/ Distributors'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="dlpphh-03" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký lưu hành sản phẩm':' Product Circulation Registration'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng cung ứng hàng hóa':'  Goods Supply Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng phân phối độc quyền':'  Exclusive Distribution Contracts'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#mtttsk-03">
              {{global.locale=='vi'?'Marketing/Truyền thông/Sự kiện':'Marketing/ Media/ Events'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="mtttsk-03" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký bản quyền/nhãn hiệu':' Copyright/ Trademark Registration'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép tổ chức sự kiện':' Event Licenses '}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng hợp tác/tài trợ':'  Cooperation/ Sponsorship Contracts'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#gdvhgt-03">
              {{global.locale=='vi'?'Giáo dục/ Văn hóa/ Giải trí':'Education/ Culture/ Entertainment'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="gdvhgt-03" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép hoạt động trung tâm':' Center Operation Licenses'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng cung cấp dịch vụ':' Service Provision Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Quản lý lao động thuê ngoài':' Outsourced Labor Management '}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#auldyt-03">
              {{global.locale=='vi'?'Ăn uống/Làm đẹp/Y tế':'Food and Beverage/ Beauty/ Health Care'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="auldyt-03" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Công bố chất lượng sản phẩm':' Product Quality Publication'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép hoạt động dịch vụ':' Service Operation Licenses'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Vệ sinh an toàn thực phẩm':' Hygiene and Food Safety'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 class tab-content-1">
          <h6>{{global.locale=='vi'?'Nên sử dụng: Gói cơ bản':'Recommendation: Basic Package'}}</h6>
          <div class="tab-content-record">
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Tiết kiệm chi phí vận hành':'Save business operating costs'}}</p>
            </div>
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Cung cấp dịch vụ tư vấn cơ bản':'Providing basic consultation service'}}</p>
            </div>
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Phù hợp cho công ty mới thành lập':'Suitable for small start-up businesses '}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="menu2" class="tab-pane center row">
        <div class="col-md-4 tab-pan-img d-none d-md-block">
          <img src="/assets/media/PLTX/size/DN%2006.jpg">
          <div class="background-square"></div>
        </div>
        <div class="col-md-5 class tab-content-1 padding">
          <h6>{{global.locale=='vi'?'Ngành nghề & các vấn đề pháp lý thường gặp':'Field of Business'}}</h6>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#dvcntt-06">
              {{global.locale=='vi'?'Dịch vụ công nghệ thông tin':'Information Technology Service'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="dvcntt-06" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký bản quyền/sáng chế':' Patent/ Copyright Registration '}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng chuyển giao công nghệ':' Technology Transfer Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Miễn/giảm/hoàn thuế':' Tax Exemption/ Reduction/ Refund'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#dlpphh-06">
              {{global.locale=='vi'?'Đại lý/phân phối hàng hóa':'Goods Agents/ Distributors'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="dlpphh-06" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký lưu hành sản phẩm':' Product Circulation Registration'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng cung ứng hàng hóa':'  Goods Supply Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng phân phối độc quyền':' Exclusive Distribution Contracts'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#mtttsk-06">
              {{global.locale=='vi'?'Marketing/Truyền thông/Sự kiện':'Marketing/ Media/ Events'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="mtttsk-06" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký bản quyền/nhãn hiệu':'  Copyright/ Trademark Registration'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép tổ chức sự kiện':' Event Licenses '}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng hợp tác/tài trợ':' Cooperation/ Sponsorship Contracts'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#gdvhgt-06">
              {{global.locale=='vi'?'Giáo dục/Văn hóa/Giải trí':'Education/ Culture/ Entertainment'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="gdvhgt-06" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép hoạt động trung tâm':' Center Operation Licenses'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng cung cấp dịch vụ':' Service Provision Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Quản lý lao động thuê ngoài':' Outsourced Labor Management '}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#auldyt-06">
              {{global.locale=='vi'?'Ăn uống/Làm đẹp/Y tế':'Food and Beverage/ Beauty/ Health Care'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="auldyt-06" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Công bố chất lượng sản phẩm':' Product Quality Publication'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép hoạt động dịch vụ':' Service Operation Licenses'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Vệ sinh an toàn thực phẩm':' Hygiene and Food Safety'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 class tab-content-1">
          <h6>{{global.locale=='vi'?'Nên sử dụng: Gói toàn diện ':'Recommendation: Comprehensive Package'}}</h6>
          <div class="tab-content-record">
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Tư vấn chuyên sâu, tần suất thường xuyên':'In-depth counseling, regular frequency'}}</p>
            </div>
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Quản trị lao động chặt chẽ':'Proper & Throughout Labor Management'}}</p>
            </div>
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Hỗ trợ tối đa các vấn đề về thuế doanh nghiệp':'Maximum support for corporate tax issues'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="menu3" class="tab-pane center row">
        <div class="col-md-4 tab-pan-img d-none d-md-block">
          <img src="/assets/media/PLTX/size/DN%2010.jpg">
          <div class="background-square"></div>
        </div>
        <div class="col-md-5 class tab-content-1 padding">
          <h6>{{global.locale=='vi'?'Ngành nghề & các vấn đề pháp lý thường gặp':'Field of Business'}}</h6>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#dvcntt-10">
              {{global.locale=='vi'?'Dịch vụ công nghệ thông tin':'Information Technology Service'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="dvcntt-10" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký bản quyền/sáng chế':'  Patent/ Copyright Registration '}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng chuyển giao công nghệ':' Technology Transfer Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Miễn/giảm/hoàn thuế':' Tax Exemption/ Reduction/ Refund'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#dlpphh-10">
              {{global.locale=='vi'?'Đại lý/phân phối hàng hóa':'Goods Agents/ Distributors'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="dlpphh-10" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký lưu hành sản phẩm':'Product Circulation Registration'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng cung ứng hàng hóa':' Goods Supply Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng phân phối độc quyền':'  Exclusive Distribution Contracts'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#mtttsk-10">
              {{global.locale=='vi'?'Marketing/Truyền thông/Sự kiện':'Marketing/ Media/ Events'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="mtttsk-10" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Đăng ký bản quyền/nhãn hiệu':' Copyright/ Trademark Registration'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép tổ chức sự kiện':' Event Licenses '}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng hợp tác/tài trợ':' Cooperation/ Sponsorship Contracts'}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#gdvhgt-10">
              {{global.locale=='vi'?'Giáo dục/Văn hóa/Giải trí':'Education/ Culture/ Entertainment'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="gdvhgt-10" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép hoạt động trung tâm':' Center Operation Licenses'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Hợp đồng cung cấp dịch vụ':'  Service Provision Contracts'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Quản lý lao động thuê ngoài':' Outsourced Labor Management '}}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                    data-target="#auldyt-10">
              {{global.locale=='vi'?'Ăn uống/ Làm đẹp/Y tế':'Food and Beverage/ Beauty/ Health Care'}}
              <i class="fa fa-caret-down float-right"></i>
            </button>
            <div id="auldyt-10" class="collapse">
              <div class="list-rule">
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Công bố chất lượng sản phẩm':' Product Quality Publication'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Giấy phép hoạt động dịch vụ':' Service Operation Licenses'}}</p>
                <p><i class="fa fa-caret-right"></i>{{global.locale=='vi'?' Vệ sinh an toàn thực phẩm':'  Hygiene and Food Safety'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 class tab-content-1">
          <h6>{{global.locale=='vi'?'Nên sử dụng: Gói cộng sự':'Recommendation: Partner Package'}}</h6>
          <div class="tab-content-record">
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Quản trị lao động lên đến 10 lao động':'Labor management up to 10 employees'}}</p>
            </div>
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Tư vấn các hạng mục giấy phép chuyên biệt':'Consulting specialized license items'}}</p>
            </div>
            <div class="tab-record">
              <p class="unit-circle">{{global.locale=='vi'?'Luật sư hỗ trợ trực tiếp tại văn phòng':'Lawyers supporting directly at the office'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
