<section>
    <div class="container">
        <div class="row title padding-record-title title-bg">
            <h1>Quy trình làm việc <br class="sp"> tại Asoka Law</h1>
        </div>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl</p>
        <hr class="blue"/>
    </div>
</section>
<section id="procedure">
    <div class="container">
        <div class="procedure-content">
            <p class="procedure-line pc"></p>
            <div class="procedure-list">
                <div class="procedure-record pr-record01">
                    <p class="procedure-img"><img src="/assets/media/chnn/procedure_Asset 3.svg" alt="Tiếp nhận yêu cầu"></p>
                    <p class="procedure-txt pc"><span><img src="/assets/media/chnn/procedure_Asset 4.svg" alt="Bước 1"></span><span>Tiếp nhận yêu cầu</span></p>
                    <p class="procedure-txt sp"><span><img src="/assets/media/chnn/procedure_Asset04_mb.png" alt="Bước 1"></span><span>Tiếp nhận yêu cầu</span></p>
                    <p class="procedure-line-mb sp center" style="margin-bottom: 2rem;text-align: center"><img src="/assets/media/chnn/procedure_arrow_mb.png"></p>
                </div>
                <div class="procedure-record pr-record02 reverse">
                    <p class="procedure-img"><img src="/assets/media/chnn/procedure_Asset 5.svg" alt="Ký hợp đồng"></p>
                    <p class="procedure-txt pc"><span><img src="/assets/media/chnn/procedure_Asset 6.svg" alt="Bước 2"></span><span>Ký hợp đồng</span></p>
                    <p class="procedure-txt sp"><span><img src="/assets/media/chnn/procedure_Asset06_mb.png" alt="Bước 2"></span><span>Ký hợp đồng</span></p>
                    <p class="procedure-line-mb sp center" style="margin-bottom: 2rem;text-align: center"><img src="/assets/media/chnn/procedure_arrow_mb.png"></p>
                </div>
                <div class="procedure-record pr-record03">
                    <p class="procedure-img"><img src="/assets/media/chnn/procedure_Asset 8.svg" alt="Soạn thảo hồ sơ"></p>
                    <p class="procedure-txt pc"><span><img src="/assets/media/chnn/procedure_Asset 9.svg" alt="Bước 3"></span><span>Soạn thảo hồ sơ</span></p>
                    <p class="procedure-txt sp"><span><img src="/assets/media/chnn/procedure_Asset09_mb.png" alt="Bước 3"></span><span>Soạn thảo hồ sơ</span></p>
                    <p class="procedure-line-mb sp center" style="margin-bottom: 2rem;text-align: center"><img src="/assets/media/chnn/procedure_arrow_mb.png"></p>
                </div>
                <div class="procedure-record pr-record04 reverse">
                    <p class="procedure-img"><img src="/assets/media/chnn/procedure_Asset 11.svg" alt="Nộp và theo dõi hồ sơ"></p>
                    <p class="procedure-txt pc"><span><img src="/assets/media/chnn/procedure_Asset 10.svg" alt="Bước 4"></span><span>Nộp và theo dõi<br>hồ sơ</span></p>
                    <p class="procedure-txt sp"><span><img src="/assets/media/chnn/procedure_Asset10_mb.png" alt="Bước 4"></span><span>Nộp và theo dõi<br>hồ sơ</span></p>
                    <p class="procedure-line-mb sp center" style="margin-bottom: 2rem;text-align: center"><img src="/assets/media/chnn/procedure_arrow_mb.png"></p>
                </div>
            </div>
            <div class="procedure-record-last">
                <p class="procedure-txt pc"><span><img src="/assets/media/chnn/procedure_Asset 12.svg" alt="Bước 5"></span><span>Bàn giao kết quả</span></p>
                <p class="procedure-img"><img src="/assets/media/chnn/procedure_Asset 14.svg" alt="Bàn giao kết quả"></p>
                <p class="procedure-txt sp"><span><img src="/assets/media/chnn/procedure_Asset 12.svg" alt="Bước 5"></span><span>Bàn giao kết quả</span></p>

            </div>
        </div>
    </div>
</section>
<section id="guiline-block">
    <div class="container">
        <div class="clearfix">
            <div class="block-record">
                <h4 class="record-title">Bước 1: Tiếp nhận yêu cầu</h4>
                <div class="record-content">
                    <p>Sau khi tiếp nhận thông tin từ khách hàng, Chuyên viên Asoka Law sẽ nhanh chóng xác định vấn đề mà khách hàng gặp phải, đưa ra những tư vấn, góp ý sơ bộ. Với những câu hỏi tại lĩnh vực pháp lý chuyên ngành sâu hoặc và các vấn đề tranh chấp/tranh tụng, chúng tôi đề xuất khách
                        hàng sử dụng <a routerLink="/tu-van-luat-su" style="font-style: italic; color: #4BACF6;">Dịch vụ Tư Vấn Trực Tuyến</a> để chúng tôi có thể kết nối Quý vị tới Luật sư kinh nghiệm nhằm có phương án xử lý thích hợp nhất.</p>
                </div>
            </div>
            <div class="block-record">
                <h4 class="record-title">Bước 2: Ký hợp đồng</h4>
                <div class="record-content">
                    <p>Tại thời điểm Quý khách xác nhận việc sử dụng dịch vụ, chuyên viên của chúng tôi sẽ gửi hợp đồng (phiên bản sơ thảo) qua email hoặc và các công cụ chat/trao đổi dữ liệu theo yêu cầu của Quý vị. Khi hai Bên đã đồng ý với bản Hợp đồng (phiên bản nhằm ký kết), chuyên viên của
                        chúng tôi sẽ gửi Hợp đồng tới địa chỉ thuận tiện nhất cho Quý khách.</p>
                </div>
            </div>
            <div class="block-record">
                <h4 class="record-title">Bước 3: Soạn thảo hồ sơ</h4>
                <div class="record-content">
                    <p>Chuyên viên/Luật sư của chúng tôi sẽ tiến hành thực hiện hồ sơ cho Quý khách hàng sau khi nhận được thanh toán theo quy định của Hợp đồng. Ở mỗi gói dịch vụ, chúng tôi quy định rõ thời gian hoàn thành và đảm bảo tiến độ này, ngoại trừ các trường hợp bất khả kháng. Khi ký kết
                        hồ sơ, chúng tôi cố gắng để thuận tiện và tiết kiệm việc di chuyển cho khách hàng. Tại TP. Hồ Chí Minh, thông thường Asoka sẽ đáp ứng việc giao nhận tận nơi. Với các trường hợp khách hàng ở ngoài Tp. Hồ Chí Minh, chúng tôi sử dụng dịch vụ gửi chuyển phát nhanh, có báo phát và
                        giao tận tay Quý vị.</p>
                </div>
            </div>
            <div class="block-record">
                <h4 class="record-title">Bước 4: Nộp và theo dõi hồ sơ</h4>
                <div class="record-content">
                    <p>Việc nộp hồ sơ tại Asoka Law phải bắt buộc tuân thủ về tốc độ làm việc. Một số dịch vụ mà ở đó, thời gian là khâu trọng yếu - quyết định thành bại (ví dụ: đăng ký nhãn hiệu), chúng tôi sẽ luôn túc trực sẵn nhân viên để nộp hồ sơ nhanh nhất cho Quý vị. Chúng tôi có trách nhiệm
                        theo dõi tiến trình hồ sơ, xử lý các phát sinh kịp thời nhằm không bỏ sót thông tin và đảm bảo chắc chắn rằng hồ sơ chúng tôi phụ trách đang tuân thủ theo phác đồ định sẵn của hai Bên.</p>
                </div>
            </div>
            <div class="block-record">
                <h4 class="record-title">Bước 5: Bàn giao kết quả</h4>
                <div class="record-content">
                    <p>Ở khâu này, giống như việc gieo trồng một cái cây đã nở thành trái. Chúng tôi muốn đảm bảo rằng “quả pháp lý" mà khách hàng nhận được sẽ thật đẹp đẽ, trọn vẹn, lưu trữ tốt nhất cho việc điều hành doanh nghiệp. Chúng tôi chú trọng việc đóng gói, hướng dẫn Quý vị ở việc lưu trữ,
                        đồng thời không quên lưu ý các công việc tiếp theo để Doanh nghiệp có các bước định hướng quản trị pháp lý nhằm phát triển bền vững.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="support" class="sub bg-gray">
    <div class="container sub">
        <h4 style=" margin-bottom: 3rem;">Mọi người cũng xem nhiều</h4>
        <div class="procedure-slider p-0" style="margin-bottom: 2rem">
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/chnn/procedure_img01.jpg">
                    <div class="center support-title">
                        <p>Luật sư đại diện giải quyết tranh chấp</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>228 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/chnn/procedure_img02.jpg">
                    <div class="center support-title">
                        <p>Thay đổi đăng ký kinh doanh
                        </p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>963 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/chnn/procedure_img03.jpg">
                    <div class="center support-title">
                        <p>Đăng ký sở hữu trí tuệ</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>3.000 lượt sử dụng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/chnn/procedure_img04.jpg">
                    <div class="center support-title">
                        <p>Đăng ký đầu tư</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>568 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/chnn/procedure_img05.jpg">
                    <div class="center support-title">
                        <p>Đăng ký giấy phép ngành nghề có điều kiện</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>576 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/chnn/procedure_img06.jpg">
                    <div class="center support-title">
                        <p>Đăng ký sản phẩm lưu hành trên thị trường</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>216 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <button onclick="$('#qtlvform1').modal('show')" class=" btn btn-warning padding color-white" type="button">Bắt đầu tìm hiểu dịch vụ</button>
        </div>
    </div>
</section>
<section>
    <div class="modal fade form-smooth" id="qtlvform1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="form-close" data-dismiss="modal">&times;</button>
                    <form>
                        <div class="form-group">
                            <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Họ tên *">
                            <i *ngIf="!fieldValid(name) && n"><small class="text-danger">Bắt buộc nhập họ tên.</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="Số điện thoại *"/>
                            <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">Bắt buộc nhập số điện thoại hợp lệ.</small></i>
                        </div>
                        <div class="form-group">
                            <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                            <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">Bắt buộc nhập email hợp lệ.</small></i>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Chọn các dịch vụ quan tâm*</label>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="ddxl" value="Luật sư đại diện giải quyết tranh chấp">
                                            <label class="form-check-label" for="ddxl">Luật sư đại diện giải quyết tranh chấp</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkkd" value="Thay đổi đăng ký kinh doanh">
                                            <label class="form-check-label" for="dkkd">Thay đổi đăng ký kinh doanh</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkshtt" value="Đăng ký sở hữu trí tuệ">
                                            <label class="form-check-label" for="dkshtt">Đăng ký sở hữu trí tuệ</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkdt" value="Đăng ký đầu tư">
                                            <label class="form-check-label" for="dkdt">Đăng ký đầu tư</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dkgp" value="Đăng ký giấy phép nghành nghề có điều kiện">
                                            <label class="form-check-label" for="dkgp">Đăng ký giấy phép nghành nghề có điều kiện</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-check form-check-inline">
                                            <input (change)="selectService($event)" name="service" class="form-check-input" type="checkbox" id="dklhsp" value="Đăng ký lưu hành sản phẩm lưu hành trên thị trường">
                                            <label class="form-check-label" for="dklhsp">Đăng ký lưu hành sản phẩm lưu hành trên thị trường</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="5" placeholder="Câu hỏi của bạn (nếu có)"></textarea>
                        </div>
                    </form>
                    <div class="form-button">
                        <button (click)="submit()"  style="margin: auto; color: white;" type="button" class="btn btn-warning">
                            Gửi yêu cầu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
