<section id="effective" class="sub" style="background: none;padding-bottom: 0px;">
    <div class="effect-img-popular d-none d-md-block">
        <img src="/assets/media/TVLS/effective/Asset 16.svg">
    </div>
    <div class="container-fluid center">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Lợi ích khi tham vấn với luật sư của Asoka Law':'Benefits of consulting with Asoka Law\'s Lawyer'}}</h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 d-md-block d-none">
                    <img class="effective-img" style="width: 120%;" src="/assets/media/TVLS/effective/anh.png">
                </div>
                <div class="col-md-5">
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">

                            <p style="margin-left: 2%;"><img style="width: 5%;
    margin-top: -7%;" src="/assets/media/TVLS/effective/Asset 17.svg">{{global.locale=='vi'?'Bạn hoàn toàn có thể thực hiện ':'Our consulting sessions can be '}}<span>{{global.locale=='vi'?'tư vấn dễ dàng, từ bất cứ đâu.':'conducted easily, from anywhere.'}}</span>.
                                {{global.locale=='vi'?'Không cần di chuyển hoặc tổ chức gặp ở văn phòng mà vẫn có thể có câu trả lời chính xác cho vấn đề pháp lý bạn thắc mắc.':'You can still receive appropriate answers for your legal problems without moving or setting up office meetings.'}}</p>

                        </div>

                    </div>
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">

                            <p style="margin-left: 2%;"><img style="width: 5%;
    margin-top: -7%;" src="/assets/media/TVLS/effective/Asset 17.svg"><span>{{global.locale=='vi'?'Giá phí tư vấn thấp':'Our fees for consulting are low'}}</span>{{global.locale=='vi'?' nhưng ':' but'}}<span>{{global.locale=='vi'?'đảm bảo độ chính xác và hữu ích':'ensure accuracy and usefulness'}}</span>{{global.locale=='vi'?'. Đó hoàn toàn không chỉ là "thông tin mang tính chất tham khảo" mà là câu trả lời được Asoka Law chịu trách nhiệm pháp lý.':'. Our advice is not for reference only - we are also legally responsible for it.'}}</p>

                        </div>

                    </div>
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">

                            <p style="margin-left: 2%;"><img style="width: 5%;
    margin-top: -7%;" src="/assets/media/TVLS/effective/Asset 17.svg">{{global.locale=='vi'?'Chúng tôi có':'We have '}} <span>{{global.locale=='vi'?'đội ngũ luật sư/tư vấn viên "thực chiến" trên 10 năm kinh nghiệm':'a team of lawyers/ advisors with over 10 years of practical experience'}}</span>{{global.locale=='vi'?' trong các lĩnh vực như: thương mại, du lịch, công nghệ thông tin, truyền thông, giáo dục, hàng tiêu dùng,...':' in different fields, such as Commerce, Tourism, Information Technology, Media & Communication, Education, and Consumer goods. '}}</p>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</section>
