<section id="effective" class="sub" style="background: none">
    <div class="effect-img-popular d-none d-md-block">
        <img src="/assets/media/TVLS/effective/Asset 16.svg">
    </div>
    <div class="container-fluid center">
        <div class="row title padding-record-title">
            <h1>{{global.locale=='vi'?'Lợi ích khi tham vấn với luật sư của Asoka Law':'Lợi ích khi tham vấn với luật sư của Asoka Law aaa'}}</h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 d-md-block d-none">
                    <img class="effective-img" style="width: 120%;" src="/assets/media/TVLS/effective/anh.png">
                </div>
                <div class="col-md-5">
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">

                            <p style="margin-left: 2%;"><img style="width: 5%;
    margin-top: -7%;" src="/assets/media/TVLS/effective/Asset 17.svg">{{global.locale=='vi'?'Bạn hoàn toàn có thể thực hiện ':'Bạn hoàn toàn có thể thực hiện  aaa'}}<span>{{global.locale=='vi'?'tư vấn dễ dàng, từ bất cứ đâu':'tư vấn dễ dàng, từ bất cứ đâu aaa'}}</span>.
                                {{global.locale=='vi'?'Không cần di chuyển hoặc tổ chức gặp ở văn phòng mà vẫn có thể có câu trả lời chính xác cho vấn đề pháp lý bạn thắc mắc.':'Không cần di chuyển hoặc tổ chức gặp ở văn phòng mà vẫn có thể có câu trả lời chính xác cho vấn đề pháp lý bạn thắc mắc. aaa'}}</p>

                        </div>

                    </div>
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">

                            <p style="margin-left: 2%;"><img style="width: 5%;
    margin-top: -7%;" src="/assets/media/TVLS/effective/Asset 17.svg"><span>{{global.locale=='vi'?'Giá phí tư vấn thấp':'Giá phí tư vấn thấp aaa'}}</span>{{global.locale=='vi'?' nhưng ':' nhưng  aaa'}}<span>{{global.locale=='vi'?'đảm bảo độ chính xác và hữu ích':'đảm bảo độ chính xác và hữu ích aaa'}}</span>{{global.locale=='vi'?'. Đó hoàn toàn không chỉ là "thông tin mang tính chất tham khảo" mà là câu trả lời được Asoka Law chịu trách nhiệm pháp lý.':'. Đó hoàn toàn không chỉ là "thông tin mang tính chất tham khảo" mà là câu trả lời được Asoka Law chịu trách nhiệm pháp lý. aaa'}}</p>

                        </div>

                    </div>
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">

                            <p style="margin-left: 2%;"><img style="width: 5%;
    margin-top: -7%;" src="/assets/media/TVLS/effective/Asset 17.svg">{{global.locale=='vi'?'Chúng tôi có':'Chúng tôi có aaa'}} <span>{{global.locale=='vi'?'đội ngũ luật sư/tư vấn viên "thực chiến" trên 10 năm kinh nghiệm':'đội ngũ luật sư/tư vấn viên "thực chiến" trên 10 năm kinh nghiệm aaa'}}</span>{{global.locale=='vi'?' trong các lĩnh vực như: thương mại, du lịch, công nghệ thông tin, truyền thông, giáo dục, hàng tiêu dùng,...':' trong các lĩnh vực như: thương mại, du lịch, công nghệ thông tin, truyền thông, giáo dục, hàng tiêu dùng,... aaa'}}</p>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</section>
