<section id="mainvisual" class="mission">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>NGƯỜI CỘNG SỰ TẬN TÂM</span>NGƯỜI CỘNG SỰ TẬN TÂM</h2>
      </div>
    </div>
  </div>
</section>
<section class="mission-bg" style="margin-bottom: 3rem;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <h1>Về Asoka Law</h1>
        <hr style="margin: 0.25rem 0 2rem; width: 70px; border: 2px solid #ffc912; display: inline-block; border-radius: 5px">
        <div class="mission-txt">
          <p>Cảm ơn bạn đã ghé thăm trang website thương mại điện tử <a href="http://www.asokalaw.vn/" target="_blank" class="font-weight-bold" style="color: #3f3f3f">www.asokalaw.vn</a>, trực thuộc sở hữu của Công ty Luật TNHH Asoka - một hãng luật chính danh tại TP Hồ Chí Minh được cấp phép hoạt động bởi Sở Tư Pháp Tp. Hồ Chí Minh.</p>
          <p>“Asoka” hay “Ashoka” có nghĩa là “vô ưu” <span style="font-style: italic; color: #aaa">(“sorrowless”)</span> hay “không có đau buồn” <span style="font-style: italic; color: #aaa">(“without grief”)</span> trong tiếng Phạn, vốn là tên của một loài hoa, luôn nở theo từng cụm. Lúc rực rỡ nhất, hoa có màu vàng cam rất đẹp và thơm, sau đó chuyển dần sang màu đỏ. Loài hoa này có một ý nghĩa đặc biệt thiêng liêng, được coi như biểu tượng của điềm lành và an phúc.</p>
          <p>Tên công ty Luật TNHH Asoka được chủ đích đặt theo tích của loài hoa Asoka. Chúng tôi muốn truyền tải thông điệp rằng: Asoka Law đến với khách hàng nhằm mang đi những buồn đau, rắc rối của thân chủ, chỉ để lại điềm lành, hạnh phúc, may mắn và an vui.</p>
        </div>
      </div>
      <div class="col-md-5">
        <p class="mb-0 mission-img">
          <img src="/assets/media/chnn/mission_img01.jpg" style="max-width: 100%">
        </p>
      </div>
    </div>
  </div>
</section>
<section style="margin-bottom: 3rem;">
  <div class="container-fluid">
    <h1 class="center">Sứ mệnh của Asoka Law</h1>
    <hr style="margin: 0.75rem auto 3rem; width: 70px; border: 2px solid #ffc912; border-radius: 5px">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="mb-0"><img src="/assets/media/chnn/mission_img02.jpg" style="max-width: 100%"></p>
      </div>
      <div class="col-md-5">
        <div class="mission-txt mission-rec">
          <p>Giống như những doanh nghiệp khác, mặc dù là một hãng luật nhưng chúng tôi cũng phải trải qua quá trình khởi tạo doanh nghiệp vất vả trong 03 năm đầu tiên.</p>
          <p>Chúng tôi nhận ra rằng, với doanh nghiệp nhỏ và vừa thì việc tìm kiếm được cộng sự để cùng gánh vác các trách nhiệm, đồng hành xây dựng doanh nghiệp lớn mạnh là một điều hết sức quan trọng.</p>
          <p>Không chỉ là luật sư để đưa ra các lời khuyên pháp lý hữu ích, Asoka Law còn thấu hiểu các quy trình vận hành kinh doanh để kịp thời hướng dẫn doanh nghiệp vượt qua các rủi ro về thuế, quản trị nhân sự, đóng gói dịch vụ/sản phẩm.</p>
          <p>Chúng tôi nguyện không ngừng nỗ lực để hoàn thiện các giải pháp, phát triển các dịch vụ nhằm thực hiện sứ mệnh <span class="font-weight-bold">"người cộng sự tận tâm"</span>  đã nhận trước mỗi khách hàng doanh nghiệp.</p>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>
<section class="mission-status">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="mission-status-txt">Chúng tôi chăm chỉ và nỗ lực làm việc nhằm trở thành Hãng Luật<br class="pc">tốt nhất dành cho các doanh nghiệp nhỏ và vừa (SMEs) được<br class="pc">thành lập và hoạt động trên lãnh thổ Việt Nam.</p>
      </div>
    </div>
  </div>
</section>
<section style="margin: 3rem 0">
  <div class="container">
    <h1 class="center">Cách Asoka Law làm việc để đạt được mục tiêu</h1>
    <hr style="margin: 1.5rem auto 3rem; width: 100px; border: 2px solid #ffc912; border-radius: 5px">
    <div class="row">
      <div class="col-md-12">
        <div class="mission-slider">
          <div class="mission-item">
            <div class="row">
              <div class="col-md-6">
                <p class="mission-slider-title"><span><img class="img-header" src="/assets/media/chnn/mission_no1.svg"></span>Cung cấp dịch vụ tiện ích</p>
                <div class="mission-txt">
                  <p>Chúng tôi nghiên cứu các khía cạnh pháp lý thiết yếu dành cho doanh nghiệp nhỏ và vừa để thiết kế thành các dịch vụ tiện ích, dễ sử dụng. Việc đóng gói theo độ tuổi kinh doanh, bao gồm: doanh nghiệp khởi tạo, doanh nghiệp từ 01 - 03 năm, doanh nghiệp trên 03 năm là nhằm hỗ trợ cho khách hàng hình dung về lộ trình pháp lý tổng quan, toàn diện.</p>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mission-slider-img"><img src="/assets/media/chnn/mission_slider01.jpg"></p>
              </div>
            </div>
          </div>
          <div class="mission-item">
            <div class="row">
              <div class="col-md-6">
                <p class="mission-slider-title"><span><img class="img-header" src="/assets/media/chnn/mission_no2.svg"></span>Dự toán ngân sách rõ ràng</p>
                <div class="mission-txt">
                  <p>Khách hàng có thể dễ dàng tìm thấy giá phí của dịch vụ mình cần, được niêm yết công khai trên webiste của Asoka Law. Việc chúng tôi công khai chi phí là nhằm thuận tiện cho doanh nghiệp có dự toán ngân sách và quyết định về việc sử dụng dịch vụ. Điều này cũng tiết kiệm được thời gian khảo sát giá và chờ báo giá cho doanh nghiệp.</p>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mission-slider-img"><img src="/assets/media/chnn/mission_slider02.jpg"></p>
              </div>
            </div>
          </div>
          <div class="mission-item">
            <div class="row">
              <div class="col-md-6">
                <p class="mission-slider-title"><span><img class="img-header" src="/assets/media/chnn/mission_no3.svg"></span>Phục vụ thân chủ tận tâm</p>
                <div class="mission-txt">
                  <p>Kể từ khi thành lập Hãng Luật Asoka cho đến nay, chúng tôi vẫn luôn chú trọng vào việc tận tâm với khách hàng. Từ việc đóng gói dịch vụ, tư vấn, thực hiện hồ sơ, dặn dò khách hàng vận hành sau dịch vụ, các luật sư và chuyên viên của Asoka Law luôn cố gắng thực hiện kỹ lưỡng, chỉn chu, trọn vẹn nhất.</p>
                </div>
              </div>
              <div class="col-md-6">
                <p class="mission-slider-img"><img src="/assets/media/chnn/mission_slider03.jpg"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Dịch vụ pháp lý<br class="pc">Asoka Law cung cấp</h1>
        <hr style="margin: 2rem 0; width: 100px; border: 2px solid #ffc912; border-radius: 5px">
        <div class="mission-txt">
          <p>Tại Asoka Law, doanh nghiệp SMEs có thể dễ dàng tìm kiếm cho mình các dịch vụ thiết yếu, tùy theo độ tuổi doanh nghiệp. Chúng tôi tin rằng, việc cung cấp dịch vụ tiện ích, chặt chẽ, rõ ràng theo sơ đồ bên cạnh sẽ giúp cho doanh nghiệp hình dung được các công việc pháp lý cần thực hiện một cách dễ dàng, nhanh chóng nhất</p>
        </div>

      </div>
      <div class="col-md-7">
        <div class="mission-circle">
          <p class="mission-circle-img"><img src="/assets/media/chnn/mission_circle.png" style="max-width: 100%"></p>
          <div class="pc">
            <div class="mission-circle-list list01">
              <p>DỊCH VỤ CẦN THIẾT</p>
              <ul>
                <li>Quản trị “4 trong 1”</li>
                <li>Ngành nghề có điều kiện</li>
                <li>Đăng ký nhãn hiệu</li>
              </ul>
            </div>
            <div class="mission-circle-list list02">
              <p>DỊCH VỤ CẦN THIẾT</p>
              <ul>
                <li>Giải quyết tranh chấp</li>
                <li>Pháp lý sự kiện</li>
                <li>Tạm ngưng - Giải thể</li>
              </ul>
            </div>
            <div class="mission-circle-list list03">
              <p>DỊCH VỤ CẦN THIẾT</p>
              <ul>
                <li>Tư vấn luật sư</li>
                <li>Đăng ký kinh doanh</li>
                <li>Đăng ký đầu tư</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mission-resigter">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Nhận tư vấn miễn phí vấn đề pháp lý của công ty bạn</h2>
      </div>
      <div class="col-md-3">
        <div class="box-contact">
          <button class="btn btn-warning">ĐĂNG KÝ NGAY</button>
          <p class="mission-resigter-txt"><a href="tel:02862788228">028 62 788 228</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
