<section id="master">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-12 center sub">
        <h1 class="sub-content" style="padding-right: unset!important;padding-left: unset!important; color: #283E6C">
          Chuyên gia trong nghề cũng có thể bị "tuýt còi"
        </h1>
        <p class="padding center">
          Không chỉ "newbie" mà ngay cả những người lâu năm trong nghề tổ chức sự kiện cũng có thể gặp trở
          ngại về kiểm duyệt hay thủ tục pháp lý. Asoka
          có thể giải quyết các vấn đề triệt để, giúp cho sự kiện được tiến hành suôn sẻ. Bởi vì chúng tôi là
          chuyên gia trong việc quản trị pháp lý sự kiện.
        </p>

      </div>

    </div>
    <div class="row" style="padding-top: 20px">
      <div class="col-md-4 center">
        <div class="master-content">
          <p class="alt-title">GIẤY PHÉP</p>
          <img style="      width: 32px;
    position: absolute;
    left: -32px;
    top: -3px;" src="/assets/media/PLSK/tuyt_coi/no1.svg">
          <p style="    min-height: 250px;">Mỗi sự kiện không chỉ bao gồm một hoạt
            động duy nhất. Hoạt động khác nhau, phải
            xin giấy phép khác nhau, thậm chí ở cơ quan
            quản lý khác nhau. Điều này dẫn đến việc
            đơn vị tổ chức sự kiện có thể "bỏ sót" giấy
            phép cần xin.</p>

        </div>
      </div>
      <div class="col-md-4 center">
        <div class="master-content">
          <p class="alt-title">HỢP ĐỒNG</p>
          <img style="   width: 40px;
    position: absolute;
    left: -32px;
    top: -3px;" src="/assets/media/PLSK/tuyt_coi/no2.svg">
          <p style="    min-height: 250px;">Việc hợp tác giữa các bên tổ chức, biểu
            diễn, địa điểm đều thông qua hợp đồng.
            Thương lượng và soạn thảo hợp đồng càng
            chặt chẽ, rõ ràng, doanh nghiệp càng tránh
            được nguy cơ tranh chấp phát sinh.</p>

        </div>
      </div>
      <div class="col-md-4 center">
        <div class="master-content">
          <p class="alt-title">QUẢN TRỊ SỰ KIỆN</p>
          <img style="    width: 40px;
    position: absolute;
    left: -32px;
    top: -3px;" src="/assets/media/PLSK/tuyt_coi/no3.svg">
          <p style="    min-height: 250px;">Để một sự kiện diễn ra suôn sẻ, doanh
            nghiệp cần quản lý rất nhiều đầu mối,
            hạng mục công việc. Biết cách phân mảng,
            phân chia tiến độ, nhân sự, doanh nghiệp
            sẽ tiến hành sự kiện thành công thắng lợi.</p>

        </div>
      </div>

    </div>


  </div>


</section>
