<!-- <Change> -->
<section id="feedback">
  <div class="container">
    <h1 class="center" style="margin: 3rem 0;">Vụ việc Asoka Law đã xử lý thành công</h1>
    <div class="feedback-slide-pltx">
      <div class="feedback-slider-item">
          <p class="pltx-des">Luật sư Asoka Law đã đại diện thành công cho các cổ đông một công ty, yêu cầu Công ty mua lại phần vốn góp vì giám đốc điều hành không minh bạch trong việc vận hành kinh doanh, không cung cấp số liệu trung thực.</p>
          <hr class="pltx-line">
          <p class="pltx-cate"><span>Loại vụ việc</span>Tranh chấp hợp đồng</p>
      </div>
      <div class="feedback-slider-item">
          <p class="pltx-des">Luật sư Asoka Law đã đại diện thành công cho các cổ đông một công ty, yêu cầu Công ty mua lại phần vốn góp vì giám đốc điều hành không minh bạch trong việc vận hành kinh doanh, không cung cấp số liệu trung thực.</p>
          <hr class="pltx-line">
          <p class="pltx-cate"><span>Loại vụ việc</span>Tranh chấp hợp đồng</p>
      </div>
      <div class="feedback-slider-item">
          <p class="pltx-des">Luật sư Asoka Law đã đại diện thành công cho các cổ đông một công ty, yêu cầu Công ty mua lại phần vốn góp vì giám đốc điều hành không minh bạch trong việc vận hành kinh doanh, không cung cấp số liệu trung thực.</p>
          <hr class="pltx-line">
          <p class="pltx-cate"><span>Loại vụ việc</span>Tranh chấp hợp đồng</p>
      </div>
    </div>
  </div>
</section>
<!-- </Change> -->