<!-- <Change> -->
<section id="feedback">
    <div class="container">
        <h1 class="center" style="margin: 3rem 0;">Vụ việc Asoka Law đã xử lý thành công</h1>
        <div class="feedback-slide-pltx">
            <div *ngFor="let item of data" class="feedback-slider-item">
                <p class="pltx-des">{{global.locale == 'vi' ? item.description : item.en_description}}</p>
                <hr class="pltx-line">
                <p class="pltx-cate"><span>Loại vụ việc</span>{{global.locale == 'vi' ? item.title : item.en_title}}</p>
            </div>
        </div>
    </div>
</section>
<!-- </Change> -->
