<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="modal fade" id="alert-success" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content alert-success" style="background-color: #d4edda; border:2px solid #A7B6D9;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 p-5" style="text-align: center;">
            <button type="button" style="position: absolute;
    top: 0px;
    right: 0.5rem;" class="close" data-dismiss="modal" aria-label="Close">
              <span style="font-weight: bold" aria-hidden="true">X</span>
            </button>
            <h4>Cảm ơn. Chúng tôi đã nhận được thông tin của bạn</h4>
            <br><br>
            <p>Chuyên viên của Asoka Law sẽ liên lạc với bạn ngay trong vòng 05 phút để xác nhận yêu cầu.</p>
            <p>Bạn vui lòng kiểm tra tin nhắn điện thoại/email để không bỏ sót thông tin của chúng tôi</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
