<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <Change OK> -->
<div class="modal fade" id="alert-success" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content alert-success" style="background-color: #d4edda; border:2px solid #A7B6D9;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 p-5" style="text-align: center;">
                            <button type="button" style="position: absolute;
      top: 0px;
      right: 0.5rem;" class="close" data-dismiss="modal" aria-label="Close">
                                <span style="font-weight: bold" aria-hidden="true">X</span>
                            </button>
                            <h4>Asoka Law đã nhận được thông tin của bạn</h4>
                            <br><br>
                            <p>Chuyên viên của chúng tôi sẽ liên lạc với bạn ngay trong vòng 05 phút để xác nhận yêu cầu. Bạn vui lòng kiểm tra tin nhắn, điện thoại, email để không bỏ sót thông tin của chúng tôi.</p>
                            <p class="center font-weight-bold">Xin cảm ơn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </Change> -->
