<section id="price-listItem" class="sub">
  <div class="container center">
    <div class="row title padding-record-title">
      <h1>{{global.locale=='vi'?'Bắt đầu đăng ký nhãn hiệu với 3 bước nhanh chóng':'3 Steps for quick trademark registration at Asoka Law'}}</h1>
    </div>
    <div class="row d-none d-md-flex sub" style="padding-top: 50px;">
      <div class="logocontent">
        <div class="container">
          <div class="priceListItem">
            <img style="width: 50%;" src="/assets/media/DKNH/step/Asset 18.svg">
            <h5 style="margin-top:-2rem">{{global.locale=='vi'?'Liên hệ':'Contact via'}}</h5>
            <p>
              {{global.locale=='vi'?'Gọi hotline:':'Call hotline: '}}<b>{{global.locale=='vi'?' 096 191 4328 ':' 096 191 4328'}} </b>
              <br>
              {{global.locale=='vi'?'Khi bạn gửi yêu cầu đăng ký, nhân viên Asoka Law sẽ liên hệ và tư vấn, kiểm tra nhãn hiệu cho bạn hoàn toàn miễn phí.':'Asoka Law\'s staff will contact you back and advise/ check the trademark for you free of charge'}}
              <br/>
            </p>
          </div>
        </div>
        <div>
          <img class="arrow" src="/assets/media/DKNH/step/Asset 21.svg">
        </div>
        <div class="container">
          <div class="priceListItem">
            <img style="width: 50%;" src="/assets/media/DKNH/step/Asset 19.png">
            <h5>{{global.locale=='vi'?'Ký hợp đồng':'Sign contracts'}}</h5>
            <div>
              <p>
                {{global.locale=='vi'?'Asoka Law đến trực tiếp địa điểm khách hàng yêu cầu để ký hợp đồng kèm hồ sơ đã được soạn thảo cùng tài liệu yêu cầu. Tất cả chỉ trong 1 lần ký duy nhất.':'Asoka Law staff comes directly to the location requested by customers to sign contracts, bringing the complied applications. You only need to sign once. '}}
              </p>
            </div>
          </div>
        </div>
        <div>
          <img class="arrow" src="/assets/media/DKNH/step/Asset 21.svg">
        </div>
        <div class=" container">
          <div class="priceListItem">
            <img style="width: 50%;" src="/assets/media/DKNH/step/Asset 20.png">
            <h5>{{global.locale=='vi'?'Nhận kết quả':'Receive results'}}</h5>
            <div>
              <p>
                {{global.locale=='vi'?'Chỉ trong ':'Within '}}<b>{{global.locale=='vi'?'24 giờ ':'24 hours '}}</b>{{global.locale=='vi'?'kể từ khi ký hợp đồng và cung cấp đủ hồ sơ, Asoka Law sẽ gửi tới bạn kết quả hồ sơ đã đăng ký.':'of signing contracts and providing sufficient documents, Asoka Law will send you the results of applications.'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex d-md-none">
      <div class="col-sm-12">
        <div class="priceListItem">
          <img style="width: 50%;" src="/assets/media/DKNH/step/Asset 18.svg">
          <h5>{{global.locale=='vi'?'Liên hệ':'Contact via'}}</h5>
          <p>
            {{global.locale=='vi'?'Gọi hotline:':'Call hotline: '}}<b> {{global.locale=='vi'?'096 191 4328:':'096 191 4328 '}}</b>
            <br>
            {{global.locale=='vi'?'Khi bạn gửi yêu cầu đăng ký, nhân viên Asoka Law sẽ liên hệ và tư vấn, kiểm tra nhãn hiệu cho bạn hoàn toàn miễn phí.':'Asoka Law\'s staff will contact you back and advise/check the trademark for you free of charge'}}
            <br/>
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="priceListItem">
          <img style="width: 50%;" src="/assets/media/DKNH/step/Asset 19.png">
          <h5>{{global.locale=='vi'?'Ký hợp đồng':'Sign contracts'}}</h5>
          <div>
            <p>
              {{global.locale=='vi'?'Asoka Law đến trực tiếp địa điểm khách hàng yêu cầu để ký hợp đồng kèm hồ sơ đã được soạn thảo cùng tài liệu yêu cầu. Tất cả chỉ trong 1 lần ký duy nhất.':'Asoka Law staff comes directly to the location requested by customers to sign contracts, bringing the complied applications. You only need to sign once. '}}
            </p>
          </div>
        </div>
      </div>
      <div class=" col-sm-12">
        <div class="priceListItem">
          <img style="width: 50%;" src="/assets/media/DKNH/step/Asset 20.png">
          <h5>{{global.locale=='vi'?'Nhận kết quả':'Receive results'}}</h5>
          <div>
            <p>
              {{global.locale=='vi'?'Chỉ trong ':'Within '}}<b>{{global.locale=='vi'?'24 giờ':'24 hour '}}</b>{{global.locale=='vi'?'kể từ khi ký hợp đồng và cung cấp đủ hồ sơ, Asoka Law sẽ gửi tới bạn kết quả hồ sơ đã đăng ký.':'of signing contracts and providing sufficient documents, Asoka Law will send you the results of applications.'}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sub">
        <button onclick="$('#dknhform1').modal('show')" class="btn btn-warning color-white" style="text-transform: uppercase" type="button">{{global.locale=='vi'?'YÊU CẦU THỰC HIỆN HỒ SƠ':'REQUEST TO PREPARE APPLICATIONS'}}</button>
    </div>
  </div>
</section>
