<div class="news-content">
    <p class="news-banner"><img src="/assets/media/chnn/news01_img.jpg" style="max-width: 100%"></p>
    <div class="news-label">
        <div class="row">
            <div class="col-sm-8">
                <p class="news-tag"><span class="badge badge-secondary"><img src="/assets/media/chnn/news01_tag.svg">Bảo hộ nhãn hiệu</span><span>23 tháng 05, 2020</span></p>
            </div>
            <div class="col-sm-4">
                <div class="news-view">
                    <p>228 lượt xem</p>
                </div>
            </div>
        </div>
    </div>
    <h2>YG Entertainment đăng ký thương hiệu cho thành viên BLACKPINK</h2>
    <p>YG Entertainment đã nộp đơn đăng ký thương hiệu cho tên của cô nàng Lisa, một thành viên trong nhóm nhạc hot hit BLACKPINK của mình.</p>
    <a href="#" class="news-btn btn btn-outline-dark">Đọc tiếp<span><img src="/assets/media/chnn/news01_Asset 7.svg" ></span></a>
</div>
