<section id="support" style="margin-bottom: 3rem;">
    <div class="container">
        <div class="center">
            <h1 style="margin-bottom: 2rem;">{{global.locale=='vi'?'Các dịch vụ hỗ trợ doanh nghiệp dưới 03 năm':'Support services for businesses under 3 years'}}</h1>
            <div class="mission-txt">
                <p>{{global.locale=='vi'?'Chúng tôi luôn cung cấp dịch vụ pháp lý cho doanh nghiệp trong suốt quá trình kinh doanh. 99% khách hàng nói rằng, dịch vụ của Asoka Law dễ sử dụng, phù hợp với nhu cầu của doanh nghiệp.':'We always provide legal services for enterprises throughout the process of doing business. 99% of our clients say that Asoka Law\'s services are easy to use and suits their needs.'}}</p>
            </div>
        </div>
        <div class="slide-support-pltx">
            <div class="slide-support-item col-md-3">
                <div style="position: relative;">
                    <img src="/assets/media/DNT3N/Cac-dich-vu/kd.jpg">
                    <div class="center support-title">
                        <p>{{global.locale=='vi'?'Thay đổi đăng ký kinh doanh':'Changing business registration'}}</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>{{global.locale=='vi'?'963 lượt sử dụng':'Used: 963 times'}}</p>
                        </div>
                    </div>
                    <button (click)="selectOneService(s2);showForm()" style="position: absolute;" class="btn btn-outline-warning custom-color-white">{{global.locale=='vi'?'Tư vấn dịch vụ':'Get free consultation'}}</button>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/DNT3N/Cac-dich-vu/tx.jpg">
                    <div class="center support-title">
                        <p>{{global.locale=='vi'?'Quản trị pháp lý thường xuyên':'Regular legal administration'}}</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>{{global.locale=='vi'?'300 lượt sử dụng':'Used: 300 times'}}</p>
                        </div>
                    </div>
                    <button (click)="selectOneService(s3);showForm()" style="position: absolute;" class="btn btn-outline-warning custom-color-white">{{global.locale=='vi'?'Tư vấn dịch vụ':'Get free consultation'}}</button>
                </div>
            </div>

            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/DNT3N/Cac-dich-vu/tm.jpg">
                    <div class="center support-title">
                        <p>{{global.locale=='vi'?'Nhượng quyền thương mại':'Franchising'}}</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>{{global.locale=='vi'?'189 lượt sử dụng':'Used: 189 times'}}</p>
                        </div>
                    </div>
                    <button (click)="selectOneService(s5);showForm()" style="position: absolute;" class="btn btn-outline-warning custom-color-white">{{global.locale=='vi'?'Tư vấn dịch vụ':'Get free consultation'}}</button>
                </div>
            </div>
            <div class="slide-support-item col-md-3">
                <div class="">
                    <img src="/assets/media/DNT3N/Cac-dich-vu/tc.jpg">
                    <div class="center support-title">
                        <p>{{global.locale=='vi'?'Luật sư đại diện xử lí tranh chấp':'Handling disputes through attorney representatives'}}</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>{{global.locale=='vi'?'228 lượt sử dụng ':'Used: 228 times'}}</p>
                        </div>
                    </div>
                </div>
                <button (click)="selectOneService(s1);showForm()" style="position: absolute;" class="btn btn-outline-warning custom-color-white">{{global.locale=='vi'?'Tư vấn dịch vụ':'Get free consultation'}}</button>
            </div>
            <div class="slide-support-item col-md-3">
                <div style="position: relative;">
                    <img src="/assets/media/DNT3N/Cac-dich-vu/kd.jpg">
                    <div class="center support-title">
                        <p>{{global.locale=='vi'?'Đăng ký đầu tư':'Investment registration'}}</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>{{global.locale=='vi'?'568 lượt sử dụng':'Used: 568 times'}}</p>
                        </div>
                    </div>
                    <button (click)="selectOneService(s4);showForm()" style="position: absolute;" class="btn btn-outline-warning custom-color-white">{{global.locale=='vi'?'Tư vấn dịch vụ':'Get free consultation'}}</button>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="modal fade" id="dnd3nform2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input autocomplete="off" (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Full name*'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger"> {{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name. '}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Phone number *'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number. '}}</small></i>
                </div>
                <div class="form-group">
                    <input autocomplete="off" (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address. '}}</small></i>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Dịch vụ pháp lý yêu cầu tư vấn*':'Requested Legal Service(s)*'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s1)" [checked]="isSelectedService(s1)" class="form-check-input" name="service" type="checkbox" id="service1" [value]="s1">
                                    <label class="form-check-label font-weight-normal" for="service1">{{s1}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s2)" [checked]="isSelectedService(s2)" class="form-check-input" name="service" type="checkbox" id="service2" [value]="s3">
                                    <label class="form-check-label font-weight-normal" for="service2">{{s2}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s3)" [checked]="isSelectedService(s3)" class="form-check-input" name="service" type="checkbox" id="service3" [value]="s3">
                                    <label class="form-check-label font-weight-normal" for="service3">{{s3}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s4)" [checked]="isSelectedService(s4)" class="form-check-input" name="service" type="checkbox" id="service4" [value]="s4">
                                    <label class="form-check-label font-weight-normal" for="service4">{{s4}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s5)" [checked]="isSelectedService(s5)" class="form-check-input" name="service" type="checkbox" id="service5" [value]="s5">
                                    <label class="form-check-label font-weight-normal" for="service5">{{s5}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="3" placeholder="{{global.locale=='vi'?'Nhập câu hỏi mô tả tình trạng công ty bạn tại đây':'Insert your question(s) or describe the company\'s status'}}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Send request now'}}</button>
            </div>
        </div>
    </div>
</div>
