<app-news-header [data]="category"></app-news-header>
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <app-news-box [data]="firstnews"></app-news-box>
            </div>
            <div class="col-md-4">
                <app-news-form1></app-news-form1>
                <div class="news-tags">
                    <app-news-tag [data]="category.tags"></app-news-tag>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of news">
                <div class="col-md-4">
                    <app-news-box2 [data]="item"></app-news-box2>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                <app-news-pagination *ngIf="category_slug" [category_slug]="category_slug"></app-news-pagination>
            </div>
        </div>
    </div>
</section>
<app-news-form2></app-news-form2>
