<app-news-header></app-news-header>
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <app-news-box [data]="firstnews"></app-news-box>
            </div>
            <div class="col-md-4">
                <app-news-form1></app-news-form1>
                <app-news-tag></app-news-tag>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of news">
                <div class="col-md-4">
                    <app-news-box2></app-news-box2>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                <nav class="news-pagination">
                    <ul class="pagination">
                        <li class="page-item first-prev">
                            <a href="#" aria-label="Previous">
                                <img src="/assets/media/chnn/news01_Asset 4.svg">
                            </a>
                        </li>
                        <li class="page-item prev">
                            <a href="#" aria-label="Previous">
                                <img src="/assets/media/chnn/news01_Asset 2.svg">
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">17</a></li>
                        <li class="page-item next">
                            <a href="#" aria-label="Next">
                                <img src="/assets/media/chnn/news01_Asset 3.svg">
                            </a>
                        </li>
                        <li class="page-item end-next">
                            <a href="#" aria-label="Next">
                                <img src="/assets/media/chnn/news01_Asset 5.svg">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="news-title center mb-5" style="color: #213070;">NHẬN TƯ VẤN MIỄN PHÍ CÁC VẤN ĐỀ PHÁP LÝ CỦA BẠN</h4>
                <form class="news-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Họ và tên">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" checked="true" type="checkbox" id="dkkd" value="dkkd">
                                        <label class="form-check-label" for="dkkd">Đăng ký kinh doanh</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dknh" value="dknh">
                                        <label class="form-check-label" for="dknh">Đăng ký nhãn hiệu</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dkdt" value="dkdt">
                                        <label class="form-check-label" for="dkdt">Đăng ký đầu tư</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" checked="true" type="checkbox" id="pltx" value="pltx">
                                        <label class="form-check-label" for="pltx">Pháp lý thường xuyên</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="tvls" value="tvls">
                                        <label class="form-check-label" for="tvls">Tư vấn luật sư</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="plsk" value="plsk">
                                        <label class="form-check-label" for="plsk">Pháp lý sự kiện</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gqtc" value="gqtc">
                                        <label class="form-check-label" for="gqtc">Giải quyết tranh chấp</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="lvk" value="lvk">
                                        <label class="form-check-label" for="lvk">Lĩnh vực khác</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning d-block">Gửi yêu cầu</button>
                </form>
            </div>
        </div>
    </div>
</section>
