<section class="header">
    <div class="container">
        <div class="row banner">
            <div class="col-md-6 title-banner">
                <div>
                    <h1>Đăng ký logo "chính chủ"
                        <b class="light-blue">"24h"</b> nhận ngay kết quả</h1>
                </div>
                <div class="row paddingTabRecord">
                    <div class="tab-record ">

                        <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Không phí
                            ẩn</p>
                    </div>
                    <div class="tab-record">

                        <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Tra cứu
                            miễn phí</p>
                    </div>
                    <div class="tab-record ">

                        <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Ký & giao
                            hồ sơ tận nơi</p>
                    </div>
                </div>
                <div>
                    <button onclick="$('#dknhform1').modal('show')" type="button" class="btn btn-warning btn-custom">Tra cứu nhanh</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-dknhintro></app-dknhintro>
<app-dknheffective></app-dknheffective>
<app-dknheffectivecontent></app-dknheffectivecontent>
<app-dknhpricing></app-dknhpricing>
<app-dknhwhychoose></app-dknhwhychoose>
<app-dknhcustomer></app-dknhcustomer>
<app-dknhfeedback></app-dknhfeedback>
<app-partner></app-partner>
<app-dknhquestion></app-dknhquestion>
<app-homevideos></app-homevideos>
<app-homenews></app-homenews>
<app-dknhsubfooter></app-dknhsubfooter>
<div class="modal fade" id="dknhform1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (change)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" style="margin-bottom: 3%;" type="text" [(ngModel)]="name" class="form-control" name="name" placeholder="Họ và tên *">
                </div>
                <div class="form-group">
                    <input (change)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" [(ngModel)]="phone" style="margin-bottom: 3%;" type="text" class="form-control" name="phone" placeholder="Số điện thoại *">
                </div>
                <div class="form-group">
                    <input (change)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" [(ngModel)]="email" style="margin-bottom: 3%;" type="text" class="form-control" name="email" placeholder="Email *">
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="description" name="description" class="form-control" rows="3" placeholder="Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing"></textarea>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <button style="margin-bottom: 5px" class="btn" type="button" (click)="fileInput1.click()">
                            <span style="color:#0f74a8;text-decoration: underline;font-size: 11px">Logo đính kèm 1</span>
                            <input #fileInput1 type="file" accept="image/*" (change)="onSelectFile($event,1)" style="display:none;"/>
                        </button>
                        <div *ngIf="logo1.data">
                            <img style="width: 50px;max-height:100px" [src]="logo1.data"/>
                            <span (click)="onRemoveSelectedFile(1)" class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <button style="margin-bottom: 5px" class="btn" type="button" (click)="fileInput2.click()">
                            <span style="color:#0f74a8;text-decoration: underline;font-size: 11px">Logo đính kèm 2</span>
                            <input #fileInput2 type="file" accept="image/*" (change)="onSelectFile($event,2)" style="display:none;"/>
                        </button>
                        <div *ngIf="logo2.data">
                            <img style="width: 50px;max-height:100px" [src]="logo2.data"/>
                            <span (click)="onRemoveSelectedFile(2)" class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <button style="margin-bottom: 5px" class="btn" type="button" (click)="fileInput3.click()">
                            <span style="color:#0f74a8;text-decoration: underline;font-size: 11px">Logo đính kèm 3</span>
                            <input #fileInput3 type="file" accept="image/*" (change)="onSelectFile($event,3)" style="display:none;"/>
                        </button>
                        <div *ngIf="logo3.data">
                            <img style="width: 50px;max-height:100px" [src]="logo3.data"/>
                            <span (click)="onRemoveSelectedFile(3)" class="fa fa-times-circle" style="color:red;cursor: pointer"></span>
                        </div>
                    </div>
                </div>
                <div class="flex-center-hor">
                    <button [disabled]="!formValid()" (click)="submit()" type="button" class="btn btn-warning btn-custom">Yêu cầu tra cứu nhanh</button>
                </div>
            </div>
        </div>
    </div>
</div>
