<section class="header">
  <div class="container">
    <div class="row banner">
      <div class="col-md-6 title-banner">
        <div>
          <h1>Đăng kí logo "chính chủ"
            <b class="light-blue">"24h"</b> nhận ngay kết quả</h1>
        </div>
        <div class="row paddingTabRecord">
          <div class="tab-record ">

            <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Không phí
              ẩn</p>
          </div>
          <div class="tab-record">

            <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Tra cứu
              miễn phí</p>
          </div>
          <div class="tab-record ">

            <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Ký & giao
              hồ sơ tận nơi</p>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-warning btn-custom">Tra cứu nhanh</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dknhintro></app-dknhintro>
<app-dknheffective></app-dknheffective>
<app-dknheffectivecontent></app-dknheffectivecontent>
<app-dknhpricing></app-dknhpricing>
<app-dknhwhychoose></app-dknhwhychoose>
<app-dknhcustomer></app-dknhcustomer>
<app-dknhfeedback></app-dknhfeedback>
<app-partner></app-partner>
<app-dknhquestion></app-dknhquestion>
<app-homevideos></app-homevideos>
<app-homenews></app-homenews>
<app-dknhsubfooter></app-dknhsubfooter>
