<section class="mainvisual">
    <div class="container">
        <div class="row">
            <div class="col-md-6 title-banner">
                <div>
                    <h1 class="title-dknh">Đăng ký logo "chính chủ"
                        <b class="light-blue" style="font-size: 3.5rem">24h</b> nhận ngay kết quả</h1>
                </div>
                <div class="row title-dknh-m">
                    <div class="tab-record">
                        <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Không phí ẩn</p>
                    </div>
                    <div class="tab-record">
                        <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Tra cứu miễn phí</p>
                    </div>
                    <div class="tab-record ">
                        <p class="unit align-left widthTabRecord"><i class="fa fa-circle float-left"></i>Ký & giao hồ sơ tận nơi</p>
                    </div>
                </div>
                <div class="pc">
                    <button onclick="$('#dknhform1').modal('show')" type="button" class="btn btn-warning">TRA CỨU NHANH</button>
                </div>
                <div class="sp center">
                    <button onclick="$('#dknhform1').modal('show')" type="button" class="btn btn-warning">TRA CỨU NHANH</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-dknhintro></app-dknhintro>
<app-dknheffective></app-dknheffective>
<app-dknheffectivecontent></app-dknheffectivecontent>
<app-dknhpricing></app-dknhpricing>
<app-dknhwhychoose></app-dknhwhychoose>
<app-dknhcustomer></app-dknhcustomer>
<app-dknhfeedback></app-dknhfeedback>
<app-partner></app-partner>
<app-dknhquestion></app-dknhquestion>
<app-dknh-videos></app-dknh-videos>
<app-homenews></app-homenews>
<app-dknhsubfooter></app-dknhsubfooter>
<div class="modal fade" id="dknhform1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-form-group-field-info [submitClick]="submitClick" (dataName)="name=$event" (dataPhone)="phone=$event" (dataEmail)="email=$event"></app-form-group-field-info>
                <div class="form-group">
                    <textarea [(ngModel)]="description" name="description" class="form-control" rows="3" placeholder="Tên nhãn hiệu, ngành nghề kinh doanh. Vd: Flow Media-Truyền thông marketing"></textarea>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <app-form-field-upload label="Logo đính kèm 1" type="image" (data)="this.logo1=$event"></app-form-field-upload>
                    </div>
                    <div class="form-group col-4">
                        <app-form-field-upload label="Logo đính kèm 2" type="image" (data)="this.logo2=$event"></app-form-field-upload>
                    </div>
                    <div class="form-group col-4">
                        <app-form-field-upload label="Logo đính kèm 3" type="image" (data)="this.logo3=$event"></app-form-field-upload>
                    </div>
                </div>
                <div class="flex-center-hor">
                    <button (click)="submit()" type="button" class="btn btn-warning">Gửi yêu cầu</button>
                </div>
            </div>
        </div>
    </div>
</div>
