<section id="business-size" class="">
    <div class="container center">
        <div class="row ">
            <div class="col-md-12 center"><h1 class="sub-content-no-fluid" style="padding-top: 45px!important;">{{global.locale=='vi'?'Luật sư và cố vấn 10+ năm kinh nghiệm':'Luật sư và cố vấn 10+ năm kinh nghiệm aaa'}}</h1>
                <p class="center sub-content-no-fluid" style="padding-bottom: 45px!important;">{{global.locale=='vi'?'Đội ngũ luật sư và cố vấn của chúng tôi đều trải qua 10+ năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và đầu tư. Chia sẻ với chúng tôi dự định kinh doanh của bạn tại Việt Nam, Asoka sẽ giúp bạn thực thi với một nền móng pháp lý vững chắc.':'Đội ngũ luật sư và cố vấn của chúng tôi đều trải qua 10+ năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và đầu tư. Chia sẻ với chúng tôi dự định kinh doanh của bạn tại Việt Nam, Asoka sẽ giúp bạn thực thi với một nền móng pháp lý vững chắc. aaa'}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="controller-tabs-popular" id="fix-dkdtbusiness-V">
                    <div data-target="#menu1">
                        <img src="/assets/media/TVLS/business-size/binh.jpg">
                    </div>
                    <div class="active" data-target="#menu2"><img
                        src="/assets/media/TVLS/business-size/tra.jpg"></div>
                    <div data-target="#menu3"><img
                        src="/assets/media/TVLS/business-size/tai.jpg"></div>
                    <div data-target="#menu4"><img
                        src="/assets/media/TVLS/business-size/tam.jpg"></div>
                    <div data-target="#menu1"><img
                        src="/assets/media/TVLS/business-size/binh.jpg"></div>
                    <div data-target="#menu2"><img
                        src="/assets/media/TVLS/business-size/tra.jpg"></div>
                    <div data-target="#menu3"><img
                        src="/assets/media/TVLS/business-size/tai.jpg"></div>
                    <div data-target="#menu4"><img
                        src="/assets/media/TVLS/business-size/tam.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content  info-panel">
        <div class="container-fluid">
            <div id="menu1" class="tab-pane-business center row">
                <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                                     src="/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Cố vấn thuế':'Cố vấn thuế aaa'}}</p>
                        <p class="name-business">{{global.locale=='vi'?'Lê Bình':'Le Binh'}}</p>
                        <p class="blockquote-business"><i>{{global.locale=='vi'?'"Bình quyết đoán, nhanh nhẹn. Tâm huyết với nghề & luôn đặt lợi ích của khách hàng lên hàng đầu."':'"Bình quyết đoán, nhanh nhẹn. Tâm huyết với nghề & luôn đặt lợi ích của khách hàng lên hàng đầu." aaa'}}</i></p>
                        <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
                        <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 lượt đặt tư vấn aaa'}}</p></div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div class="experience-business"><h5
                        style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Kinh nghiệm làm việc aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'12 năm hoạt động trong lĩnh vực tư vấn, đào tạo kế toán, thuế Doanh nghiệp.':'12 năm hoạt động trong lĩnh vực tư vấn, đào tạo kế toán, thuế Doanh nghiệp. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Tư vấn, làm việc kế toán, thuế cho hơn 400 doanh nghiệp về các lĩnh vực TM, DV, xây lắp, khách sạn, du lịch.':'Tư vấn, làm việc kế toán, thuế cho hơn 400 doanh nghiệp về các lĩnh vực TM, DV, xây lắp, khách sạn, du lịch. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Tư vấn về lao động tiền lương, BHXH cho hơn 100 doanh nghiệp.':'Tư vấn về lao động tiền lương, BHXH cho hơn 100 doanh nghiệp. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Đào tạo về kế toán, thuế thực hành thực tế cho hơn 500 học viên.':'Đào tạo về kế toán, thuế thực hành thực tế cho hơn 500 học viên. aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div style=""><h5
                        style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Bằng cấp & ngôn ngữ aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Cử nhân kinh tế, Đại học kinh tế TP.HCM':'Cử nhân kinh tế, Đại học kinh tế TP.HCM aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề thuế':'Chứng chỉ hành nghề thuế aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ kế toán trưởng':'Chứng chỉ kế toán trưởng aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ : Việt/Anh':'Ngôn ngữ : Việt/Anh aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <button (click)="submit(true)" class="btn btn-warning " style="background-color: #FFC107;color: white;margin-bottom: 20px;" type="button">
                        {{global.locale=='vi'?'Đặt lịch tư vấn với luật sư':'Đặt lịch tư vấn với luật sư aaa'}}
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="menu2" class="tab-pane-business center row" style="display: flex">
                <div class="col-md-4 col-sm-12">
                    <img class="business-size-bg d-none d-md-block" src="/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business">
                        <p class="title-business">{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}}</p>
                        <p class="name-business">{{global.locale=='vi'?'Nguyễn Sơn Trà':'Nguyễn Sơn Trà aaa'}}</p>
                        <p class="blockquote-business"><i>{{global.locale=='vi'?'"Luật sư Trà tập trung vào các giải pháp thực tiễn để giải quyết các vấn đề pháp lý cho khách hàng."':'"Luật sư Trà tập trung vào các giải pháp thực tiễn để giải quyết các vấn đề pháp lý cho khách hàng." aaa'}}</i></p>
                        <p class="start-business d-none d-md-block">
                            <span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 lượt đặt tư vấn aaa'}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div class="experience-business"><h5
                        style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Kinh nghiệm làm việc aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'11 năm kinh nghiệm trong các lĩnh vực pháp lý: giải quyết tranh chấp, thu hồi nợ, hôn nhân và gia đình.':'11 năm kinh nghiệm trong các lĩnh vực pháp lý: giải quyết tranh chấp, thu hồi nợ, hôn nhân và gia đình. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Hơn 9 năm làm việc/hợp tác với hai hãng luật lớn là Baker McKenzie và Phuoc & Partners.':'Hơn 9 năm làm việc/hợp tác với hai hãng luật lớn là Baker McKenzie và Phuoc & Partners. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Với khả năng giao tiếp sắc sảo bằng song ngữ Anh - Việt, Luật sư Trà đã hỗ trợ pháp lý hiệu quả cho các đối tác lớn trong và ngoài nước như: Standered, ANZ, Shell Vietnam, Petronas Vietnam, General Motors Vietnam, Credit Reform, Maybank Kim Eng, Sika Vietnam, Nuplex Vietnam, Petec, Schenker Vietnam.':'Với khả năng giao tiếp sắc sảo bằng song ngữ Anh - Việt, Luật sư Trà đã hỗ trợ pháp lý hiệu quả cho các đối tác lớn trong và ngoài nước như: Standered, ANZ, Shell Vietnam, Petronas Vietnam, General Motors Vietnam, Credit Reform, Maybank Kim Eng, Sika Vietnam, Nuplex Vietnam, Petec, Schenker Vietnam. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 60 phiên tranh tụng cho doanh nghiệp/cá nhân.':'Luật sư đại diện tham gia trên 60 phiên tranh tụng cho doanh nghiệp/cá nhân. aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div style=""><h5
                        style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Bằng cấp & ngôn ngữ aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh':'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề Luật sư, Chứng chỉ hành nghề quản tài viên, Học Viện Tư Pháp':'Chứng chỉ hành nghề Luật sư, Chứng chỉ hành nghề quản tài viên, Học Viện Tư Pháp aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh':'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam':'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Ngôn ngữ giao tiếp: Anh/Việt aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <button (click)="submit(true)" class="btn btn-warning " style="background-color: #FFC107;color: white;margin-bottom: 20px;" type="button">
                        {{global.locale=='vi'?'Đặt lịch tư vấn với luật sư':'Đặt lịch tư vấn với luật sư aaa'}}
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="menu3" class="tab-pane-business center row">
                <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                                     src="/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}}</p>
                        <p class="name-business">{{global.locale=='vi'?'Đặng Thành Tài':'Đặng Thành Tài aaa'}}</p>
                        <p class="blockquote-business"><i>{{global.locale=='vi'?'"Tự tin, năng động, chuyên nghiệp, tận tâm. Luật sư Tài luôn hướng đến việc bảo vệ tốt nhất quyền và lợi ích hợp pháp của khách hàng."':'"Tự tin, năng động, chuyên nghiệp, tận tâm. Luật sư Tài luôn hướng đến việc bảo vệ tốt nhất quyền và lợi ích hợp pháp của khách hàng." aaa'}}</i></p>
                        <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
                        <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 lượt đặt tư vấn aaa'}}</p></div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div class="experience-business"><h5
                        style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Kinh nghiệm làm việc aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'10 năm kinh nghiệm trong lĩnh vực tư vấn và đại diện thực hiện các thủ tục pháp lý liên quan đến doanh nghiệp, đầu tư & giải quyết tranh chấp.':'10 năm kinh nghiệm trong lĩnh vực tư vấn và đại diện thực hiện các thủ tục pháp lý liên quan đến doanh nghiệp, đầu tư & giải quyết tranh chấp. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Đặc biệt, Luật sư Tài có kinh nghiệm chuyên sâu về mua bán, nhập khẩu & đăng ký tàu biển.':'Đặc biệt, Luật sư Tài có kinh nghiệm chuyên sâu về mua bán, nhập khẩu & đăng ký tàu biển. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp.':'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Trực tiếp tham gia trên 200 giờ hướng dẫn pháp lý cho doanh nghiệp.':'Trực tiếp tham gia trên 200 giờ hướng dẫn pháp lý cho doanh nghiệp. aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div style=""><h5
                        style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Bằng cấp & ngôn ngữ aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật – Đại học Luật Thành phố Hồ Chí Minh.':'Cử nhân Luật – Đại học Luật Thành phố Hồ Chí Minh. aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề luật sư – Học viện Tư pháp.':'Chứng chỉ hành nghề luật sư – Học viện Tư pháp. aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Ngôn ngữ giao tiếp: Anh/Việt aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <button (click)="submit(true)" class="btn btn-warning" style="background-color: #FFC107;color: white;margin-bottom: 20px;" type="button">
                        {{global.locale=='vi'?'Đặt lịch tư vấn với luật sư':'Đặt lịch tư vấn với luật sư aaa'}}
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="menu4" class="tab-pane-business center row">
                <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                                     src="/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Luật sư':'Luật sư aaa'}}</p>
                        <p class="name-business">{{global.locale=='vi'?'Tâm Dương':'Tâm Dương aaa'}}</p>
                        <p class="blockquote-business"><i>{{global.locale=='vi'?'"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy đơn giản hóa mọi thứ, chú trọng giải quyết công việc bằng các giải pháp rõ ràng, linh hoạt."':'"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy đơn giản hóa mọi thứ, chú trọng giải quyết công việc bằng các giải pháp rõ ràng, linh hoạt." aaa'}}</i></p>
                        <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                            class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
                        <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 lượt đặt tư vấn aaa'}}</p></div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div class="experience-business"><h5
                        style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Kinh nghiệm làm việc aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự.':'11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông.':'Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Tư vấn nhượng quyền và xử lý tranh chấp nhượng quyền thương mại.':'Tư vấn nhượng quyền và xử lý tranh chấp nhượng quyền thương mại. aaa'}}</p>
                        </div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp.':'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp. aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự kiện.':'Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự kiện. aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
                    <div style=""><h5
                        style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Bằng cấp & ngôn ngữ aaa'}}</h5>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh':'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp':'Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh':'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam':'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam aaa'}}</p></div>
                        <div class="tab-business"><i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Ngôn ngữ giao tiếp: Anh/Việt aaa'}}</p></div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <button (click)="submit(true)" class="btn btn-warning " style="background-color: #FFC107;color: white;margin-bottom: 20px;" type="button">
                        {{global.locale=='vi'?'Đặt lịch tư vấn với luật sư':'Đặt lịch tư vấn với luật sư aaa'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
