<img class="img-responsive center-block logo-footer" alt="Công ty Luật TNHH Asoka" src="/assets/media/logo footer.svg"/>
<div class="space"></div>
<div style="line-height: 24px; color: #afaead;" lang-i18n key="footer-hangluatchinhdanh" default=" Asoka Law là một hãng luật chính danh, chuyên tư vấn và đại diện pháp lý cho doanh nghiệp tại Việt Nam.">
</div>
<div class="space"></div>
<p style="line-height: 28px;">
  <span style="font-size: 16px; font-weight: 500; color: white;">
    <img class="image-icon" src="/assets/media/phone_icon_1.svg"> {{global.settings.phone}}
  </span>
  <br>
  <span style="color: #afaead;"><img class="image-icon" src="/assets/media/mail_icon.svg">&nbsp;{{global.settings.email}}</span>
</p>

