<section class="mainvisual">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h1 style="margin-top: -20% !important;">{{global.locale=='vi'?'Quản trị doanh nghiệp tinh gọn "4 trong 1"':'"4 in 1" Efficient Corporate Governance'}}</h1>
                <p>{{global.locale=='vi'?'Trong 3 năm đầu tiên khởi nghiệp, hàng trăm doanh nghiệp đã tối ưu chi phí đến 87% với giải pháp Quản trị "4 trong 1".':'With "4 in 1" Governance solution, hundreds of businesses have optimized costs up to 87% in the first 3 years of starting a business.'}}</p>
                <div class="pc"><button onclick="$('#dnd3nform1').modal('show')" style="padding: 0.75rem 3rem;" class="btn btn-outline-warning">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult Me'}}</button></div>
                <div class="sp"><button onclick="$('#dnd3nform1').modal('show')" style="padding: 0.75rem 3rem;" class="btn btn-warning">{{global.locale=='vi'?'Tư vấn cho tôi':'Consult Me'}}</button></div>
            </div>
        </div>
    </div>
</section>
<app-dnd3n-missing (onselectservice)="childSelectService($event)"></app-dnd3n-missing>
<app-dnd3n-recognize></app-dnd3n-recognize>
<app-dnd3n-reason></app-dnd3n-reason>
<app-dnd3n-feedback></app-dnd3n-feedback>
<app-dnd3n-excusion></app-dnd3n-excusion>
<app-dnd3n-support></app-dnd3n-support>
<app-dnd3n-question></app-dnd3n-question>
<section class="bg-gray">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-8">
              <h5 class="pc" style="font-weight: 300; line-height: 2.5rem; margin: 0; font-size: 1.5rem;">{{global.locale=='vi'?'1000+ khách hàng của Asoka Law đã':'1000+ khách hàng của Asoka Law đã aaa'}}<span class="font-weight-bold" style="font-size: 1.5rem;">{{global.locale=='vi'?' tiết kiệm được 87% chi phí':' tiết kiệm được 87% chi phí aaa'}}</span><br>{{global.locale=='vi'?'cho 4 vấn đề: thuế - lao động - hợp đồng - pháp lý.':'cho 4 vấn đề: thuế - lao động - hợp đồng - pháp lý. aaa'}}</h5>
              <h5 class="sp center" style="font-size: 1.5rem;font-weight: 300; line-height: 2.5rem; margin: 0">{{global.locale=='vi'?'1000+ khách hàng của Asoka Law đã':'1000+ khách hàng của Asoka Law đã aaa'}}<span class="font-weight-bold" style="font-size: 1.5rem !important;">{{global.locale=='vi'?' tiết kiệm được 87% chi phí':' tiết kiệm được 87% chi phí aaa'}}</span><br>{{global.locale=='vi'?'cho 4 vấn đề: thuế - lao động - hợp đồng - pháp lý.':'cho 4 vấn đề: thuế - lao động - hợp đồng - pháp lý. aaa'}}</h5>
          </div>
          <div class="col-md-4">
              <div class="text-right pc">
                  <button onclick="$('#dnd3nform1').modal('show')" class="btn btn-warning shadow" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'TƯ VẤN CHO TÔI aaa'}}</button>
              </div>
              <div class="sp center" style="margin-top: 2rem;">
                  <button onclick="$('#dnd3nform1').modal('show')" class="btn btn-warning shadow" style="padding: 0.75rem 3rem;">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'TƯ VẤN CHO TÔI aaa'}}</button>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="modal fade" id="dnd3nform1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!fieldValid(name)&&n" [class.is-valid]="fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="{{global.locale=='vi'?'Họ tên *':'Fullname'}}">
                    <i *ngIf="!fieldValid(name) && n"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập họ tên.':'Please enter your name. '}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!fieldValid(phone,'phone')&&p" [class.is-valid]="fieldValid(phone,'phone')&&p" class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="{{global.locale=='vi'?'Số điện thoại *':'Phone number'}}"/>
                    <i *ngIf="!fieldValid(phone,'phone') && p"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập số điện thoại hợp lệ.':'Invalid phone number. '}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!fieldValid(email,'email')&&e" [class.is-valid]="fieldValid(email,'email')&&e" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email "/>
                    <i *ngIf="!fieldValid(email,'email') && e"><small class="text-danger">{{global.locale=='vi'?'Bắt buộc nhập email hợp lệ.':'Invalid email address. '}}</small></i>
                </div>
                <div class="form-group">
                    <label>{{global.locale=='vi'?'Dịch vụ pháp lý yêu cầu tư vấn*':'Choose a service'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s1)" [checked]="isSelectedService(s1)" class="form-check-input" name="service" type="checkbox" id="service1" [value]="s1">
                                    <label class="form-check-label font-weight-normal" for="service1">{{s1}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s2)" [checked]="isSelectedService(s2)" class="form-check-input" name="service" type="checkbox" id="service2" [value]="s3">
                                    <label class="form-check-label font-weight-normal" for="service2">{{s2}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s3)" [checked]="isSelectedService(s3)" class="form-check-input" name="service" type="checkbox" id="service3" [value]="s3">
                                    <label class="form-check-label font-weight-normal" for="service3">{{s3}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check-inline">
                                    <input (change)="selectService(s4)" [checked]="isSelectedService(s4)" class="form-check-input" name="service" type="checkbox" id="service4" [value]="s4">
                                    <label class="form-check-label font-weight-normal" for="service4">{{s4}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="description" name="description" class="form-control" id="questiontext" rows="3" placeholder="{{global.locale=='vi'?'Nhập câu hỏi mô tả tình trạng công ty bạn tại đây':'Insert your question(s) or describe the company\'s status'}}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale=='vi'?'Gửi yêu cầu':'Send Request'}}</button>
            </div>
        </div>
    </div>
</div>
