<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="margin-top: 70px; ">
        <h1 style="line-height: 60px; font-weight: 500; font-family:'Montserrat',sans-serif; font-size: 45px; color: #000000;">
          Quản trị doanh nghiệp tinh gọn &quot;4 trong 1&quot;
        </h1>
        <p style="margin-top: 40px; font-weight: 200; line-height: 30px;">
          &quot;Trong 3 năm đầu tiên khởi nghiệp, hàng trăm doanh nghiệp đã tối ưu chi phí đến 87% với giải pháp Quản trị "4 trong 1&quot;.
        </p>
        <button onclick="$('#modalHomeAdvice').modal('show')" style="padding: 10px 40px; margin-top: 60px;" class="btn btn-outline-warning ">Tư vấn cho tôi</button>
      </div>
    </div>
  </div>
</section>
<app-dnd3n-missing></app-dnd3n-missing>
<app-dnd3n-recognize></app-dnd3n-recognize>
<app-dnd3n-reason></app-dnd3n-reason>
<app-dnd3n-feedback></app-dnd3n-feedback>
<app-dnd3n-excusion></app-dnd3n-excusion>
<app-dnd3n-support></app-dnd3n-support>
<app-dnd3n-question></app-dnd3n-question>
<section class="sub bg-image center">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-8" style="text-align: left;">
          Chúng tôi tự hào là <b>cộng sự tận tâm cho 100+ nhà đầu tư</b><br>nước ngoài kinh doanh thành công tại Việt Nam.
      </div>
      <div class="col-md-4">
        <div style="width: fit-content; float:right ; ">
          <button onclick="$('#modalHomeAdvice').modal('show')" style="   padding: 8px 15px; font-size: 16px;" class="btn btn-warning sub-button shadow">Yêu cầu tư vấn</button>
        </div>
      </div>
    </div>
  </div>
</section>
