.icon-video {
  position: absolute;
  z-index: 1000;
  top: 75px;
  left: 0;
  font-size: 50px;
  color: gray;
}

.effectBackground img {
  width: 100%;
  position: absolute;
  z-index: -10;
}

.title {
  text-align: center;
  margin: auto;
  padding-top: 8%;
}

.fontWeight {
  font-weight: 100;
}

.fontSize {
  font-size: x-large;
  padding-left: 3%;
}

.titlerecord img {
  width: 25px;
  padding-top: 6px;
  /* padding-right: 8px; */
  margin-right: 23px;
}

.paddingTabRecord {
  padding-left: 3%;
  padding-top: 5%;
}

.effectiveImg img {
  width: 200px;
  position: absolute;
  bottom: 270px;
  left: 160px;
}

.logoTitle {
  width: 175px;
}

.logo {
  width: 1px;
  height: 90px;
  border: 2px solid grey;
}

.logoContent {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.logocontent {
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 5%;
  /* padding-top: 150px; */
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
}

.priceListItem {
  width: 94%;
  height: auto;
  padding: 25px 25px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 51px 30px #f2f2f2;
  /* text-align: center; */
  background: white;
}

.Sub {
  padding-bottom: 5%;
  width: 88%;
  border-radius: 20px;
  margin-right: 5%;
}

.backgroundIcon img {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 25px 0 0 -15px;
}

.SubTitle {
  padding-top: 3%;
}

.summaryTitle {
  color: #ffb111;
  font-weight: 700;
  text-align: left;
  font-size: 15px;
}

.backgrFormound {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

.imgForm {
  position: absolute;
  width: 640px;
  z-index: -1;
  top: -60px;
  left: -58px;
}

.widthTabRecord {
  width: 160px;
}

.titleRecord img {
  width: 15px;
  padding-right: 35%;
}

.Record {
  padding-bottom: 30px;
}

.infoSeeAll hr {
  width: 215px;
  background: #7ec8e9;
  margin-top: 0 !important;
}

.infoSeeAll a {
  color: #7ec8e9;
  font-size: 12px;
  font-style: italic;
}

.img-content {
  margin-top: -25%;
  margin-left: 15%;
  width: 660px;
}

.imgSub {
  height: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.ingHeight {
  height: 100px;
}

.flex-center-sub {
  text-align: center;
  padding-top: 5%;
}

.subFooter {

  height: 250px;
  background: url(/assets/media/DKNH/subFooter.jpg);
  background-repeat: no-repeat;

  background-size: 100% 100%;
}

.desRecord {
  margin-left: 45px;
  font-size: 14px;
  text-align: justify;
  color: #3f3f3f;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.sub {
  padding-bottom: 30px;
  padding-top: 30px;
}

.bg-image {
  color: black;
  background: url(/assets/media/footer-bg.jpg) bottom center no-repeat;
}

.bg-grey {
  color: #afaead;
  background-color: #e0e3e6;
}

.bg-blue {
  color: #afaead;
  background-color: #212331;
}

.space {
  margin-bottom: 30px;
}

.center {
  text-align: center;
  margin: auto;
}

.footer h4 {
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li a {
  color: #afaead;
}

.footer li a:hover {
  color: white;
  text-decoration: none;
}


header a {
  color: #afaead;
}

header a:hover {
  color: white;
  text-decoration: none;
}

header nav a:hover {
  color: orange;
  text-decoration: none;
}

.padding {
  padding: 5px 20px;
  text-align: center;
  margin: auto;
}



.social i {
  border: 1px solid #fff;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

.social a {
  color: #fff;
}

.primary {
  color: orange;
  font-size: 20px;
}

.h-phone {
  font-size: 22px;
  font-weight: 600;
  float: right;
}

.header {
  background-image: url(/assets/media/DND3N/banner/dnd3n.jpg);
  background-size: cover;
  background-position: bottom;

}

.slide-item {
  padding: 20px;
}

#slide-video {
  background: #f4f4f6;
}

.title h1 {
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.btn-time {
  background: #7ec8e9;
  padding: 10px;
  width: 130px;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}

.img-info {
  width: 100%;
  height: 200px;
  margin-top: -15px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.title-info h4 {
  font-weight: bold !important;
  text-align: start;
  padding: 20px 0 10px;
}

.title-des p {
  text-align: justify;
  font-size: 13px;
  color: #3f3f3f;
}

.info-see-all hr {
  width: 150px;
  background: #7ec8e9;
  margin-top: 0 !important;
}

.info-see-all a {
  color: #7ec8e9;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  cursor: auto;
}

.img-partner {
  max-width: 95%;
}

.effective-img {
  width: 100%;
  border-radius: 20px;
}

.effective-content {
  margin-top: 60px;
}

.title-record h4 {
  float: right;
  font-weight: bold;
  margin-left: 20px;
  font-size: 17px;
}

.content-record i {
  color: #ffb111;
  font-size: 30px;
}

#statistical hr {
  margin-top: -10px;
  margin-bottom: 10px;
  width: 30px;
  border: 2px solid #ffb111;
  margin-left: 0;
}

.statistical-number {
  font-size: 3rem;
  font-weight: bold;
  color: #474747;
}

.statistical-label {
  font-weight: 600;
  font-size: 13px;
  color: #7a7a7a;
}

#statistical .row {
  justify-content: space-around;
}

#team {
  background-image: url(/assets/media/landingpage/team/background.svg);
  background-size: cover;
  padding-top: 100px;
}

#team .title h1 {
  text-align: start;
}

#team .des-record p {
  margin-left: 0px;
}

#team hr {
  margin-top: 0;
  width: 200px;
  border: 2px solid #7ec8e9;
  margin-left: 0;
}

.team-user {
  background: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.team-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-user p {
  margin: 0;
}

.user-name {
  margin-top: 10px;
}

.job {
  font-size: 13px;
  color: #7a7a7a;
}

.name {
  font-weight: 600 !important;
}

.list-slide-team {
  margin-top: -35px;
}

#price-list .des-record p {
  text-align: center !important;
  margin: 0;
}

.price-list-price p {
  font-weight: bold;
  color: #1a73e8;
  font-size: 20px;
  margin: 0;
}

.price-list-price sup {
  font-size: 10px;
  font-weight: normal;
}

#price-list .sub-title {
  font-weight: 600;
  font-size: 12px;
  color: #777777;
}

.sub-title {
  font-weight: 200;
  font-size: 12px;
  color: #777777;
}

.price-list-item {
  text-align: start;
  padding: 20px 30px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 51px 30px #f2f2f2;
}

.list-rule p {
  font-size: 12px;
}

.list-rule p:hover {
  color: #7ec8e9;
  cursor: pointer;
}

.btn-custom {
  border: 1px solid #ffb111;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#asoka-description .des-record p {
  font-size: 15px;
  font-style: italic;
  color: #25405b;
  text-align: center;
  font-weight: 400;
  margin-left: 0px;
  margin-bottom: 0px;
}

#asoka-description hr {
  background: #25405b;
  width: 300px;
}

.normal {
  font-style: normal !important;
}

.text-color {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  color: #ffb111 !important;
}

.background-icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 25px 0 0 -15px;
}

#asoka-description .content i {
  font-size: 10px;
  color: #515151;
  margin: 0 2px;
}

#asoka-description .content .bold {
  font-size: 13px !important;
  color: #ffb111 !important;
  margin: 0 2px;
}

.flex-center-hor {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.service-item {
  text-align: center;
  width: 25%;
}

.service-item .title {
  font-size: 17px;
  font-weight: 600;
}

.service-item p.sub-title {
  font-size: 12px;
  color: #70706f;
  margin-bottom: 0px;
}

.service-item i {
  font-size: 40px;
  color: #ffb111;
  margin-bottom: 10px;
}

.service-item hr.horizontal {
  background: #70706f;
  width: 100%;
  size: 2px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.list-service hr.vertical {
  background: #70706f;
  height: 100%;
  width: 1px;
  margin: 0;
}

.service-item .content {
  margin: 0px 40px;
}

#service .title h1 {
  margin-bottom: 30px;
}

#service .sub {
  padding-bottom: 0px !important;
}

#service .content-2 {
  margin: 40px 40px 0;
}

#service .btn-custom {
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 60px;
  text-align: center;
  font-size: 17px;
}

.banner {
  margin-top: 100px;
}

.banner h1 {
  font-weight: bold;
}

.text-color-search {
  color: white;
  font-size: 13px;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: 35px;
}

.container-search {
  width: 60%;
  height: 35px;
  color: white;
  border-radius: 50px;
  background: white;
  padding-right: 10px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

.search {
  margin-top: 50px;
}

.search .fa-search {
  color: #6c757d;
  font-size: 20px;
  margin-top: 5px;
}

.search .fa-caret-down {
  color: #6c757d;
  font-size: 10px;
  margin-top: 8px;
}

.row-search {
  padding: 0 20px 0 10px;
  justify-content: space-between;
}

.input-search {
  width: 80%;
  border: none white;
  background: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
}

::placeholder {
  font-size: 12px;
  font-style: italic;
}

#service {
  margin-top: 30px;
}

.nextArrowBtn {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: -20px;
  color: #BFAFB2;
}

.prevArrowBtn {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: -20px;
  color: #BFAFB2;
}

.slick-dots {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.slick-dots li {
  padding: 0 5px;
}.slick-dots li i {
   color: white;
   border-radius: 50%;
   border: 1px solid #4cb1e0;
 }



.slide-asoka-des li.slick-active i {
  font-size: 13px !important;
  color: #4cb1e0 !important;;
}

.price-list-item img {
  position: absolute;
  width: 30%;
  right: 50px;
}

.price-list-item h5 {
  margin-top: 20px;
}

.price-list-price {
  margin-left: -30px;
  background-image: url(/assets/media/landingpage/price/background.svg);
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  background-repeat: no-repeat;
}

.list-rule i {
  color: #7ec8e9;
}

#service img {
  height: 50px;
  margin-bottom: 10px;
}

.effect-img img {
  width: 200px;
  position: absolute;
  bottom: 90px;
  right: 180px;
}

.title-record img {
  width: 25px;
}

img.arrows {
  width: 20px;
}

img.news {
  width: 50px;
}

img.prevArrowBtnNews {
  position: absolute;
  z-index: 1000;
  top: 110px;
  left: 0;
  color: #BFAFB2;
}

img.nextArrowBtnNews {
  position: absolute;
  z-index: 1000;
  top: 110px;
  right: 0;
  color: #BFAFB2;
}

img.icon {
  width: 20px;
  padding-top: 5px;
  margin-right: 10px;
}

.prevArrowBtnVideo {
  position: absolute;
  z-index: 1000;
  top: 70px;
  left: 0;
  color: #BFAFB2;
}


.btn-play {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(100% - 230px);
  top: calc(100% - 208px);
}

#slide-video .slide-item {
  position: relative;
}

.image-effective {
  position: absolute;
  width: 12%;
}

.content-record-effective {
  margin-left: 21%;
}

.full-width {
  width: 80%;
  margin: auto;
}

.footer-image {
  margin-left: -50%;
  /* width: 100%; */
  inline-size: 200%;
  height: 56px;
}

.light-blue {
  color: #7ec8e9;
}

.controller-tabs ul li {
  width: 30%;
  /*padding: 20px;*/
}

.controller-tabs ul li:active {
  border: 1px solid #BFAFB2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.unit {
  color: #848484;
}

.summary {
  padding: 0 50px;
}

#list-service p {
  margin-bottom: 0;
}

.align-right {
  text-align: right;
}

.summary .price {
  font-weight: 500;
  font-size: 40px;
}

.summary .unit {
  font-size: 13px;
}

.padding-hor {
  padding-right: 10px;
  padding-left: 10px;
}

.margin-negative {
  margin-bottom: -10px !important;
}

#list-service hr {
  border: 1px solid #848484;
}

.summary-detail {
  padding-top: 20px;
  padding-bottom: 20px;
}

.summary-title {
  color: #4cb1e0;
  font-weight: 700;
  text-align: left;
  font-size: 15px;
}

.summary-detail .unit {
  font-size: 13px;
}

.align-left {
  text-align: left;
}

.summary-detail i {
  font-size: 11px;
}

.summary-detail i.fa {
  color: #004760;
  font-size: 20px;
}

.record p {
  margin-bottom: 10px !important;
  margin-left: 30px;
}

.summary-title {
  padding-bottom: 20px;
}

.summary-item {
  margin-bottom: 30px;
}

.service-content {
  padding: 30px 40px;
}

#list-service .middle {
  border: 0.5px solid #4cb1e0;
  background: #f5fbfe;
  position: relative;
}

#list-service .middle .btn {
  color: white;
}

.record img {
  width: 15px;
  margin-top: 5px;
}

.banner-small {
  position: absolute;
  top: -1px;
  right: -1px;
}

.banner-small img {
  width: 100px;
}

#effective .des-record p {
  text-align: center !important;
  margin: 0;
}

p.des-record {
  text-align: center !important;
  margin: 0;
  font-size: 13px;
  color: #3f3f3f;
}

.text-black {
  color: black;
}

#effective hr {
  width: 100px;
  border: 2px solid #ffb111;
  /*margin: auto 20px;*/
}

.color-white {
  color: white;
}

.call hr {
  width: 100px !important;
  border: 1px solid #3f3f3f !important;
  width: 30% !important;
}

.call img {
  width: 20px;
}

.call p {
  margin-bottom: 0 !important;
  font-size: 20px;
  color: #4cb1e0;
  font-weight: bold;
}

#feedback-pltx {
  margin-bottom: 100px;
}

#external {
  background-image: url("/assets/media/DKDT/dich-vu-ho-tro-them/bg2.svg");
  background-size: cover;
  background-position: bottom;
}

.feedback-item {
  position: relative;
}

.background-icon-pltx {
  width: 62px;
  position: absolute;
}

.pltx-text {

  font-size: 14px;
  /* font-size: 13px; */
  /* font-style: italic; */
  padding: 0 50px;
  font-weight: 400;
  text-align: center;
}

.feedback-slide-pltx {
  padding: 0 100px;
}

#feedback-pltx hr {
  border: 1px solid #efefef !important;
  width: 40% !important;
  margin-top: 30px;
}

.circal {
  background: #4cb1e0;
  border: 0px #4cb1e0;
  border-radius: 50%;
  height: 100%;
}

.logo-customer {
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}


.info-feedback {
  display: flex;
  justify-content: flex-start !important;
  text-align: end;
  padding-right: 70px;
  margin-top: 30px;
}

.info-feedback h4 {
  font-weight: 700;
}

.info-feedback p {
  color: #ffb111;
  font-size: 15px;
  font-weight: 500;
}

.content-pltx {
  padding-top: 30px;
}

.feedback-slide-pltx li.slick-active i {
  font-size: 13px !important;
  color: #4cb1e0 !important;;
}

.feedback-slide-pltx .slick-dots {
  justify-content: end !important;
  margin-top: -100px;
  position: relative;
  z-index: 1000;
  margin-left: 50px;
}

/*support*/
#support .des-record {
  padding: 0 100px;
  margin-top: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.support-title {min-height: 8rem;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 0 0 5px 5px;
}

.support-title > p {
  color: #5e5e5e !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding-left: 0px !important;
  text-align: left !important;
}

.support-title p {
  color: #aeaeae;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 0px !important;
}

.support-title i {
  color: #aeaeae;
  font-size: 20px;
  margin-left: 15px;
}

.slide-support-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

#support .prevArrowBtnVideo {
  position: absolute;
  z-index: 1000;
  top: 40%;
  width: max-content;
  left: -10px;
  color: #BFAFB2;
}

#support .nextArrowBtnVideo {
  position: absolute;
  z-index: 1000;
  width: max-content;
  top: 40%;
  right: -10px;
  color: #BFAFB2;
}


.video-pltx h4 {
  margin-left: 30px !important;
}

.margin-sub {
  margin-top: 30px;
}

#contact {
  background: #f6f7fb;
}

#contact p {
  font-size: 20px;
  color: #212331;
  margin-bottom: 0;
}

#contact .row {
  justify-content: space-around;
}

.btn-tab {
  border: none;
  width: 100%;
  text-align: center;
  background: white;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

.btn-tab img {
  height: 35px;
}

.btn-tab p {
  color: #636363;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  margin-left: 10px;
}

#business-size .row {
  margin-left: 0;
  margin-right: 0;
}

.controller-tabs ul li button.active {
  background: #f5f6fa;
  outline: none;
}

.controller-tabs ul li button.btn-tab:focus {
  outline: none;
}

.controller-tabs {
  margin-top: 50px;
}


.btn-collapse {
  width: 100%;
  background: #e8e8e8;
  border: none;
  border-radius: 30px;
  color: #3f3f3f;
  font-size: 13px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-collapse:active {
  outline: none;
}

.btn-collapse.active {
  outline: none;
  background: #80caec;
  color: white;
}

.btn-collapse i {
  margin-top: 3px;
}

.tab-pane .list-rule {
  text-align: left;
  padding: 10px 30px;
}

.tab-pane .list-rule p {
  color: #3f3f3f !important;
  font-size: 13px !important;
  font-weight: 500;
}

.tab-record p {
  font-size: 12px;
  margin-bottom: 10px;
}

.tab-record i {
  color: #80caec;
  font-size: 10px;
  margin-top: 3px;
  margin-right: 7px;
}

.tab-content-record {
  margin-top: 20px;
}

.tab-pane .padding {
  padding: 0 50px !important;
}

.tab-pan-img {
  position: relative;
}

.background-square {
  width: 100%;
  max-height: 263px;
  background: #f5f6fa;
  border: 2px dashed #80caec;
  margin-top: -73%;
  margin-left: -5%;
  height: 263px;
}

.fixed-top {
  background-color: #e8eaf1 !important;

}

.highlight {
  font-size: 40px;
  font-weight: bold;
  color: #4cacdb;
}

#business-type {

}

.padding-header {
  padding: 50px 0px;
}

.dot-business {
  font-size: 9px;
  padding-right: 8px;
  position: relative;
  top: -3px;
  color: #80caec;
}

b {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.tab-link-custom {
  margin: 0px auto;
  padding: 0px 5px;
  width: auto;
}

.tab-link-custom a {
  font-size: 16px;
  font-weight: bold;
  color: black;
}


.tab-link-custom hr {
  width: 36%;
  border: 2px solid transparent;
  background: transparent;
  /*border: 2px solid #7ec8e9;*/
  /*background: #7ec8e9;*/
  margin-left: 0;

}

.tab-link-custom a:hover hr {

  border: 2px solid #7ec8e9;
  background: #7ec8e9;
}

.tab-link-custom a:hover {
  text-decoration: none;
  color: #7ec8e9;
}

.tab-link-custom .active hr {

  border: 2px solid #7ec8e9;
  background: #7ec8e9;
}

.tab-link-custom .active {
  text-decoration: none;
  color: #7ec8e9;
}

hr {
  width: 30%;
  border: 2px solid #7ec8e9;
  background: #7ec8e9;
  margin-left: 0;
}

.price-ul {

  position: relative;
}

.price-li {
  display: flex;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
  position: relative;
}


.price-li > img {
  position: absolute;
  top: 0px;
  left: -270px;
  z-index: 100;
  width: 250px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 2px #b5b5b5;
  display: none;
}

.icon {
  position: relative;
}

.icon img {
  width: 15px;
  padding-right: 5px;
}

.price-li:hover > img {
  display: block;
}

.button-type button {
  padding: 10px 40px;
  border-radius: 30px;
  margin-top: 20px;
}

.effect-img-popular img {
  margin-top: 255px;
  display: flex;
  /* top: 1000px; */
  margin-left: 170px;
  width: 18%;
  position: absolute;
}

.effect-img {
  /* display: flex; */
  /* top: 1000px; */
  z-index: -1;
  /* margin-left: 2%; */
  width: 50%;
  position: absolute;
  bottom: -4%;
}


.bg-image {
  color: black;
  background-color: #F9F9F9;
  background-image: unset;
}

.tab-pane p {
  line-height: 1.8rem;
}

.price-li.disabled {
  color: #a6a6a6;
}

.step-hr hr {
  width: 70% !important;
  margin: auto;
  float: right;
  height: 1px;
  border: 0px !important;
  margin-top: 10px;
}

.step-hr hr.right {
  float: left;
}

.s1-title {

  margin: 0 0 50px;
  text-align: center;
}

.s6-content {
  margin: auto;
}

.s6-item {
  margin-bottom: 50px;
}

.s6-item ul {
  list-style-type: unset !important;
  padding-left: 20px;
}

.s6-item h4 {
  color: #ffc30d;
  font-weight: bold;
  margin: 0 0 15px;
}

.s6-item li {
  margin-bottom: 15px;
}

.s6head {
  cursor: pointer;
}

.s6body {
  display: none;
  margin-top: 10px;
  color: #000;
  background: #f6f6f6;
  padding: 10px;
  margin-left: -20px;
  border-radius: 0 10px 10px 10px;
}

.nav-custom a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  color: #bbb5b5;
  padding: 15px 40px;
}

.nav-custom {
  padding: unset;

}

.nav-link {
  border: unset;
}

.nav-custom a {

}

.nav-custom a.active {
  background-color: #d0ced2 !important;
  color: #4cb1e0 !important;
}

.nav-custom a:hover {

  color: unset;
}

.nav-tabs .nav-item {
  margin-bottom: unset;
}

.nav-tabs .nav-link {
  border: unset;
}

.icon-left {

  height: 16px;
  margin-right: 2%;
  width: 22px;
}

.icon-right {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/mt2.svg");
  width: 2%;
  float: right;
  padding-top: 1%;
}

.collapsed .icon-right {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/mt1.svg");

}

.header-content a {
  text-align: left;
  color: #4cb1e0;
  font-weight: bold;
  padding-bottom: 2px !important;
  border-bottom: 1px solid #5e5e5e;
  border-radius: unset !important;
  padding: unset;
  width: 100%;
}

#myTabContent h5 {
  margin-top: -5px;
  margin-bottom: 20px;
  font-family:'Montserrat', Sans-Serif;
}

.header-content .collapsed {
  color: #5e5e5e;
}

.header-content a:hover {
  color: #4cb1e0;
}


.header-content a .tt {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/tt2.svg");
}

.header-content .collapsed .tt {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/tt1.svg");
}

.header-content a .shtt {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/shtt2.svg");
  height: 18px;
}

.header-content .collapsed .shtt {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/shtt1.svg");
  height: 18px;
}

.header-content a .hdbt {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/hdbt2.svg");
  height: 18px;
}

.header-content .collapsed .hdbt {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/hdbt1.svg");
  height: 18px;
}

.header-content a .sdld {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/sdld2.svg");
  height: 18px;
}

.header-content .collapsed .sdld {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/sdld1.svg");
  height: 18px;
}

.header-content a .vgts {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/vgts2.svg");
  height: 18px;
}

.header-content .collapsed .vgts {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/vgts1.svg");
  height: 18px;
}

.header-content a .qlct {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/qlct2.svg");
  height: 18px;
}

.header-content .collapsed .qlct {
  content: url("/assets/media/GQTC/nhan_dien_tranh_chap/qlct1.svg");
  height: 18px;
}

.card-body {
  padding: 1.25rem 0rem;
  line-height: 2rem;
  text-align: justify;
}
#modal-question td {
  border: none;
}
#modal-question .card-body {
  padding: 1.25rem;
  border-top: 1px solid rgba(0,0,0,.125);
}
#modal-question .card-header:first-child {
  border-bottom: none;
}

.security {
  font-size: 12px;
  position: relative;
  top: 10px;
  color: #4cb1e0;
}

.security span {
  color: #4cb1e0;
}

.controller-tabs-popular .active img {
  filter: opacity(1);
  width: 70% !important;
  margin: auto;

}

.active.slick-slide {
  margin-top: unset;
}

.slick-slide {
  margin-top: 23px;
}

.controller-tabs-popular div img {
  filter: opacity(0.4);
  width: 50% !important;
  margin: auto;
}

img.news {
  width: 20px;
}

img.prevArrowBtnNews {
  position: absolute;
  z-index: 1000;
  top: 76px;
  left: 0;
  color: #BFAFB2;
}

img.nextArrowBtnNews {
  position: absolute;
  z-index: 1000;
  top: 76px;
  right: 0;
  color: #BFAFB2;
}

.pot img {
  width: 16px;
}

.pot {
  width: fit-content;
  padding-right: 10px;
}

.content {
  display: inline-flex;
  padding: 20px 15px;

}

.content-body {
  line-height: 2rem;
}

.title-block h6 {

  font-weight: 400;
  padding-bottom: 10px;
  font-family:'Montserrat';
  text-transform: capitalize;
}

.box {
  background-color: #fcfcfc;
  padding: 30px 26px;
  border-radius: 10px;

  width: 96%;
  position: relative;
  margin: auto;
}

.title-block {

  width: fit-content;
}

.box hr {
  margin: auto !important;
  background: #00000069;
  height: 1px;
  width: 100%;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to right, #fcfcfc, transparent, #fcfcfc), linear-gradient(transparent, black 150%);
}

.footer-block {
  padding-bottom: 30px;
}

.icon-block {
  width: 10px;
  margin-right: 5px;
}

.block-two {

}

.block-three {
  min-height: 320px;
  padding: 20px 5px;
}

.block-three p {
  font-size: 12px;
}

.result-block {
  color: #4cb1e0;
  font-weight: bold;
}

.pro {
  margin-top: -20px;
  background-color: rgb(244, 253, 255);
}

.pro hr {

  background-image: linear-gradient(to right, whitesmoke, transparent, whitesmoke), linear-gradient(transparent, black 150%);
}

.step-hr hr {
  width: 100% !important;
}

.feedback-slide-pltx li.slick-active i {
  font-size: 13px;

}

.feedback-slide-pltx li.slick-active {
  font-size: 13px;


}

.feedback-slide-pltx li {

  width: unset!important;
  height: unset!important;
}

.feedback-slide-pltx li i {
  margin: auto;
}

.nextArrowBtnFeedback {
  position: absolute;
  width: 20px;
  bottom: 50px;
  left: 0px;
  z-index: 2;
}

.prevArrowBtnFeedback {
  position: absolute;
  width: 20px;
  bottom: 50px;
  left: 50px;
  z-index: 2;
}

.feedback-slide-pltx .slick-dots {
  margin-right: 0px !important;
  margin-left: unset !important;
}

.slick-dots {
  float: right;
  right: 155px;
  bottom: -35px;
}

#effective {
  background-image: url("/assets/media/GQTC/public_dai_dien/bg.svg");
  background-size: contain;
  background-position: top;
}

.effective-img {
  margin: auto;
}

.summary-title {
  color: #ffc107;
}

.record i {
  font-size: 6px;
  margin-top: 7px;
  margin-right: 4px;
}

.record {
  text-align: left;
}


.content-dkdt i {
  color: #4cb1e0;
  font-size: 7px;
  margin-top: 5px;
  margin-right: 5px;
}

.content-dkdt {
  font-size: 12px;
  display: inline-flex;
}

.disabled {
  color: #d2cdcd;
}

.sticky {
  position: absolute;
  width: 30%;
  top: -1px;
  right: 0px;
}

.content-header {
  margin-bottom: 20px;
  position: relative;
}

.content-header p {
  font-weight: bold;
  position: absolute;
  top: 40%;
  font-size: 18px;
}

.img-header {
  width: 120px;
}


.info-feedback p {
  color: unset;
  font-size: 13px;
  font-weight: 300;
}

.logo-customer img {
  margin: unset;
  width: 120px;
  border: 4px solid #ABC4D3;
  border-radius: 50%;
}

.feedback-slide-pltx .slick-dots {
  position: absolute;
  /* float: left; */

  bottom: 50px;
}





.external-image {
  width: 310px;
  margin: auto;
}

.external-body {
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -20px;
  position: absolute;
  width: 120px;
  color: white;
  border: 1px solid;
  border-radius: 40px;
  height: 40px;
}

.external-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65px;
  background-color: #0202027a;
  width: -webkit-fill-available;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.external-footer p {
  line-height: .5rem;
  color: white;
}

.external-footer p b {
  line-height: .5rem;
  color: white;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #0202027a;
  border-radius: 10px;
  z-index: 2;
}

.cover p {
  color: white;
}

.cover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.external-title {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

.external {
  z-index: 3;
}

.external:hover .external-footer {
  display: none;
}

.external:hover .external-body {
  display: none;
}

.external:hover .cover {
  visibility: visible;
  opacity: 1;
}

#question .record i {
  font-size: 6px;
}

#question .record {
  display: flex;
}

.content-icon {
  display: inline-flex;
  width: 100%;
}

.content-icon img {
  width: 8px;
  margin-bottom: 1rem;
  margin-right: 10px;
}

.content-icon p {
  line-height: unset;
}

.alt-title {
  font-size: 16px;
  font-weight: 500;
}

.recognize-block {
  position: relative;
}

.recognize-block img {
  position: absolute;
  width: 80px;
}

.recognize-block-bg {

}

#feedback {
  background-image: url("/assets/media/DNT3N/nguoi-thanh-cong/bg_1.svg");
  background-position: top;
  background-size: cover;
  padding-top: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.custom-color-white {
  top: 35%;
  color: white;
  border: 1px solid;
  left: 25%;
  padding: 7px 15px;
  border-radius: 30px;
  position: absolute;
}

.custom-color-white:hover {
  border: 1px solid #ffc107;
}

.block-missing {
  position: relative;
  padding: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 25px;
  transition: box-shadow 0.3s ease-in-out;
}
.block-missing.first img {
  width: 60px;
}
.block-missing img {
  top: 20px;
  position: absolute;
  width: 35px;
  right: 20px;
}

.block-missing button {
  padding: 8px 35px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 20px;
}
.block-missing:hover{
  box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important
}
.block-dk img{
  width: 50px;
}
.block-dk{
  position: relative;
  padding: 25px;
  width: 140px;
  height: 160px;
  border-radius: 15px;
}
.block-dk p{
  text-align: center;
}
.block-dk div{
  position: absolute;
  width: 100px;
  bottom: 20px;
  /* left: 62px; */
  left: 20px;
}
.block-dk-list {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.block-dk-list li {
  max-width: 30%;
  width: 100%;
  margin: 0 1.5% 5%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 70px 20px 20px;
  text-align: center;
  font-weight: 400;
}
.block-dk-list li:nth-child(1) {
  background: url('../../assets/media/DND3N/giai-quyet-tan-goc/cong-nghe-thong-tin.svg') center top 20px no-repeat;
  background-size: 40px;
}
.block-dk-list li:nth-child(2) {
  background: url('../../assets/media/DND3N/giai-quyet-tan-goc/phan-phoi-hang-hoa.svg') center top 20px no-repeat;
  background-size: 40px;
}
.block-dk-list li:nth-child(3) {
  background: url('../../assets/media/DND3N/giai-quyet-tan-goc/du-lich-an-uong.svg') center top 20px no-repeat;
  background-size: 37px;
}
.block-dk-list li:nth-child(4) {
  background: url('../../assets/media/DND3N/giai-quyet-tan-goc/truyen-thong-quang-cao.svg') center top 20px no-repeat;
  background-size: 50px;
}
.block-dk-list li:nth-child(5) {
  background: url('../../assets/media/DND3N/giai-quyet-tan-goc/Giao-duc-nghe-nghiep.svg') center top 15px no-repeat;
  background-size: 42px;
}
.recognize-form-bg {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #ecf7fc;
  z-index: -1;
  top: 0;
  left: 2%;
  transform: rotate(-5deg);
  border-radius: 20px;
  margin: 0;
}

.mainvisual {
  background-image: url('/assets/media/DND3N/banner/dnd3n.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  height: 650px;
}
.mainvisual h1 {
  line-height: 4rem;
  font-family: 'Montserrat',sans-serif;
  font-size: 3.2rem;
  color: #000000;
  margin: 0;
}
.mainvisual p {
  margin: 3rem 0;
  line-height: 2.55rem;
}
@media only screen and (max-width: 768px) {
  .modal-dialog
  {
    margin-top: 30% !important;
  }
  .mainvisual {
    height: 350px;
  }
  .mainvisual h1 {
    line-height: 2.75rem;
    font-size: 1.8rem;
  }
  .mainvisual p {
    margin: 1.5rem 0;
    line-height: 2rem;
  }
  .block-missing {
    margin-bottom: 3rem;
  }
  .block-dk-list li {
    max-width: 130px;
    padding: 70px 15px 15px;
  }
}

@media only screen and (max-width: 568px) {
  .recognize-form-bg {
    display: none;
  }
}

