<section id="success">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-12 center sub">
        <h1 class="sub-content"
            style="padding-right: unset!important;padding-left: unset!important; color: #283E6C;">
          Asoka Law nắm giữ bí quyết tổ chức sự kiện thành công
        </h1>
        <p class="padding center">
          Gói phí đề xuất của Asoka chuyên dành cho doanh nghiệp truyền thông, tổ chức sự kiện chuyên nghiệp.
          Các gói phí giúp kiểm soát tốt các vấn

          đề về Hợp đồng, Giấy phép và Quản trị sự kiện.
        </p>

      </div>

    </div>
    <div class="row d-none d-md-flex"  style="padding-top: 20px; padding-bottom: 80px;">
      <div class="col-md-4">
        <div class="block-missing block-one shadow-lg">
          <h3>GÓI HỢP ĐỒNG</h3>
          <hr>
          <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px">
            <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
            5.990.000 </b>VND

          </div>
          <div class="success-content">
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Luật
              sư
              tư vấn về hợp đồng</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Soạn
              thảo
              Hợp đồng đối tác</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Rà
              soát
              hợp đồng các bên</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Chỉnh
              sửa
              và thương lượng</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Lưu
              trữ
              và chuyển phát</p>

          </div>
          <button onclick="$('#plskform1').modal('show')" class="btn btn-outline-warning">Đăng ký ngay</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-missing block-two shadow-lg">
          <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 13.svg">
          <h3>GÓI GIẤY PHÉP</h3>
          <hr>
          <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
            <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
            9.990.000 </b>VND

          </div>
          <div class="success-content">
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Luật
              sư tư vấn về giấy phép</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Bóc
              tách nội dung sự kiện</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Soạn
              thảo hồ sơ xin giấy phép</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Xử lý
              rủi ro về hồ sơ</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Nộp,
              nhận, trả kết quả</p>

          </div>
          <button onclick="$('#plskform1').modal('show')" class="btn btn-warning">Đăng ký ngay</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-missing block-three shadow-lg">
          <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 14.svg">
          <h3>GÓI QUẢN TRỊ</h3>
          <hr>
          <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
            <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
            19.990.000 </b>VND <br/>
            <a href="#">***Đăng ký hôm nay giảm ngay 20%</a>
          </div>
          <div class="success-content">
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Luật
              sư tham gia tiến trình </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Tư
              vấn, cảnh báo rủi ro sự kiện </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Soạn
              thảo, rà soát hợp đồng </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Đăng
              ký hồ sơ, giấy phép </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Thực
              hiện thanh lý sau sự kiện </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Hướng
              dẫn lưu trữ hồ sơ </p>


          </div>

          <button onclick="$('#plskform1').modal('show')" class="btn btn-outline-warning">Đăng ký ngay</button>
        </div>
      </div>
    </div>
    <div class="row slick-success d-block d-md-none">
      <div class="col-md-4">
        <div class="block-missing block-one shadow-lg">
          <h3>GÓI HỢP ĐỒNG</h3>
          <hr>
          <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px">
            <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
            5.990.000 </b>VND

          </div>
          <div class="success-content">
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Luật
              sư
              tư vấn về hợp đồng</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Soạn
              thảo
              Hợp đồng đối tác</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Rà
              soát
              hợp đồng các bên</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Chỉnh
              sửa
              và thương lượng</p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Lưu
              trữ
              và chuyển phát</p>

          </div>
          <button onclick="$('#plskform1').modal('show')" class="btn btn-outline-warning">Đăng ký ngay</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-missing block-two shadow-lg">
          <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 13.svg">
          <h3>GÓI GIẤY PHÉP</h3>
          <hr>
          <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
            <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
            9.990.000 </b>VND

          </div>
          <div class="success-content">
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Luật
              sư tư vấn về giấy phép</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Bóc
              tách nội dung sự kiện</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Soạn
              thảo hồ sơ xin giấy phép</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Xử lý
              rủi ro về hồ sơ</p>
            <p><img class="icon-block"
                    src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> Nộp,
              nhận, trả kết quả</p>

          </div>
          <button onclick="$('#plskform1').modal('show')" class="btn btn-warning">Đăng ký ngay</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-missing block-three shadow-lg">
          <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 14.svg">
          <h3>GÓI QUẢN TRỊ</h3>
          <hr>
          <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
            <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
            19.990.000 </b>VND <br/>
            <a href="#">***Đăng ký hôm nay giảm ngay 20%</a>
          </div>
          <div class="success-content">
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Luật
              sư tham gia tiến trình </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Tư
              vấn, cảnh báo rủi ro sự kiện </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Soạn
              thảo, rà soát hợp đồng </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Đăng
              ký hồ sơ, giấy phép </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Thực
              hiện thanh lý sau sự kiện </p>
            <p><img class="icon-block"
                    src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> Hướng
              dẫn lưu trữ hồ sơ </p>


          </div>

          <button onclick="$('#plskform1').modal('show')" class="btn btn-outline-warning">Đăng ký ngay</button>
        </div>
      </div>
    </div>


  </div>


</section>
