<section id="success">
    <div class="container-fluid sub-fluid">
        <div class="row">
            <div class="col-md-12 center sub">
                <h1 class="sub-content"
                    style="padding-right: unset!important;padding-left: unset!important; color: #283E6C;">
                    {{global.locale=='vi'?'Asoka Law nắm giữ bí quyết tổ chức sự kiện thành công':'Asoka Law holds tips on how to organize a successful event'}}
                </h1>
                <p class="padding center">
                    {{global.locale=='vi'?'Gói phí đề xuất của Asoka chuyên dành cho doanh nghiệp truyền thông, tổ chức sự kiện chuyên nghiệp. Các gói phí giúp kiểm soát tốt các vấn đề về Hợp đồng, Giấy phép và Quản trị sự kiện.':'Our recommended packages are customized for professional media, event organization businesses. These packages help to effectively control issues on Contract, licenses and event management.'}}
                </p>

            </div>

        </div>
        <div class="row d-none d-md-flex" style="padding-top: 20px; padding-bottom: 80px;">
            <div class="col-md-4">
                <div class="block-missing block-one shadow-lg">
                    <h3>{{global.locale=='vi'?'GÓI HỢP ĐỒNG':'Contract Package'}}</h3>
                    <hr>
                    <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px">
                        <sup style="font-size: 12px; top: -15px">{{global.locale=='vi'?'Từ':'From'}}</sup><b style="font-size: 35px">
                        {{global.locale=='vi'?'5.990.000 ':'500 '}}</b>{{global.locale=='vi'?'VND ':'USD '}}

                    </div>
                    <div class="success-content">
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Luật sư tư vấn về hợp đồng':' Lawyer consultation on contracts'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Soạn thảo Hợp đồng đối tác':' Preparing Partner contracts'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Rà soát hợp đồng các bên':' Reviewing contracts'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Chỉnh sửa và thương lượng':' Editing and negotiating'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Lưu trữ và chuyển phát':' Lưu trữ và chuyển phát aaa'}}</p>

                    </div>
                    <button (click)="onChangePackage('Hợp đồng sự kiện')" class="btn btn-outline-warning">{{global.locale=='vi'?'Đăng ký ngay':'Register now'}}</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-missing block-two shadow-lg">
                    <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 13.svg">
                    <h3>{{global.locale=='vi'?'GÓI GIẤY PHÉP':'License Package '}}</h3>
                    <hr>
                    <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
                        <sup style="font-size: 12px; top: -15px">{{global.locale=='vi'?'Từ':'From'}}</sup><b style="font-size: 35px">
                        {{global.locale=='vi'?'9.990.000 ':'999 '}}</b>{{global.locale=='vi'?'VND ':'USD '}}

                    </div>
                    <div class="success-content">
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg">{{global.locale=='vi'?' Luật sư tư vấn về giấy phép':' Lawyer consultation on licenses'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg">{{global.locale=='vi'?' Bóc tách nội dung sự kiện':' Analysing event content'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg">{{global.locale=='vi'?' Soạn thảo hồ sơ xin giấy phép':' Preparing license application documents'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg">{{global.locale=='vi'?' Xử lý rủi ro về hồ sơ':' Handling application risks'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg">{{global.locale=='vi'?' Nộp, nhận, trả kết quả':' Submitting applications, receiving and returning results'}}</p>

                    </div>
                    <button (click)="onChangePackage('Giấy phép sự kiện')" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký ngay':'Register now'}}</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-missing block-three shadow-lg">
                    <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 14.svg">
                    <h3>{{global.locale=='vi'?'GÓI QUẢN TRỊ':'Administration Package'}}</h3>
                    <hr>
                    <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
                        <sup style="font-size: 12px; top: -15px">{{global.locale=='vi'?'Từ':'From'}}</sup><b style="font-size: 35px">
                        {{global.locale=='vi'?'19.990.000 ':'1599 '}}</b>{{global.locale=='vi'?'VND ':'USD '}}<br/>
                        <a href="#">{{global.locale=='vi'?'***Đăng ký hôm nay giảm ngay 20%':'***Sign up today 20% off'}}</a>
                    </div>
                    <div class="success-content">
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Luật sư tham gia tiến trình':' Lawyer involvement in administration'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Tư vấn, cảnh báo rủi ro sự kiện':' Consulting, warning about event-related risks'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Soạn thảo, rà soát hợp đồng':' Preparing and reviewing contracts'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Đăng ký hồ sơ, giấy phép':' Registering licenses & submitting applications'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Thực hiện thanh lý sau sự kiện':' Post-event liquidation '}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Hướng dẫn lưu trữ hồ sơ':' Instructing on recordkeeping'}} </p>


                    </div>

                    <button (click)="onChangePackage('Quản trị sự kiện')" class="btn btn-outline-warning">{{global.locale=='vi'?'Đăng ký ngay':'Register now'}}</button>
                </div>
            </div>
        </div>
        <div class="row slick-success d-block d-md-none">
            <div class="col-md-4">
                <div class="block-missing block-one shadow-lg">
                    <h3>{{global.locale=='vi'?'GÓI HỢP ĐỒNG':'Contract Package'}}</h3>
                    <hr>
                    <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px">
                        <sup style="font-size: 12px; top: -15px">{{global.locale=='vi'?'Từ':'From'}}</sup><b style="font-size: 35px">
                        {{global.locale=='vi'?'5.990.000 ':'500 '}}</b>{{global.locale=='vi'?'VND ':'USD '}}

                    </div>
                    <div class="success-content">
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Luật sư tư vấn về hợp đồng':' Lawyer consultation on contracts'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Soạn thảo Hợp đồng đối tác':' Preparing Partner contracts'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Rà soát hợp đồng các bên':' Reviewing contracts'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Chỉnh sửa và thương lượng':' Editing and negotiating'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Lưu trữ và chuyển phát':' Lưu trữ và chuyển phát aaa'}}</p>

                    </div>
                    <button (click)="onChangePackage('Hợp đồng sự kiện')" class="btn btn-outline-warning">{{global.locale=='vi'?'Đăng ký ngay':'Register now'}}</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-missing block-two shadow-lg">
                    <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 13.svg">
                    <h3>{{global.locale=='vi'?'GÓI GIẤY PHÉP':'License Package - Popular'}}</h3>
                    <hr>
                    <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
                        <sup style="font-size: 12px; top: -15px">{{global.locale=='vi'?'Từ':'From'}}</sup><b style="font-size: 35px">
                        {{global.locale=='vi'?'9.990.000 ':'999 '}}</b>{{global.locale=='vi'?'VND ':'USD '}}

                    </div>
                    <div class="success-content">
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> {{global.locale=='vi'?' Luật sư tư vấn về giấy phép':' Lawyer consultation on licenses'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> {{global.locale=='vi'?' Bóc tách nội dung sự kiện':' Analysing event content'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> {{global.locale=='vi'?' Soạn thảo hồ sơ xin giấy phép':' Preparing license application documents'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg"> {{global.locale=='vi'?' Xử lý rủi ro về hồ sơ':' Handling application risks'}}</p>
                        <p><img class="icon-block"
                                src="/assets/media/PLSK/to_chuc_su_kien/Asset 26.svg">{{global.locale=='vi'?' Nộp, nhận, trả kết quả':' Submitting applications, receiving and returning results'}}</p>

                    </div>
                    <button (click)="onChangePackage('Giấy phép sự kiện')" class="btn btn-warning">{{global.locale=='vi'?'Đăng ký ngay':'Register now'}}</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-missing block-three shadow-lg">
                    <img src="/assets/media/PLSK/to_chuc_su_kien/Asset 14.svg">
                    <h3>{{global.locale=='vi'?'GÓI QUẢN TRỊ':'Administration Package - Economic'}}</h3>
                    <hr>
                    <div style="font-size: 10px; margin-top:10px; margin-bottom:10px;text-align: center; min-height: 60px;">
                        <sup style="font-size: 12px; top: -15px">Từ</sup><b style="font-size: 35px">
                        {{global.locale=='vi'?'19.990.000 ':'1599 '}}</b>{{global.locale=='vi'?'VND ':'USD '}}<br/>
                        <a href="#">{{global.locale=='vi'?'***Đăng ký hôm nay giảm ngay 20%':'***Sign up today 20% off'}}</a>
                    </div>
                    <div class="success-content">
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> {{global.locale=='vi'?' Luật sư tham gia tiến trình':' Lawyer involvement in administration'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> {{global.locale=='vi'?' Tư vấn, cảnh báo rủi ro sự kiện':' Consulting, warning about event-related risks'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> {{global.locale=='vi'?' Soạn thảo, rà soát hợp đồng':' Preparing and reviewing contracts'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> {{global.locale=='vi'?' Đăng ký hồ sơ, giấy phép':' Registering licenses & submitting applications'}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg"> {{global.locale=='vi'?' Thực hiện thanh lý sau sự kiện':' Post-event liquidation '}} </p>
                        <p><img class="icon-block"
                                src="/assets/media/GQTC/lua_chon_goi_phu_hop/Asset 27.svg">{{global.locale=='vi'?' Hướng dẫn lưu trữ hồ sơ':' Instructing on recordkeeping'}} </p>


                    </div>

                    <button (click)="onChangePackage('Quản trị sự kiện')" class="btn btn-outline-warning">{{global.locale=='vi'?'Đăng ký ngay':'Register now'}}</button>
                </div>
            </div>
        </div>


    </div>


</section>
