<section id="reason">
  <div class="container-fluid">
    <h1 class="center" style="margin-bottom: 2rem;">03 lợi ích vận hành doanh nghiệp dưới 03 năm<br> cùng Asoka Law</h1>
    <div class="row align-items-start justify-content-center">
      <div class="col-md-5">
        <div class="pc">
          <img style="width:100%;" src="/assets/media/DND3N/loi-ich/thumbnail.png">
          <img style="position: absolute; top: 40px; z-index: -1; width: 90%; left: 55px;" src="/assets/media/DND3N/loi-ich/Asset 17.svg">
          <img data-toggle="modal" data-target="#modalVideo" style="width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; margin-left: -50px; margin-top: -50px; cursor: pointer;" src="/assets/media/DND3N/loi-ich/Asset 18.svg">
        </div>
        <div class="sp" style="margin-bottom: 3rem;">
          <img style="width:100%;" src="/assets/media/DND3N/loi-ich/thumbnail.png">
          <img data-toggle="modal" data-target="#modalVideo" style="width: 80px; height: 80px; position: absolute; left: 50%; top: 50%; margin-left: -40px; margin-top: calc(-40px - 1.5rem); cursor: pointer;" src="/assets/media/DND3N/loi-ich/Asset 18.svg">
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-icon">
          <img style="width: 22px" src="/assets/media/DND3N/loi-ich/Asset 16.svg">
          <p class="alt-title">Hiểu rõ lộ trình pháp lý</p>
        </div>
        <div class="content-body">
          Kinh doanh là một quá trình. Pháp lý là điểm tựa xuyên suốt để vận hành kinh doanh
          không gặp trở ngại. Sau mỗi thủ tục, Asoka Law luôn gửi hướng dẫn chi tiết đến tận tay
          bạn để bạn có thể chuẩn bị tốt cho giai đoạn tiếp theo.
        </div>
        <div class="content-icon" style="margin-top: 20px">
          <img style="width: 22px" src="/assets/media/DND3N/loi-ich/Asset 16.svg">
          <p class="alt-title">Nhận hồ sơ gốc đầy đủ</p>
        </div>
        <div class="content-body">
          Lưu trữ hồ sơ gốc là một quy định bắt buộc. Tuy vậy, khi thuê ngoài dịch vụ, bạn có thể chỉ
          nhận kết quả mà không có hồ sơ gốc. Asoka Law luôn đóng gói cẩn thận và gửi trả hồ sơ
          gốc cho bạn để dễ dàng lưu trữ, tra cứu, tham khảo, hoặc tự gia hạn một cách thuận tiện.
        </div>
        <div class="content-icon" style="margin-top: 20px">
          <img style="width: 22px" src="/assets/media/DND3N/loi-ich/Asset 16.svg">
          <p class="alt-title">Tiết kiệm 60% chi phí "vá lỗi"</p>
        </div>
        <div class="content-body">
          Asoka Law giúp doanh nghiệp ước tính nguồn lực chính xác trước khi đưa ra phương án
          thực hiện nhằm sử dụng hiệu quả chi phí. Làm đúng từ việc nhỏ, tạo nên một kết quả trọn
          vẹn. Điều này giúp giảm tới 60% chi phí "vá lỗi" về sau.
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="modalVideo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-youtube">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/7tz4Ya6gzG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
