<section id='feedback' class="sub" style="">
  <div class="container center">
    <div class="feedback-slide-pltx" style="padding-top: 150px; padding-bottom: 50px;">
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Drive Agency được đăng ký thành lập từ năm 2018 bởi Asoka Law. Sau đó chúng tôi
            tiếp tục sử dụng Gói Pháp Lý
            Thường Xuyên, ổn định cho đến nay. Hoàn toàn tin cậy và yên tâm, đó là những gì tôi nhận được
            khi thực hiện

            dịch vụ tại Asoka Law. Rất tốt!</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="logo-customer">

                <img src="/assets/media/DNT3N/nguoi-thanh-cong/Asset 9-100.jpg">
              </div>
              <div style="text-align: left; height: fit-content; margin: auto; margin-left: 10px; margin-top: 10%;">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">DRIVE AGENCY</h4>
                <p style="color: #F5CA63;">Công ty ..........................................</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Drive Agency được đăng ký thành lập từ năm 2018 bởi Asoka Law. Sau đó chúng tôi
            tiếp tục sử dụng Gói Pháp Lý
            Thường Xuyên, ổn định cho đến nay. Hoàn toàn tin cậy và yên tâm, đó là những gì tôi nhận được
            khi thực hiện

            dịch vụ tại Asoka Law. Rất tốt!</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="logo-customer">

                <img src="/assets/media/DNT3N/nguoi-thanh-cong/Asset 9-100.jpg">
              </div>
              <div style="text-align: left; height: fit-content; margin: auto; margin-left: 10px; margin-top: 10%;">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">DRIVE AGENCY</h4>
                <p style="color: #F5CA63;">Công ty ..........................................</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="feedback-item">
        <div class="background-icon-pltx">
          <img src="/assets/media/PLTX/feedback/Asset 13.svg">
        </div>
        <div class="content-pltx">
          <p class="pltx-text">Drive Agency được đăng ký thành lập từ năm 2018 bởi Asoka Law. Sau đó chúng tôi
            tiếp tục sử dụng Gói Pháp Lý
            Thường Xuyên, ổn định cho đến nay. Hoàn toàn tin cậy và yên tâm, đó là những gì tôi nhận được
            khi thực hiện

            dịch vụ tại Asoka Law. Rất tốt!</p>
          <hr style="    border: 0.5px solid #c7c4c412;
    color: #80808087;
    background: #c7c4c470;
    margin: auto;
    width: 30%;">
          <div class="info-feedback">
            <div class="row">
              <div class="logo-customer">

                <img src="/assets/media/DNT3N/nguoi-thanh-cong/Asset 9-100.jpg">
              </div>
              <div style="text-align: left; height: fit-content; margin: auto; margin-left: 10px; margin-top: 10%;">
                <h4 style="font-family: 'Montserrat', sans-serif; font-size: 18px">DRIVE AGENCY</h4>
                <p style="color: #F5CA63;">Công ty ..........................................</p>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>
