<div class="modal fade" id="dnt3nform-banggia-gqtc-tamngung-giaithe">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" style="padding: unset; padding-right: 2rem" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="2banggiatamngunggiathe" style="position: relative;">
                    <img style="width: 14%;
    position: absolute;
    bottom: 0; left: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg2.svg">
                    <img style="width: 14%;
    position: absolute;
    top: 0; right: 0;" src="/assets/media/GQTC/lua_chon_goi_phu_hop/bg1.svg">
                    <div class="container-fluid sub-fluid" style="padding: 0 !important;">
                        <div class="row  sub custom-tab profile-tab" id="tab-tldnm-V">

                            <div class="col-md-6" style="margin-bottom: 30px;">
                                <div class="box shadow-lg" style="border: 1px solid #7A7C7D;">
                                    <div class="block-one">
                                        <div class="title-block center">
                                            <h6>{{global.locale == 'vi' ? 'GÓI TẠM NGƯNG' : 'GÓI TẠM NGƯNG aaa'}}</h6>
                                        </div>

                                        <div style="font-size: 10px; text-align: center">
                                            <sup style="font-size: 12px; top: -9px">{{global.locale == 'vi' ? 'Từ' : 'Từ aaa'}}</sup><b style="font-size: 26px">
                                            2.500.000 </b>VND

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="block-two center">
                                        <p style="padding-top: 20px; min-height: 80px; font-size: 12px">
                                            {{global.locale == 'vi' ? ' Doanh nghiệp gặp khó khăn, tạm\n' +
                                            'dừng hoạt động để tìm cách giải quyết.' : ' Doanh nghiệp gặp khó khăn, tạm\n' +
                                            'dừng hoạt động để tìm cách giải quyết.'}}
                                        </p>
                                        <button (click)="package=p1" onclick="$('#dnt3nform3').modal('show')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">{{global.locale == 'vi' ? 'Đăng ký tư vấn ngay' : 'Đăng ký tư vấn ngay aaa'}}
                                        </button>

                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box shadow-lg" style="border: 1px solid #7A7C7D;">
                                    <div class="block-one">
<!--                                        <img class="sticky" src="/assets/media/DKKD/cac-goi-phi/Asset 6.svg">-->
                                        <div class="title-block center">
                                            <h6>{{global.locale == 'vi' ? 'GÓI GIẢI THỂ' : 'GÓI GIẢI THỂ aaa'}}</h6>
                                        </div>

                                        <div style="font-size: 10px; text-align: center">
                                            <sup style="font-size: 12px; top: -9px">{{global.locale == 'vi' ? 'Từ' : 'Từ aaa'}}</sup><b style="font-size: 26px">
                                            9.900.000 </b>VND

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="block-two center">
                                        <p style="padding-top: 20px;
    min-height: 80px; font-size: 12px">
                                            {{global.locale == 'vi' ? 'Doanh nghiệp quyết định chấm dứt toàn bộ hoạt động kinh doanh.' : 'Doanh nghiệp quyết định chấm dứt toàn bộ hoạt động kinh doanh.'}}
                                        </p>
                                        <button (click)="package=p2" onclick="$('#dnt3nform3').modal('show')" class="btn btn-outline-warning" style="border-radius: 30px; padding: 5px 20px;">{{global.locale == 'vi' ? 'Đăng ký tư vấn ngay' : 'Đăng ký tư vấn ngay aaa'}}
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>

<div class="modal fade formchung1va3" id="dnt3nform3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
                <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 26px">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input (keyup)="n=true" [class.is-invalid]="!form.fieldValid(name)&&n" [class.is-valid]="form.fieldValid(name)&&n" type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Họ tên *">
                    <i *ngIf="!form.fieldValid(name) && n"><small class="text-danger">{{global.locale == 'vi' ? 'Bắt buộc nhập họ tên.' : 'Bắt buộc nhập họ tên. aaa'}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="p=true" [class.is-invalid]="!form.fieldValid(phone,'phone')&&p" [class.is-valid]="form.fieldValid(phone,'phone')&&p" type="text" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Số điện thoại *">
                    <i *ngIf="!form.fieldValid(name) && n"><small class="text-danger">{{global.locale == 'vi' ? 'Bắt buộc nhập họ tên.' : 'Bắt buộc nhập họ tên. aaa'}}</small></i>
                </div>
                <div class="form-group">
                    <input (keyup)="e=true" [class.is-invalid]="!form.fieldValid(email,'email')&&(e||submitClick)" [class.is-valid]="form.fieldValid(email,'email')" class="form-control" name="email" [(ngModel)]="email" type="text" placeholder="Email *"/>
                    <i *ngIf="!form.fieldValid(email,'email')&&(e||submitClick)"><small class="text-danger">{{global.locale == 'vi' ? 'Bắt buộc nhập email hợp lệ.' : 'Bắt buộc nhập email hợp lệ. aaa'}}</small></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="Tên công ty">
                </div>
                <div class="form-group">
                    <textarea class="form-control" [(ngModel)]="business" name="business" placeholder="Lĩnh vực kinh doanh"></textarea>
                </div>

                <div class="form-group" style="margin-bottom: 1rem">
                    <label>{{global.locale == 'vi' ? 'Quy mô công ty' : 'Quy mô công ty aaa'}}</label>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input [checked]="service==s1 || service==s1e" [(ngModel)]="service" name="service" class="form-check-input" type="radio" value="{{global.locale=='vi'?s1:s1e}}">
                                    <span class="form-check-label">{{global.locale == 'vi' ? s1 : s1e}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input [checked]="service==s2 || service==s2e" [(ngModel)]="service" name="service" class="form-check-input" type="radio" value="{{global.locale=='vi'?s2:s2e}}">
                                    <span class="form-check-label">{{global.locale == 'vi' ? s2 : s2e}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="description" class="form-control" name="description" placeholder="{{global.locale=='vi'?'Nhập câu hỏi hoặc mô tả tình trạng công ty bạn tại đây *':'Nhập câu hỏi hoặc mô tả tình trạng công ty bạn tại đây * aaa'}}"></textarea>
                </div>
            </div>

            <div class="modal-footer" style="text-align: center;">
                <button (click)="submit()" style="margin: auto; color: white;" type="button" class="btn btn-warning">{{global.locale == 'vi' ? 'Gửi yêu cầu' : 'Gửi yêu cầu aaa'}}</button>
            </div>
        </div>
    </div>
</div>
