<section id="team" class="sub">
    <div class="container center">
        <div class="effective-content">
            <div class="row d-none d-md-flex">
                <div class="col-md-7">
                    <div class="list-slide-team">
                        <div *ngFor="let item of data" class="slide-item">
                            <div class="team-user shadow">
                                <img [src]="item.image">
                                <div class="description-image">
                                    <div class="user-name center" style="padding-top: 10px;">
                                        <p style="margin-top: 6px;">{{global.locale == 'vi' ? item.title : item.en_title}}&nbsp;<b class="name">{{item.name}}</b></p>
                                    </div>
                                    <p class="job">{{global.locale == 'vi' ? item.job : item.en_job}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 title">
                    <h1 lang-i18n key="home-doi-nguluatsucovan" default="Đội ngũ luật sư và cố vấn của Asoka Law" style="padding-top: 0rem !important;"></h1>
                    <div class="des-record" style="padding-top: 20px; padding-bottom: 20px;">
                        <p lang-i18n key="home-khongchi-co-luatsu" default="Không chỉ có luật sư/chuyên viên trực tiếp làm việc tại Văn Phòng nhằm giải quyết các vấn đề pháp lý phổ biến cho doanh nghiệp, Asoka Law còn có mối quan hệ hợp tác với các luật sư/cố vấn tại các chuyên ngành cần chuyên môn sâu nhằm hỗ trợ khách hàng giải quyết tốt nhất ở các hồ sơ đặc thù. Chúng tôi tự hào có mối quan hệ hợp tác với trên 30 luật sư/cố vấn chuyên môn ở các lĩnh vực như: hàng hải, bảo hiểm, truyền thông, nhượng quyền"></p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row d-block d-md-none">
                <div class="col-sm-12">
                    <h1  lang-i18n key="home-doi-nguluatsucovan" default="Đội ngũ luật sư và cố vấn của Asoka Law"></h1>
                    <div style="padding-top: 20px; padding-bottom: 20px;">
                        <p lang-i18n key="home-khongchi-co-luatsu" default="Không chỉ có luật sư/chuyên viên trực tiếp làm việc tại Văn Phòng nhằm giải quyết các vấn đề pháp lý phổ biến cho doanh nghiệp, Asoka Law còn có mối quan hệ hợp tác với các luật sư/cố vấn tại các chuyên ngành cần chuyên môn sâu nhằm hỗ trợ khách hàng giải quyết tốt nhất ở các hồ sơ đặc thù. Chúng tôi tự hào có mối quan hệ hợp tác với trên 30 luật sư/cố vấn chuyên môn ở các lĩnh vực như: hàng hải, bảo hiểm, truyền thông, nhượng quyền"></p>
                    </div>
                    <div class="list-slide-team">
                        <div *ngFor="let item of data" class="slide-item">
                            <div class="team-user shadow">
                                <img [src]="item.image">
                                <div class="description-image">
                                    <div class="user-name center" style="padding-top: 10px;">
                                        <p style="margin-top: 6px;">{{global.locale == 'vi' ? item.title : item.en_title}}&nbsp;<b class="name">{{item.name}}</b></p>
                                    </div>
                                    <p class="job">{{global.locale == 'vi' ? item.job : item.en_job}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
