<section id="recognize">
  <div class="container-fluid sub-fluid">
    <div class="row">
      <div class="col-md-12 center sub">
        <h1 class="sub-content">
          3 nguyên tắc mang lại thành công
        </h1>
        <p class="sub center">
          Quy trình Luật sư đại diện thực hiện giải quyết tranh chấp tại Asoka Law được tuân thủ chặt chẽ theo
          <b>nguyên tắc CBA.</b><br>
          Kết quả của việc áp dụng thống nhất quy trình CBA này suốt những năm tháng hành nghề đã mang lại
          thành công vượt trội đối với tất cả các vụ việc được chúng tôi đại diện.
        </p>
      </div>

    </div>
    <div class="row sub" style="padding-bottom: 0px;">
      <div class="col-md-6">
        <img  class="img-responsive d-none d-md-block" style="    position: relative;
    top: -40px;
    width: 90%;
    float: right;"
              src="/assets/media/GQTC/nguyen_tac_thanh_cong/CBA.svg">
      </div>
      <!-- <Change> -->
      <div class="col-md-6">
        <div class="content">
          <div class="pot"><img
            src="/assets/media/GQTC/nguyen_tac_thanh_cong/Asset 17.svg">
          </div>
          <div class="content-body">
            <div class="pot">
              <img src="/assets/media/GQTC/nguyen_tac_thanh_cong/Asset 20.svg">
              <b>arefulness</b> <i>(cẩn trọng thu thập thông tin)</i>
            </div>
            Cẩn trọng trong việc nghiên cứu hồ sơ, lắng nghe ý kiến của khách
            hàng, thu thập các dữ liệu nhằm hoàn thiện tổng thể.
          </div>
        </div>
        <div class="content">
          <div class="pot"><img
            src="/assets/media/GQTC/nguyen_tac_thanh_cong/Asset 18.svg">
          </div>
          <div class="content-body">
            <div class="pot">
              <img src="/assets/media/GQTC/nguyen_tac_thanh_cong/Asset 21.svg">
              <b>ackup</b> <i>(chuẩn bị phương án dự phòng)</i>
            </div>
            Bảo vệ cho việc đạt được ý chí của khách hàng bằng cách lên phác
            đồ xử lý vụ việc và luôn có sẵn phương án dự phòng rủi ro.
          </div>
        </div>
        <div class="content">
          <div class="pot"><img
            src="/assets/media/GQTC/nguyen_tac_thanh_cong/Asset 19.svg">
          </div>
          <div class="content-body">
            <div class="pot">
              <img src="/assets/media/GQTC/nguyen_tac_thanh_cong/Asset 22.svg">
              <b>daptability</b> <i>(thích ứng để giải quyết nhanh)</i>
            </div>
            Nếu có tình huống phát sinh ngoài dự liệu, phải thích ứng và giải
            quyết nhanh chóng nhằm giành được thế chủ động.
          </div>
        </div>
        <div class="content button-three" style="display: block; width: fit-content; text-align: center;">
          <button onclick="$('#gqtcform1').modal('show')" class="btn btn-warning sub-button">Đăng ký nhận tư vấn</button>
          <br>
          <i class="security"><span>*</span>Cam kết bảo mật thông tin</i>
        </div>
      </div>
      <!-- </Change> -->
    </div>

  </div>

</section>
