<section class="header">
  <div class="container d-none d-md-block">
    <div class="row">
      <div class="col-md-10" style="margin-top: 150px; ">
        <h1 style="line-height: 60px; font-weight: 500; font-family:'Montserrat',sans-serif !important; font-size: 45px; color: black;">
          Thiết lập doanh nghiệp toàn diện<br> tiết kiệm <span class="highlight">80%</span> chi phí</h1>
        <p style="margin-top: 40px; font-size: 16px; font-weight: 200; line-height: 30px; padding-right: 300px;">
          Asoka Law là cộng sự đắc lực cho 1000+ doanh nghiệp từ khi khởi tạo, không
          bỏ sót thủ tục, bàn giao hồ sơ gốc đầy đủ. Doanh nghiệp hoàn toàn yên tâm
          khi bắt đầu kinh doanh</p>
        <div>
          <button style="padding: 10px 40px; margin-top: 60px;" class="btn btn-outline-warning btn-banner">
            Đăng ký ngay
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none">
    <div class="row">
      <div class="col-md-10">
        <h1>Thiết lập
          doanh nghiệp toàn diện tiết kiệm <span class="highlight">80%</span> chi phí</h1>
        <p class="center-mobile py-2">Asoka Law là cộng sự đắc lực cho 1000+ doanh nghiệp từ khi khởi tạo,
          không
          bỏ sót thủ tục, bàn giao hồ sơ gốc đầy đủ. Doanh nghiệp hoàn toàn yên tâm
          khi bắt đầu kinh doanh</p>
        <div class="text-center">
            <button onclick="modalShow(null,null,null,'3','package,type_company')" class="btn btn-outline-warning">
              Đăng ký ngay
            </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dkkdbusinesstype></app-dkkdbusinesstype>
<app-dkkdpricing></app-dkkdpricing>
<app-dkkdconsult></app-dkkdconsult>
<app-dkkd3stepregistrate></app-dkkd3stepregistrate>
<app-dkkdfeedback></app-dkkdfeedback>
<app-dkkdsupport></app-dkkdsupport>
<app-dkkdquestion></app-dkkdquestion>

