<section class="header">
  <div class="container d-none d-md-block">
    <div class="row">
      <div class="col-md-10" style="margin-top: 150px; ">
        <h1 style="line-height: 60px; font-weight: 500; font-family:'Montserrat',sans-serif !important; font-size: 45px; color: black;">Thiết lập doanh nghiệp toàn diện<br> tiết kiệm <span class="highlight">80%</span> chi phí</h1>
        <p style="margin-top: 40px; font-size: 16px; font-weight: 200; line-height: 30px; padding-right: 300px;">
          Asoka Law là cộng sự đắc lực cho 1000+ doanh nghiệp từ khi khởi tạo, không
          bỏ sót thủ tục, bàn giao hồ sơ gốc đầy đủ. Doanh nghiệp hoàn toàn yên tâm
          khi bắt đầu kinh doanh</p>
        <div>
          <button (click)="showdkkdform1()" style="padding: 10px 40px; margin-top: 60px;" class="btn btn-outline-warning btn-banner">Đăng ký ngay</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none">
    <div class="row">
      <div class="col-md-10">
        <h1>Thiết lập doanh nghiệp toàn diện tiết kiệm <span class="highlight">80%</span> chi phí</h1>
        <p class="center-mobile py-2">Asoka Law là cộng sự đắc lực cho 1000+ doanh nghiệp từ khi khởi tạo,
          không
          bỏ sót thủ tục, bàn giao hồ sơ gốc đầy đủ. Doanh nghiệp hoàn toàn yên tâm
          khi bắt đầu kinh doanh</p>
        <div class="text-center">
          <button (click)="showdkkdform1()" class="btn btn-outline-warning">Đăng ký ngay</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dkkdbusinesstype></app-dkkdbusinesstype>
<app-dkkdpricing></app-dkkdpricing>
<app-dkkdconsult></app-dkkdconsult>
<app-dkkd3stepregistrate></app-dkkd3stepregistrate>
<app-dkkdfeedback></app-dkkdfeedback>
<app-dkkdsupport></app-dkkdsupport>
<app-dkkdquestion></app-dkkdquestion>

<!--modal-->
<div class="modal fade" id="dkkdform1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none; padding: unset; padding-top: 1rem;">
        <button type="button" class="close" data-dismiss="modal" style="padding: unset; padding-right: 2rem" aria-label="Close">
          <span aria-hidden="true" style="font-size: 26px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-form-label">Họ tên</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
          <label for="phone" class="col-form-label">Số điện thoại<sup>*</sup></label>
          <input class="form-control" [(ngModel)]="phone" name="phone" type="tel" id="phone"/>
        </div>
        <div class="form-group">
          <label for="email" class="col-form-label">Email<sup>*</sup></label>
          <input class="form-control" name="email" [(ngModel)]="email" type="email" id="email"/>
        </div>
        <div class="form-group">
          <label>Loại hình công ty bạn muốn đăng ký</label>
          <select class="form-control" name="type_company" [(ngModel)]="typeCompany">
            <option value="Công ty TNHH 1 thành viên">Công ty TNHH 1 thành viên</option>
            <option value="Công ty TNHH 2 thành viên trở lên">Công ty TNHH 2 thành viên trở lên</option>
            <option value="Công ty cổ phần">Công ty cổ phần</option>
            <option value="Doanh nghiệp tư nhân">Doanh nghiệp tư nhân</option>
            <option value="Công ty hợp danh">Công ty hợp danh</option>
            <option value="Hộ kinh doanh cá thể">Hộ kinh doanh cá thể</option>
          </select>
        </div>
        <div class="form-group">
          <label>Lựa chọn gói pháp lý phù hợp với nhu cầu của bạn</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check form-check-inline">
                  <input [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói cơ bản">
                  <span class="form-check-label">Gói cơ bản</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check form-check-inline">
                  <input [(ngModel)]="package" name="package" class="form-check-input" type="radio" value="Gói toàn diện">
                  <span class="form-check-label">Gói toàn diện</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Bạn cần tư vấn thêm</label>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input [(ngModel)]="consult" name="consult" class="form-check-input" type="radio" value="Tư vấn miễn phí cùng chuyên viên pháp lý">
                  <span class="form-check-label">Tư vấn miễn phí cùng chuyên viên pháp lý</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input [(ngModel)]="consult" name="consult" class="form-check-input" type="radio" value="Tư vấn chuyên sâu với luật sư">
                  <span class="form-check-label">Tư vấn chuyên sâu với luật sư</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button style="margin: auto; color: white;" (click)="submit()" type="button" class="btn btn-warning">Gửi yêu cầu</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="alert-success" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content alert-success" style="background-color: #d4edda; border:2px solid #A7B6D9;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 p-5" style="text-align: center;">
            <button type="button" style="position: absolute;
    top: 0px;
    right: 0.5rem;" class="close" data-dismiss="modal" aria-label="Close">
              <span style="font-weight: bold" aria-hidden="true">X</span>
            </button>
            <h4>Cảm ơn. Chúng tôi đã nhận được thông tin của bạn</h4>
            <br><br>
            <p>Chuyên viên của Asoka Law sẽ liên lạc với bạn ngay trong vòng 05 phút để xác nhận yêu cầu.</p>
            <p>Bạn vui lòng kiểm tra tin nhắn điện thoại/email để không bỏ sót thông tin của chúng tôi</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
