<section id="sub">
    <div class="subFooter">
        <div class="title-banner flex-center-hor flex-center-sub">
            <h4><span style="color: grey;font-size: 1.25rem">{{global.locale=='vi'?'Đăng ký nhãn hiệu sớm để':'You have a logo but haven\'t registered it yet'}}</span>
                <br>{{global.locale=='vi'?'Bảo vệ nhãn hiệu độc quyền ngay hôm nay':'Contact to protect your exlusive logo today'}}<br/></h4>
        </div>
        <div class="flex-center-hor">
            <button onclick="$('#dknhform1').modal('show')" type="button" class="btn btn-warning">{{global.locale=='vi'?'TƯ VẤN MIỄN PHÍ':'GET FREE ADVICE'}}</button>
        </div>
    </div>
    <div class="container">
        <div class="row imgSub logoContent">
            <div class="subfooter-title col-md-6">
                    <span>
                        <img class="ingHeight" src="/assets/media/DKNH/SVG-Promote/Asset 30.svg">
                    </span>
                <b class="fontSize">3000+</b>
                <span>{{global.locale=='vi'?'Logo đã đăng ký':'logos successfully '}}<br/>{{global.locale=='vi'?'thành công':'registered'}}</span>
            </div>
            <div class="logo pc">
            </div>
            <div class="subfooter-title col-md-6">
                    <span>
                        <img class="ingHeight" src="/assets/media/DKNH/SVG-Promote/Asset 31.svg">
                    </span>
                <b class="fontSize">
                    50+
                </b>
                <span>{{global.locale=='vi'?'Logo đăng ký':'logos registered '}}<br/>{{global.locale=='vi'?'quốc tế':'internationally '}}</span>
            </div>
        </div>
    </div>
</section>
