<section id="sub">
    <div class="subFooter">
        <div class="title-banner flex-center-hor flex-center-sub">
            <h4><span style="color: grey;">Đăng ký nhãn hiệu sớm để</span>
                <br>Bảo vệ nhãn hiệu độc quyền ngay hôm nay<br/></h4>
        </div>
        <div class="flex-center-hor">
            <button onclick="$('#dknhform1').modal('show')" type="button" class="btn btn-warning btn-custom">TƯ VẤN MIỄN PHÍ</button>
        </div>
    </div>
    <div class="container">
        <div class="row imgSub logoContent">
            <div class="subfooter-title col-md-6">
                    <span>
                        <img class="ingHeight" src="/assets/media/DKNH/SVG-Promote/Asset 30.svg">
                    </span>
                <b class="fontSize">3000+</b>
                <span>Logo đã đăng ký<br/>thành công</span>
            </div>
            <div class="logo pc">
            </div>
            <div class="subfooter-title col-md-6">
                    <span>
                        <img class="ingHeight" src="/assets/media/DKNH/SVG-Promote/Asset 31.svg">
                    </span>
                <b class="fontSize">
                    50+
                </b>
                <span>Logo đăng ký<br/>quốc tế</span>
            </div>
        </div>
    </div>
</section>
