@media (max-width: 768px) {
    .header {
        background-image: url(../../../assets/media/DKNH/DKNH-Banner-mobile-ver.jpg);
        background-size: cover;
        background-position: bottom;
        height: 350px;
    }

    .header .container {
        text-align: center;
    }

    .sub {
        padding: 1rem 0 !important;
    }

    .paddingTabRecord {
        display: flex;
        padding: 1rem !important;
    }

    .paddingTabRecord .tab-record {
        margin: auto;
    }

    .introduceRight {
        padding-left: 1rem !important;
    }

    .backgrFormound {
        background-color: white;
        padding: 1rem;
        width: 100%;
        border-radius: 15px;
        height: auto;
    }

    .effective-content {
        margin-top: auto !important;
    }

    .desRecord {
        margin-left: 1rem;
        font-size: 14px;
        text-align: justify;
        color: #3f3f3f;
    }

    .Record {
        padding-bottom: inherit;
    }

    .title-record h4 {

        margin-left: 0.5rem;

    }

    .title-record img {
        width: 18px;
        margin-left: 1rem;
    }

    .content-record-effective {
        margin-left: inherit;
    }

    .priceListItem {
        margin: auto;
        width: 305px;
        height: 350px;
        text-align: start;
        padding: 25px 25px;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 0px 0px 51px 30px #f2f2f2;
        text-align: center;
        background: white;
        margin-bottom: 2rem;
    }

    .footer-image {
        margin-left: unset;
        width: 100%;
        inline-size: 100%;
        height: auto;
    }

    .Sub {
        padding-bottom: 1rem;
        width: 100%;
        border-radius: 20px;
        margin-right: inherit;
    }

    #effective2 .float-left {
        float: left !important;
        width: 30px;
        height: 15px;
        margin-top: -8px;
    }

    .call p {
        margin: auto;
    }

    .call p:after {
        content: none;

    }

    .call p:before {
        content: none;

    }

    .img-partner {
        margin: auto;
    }

    #slide-video img.prevArrowBtnVideo {
        position: absolute;
        z-index: 1000;
        height: 10%;
        top: 100px;
        left: -5px;
        color: #BFAFB2;
    }

    #slide-video img.nextArrowBtnVideo {
        position: absolute;
        z-index: 1000;
        top: 100px;
        right: 0;
        color: #BFAFB2;
    }

    .logoContent {
        padding: 5%;

    }

    .ingHeight {
        height: 50px;
    }

    .fontSize {
        font-size: 1.5rem;
    }

    .subfooter-title span:last-child {
        font-size: 1rem;
    }

    .logoContent .subfooter-title:last-child {
        margin-top: 1rem
    }
}
