<section id="sub">
  <div class="subFooter">
    <div class="title-banner flex-center-hor flex-center-sub">
      <h4><span style="color: grey;">Đăng ký nhãn hiệu sớm để</span>
        <br>Bảo vệ nhãn hiệu độc quyền ngay hôm nay<br/></h4>
    </div>
    <div class="flex-center-hor">
      <button onclick="$('#dknhform1').modal('show')" type="button" class="btn btn-warning btn-custom">ĐĂNG KÝ DỊCH VỤ</button>
    </div>
  </div>
  <div class="container d-none d-md-block">
    <div class="row imgSub logoContent">
      <div class="text-center">
                    <span>
                        <img class="ingHeight" src="/assets/media/DKNH/SVG-Promote/Asset 30.svg">
                    </span>
        <b class="fontSize">
          3000+
        </b>
        <span>
                        Logo đã đăng ký
                        thành công
                    </span>
      </div>
      <div class="logo">
      </div>
      <div class="text-center">
                    <span>
                        <img class="ingHeight" src="/assets/media/DKNH/SVG-Promote/Asset 31.svg">
                    </span>
        <b class="fontSize">
          50+
        </b>
        <span>
                        Logo đăng ký
                        quốc tế
                    </span>
      </div>
    </div>
  </div>
</section>
