<section id="asoka-description" class="sub">
    <div class="container center">
        <div class="row">
            <div class="col-md-12 flex-center-vertically">
                <div class="slide-asoka-des">
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Công ty tôi chuyên xuất&nbsp;khẩu nông sản Việt Nam qua&nbsp;thị trường Châu Âu, Mỹ, nên việc bảo vệ&nbsp;thương&nbsp;hiệu cực kỳ quan trọng. Tất cả các nhãn hiệu cho sản phẩm mà hiện công ty tôi đang kinh doanh đều do Asoka Law đại diện đăng ký. Tại mỗi giai đoạn nộp đơn, Asoka Law đều cập nhật tiến độ kịp thời và nhanh chóng. Tôi rất hài lòng khi sử dụng dịch vụ đăng ký nhãn hiệu từ Asoka Law.</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">MR. KIÊN NGUYỄN</p>
                                <p class="text-color">Chủ tịch công ty Alba</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Công ty tôi chuyên về sản xuất nước uống dinh dưỡng, mỗi dòng sản phẩm lại có một thương hiệu riêng. Trước khi tung ra các sản phẩm mới, Asoka Law đều hỗ trợ tôi đăng ký độc quyền cho nhãn hiệu. Dịch vụ tại Asoka Law rất nhanh chóng, tiện dụng. Thậm chí, tôi không cần di chuyển khỏi văn phòng vì tất cả các hồ sơ đều được Asoka Law mang tới ký và chuyển phát tận nơi.&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">MR. ROBERT VŨ</p>
                                <p class="text-color">CEO VM Nutrition</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>Tôi tham gia nhiều công ty, từ dược phẩm/ y tế cho tới truyền thông nên rất chú trọng đến việc bảo vệ các tài sản về trí tuệ. Asoka Law luôn là hãng Luật hỗ trợ tôi các thủ tục pháp lý, đặc biệt là dịch vụ về đăng ký nhãn hiệu/ kiểu dáng công nghiệp và bản quyền. Tôi rất tin tưởng Asoka Law về chuyên môn nghiệp vụ và quy trình thực hiện công việc,&nbsp;rất nhanh chóng, rõ ràng,&nbsp;tận tâm.</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">MR. CHUNG MINH</p>
                                <p class="text-color">Chủ tịch công ty Samaki Power</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
