<section id="asoka-description" class="sub fix-dknhfeedback-V">
    <div class="container center">
        <div class="row">
            <div class="col-md-12 flex-center-vertically">
                <div class="slide-asoka-des">
                    <div *ngFor="let item of data" class="slide-item">
                        <div class="content">
                            <div class="des-record">
                                <p>{{global.locale == 'vi' ? item.description : item.en_description}}</p>
                            </div>
                            <hr>
                            <div class="des-record ">
                                <p class="font-weight-bold normal">{{item.name}}</p>
                                <p class="text-color">{{global.locale == 'vi' ? item.title : item.en_title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="slick-img">
                    <li *ngFor="let item of data"><img src="{{item.image}}"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
