<div class="list-news">
    <p class="news-img">
        <img src="{{data.image}}">
    </p>
    <p class="news-tag">
        <span routerLink="/danh-muc/{{data.category_slug}}" class="badge badge-secondary">
            <img style="width: 100%" src="/assets/media/chnn/news01_tag.svg">
            {{global.locale == 'vi' ? data.category_name : data.en_category_name}}
        </span>
        <span>{{data.modified_at|date:'dd/MM/yyyy'}}</span>
    </p>
    <h4 class="news-title" style="cursor: pointer" routerLink="/tin-tuc/{{data.slug}}">{{global.locale == 'vi' ? data.title : data.en_title}}</h4>
    <p class="news-txt">{{global.locale == 'vi' ? data.short_description : data.en_short_description}}</p>
    <a routerLink="/tin-tuc/{{data.slug}}" class="news-btn btn btn-outline-dark">
        Đọc tiếp
        <span>
            <img src="/assets/media/chnn/news01_Asset 7.svg">
        </span>
    </a>
</div>
