<div style="background-color: #fff;{{styleBorderBottomMainMenu}}">
    <nav class="container navbar navbar-expand-md">
        <!-- Brand -->
        <a class="navbar-brand" routerLink="/">
            <img class="img-responsive center-block logo-header" alt="Công ty Luật TNHH Asoka" src="{{global.settings.logo}}">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="far fa-bars"></i>
            </span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu1}" (mouseover)="showMenu1=true" (mouseout)="showMenu1=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu1">
                        VỀ ASOKA
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu1}">
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/tam-nhin-su-menh">Tầm nhìn sứ mệnh</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/co-hoi-nghe-nghiep">Cơ hội nghề nghiệp</a>
                        <!--            <a class="dropdown-item" href="#">Đối tác nhượng quyền</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu2}" (mouseover)="showMenu2=true" (mouseout)="showMenu2=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu2">
                        PHÁP LÝ DOANH NGHIỆP
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu2}">
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/khoi-tao-doanh-nghiep">Khởi tạo doanh nghiệp</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/doanh-nghiep-duoi-3-nam">Doanh nghiệp dưới 03 năm</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/doanh-nghiep-tren-3-nam">Doanh nghiệp trên 03 năm</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu3}" (mouseover)="showMenu3=true" (mouseout)="showMenu3=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu3">
                        DỊCH VỤ PHÁP LÝ
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu3}">
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/dang-ky-kinh-doanh">Đăng ký kinh doanh</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/dang-ky-nhan-hieu" lang-i18n key="dang-ky-nhan-hieu" default="Đăng ký nhãn hiệu"></a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/dang-ky-dau-tu">Đăng ký đầu tư</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/phap-ly-thuong-xuyen">Pháp lý thường xuyên</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/tu-van-luat-su">Tư vấn luật sư</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/phap-ly-su-kien">Pháp lý sự kiện</a>
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/giai-quyet-tranh-chap">Giải quyết tranh chấp</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu4}" (mouseover)="showMenu4=true" (mouseout)="showMenu4=false">
                    <a style="cursor: pointer" class="nav-link" (click)="navigateTo('/tin-tuc')" data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu4">
                        TIN TỨC
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu4}">
                        <a class="dropdown-item" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/uu-dai">Ưu đãi</a>
                        <a class="dropdown-item" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/tin-tuc-asoka">Tin tức Asoka</a>
                        <a class="dropdown-item" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/tin-tuc-phap-ly">Tin tức pháp lý</a>
                        <a class="dropdown-item subitem" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/thanh-lap-doanh-nghiep">Thành lập doanh nghiệp</a>
                        <a class="dropdown-item subitem" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/so-huu-tri-tue">Sở hữu trí tuệ</a>
                        <a class="dropdown-item subitem" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/dau-tu">Đầu tư</a>
                        <a class="dropdown-item subitem" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/phap-ly-su-kien">Pháp lý sự kiện</a>
                        <a class="dropdown-item subitem" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/giai-quyet-tranh-chap">Giải quyết tranh chấp</a>
                        <a class="dropdown-item subitem" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/giay-phep-hoat-dong">Giấy phép hoạt động</a>
                        <a class="dropdown-item" routerLink="/{{global.locale=='vi'?'danh-muc':'category'}}/van-ban-phap-ly">Văn bản pháp lý</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu5}" (mouseover)="showMenu5=true" (mouseout)="showMenu5=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu5">KHÁCH HÀNG
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu5}">
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/cau-hoi-thuong-gap">Câu hỏi thường gặp</a>
                        <!--            <a class="dropdown-item" href="#">Chính sách khách hàng</a>-->
                        <a (click)="collapseMenu()" class="dropdown-item" routerLink="/quy-trinh-lam-viec">Quy trình làm việc</a>
                        <!--            <a class="dropdown-item" href="#">Hướng dẫn thanh toán</a>-->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lien-he" aria-haspopup="true" aria-expanded="false">LIÊN HỆ
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
