<div style="background-color: #fff;{{styleBorderBottomMainMenu}}">
    <nav class="container navbar navbar-expand-md">
        <!-- Brand -->
        <a class="navbar-brand" routerLink="/">
            <img class="img-responsive center-block logo-header" alt="Công ty Luật TNHH Asoka" src="{{global.settings.logo}}">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="far fa-bars"></i>
            </span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu1}" (mouseover)="showMenu1=true" (mouseout)="showMenu1=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu1">
                        <span lang-i18n key="headermenu-veasoka" default="VỀ ASOKA"></span>
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu1}">
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/tam-nhin-su-menh':'/vision-mission'"><span lang-i18n key="headermenu-tamnhinsumenh" default="Tầm nhìn sứ mệnh"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/co-hoi-nghe-nghiep':'/careers'"><span lang-i18n key="headermenu-cohoinghenghiep" default="Cơ hội nghề nghiệp"></span></a>
                        <!--            <a class="dropdown-item" href="#">Đối tác nhượng quyền</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu2}" (mouseover)="showMenu2=true" (mouseout)="showMenu2=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu2">
                        <span lang-i18n key="headermenu-phaplydoanhnghiep" default="PHÁP LÝ DOANH NGHIỆP"></span>
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu2}">
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/khoi-tao-doanh-nghiep':'/business-establishment'"><span lang-i18n key="headermenu-khoitaodoanhnghiep" default="Khởi tạo doanh nghiệp"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/doanh-nghiep-duoi-3-nam':'/business-under-3-years'"><span lang-i18n key="headermenu-dnd3nam" default="Doanh nghiệp dưới 03 năm"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/doanh-nghiep-tren-3-nam':'/business-over-3-years'"><span lang-i18n key="headermenu-dnt3nam" default="Doanh nghiệp trên 03 năm"></span></a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu3}" (mouseover)="showMenu3=true" (mouseout)="showMenu3=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu3">
                        <span lang-i18n key="headermenu-dichvuphaply" default="DỊCH VỤ PHÁP LÝ"></span>
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu3}">
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/dang-ky-nhan-hieu':'/trademark-registration'"><span lang-i18n key="dang-ky-nhan-hieu" default="Đăng ký nhãn hiệu"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/dang-ky-kinh-doanh':'/business-registration'"><span lang-i18n key="headermenu-dangkikinhdoanh" default="Đăng ký kinh doanh"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/dang-ky-dau-tu':'/investment-registration'"><span lang-i18n key="headermenu-dangkidautu" default="Đăng ký đầu tư"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/phap-ly-thuong-xuyen':'/regular-legal-service'"><span lang-i18n key="headermenu-phaplythuongxuyen" default="Pháp lý thường xuyên"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/tu-van-luat-su':'/lawyer-consultation'"><span lang-i18n key="headermenu-tuvanluatsu" default="Tư vấn luật sư"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/phap-ly-su-kien':'/event-related-legal-service'"><span lang-i18n key="headermenu-phaplysukien" default="Pháp lý sự kiện"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/giai-quyet-tranh-chap':'/dispute-resolution'"><span lang-i18n key="headermenu-giaiquyetranhchap" default="Giải quyết tranh chấp"></span></a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu4}" (mouseover)="showMenu4=true" (mouseout)="showMenu4=false">
                    <a style="cursor: pointer" class="nav-link" (click)="navigateTo(global.locale=='vi'?'/tin-tuc':'/news')" data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu4">
                        <span lang-i18n key="headermenu-tintuc" default="TIN TỨC"></span>
                    </a>
                    <div *ngIf="global.locale=='vi'" class="dropdown-menu" [ngClass]="{'show':showMenu4}">
                        <a class="dropdown-item" routerLink="/danh-muc/uu-dai"><span lang-i18n key="headermenu-uudai" default="Ưu đãi"></span></a>
                        <a class="dropdown-item" routerLink="/danh-muc/tin-tuc-asoka"><span lang-i18n key="headermenu-tintucasoka" default="Tin tức Asoka"></span></a>
                        <a class="dropdown-item" routerLink="/danh-muc/tin-tuc-phap-ly"><span lang-i18n key="headermenu-tintucphaply" default="Tin tức pháp lý"></span></a>
                        <a class="dropdown-item subitem" routerLink="/danh-muc/thanh-lap-doanh-nghiep"><span lang-i18n key="headermenu-thanhlapdn" default="Thành lập doanh nghiệp"></span></a>
                        <a class="dropdown-item subitem" routerLink="/danh-muc/so-huu-tri-tue"><span lang-i18n key="headermenu-sohuutritue" default="Sở hữu trí tuệ"></span></a>
                        <a class="dropdown-item subitem" routerLink="/danh-muc/dau-tu"><span lang-i18n key="headermenu-dautu" default="Đầu tư"></span></a>
                        <a class="dropdown-item subitem" routerLink="/danh-muc/phap-ly-su-kien"><span lang-i18n key="headermenu-phaplysukien" default="Pháp lý sự kiện"></span></a>
                        <a class="dropdown-item subitem" routerLink="/danh-muc/giai-quyet-tranh-chap"><span lang-i18n key="headermenu-giaiquyetranhchap" default="Giải quyết tranh chấp"></span></a>
                        <a class="dropdown-item subitem" routerLink="/danh-muc/giay-phep-hoat-dong"><span lang-i18n key="headermenu-giayphephoatdong" default="Giấy phép hoạt động"></span></a>
                        <a class="dropdown-item" routerLink="/danh-muc/van-ban-phap-ly"><span lang-i18n key="headermenu-vanbanphaply" default="Văn bản pháp lý"></span></a>
                    </div>
                    <div *ngIf="global.locale!='vi'" class="dropdown-menu" [ngClass]="{'show':showMenu4}">
                        <a class="dropdown-item" routerLink="/category/promotion"><span lang-i18n key="headermenu-uudai" default="Ưu đãi"></span></a>
                        <a class="dropdown-item" routerLink="/category/asoka-news"><span lang-i18n key="headermenu-tintucasoka" default="Tin tức Asoka"></span></a>
                        <a class="dropdown-item" routerLink="/category/legal-news"><span lang-i18n key="headermenu-tintucphaply" default="Tin tức pháp lý"></span></a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{'show':showMenu5}" (mouseover)="showMenu5=true" (mouseout)="showMenu5=false">
                    <a class="nav-link" href data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="showMenu5"><span lang-i18n key="headermenu-khachhang" default="KHÁCH HÀNG"></span>
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show':showMenu5}">
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/cau-hoi-thuong-gap':'/faq'"><span lang-i18n key="headermenu-chtg" default="Câu hỏi thường gặp"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/chinh-sach-khach-hang':'/terms-of-use'">{{global.locale == 'vi' ? '/Chính sách khách hàng' : 'Terms of use'}}</a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/quy-trinh-lam-viec':'/working-process'"><span lang-i18n key="headermenu-quytrinh" default="Quy trình làm việc"></span></a>
                        <a (click)="collapseMenu()" class="dropdown-item" [routerLink]="global.locale=='vi'?'/huong-dan-thanh-toan':'/payment-terms'">{{global.locale == 'vi' ? '/Hướng dẫn thanh toán' : 'Payment terms'}}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lien-he" aria-haspopup="true" aria-expanded="false"><span lang-i18n key="headermenu-lienhe" default="LIÊN HỆ"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
