<section id="list-service" class="sub" >
  <div class="container center">
    <div class="row title padding-record-title">
      <h1 lang-i18n key="tvlsservice-cacgoituvan" default="Các gói tư vấn phổ biến" ></h1>
    </div>
    <div class="row title padding-record-title">

      <p class="text-center" >{{global.locale=='vi'?' Năm 2019, ':' Year 2019, '}}<b style="font-weight: bold">{{global.locale=='vi'?'Asoka Law đã thực hiện 1.000+ giờ tư vấn.':'Asoka Law conducted 1000+ consulting hours.'}}</b>{{global.locale=='vi'?'  Bạn có thể đặt lịch yêu cầu luật sư từ bất kỳ đâu, nhận tư vấn giải pháp chi tiết cho vấn đề của bạn mà không cần rời khỏi văn phòng.':'  You can book our Lawyer for consultation from anywhere, receiving advice on detailed solutions to your problems without leaving your office.'}}</p>

    </div>
    <div class="row sub d-none d-md-flex">
      <div class="col-md-4">
        <div class="service-content popular-feature-block shadow">
          <h3 style="font-weight: 200" lang-i18n key="tvlsservice-tuvanchung" default="TƯ VẤN CHUNG" ></h3>
          <br>
          <div class="summary">

            <p class="text-center align-right padding-hor" style="font-size: 30px">200.000 <span
              style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
            </p>


            <p class="text-center small text-uppercase" lang-i18n key="tvlsservice-1cauhoi" default="01 câu hỏi"></p>
          </div>
          <hr class="hr-blur">
          <div class="summary-detail">

            <div class="summary-item" style="margin-bottom: 5px;">

              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Không giới hạn nội dung tư vấn trong doanh nghiệp':'Unlimited issues regarding operating businesses'}}
                </p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư trả lời trên bề mặt các chế định luật chung':'Lawyers\' answers are based on general legal regulations'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 14.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ':'Our Lawyers provide clients with the most suitable solutions'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn qua email':'Consulting method: via emails'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn ':'Maximum response time'}}<b>{{global.locale=='vi'?'tối đa 03 ngày':'03 days since'}}</b>{{global.locale=='vi'?' kể từ thời điểm thanh toán':' receiving payment'}}</p>
              </div>
              <div class="sub popular-feature">
                <button onclick="$('#tvlsform2').modal('show')" class=" btn btn-outline-warning padding" type="button">{{global.locale=='vi'?'ĐẶT TƯ VẤN':'BOOK NOW'}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 ">

        <div class="service-content popular-feature-block middle-popular shadow">
          <div class="banner-small">
            <img src="/assets/media/PLTX/service/Asset4.svg">
          </div>
          <h3 style="font-weight: 200">{{global.locale=='vi'?'TƯ VẤN CHI TIẾT':'DETAILED CONSULTATION'}}</h3>
          <br>
          <div class="summary">

            <p class="text-center align-right padding-hor" style="font-size: 30px">500.000 <span
              style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
            </p>


            <p class="text-center small text-uppercase">{{global.locale=='vi'?'01 câu hỏi':'01 QUESTION'}}</p>
          </div>
          <hr class="hr-blur">
          <div class="summary-detail">

            <div class="summary-item" style="margin-bottom: 5px;">

              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Không giới hạn nội dung tư vấn trong doanh nghiệp':'Unlimited issues regarding operating businesses'}}
                </p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư trả lời trên bề mặt các chế định luật chung':'Lawyers\' answers are based on general legal regulations'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ':'Our Lawyers provide clients with the most suitable solutions'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn qua email':'Consulting method: via emails'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn ':'Maximum response time'}} <b>{{global.locale=='vi'?'tối đa 02 ngày':'02 days since'}}</b>{{global.locale=='vi'?' kể từ thời điểm thanh toán':' receiving payment'}}</p>
              </div>
              <div class="sub popular-feature">
                <button onclick="$('#tvlsform3').modal('show')" class=" btn btn-warning" type="button">{{global.locale=='vi'?'ĐẶT TƯ VẤN':'BOOK NOW'}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-content popular-feature-block shadow">
          <h3 style="font-weight: 200">{{global.locale=='vi'?'TƯ VẤN TRỰC TIẾP':'FACE-TO-FACE CONSULTATION'}}</h3>
          <br>
          <div class="summary">

            <p class="text-center align-right padding-hor" style="font-size: 30px">1.000.000 <span
              style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
            </p>


            <p class="text-center small text-uppercase">{{global.locale=='vi'?'30 PHÚT':'30 h aaa'}}</p>
          </div>
          <hr class="hr-blur">
          <div class="summary-detail">

            <div class="summary-item" style="margin-bottom: 5px;">

              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Không giới hạn nội dung tư vấn trong doanh nghiệp':'Unlimited issues regarding operating businesses'}}
                </p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư trả lời trên bề mặt các chế định luật chung':'Lawyers\' answers are based on general legal regulations'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ':'Our Lawyers provide clients with the most suitable solutions'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn qua điện thoại/tiện ích gọi trực tuyến/gặp tại văn phòng':'Trả lời tư vấn qua điện thoại/tiện ích gọi trực tuyến/gặp tại văn phòng aaa'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn':'Maximum response time'}} <b>{{global.locale=='vi'?'tối đa 01 ngày':'01 days since'}}</b>{{global.locale=='vi'?' kể từ thời điểm thanh toán':' receiving payment'}}</p>
              </div>
              <div class="sub popular-feature">
                <button onclick="$('#tvlsform4').modal('show')" class=" btn btn-outline-warning padding" type="button">{{global.locale=='vi'?'ĐẶT TƯ VẤN':'BOOK NOW'}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row d-block d-md-none slick-service">
      <div class="col-md-4">
        <div class="service-content popular-feature-block shadow">
          <h3 style="font-weight: 200">{{global.locale=='vi'?'TƯ VẤN CHUNG':'General Consultation'}}</h3>
          <br>
          <div class="summary">

            <p class="text-center align-right padding-hor" style="font-size: 30px">200.000 <span
              style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
            </p>


            <p class="text-center small text-uppercase">{{global.locale=='vi'?'01 câu hỏi':'01 QUESTION'}}</p>
          </div>
          <hr class="hr-blur">
          <div class="summary-detail">

            <div class="summary-item">

              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Không giới hạn nội dung tư vấn trong doanh nghiệp':'Unlimited issues regarding operating businesses'}}
                </p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư trả lời trên bề mặt các chế định luật chung':'Lawyers\' answers are based on general legal regulations'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 14.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ':'Our Lawyers provide clients with the most suitable solutions'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn qua email':'Consulting method: via emails'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn ':'Maximum response time'}}<b>{{global.locale=='vi'?'tối đa 03 ngày':'03 days since'}}</b>{{global.locale=='vi'?' kể từ thời điểm thanh toán':' receiving payment'}}</p>
              </div>
              <div class="sub popular-feature">
                <button onclick="$('#tvlsform2').modal('show')" class=" btn btn-outline-warning padding" type="button">{{global.locale=='vi'?'ĐẶT TƯ VẤN':'BOOK NOW'}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 ">

        <div class="service-content popular-feature-block middle-popular shadow">
          <div class="banner-small">
            <img src="/assets/media/PLTX/service/Asset4.svg">
          </div>
          <h3 style="font-weight: 200">{{global.locale=='vi'?'TƯ VẤN CHI TIẾT':'DETAILED CONSULTATION'}}</h3>
          <br>
          <div class="summary">

            <p class="text-center align-right padding-hor" style="font-size: 30px">500.000 <span
              style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
            </p>


            <p class="text-center small text-uppercase">{{global.locale=='vi'?'01 câu hỏi':'01 QUESTION'}}</p>
          </div>
          <hr class="hr-blur">
          <div class="summary-detail">

            <div class="summary-item">

              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Không giới hạn nội dung tư vấn trong doanh nghiệp':'Unlimited issues regarding operating businesses'}}
                </p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư trả lời trên bề mặt các chế định luật chung':'Lawyers\' answers are based on general legal regulations'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ':'Our Lawyers provide clients with the most suitable solutions'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn qua email':'Consulting method: via emails'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn ':'Maximum response time'}}<b>{{global.locale=='vi'?'tối đa 02 ngày':'02 days since'}}</b>{{global.locale=='vi'?' kể từ thời điểm thanh toán':' receiving payment'}}</p>
              </div>
              <div class="sub popular-feature">
                <button onclick="$('#tvlsform3').modal('show')" class=" btn btn-warning" type="button">{{global.locale=='vi'?'ĐẶT TƯ VẤN':'BOOK NOW'}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-content popular-feature-block shadow">
          <h3 style="font-weight: 200">{{global.locale=='vi'?'TƯ VẤN TRỰC TIẾP':'FACE-TO-FACE CONSULTATION'}}</h3>
          <br>
          <div class="summary">

            <p class="text-center align-right padding-hor" style="font-size: 30px">1.000.000 <span
              style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
            </p>


            <p class="text-center small text-uppercase">{{global.locale=='vi'?'30 PHÚT':'30 PHÚT aaa'}}</p>
          </div>
          <hr class="hr-blur">
          <div class="summary-detail">

            <div class="summary-item">

              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Không giới hạn nội dung tư vấn trong doanh nghiệp':'Unlimited issues regarding operating businesses'}}
                </p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư trả lời trên bề mặt các chế định luật chung':'Lawyers\' answers are based on general legal regulations'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ':'Our Lawyers provide clients with the most suitable solutions'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn qua email':'Consulting method: via emails'}}</p>
              </div>
              <div class="record popular-feature">
                <img src="/assets/media/TVLS/popularservice/Asset 12.svg"
                     class="float-left">
                <p class="unit align-left">{{global.locale=='vi'?'Trả lời tư vấn ':'Maximum response time'}}<b>{{global.locale=='vi'?'tối đa 01 ngày':'01 days since'}}</b> {{global.locale=='vi'?'kể từ thời điểm thanh toán':'receiving payment'}}</p>
              </div>
              <div class="sub popular-feature">
                <button onclick="$('#tvlsform4').modal('show')" class=" btn btn-outline-warning padding" type="button">{{global.locale=='vi'?'ĐẶT TƯ VẤN':'BOOK NOW'}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
