<h4>{{global.locale=='vi'?'Bài đăng mới nhất':'Bài đăng mới nhất aaa'}}</h4>
<ul>
    <li *ngFor="let item of posts">
        <p><a routerLink="/{{global.locale=='vi'?item.slug:item.en_slug}}">{{global.locale == 'vi' ? item.title : item.en_title}}</a></p>
        <p class="news-post-time"><span>{{item.modified_at|date:'dd/MM/yyyy'}}</span><span>{{item.views}}</span></p>
    </li>
</ul>
<p class="news-post-link">
    <a routerLink="/{{global.locale=='vi'?'tin-tuc':'news'}}">{{global.locale=='vi'?'Xem thêm >>':'Xem thêm >> aaa'}}</a>
</p>
