<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="margin-top: 70px; ">
        <img style="margin-top: 20px" class="image-header" src="/assets/media/PLSK/Banner/text-banner-1.svg">
        <br/>
        <img style="margin-left: -30px;margin-top: 10px; width: 80%" class="image-header" src="/assets/media/PLSK/Banner/text-banner-2.svg">
        <p style="margin-top: 40px; width: 80%; color: white;
    font-weight: 200;
    line-height: 30px;
   ">Luật sư chuyên trách về pháp lý tổ chức sự kiện trực tiếp tư vấn
          và hướng dẫn, bảo chứng cho sự kiện diễn ra thành công.</p>


        <button style="padding: 10px 50px;  border-radius:30px;margin-top: 60px; position: relative; z-index: 1;" class="btn btn-warning ">Tư vấn miễn phí

        </button>
        <img class="d-none d-md-block" style="position: absolute;
    width: 324px;
    bottom: -90px;
    left: -100px;
    z-index: 0;" src="/assets/media/PLSK/Banner/button-shadow.svg">
      </div>
    </div>
  </div>
</section>
<app-plskmaster></app-plskmaster>
<app-plskpricing></app-plskpricing>
<app-plskexpert></app-plskexpert>
<app-plskstudy-content></app-plskstudy-content>
<app-plsk-teacher></app-plsk-teacher>
<app-plsk-contact></app-plsk-contact>
