<div class="subFooter">
    <div class="center">
        <h4 id="fix-dkkd-quote">
            Khởi đầu công việc kinh doanh thuận lợi<br/>
            bằng việc tư vấn với Asoka Law
        </h4>
        <p style="padding-bottom: 10px;">
            <span style="font-weight: bold">1000+</span> khách hàng thành lập doanh nghiệp tại Asoka được hỗ trợ toàn diện
        </p>
    </div>
    <div class="flex-center-hor">
        <button onclick="$('#dkkdform1').modal('show')" type="button" class="btn btn-warning">TƯ VẤN CHO TÔI</button>
    </div>
</div>
