<div class="subFooter">
    <div class="center">
        <h4 id="fix-dkkd-quote">
            {{global.locale=='vi'?'Khởi đầu công việc kinh doanh thuận lợi':'Choose the right form of company to start'}}<br/>
            {{global.locale=='vi'?'bằng việc tư vấn với Asoka Law':'your business smoothly today'}}
        </h4>
        <p style="padding-bottom: 10px;">
            <span style="font-weight: bold">{{global.locale=='vi'?'1000+':'1000+'}}</span> {{global.locale=='vi'?'khách hàng thành lập doanh nghiệp tại Asoka được hỗ trợ toàn diện':'clients have succeeded in business registration'}}
        </p>
    </div>
    <div class="flex-center-hor">
        <button onclick="$('#dkkdform1').modal('show')" type="button" class="btn btn-warning">{{global.locale=='vi'?'TƯ VẤN CHO TÔI':'Consult Me'}}</button>
    </div>
</div>
