<section class="header">
  <div class="container">
    <div class="row d-none d-md-flex">
      <div class="col-md-6 title-banner vertical-middle" style="margin-top: 200px;">
        <h1>Hãng luật chính danh dành cho doanh nghiệp</h1>
        <div class="row search" style="margin-top: 40px;">
          <div class="container-search flex-center-vertically shadow">
            <div class="row row-search">
              <i class="fa fa-search"></i>
              <select style="width: 90%" type="text" id="home_business_type_1" name="business_type" class="input-search homeSearch">
                <option value="" selected>Chọn lĩnh vực bạn quan tâm</option>
                <option value="Enterprise">Doanh nghiệp</option>
                <option value="Intellectual Property">Sở hữu trí tuệ</option>
                <option value="Trade disputes">Tranh chấp thương mại</option>
                <option value="Labor - HR">Lao động - nhân sự</option>
                <option value="Events - communication">Sự kiện - truyền thông</option>
                <option value="Registration of investment">Đăng ký đầu tư</option>
                <option value="Bank - insurance">Ngân hàng - bảo hiểm</option>
                <option value="Settlement - study abroad">Định cư - du học</option>
                <option value="Other">Lĩnh vực khác</option>
              </select>
              <i style="position:absolute;left:67%" class="d-none d-md-block fa fa-caret-down"></i>
            </div>
          </div>
          <button class="btn btn-warning text-color-search shadow btn-banner" (click)="submit()">Tư vấn</button>
        </div>
      </div>
    </div>
    <div class="row d-block d-md-none">
      <div class="col-md-6 title-banner vertical-middle" style="margin-top: 60px;">
        <h1 class="text-center" style="padding-top:50px">Hãng luật chính danh dành cho doanh nghiệp</h1>
        <div class="row search">
          <div class=" col-sm-12 container-search flex-center-vertically shadow" style="margin:auto">
            <div class="row row-search">
              <i class="fa fa-search"></i>
              <select #slcindustry2 type="text" class="input-search" id="home_business_type_2">
                  <option value="" selected>Chọn lĩnh vực bạn quan tâm</option>
                  <option value="Enterprise">Doanh nghiệp</option>
                  <option value="Intellectual Property">Sở hữu trí tuệ</option>
                  <option value="Trade disputes">Tranh chấp thương mại</option>
                  <option value="Labor - HR">Lao động - nhân sự</option>
                  <option value="Events - communication">Sự kiện - truyền thông</option>
                  <option value="Registration of investment">Đăng ký đầu tư</option>
                  <option value="Bank - insurance">Ngân hàng - bảo hiểm</option>
                  <option value="Settlement - study abroad">Định cư - du học</option>
                  <option value="Other">Lĩnh vực khác</option>
              </select>
              <i (click)="slcindustry2.click()" class="fa fa-caret-down"></i>
            </div>
          </div>
          <div class="col-sm-12 text-center" style="margin-top:10px">
            <button class="btn btn-warning text-color-search shadow">Tư vấn</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-servicemostused></app-servicemostused>
<app-homefeedback></app-homefeedback>
<app-homepricing></app-homepricing>
<app-hometeams></app-hometeams>
<app-countnumberofused></app-countnumberofused>
<app-homeeffect></app-homeeffect>
<app-partner></app-partner>
<app-homenews></app-homenews>
<app-homevideos></app-homevideos>
<section class="sub bg-image center">
  <div class="container">
    <p style="font-size: 23px; font-weight: 400;">Gọi ngay cho chúng tôi để được tư vấn pháp lý miễn phí</p>
    <h1 style="font-family:'Montserrat';font-size:35px">
                <span><img style="width: 25px;    position: relative;top: -7px;"
                           src="/assets/media/landingpage/phone icon black.svg"></span> 096 191
      4328</h1>
  </div>
</section>
