<section id="business-size" class="">
  <div class="container center">
    <div class="row ">
      <div class="col-md-12 center"><h1 class="sub-content-no-fluid" style="padding-top: 45px!important;">{{global.locale=='vi'?'Đội ngũ luật sư & cố vấn phù hợp cho bạn':'Asoka Law\'s Team of Lawyer and Advisors '}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="controller-tabs-popular">
          <div data-target="#menu1"><img
            src="/assets/media/TVLS/business-size/binh.jpg"></div>
          <div class="active" data-target="#menu2"><img
            src="/assets/media/TVLS/business-size/tra.jpg"></div>
          <div data-target="#menu3"><img
            src="/assets/media/TVLS/business-size/tai.jpg"></div>
          <div data-target="#menu4"><img
            src="/assets/media/TVLS/business-size/tam.jpg"></div>
          <div data-target="#menu1"><img
            src="/assets/media/TVLS/business-size/binh.jpg"></div>
          <div data-target="#menu2"><img
            src="/assets/media/TVLS/business-size/tra.jpg"></div>
          <div data-target="#menu3"><img
            src="/assets/media/TVLS/business-size/tai.jpg"></div>
          <div data-target="#menu4"><img
            src="/assets/media/TVLS/business-size/tam.jpg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content  info-panel">
    <div class="container-fluid">
      <div id="menu1" class=" center row">
        <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                             src="/assets/media/TVLS/business-size/Asset 3.svg">
          <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Luật sư':'Lawyer'}}</p>
            <p class="name-business">{{global.locale=='vi'?'Bình':'Binh'}}</p>
            <p class="blockquote-business"><i>{{global.locale=='vi'?'"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy đơn giản hóa mọi thứ, chú trọng giải quyết công việc bằng các giải pháp rõ ràng, linh hoạt."':'"Lawyer Tam Duong\'s strengths are capturing overview, planning strategies, and creativity. She makes problems simpler to solve and focuses on problem-solving through precise and flexible solutions."'}}</i></p>
            <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
            <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 consulting sessions booked'}}</p></div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div class="experience-business"><h5
            style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Working Experience'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự':'11-year experience in corporate and civil legal practices'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông':'Legal advisor for 30+ projects on art, commercial, and media'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Tư vấn nhượng quyền và giải quyết tranh chấp nhượng quyền thương mại':'Consulting on franchise and franchise dispute resolution'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp':'Representing clients in 100+ trials for businesses'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự kiện':'Giving 100+ hour training on corporate/event-related legal matters'}}</p></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div style=""><h5
            style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Qualifications and Languages'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh':'Bachelor of Commercial Law, Ho Chi Minh University of Law'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp':'Law Practice Certificate, Judicial Academy'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh':'Member of Ho Chi Minh City Bar Association'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam':'Member of Vietnam Bar Federation'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Language: English/Vietnamese'}}</p></div>
          </div>
        </div>
        <div class="col-md-12 ">
          <button onclick="$('#form1').modal('show')" class="btn btn-warning" style="color: white;margin-bottom: 20px; padding: 0.75rem 3rem !important;" type="button">
            {{global.locale=='vi'?'Đặt luật sư tư vấn ngay':'BOOK NOW'}}
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id="menu2" class="tab-pane-business center row" style="display: flex">
        <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                             src="/assets/media/TVLS/business-size/Asset 3.svg">
          <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Luật sư':'Lawyer'}}</p>
            <p class="name-business">{{global.locale=='vi'?'Trà':'Tra'}}</p>
            <p class="blockquote-business"><i>{{global.locale=='vi'?'"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy đơn giản hóa mọi thứ, chú trọng giải quyết công việc bằng các giải pháp rõ ràng, linh hoạt."':'"Lawyer Tam Duong\'s strengths are capturing overview, planning strategies, and creativity. She makes problems simpler to solve and focuses on problem-solving through precise and flexible solutions."'}}</i></p>
            <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
            <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 consulting sessions booked'}}</p></div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div class="experience-business"><h5
            style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Working Experience'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự':'11-year experience in corporate and civil legal practices'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông':'Legal advisor for 30+ projects on art, commercial, and media'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Tư vấn nhượng quyền và giải quyết tranh chấp nhượng quyền thương mại':'Consulting on franchise and franchise dispute resolution '}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp':'Representing clients in 100+ trials for businesses'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự kiện':'Giving 100+ hour training on corporate/event-related legal matters'}}</p></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div style=""><h5
            style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Qualifications and Languages'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh':'Bachelor of Commercial Law, Ho Chi Minh University of Law'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp':'Law Practice Certificate, Judicial Academy'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh':'Member of Ho Chi Minh City Bar Association'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam':'Member of Vietnam Bar Federation'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Language: English/Vietnamese'}}</p></div>
          </div>
        </div>
        <div class="col-md-12 ">
          <button onclick="$('#form1').modal('show')" class="btn btn-warning" style="color: white;margin-bottom: 20px; padding: 0.75rem 3rem !important;" type="button">
            {{global.locale=='vi'?'Đặt luật sư tư vấn ngay':'BOOK NOW'}}
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id="menu3" class="tab-pane-business center row">
        <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                             src="/assets/media/TVLS/business-size/Asset 3.svg">
          <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Luật sư':'Lawyer'}}</p>
            <p class="name-business">{{global.locale=='vi'?'Tài':'Tai'}}</p>
            <p class="blockquote-business"><i>{{global.locale=='vi'?'"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy đơn giản hóa mọi thứ, chú trọng giải quyết công việc bằng các giải pháp rõ ràng, linh hoạt."':'"Lawyer Tai\'s strengths are capturing overview, planning strategies, and creativity. She makes problems simpler to solve and focuses on problem-solving through precise and flexible solutions."'}}</i></p>
            <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
            <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 consulting sessions booked'}}</p></div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div class="experience-business"><h5
            style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Working Experience'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự':'11-year experience in corporate and civil legal practices'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông':'Legal advisor for 30+ projects on art, commercial, and media'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Tư vấn nhượng quyền và giải quyết tranh chấp nhượng quyền thương mại':'Consulting on franchise and franchise dispute resolution'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp':'Representing clients in 100+ trials for businesses'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự kiện':'Giving 100+ hour training on corporate/event-related legal matters'}}</p></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div style=""><h5
            style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Qualifications and Languages'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh':'Bachelor of Commercial Law, Ho Chi Minh University of Law'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp':'Law Practice Certificate, Judicial Academy'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh':'Member of Ho Chi Minh City Bar Association'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam':'Member of Vietnam Bar Federation'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Language: English/Vietnamese'}}</p></div>
          </div>
        </div>
        <div class="col-md-12 ">
          <button onclick="$('#form1').modal('show')" class="btn btn-warning" style="black: white;margin-bottom: 20px; padding: 0.75rem 3rem !important;" type="button">
            {{global.locale=='vi'?'Đặt luật sư tư vấn ngay':'BOOK NOW'}}
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id="menu4" class="tab-pane-business center row">
        <div class="col-md-4 col-sm-12"><img class="business-size-bg d-none d-md-block"
                                             src="/assets/media/TVLS/business-size/Asset 3.svg">
          <div class="profile-business"><p class="title-business">{{global.locale=='vi'?'Luật sư':'Lawyer'}}</p>
            <p class="name-business">{{global.locale=='vi'?'Tâm Dương':'Tam Duong'}}</p>
            <p class="blockquote-business"><i>{{global.locale=='vi'?'"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy đơn giản hóa mọi thứ, chú trọng giải quyết công việc bằng các giải pháp rõ ràng, linh hoạt."':'"Lawyer Tam Duong\'s strengths are capturing overview, planning strategies, and creativity. She makes problems simpler to solve and focuses on problem-solving through precise and flexible solutions."'}}</i></p>
            <p class="start-business d-none d-md-block"><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
              class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
            <p class="btn-link btn-business">{{global.locale=='vi'?'168 lượt đặt tư vấn':'168 consulting sessions booked'}}</p></div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div class="experience-business"><h5
            style="color: #00c4ffbf">{{global.locale=='vi'?'Kinh nghiệm làm việc':'Working Experience'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự':'11-year experience in corporate and civil legal practices'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông':'Legal advisor for 30+ projects on art, commercial, and media'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Tư vấn nhượng quyền và giải quyết tranh chấp nhượng quyền thương mại':'Consulting on franchise and franchise dispute resolution'}}</p>
            </div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp':'Representing clients in 100+ trials for businesses'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự kiện':'Giving 100+ hour training on corporate/event-related legal matters'}}</p></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" style="text-align: left;padding-top: 4%;">
          <div style=""><h5
            style="color: #00c4ffbf;font-family: 'Montserrat', sans-serif;">{{global.locale=='vi'?'Bằng cấp & ngôn ngữ':'Qualifications and Languages'}}</h5>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh':'Bachelor of Commercial Law, Ho Chi Minh University of Law'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp':'Law Practice Certificate, Judicial Academy'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh':'Member of Ho Chi Minh City Bar Association'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Luật sư thành viên - Liên Đoàn Luật sư Việt Nam':'Member of Vietnam Bar Federation'}}</p></div>
            <div class="tab-business"><i class="fa fa-circle icon-child"></i>
              <p class="tab-child">{{global.locale=='vi'?'Ngôn ngữ giao tiếp: Anh/Việt':'Language: English/Vietnamese'}}</p></div>
          </div>
        </div>
        <div class="col-md-12 ">
          <button onclick="$('#form1').modal('show')" class="btn btn-warning" style="color: white;margin-bottom: 20px; padding: 0.75rem 3rem !important;" type="button">
            {{global.locale=='vi'?'Đặt luật sư tư vấn ngay':'BOOK NOW'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
