{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <i class="fal fa-tachometer-alt" style="font-size: 20px"></i>
                    <b style="font-size: 20px">{{ lang('LBL_DASHBOARD') }}</b>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
{#            <div class="card">#}
{#                <div class="card-header">#}
{#                    <h3 class="card-title">#}
{#                        <i class="fa fa-tasks"></i>#}
{#                        Tasks#}
{#                    </h3>#}

{#                    <div class="card-tools">#}
{#                        <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="http://ketoanbanthoigian.com/"><i class="fas fa-sync-alt"></i></button>#}
{#                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>#}
{#                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>#}
{#                        <button type="button" class="btn btn-tool dropdown-toggle dropdown-icon" data-toggle="dropdown">#}
{#                            <i class="fal fa-cog"></i>#}
{#                            <div class="dropdown-menu" role="menu">#}
{#                                <a class="dropdown-item" href="#">Action</a>#}
{#                                <a class="dropdown-item" href="#">Another action</a>#}
{#                                <a class="dropdown-item" href="#">Something else here</a>#}
{#                                <div class="dropdown-divider"></div>#}
{#                                <a class="dropdown-item" href="#">Separated link</a>#}
{#                            </div>#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- /.card-header -->#}
{#                <div class="card-body p-0">#}
{#                    <table class="table table-md table-hover table-responsive">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th style="width: 10px">#</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>name</th>#}
{#                            <th>namenamename</th>#}
{#                            <th>namenamenamenamenamename</th>#}
{#                            <th>Progress</th>#}
{#                            <th style="width: 40px">Label</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td>1.</td>#}
{#                            <td>Update software Update software Update software Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>Update software</td>#}
{#                            <td>#}
{#                                <div class="progress progress-xs">#}
{#                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td><span class="badge bg-danger">Success</span></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>2.</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>Clean database</td>#}
{#                            <td>#}
{#                                <div class="progress progress-xs">#}
{#                                    <div class="progress-bar bg-warning" style="width: 70%"></div>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td><span class="badge bg-warning">70%</span></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>3.</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>Cron job running</td>#}
{#                            <td>#}
{#                                <div class="progress progress-xs progress-striped active">#}
{#                                    <div class="progress-bar bg-primary" style="width: 30%"></div>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td><span class="badge bg-primary">30%</span></td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#                <div class="card-footer clearfix">#}
{#                    <ul class="pagination pagination-sm m-0 float-right">#}
{#                        <li class="page-item"><a class="page-link" href="#">«</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">»</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>
{% endblock %}