{% extends "app/base.twig" %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            {{ app.record.html_render|raw }}
        </div>
    </section>
{% endblock %}