<!-- <Change> OK -->
<section class="bg-gray">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-8">
              <h5 class="pc" style="font-weight: 300; line-height: 2.5rem; margin: 0">Hơn 50 doanh nghiệp đang sử dụng dịch vụ<br><span class="font-weight-bold" style="font-size: 1.25rem;">Pháp lý thường xuyên</span> tại Asoka Law</h5>
              <h5 class="sp center" style="font-weight: 300; line-height: 2.5rem; margin: 0">Hơn 50 doanh nghiệp đang sử dụng dịch vụ <span class="font-weight-bold" style="font-size: 1.25rem;">Pháp lý thường xuyên</span> tại Asoka Law</h5>
          </div>
          <div class="col-md-4">
              <div class="text-right pc">
                  <button onclick="$('#pltxform1').modal('show')" class="btn btn-warning" style="padding: 0.75rem 3rem;">DÙNG THỬ MIỄN PHÍ</button>
              </div>
              <div class="sp center" style="margin-top: 2rem;">
                  <button onclick="$('#pltxform1').modal('show')" class="btn btn-warning sub-button shadow" style="padding: 0.75rem 3rem;">DÙNG THỬ MIỄN PHÍ</button>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- </Change> -->
